<style>
    .booking-price {
        color: #992020;
        font-size: 24px;
        font-weight: 300;
    }
    .price-popup {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
        background: #444;
        z-index: 10000004023;
        color: white;
        padding-left: 10px;
        padding-right: 10px;
    }

    .loader {
        visibility: hidden;
    }
    .loader-off {
        visibility: visible;
    }
</style>
<div style="margin: 10px;">

    {#<div class="no-background-color background-heart-branch-contain tab overflow-auto">
        <div class="font-tab-main-titles">LIVE <span class="colorSpecjal">BOOKING</span></div>
    </div>#}
    <div id="estateCalendarAppHandler" ng-controller="estateCalendarAppCtrl">
        <h5 class="hidden-sm hidden-md hidden-lg text-center">number of guests <span style="color: red;">*</span></h5>
        <h5 class="hidden-xs">number of guests <span style="color: red;">*</span></h5>

        <div class="calendarNights">
            <select class="form-control calendarSleepsSelect" ng-init="initFilterSleeps({{ estate.sleeps }})" ng-model="sleeps" ng-change="setSleeps(sleeps)" ng-options="choice.id for choice in sleepsChoices"></select>

            <div class="calendarSleepsButtons">
                <button ng-repeat="sleepsChoice in sleepsChoices" style="margin-right: 2px;" class="btn" ng-class="{'btn-default': sleeps.id == sleepsChoice.id, 'btn-default-transparent': sleeps.id != sleepsChoice.id}" ng-click="setSleeps(sleepsChoice)">{#<span ng-if="nights == button.id" class="glyphicon glyphicon-ok"></span>#}{{ '{{sleepsChoice.id}}' }} <i class="fa fa-user-o" aria-hidden="true"></i></button>
            </div>
        </div>
        <br />

        <h5 class="hidden-sm hidden-md hidden-lg text-center">number of nights <span style="color: red;">*</span></h5>
        <h5 class="hidden-xs">number of nights <span style="color: red;">*</span></h5>

        <div class="calendarNights">
            {% if estate.type == constant('UTT\\EstateBundle\\Entity\\Estate::TYPE_STANDARD_M_F') %}
                <div class="calendarNightsButtons row">
                    <div ng-repeat="button in buttons" class="col-md-4 col-sm-6">
                        <button ng-disabled="!button.allowed" class="btn btn-block" ng-class="{'btn-default': nights == button.id, 'btn-default-transparent': nights != button.id}" ng-click="setNights(button.id)">{#<span ng-if="nights == button.id" class="glyphicon glyphicon-ok"></span>#}{{ '{{button.name}}' }}</button>
                    </div>
                </div>
            {% elseif estate.type == constant('UTT\\EstateBundle\\Entity\\Estate::TYPE_FLEXIBLE_BOOKING') %}
                <div class="calendarNightsButtons">
                    <button ng-repeat="button in buttons" ng-disabled="!button.allowed" style="margin-right: 2px;" class="btn" ng-class="{'btn-default': nights == button.id, 'btn-default-transparent': nights != button.id}" ng-click="setNights(button.id)">{#<span ng-if="nights == button.id" class="glyphicon glyphicon-ok"></span>#}{{ '{{button.name}}' }}</button>
                </div>
            {% endif %}

            <select class="form-control calendarNightsSelect" ng-model="nightsSelect" ng-change="setNights(nightsSelect.id)" ng-options="button.name for button in buttons"></select>
        </div>

        <div ng-show="offersList.length">
            <h5>special offers for you - quick booking</h5>

            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                <strong>great news!</strong> we've prepared special offers for your holiday basing on your selected number of nights
            </div>

            <table class="table cart table-hover table-colored">
                <thead>
                <tr>
                    <th>dates</th>
                    <th>price</th>
                    <th width="1">book holiday</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="offerItem in offersList | orderBy:'validFrom'">
                    <td>
                        from <strong>{{ '{{ offerItem.validFrom }}' }}</strong> to <strong>{{ '{{ offerItem.validTo }}' }}</strong><br />
                        <small>late availibility</small>
                    </td>
                    <td class="booking-price">£{{ '{{ offerItem.value }}' }}</td>
                    <td><button class="btn btn-default" ng-click="makeDirectReservation(offerItem.validFrom, offerItem.validTo)">BOOK NOW</button></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="break15"></div>

        <h5 class="hidden-sm hidden-md hidden-lg text-center">calendar legend</h5>
        <div id="calendarLegend" style="margin-top: 0px;">
            <div class="notAvailable label">not available</div>
            <div class="available label">available</div>
            <div class="availableOffer label">special offer</div>
            <div class="reserved label">reserved</div>
            <div class="booked label">booked</div>
            <div class="label" style="color: black;"><span style="color: red;">*</span> required</div>
        </div>
        {#
        <div ng-if="selectedData.fromDate && selectedData.toDate && selectedData.price">
            From {{ '{{selectedData.fromDate}}' }},
            To {{ '{{selectedData.toDate}}' }},
            Price {{ '{{selectedData.price}}' }}
        </div>
        #}
        <div class="text-center">
            <br />
            <button ng-show="calendarPage > 0" class="btn btn-default-transparent btn-lg" ng-click="showPrevMonths()">earlier dates</button>
            <button ng-show="calendarPage < calendarPageMax" class="btn btn-default-transparent btn-lg" ng-click="showNextMonths()">further ahead</button>
        </div>

        <div class="pricingCalendar">
            <div ng-repeat="month in months" class="month" ng-if="month.days">
                <label>
                    {{ '{{ month.name }}' }} {{ '{{ month.year }}' }}
                </label>

                <div class="dayName">Mon</div>
                <div class="dayName">Tue</div>
                <div class="dayName">Wed</div>
                <div class="dayName">Thu</div>
                <div class="dayName">Fri</div>
                <div class="dayName">Sat</div>
                <div class="dayName">Sun</div>

                <div ng-repeat="emptyDay in month.emptyDays" class="emptyDay"></div>
                <div tooltip-html-unsafe="{{ '{{ showSelectedPriceTooltip() }}' }}" ng-repeat="day in month.days" ng-mouseover="selectDays(day)" class="day" ng-click="makeReservation()" ng-class="{available: day.available, availableOffer: day.availableOffer, selected: day.selected, selectedStart: day.selectedStart, selectedEnd: day.selectedEnd, booked: day.booked, reserved: day.reserved, bookedStart: day.bookedStart, bookedEnd: day.bookedEnd, reservedStart: day.reservedStart, reservedEnd: day.reservedEnd, isPastDate: day.isPastDate}">
                    {{ '{{ day.day }}' }}
                </div>
            </div>
        </div>

        <div class="text-center">
            <br />
            <button ng-show="calendarPage > 0" class="btn btn-default-transparent btn-lg" ng-click="showPrevMonths()">earlier dates</button>
            <button ng-show="calendarPage < calendarPageMax" class="btn btn-default-transparent btn-lg" ng-click="showNextMonths()">further ahead</button>
        </div>

        <div  ng-class="{'loader-off': isMobile()}" class="price-popup loader" ng-if="isMobile() && selectedData.fromDate && selectedData.toDate && selectedData.price">
            Selected dates: {{ '{{ selectedData.fromDate }}' }} - {{ '{{ selectedData.toDate }}' }}<br />
            Guests: {{ '{{ sleeps.id }}' }} <br />

            <div style="margin-bottom: 7px; margin-top: 7px;">{{ '{{ parseSelectedDataPrice() }}' }}</div>

            <button style="margin: 0; white-space: pre-wrap;" class="btn btn-default btn-sm btn-block" ng-click="prepareBooking()">prepare booking</button>
        </div>
    </div>
</div>