<div class="text-container estate-details-part">
    {% if estate is defined and estate %}
        <div class="overflow-auto">
            <div class="col-md-6">
                <div class="font-tab-main-titles"><strong>INFO</strong></div>
                <div>
                    <div class="detail"><div class="detail-name">Arrival at:</div><div class="detail-value">{{ estate.checkInTime|date('H:i') }}</div></div>
                    <div class="detail"><div class="detail-name">Depart by:</div><div class="detail-value">{{ estate.checkOutTime|date('H:i') }}</div></div>
                    <div class="detail"><div class="detail-name">Guests:</div><div class="detail-value">{{ estate.sleeps }}</div></div>
                    {% if estate.lowestPrice %}
                        <div class="detail"><div class="detail-name">7 nights from:</div><div class="detail-value">£{{ estate.lowestPrice }} (based on two staying)</div></div>
                    {% endif %}
                    {% if estate.highestPrice %}
                        <div class="detail"><div class="detail-name">7 nights up to:</div><div class="detail-value">£{{ estate.highestPrice }} (based on two staying)</div></div>
                    {% endif %}
                    <div class="detail"><div class="detail-name">Pets:</div><div class="detail-value">{{ estate.getPetsName() }}</div></div>
                    {% if estateRoomLayout is defined and estateRoomLayout %}
                        <div class="detail"><div class="detail-name">Bed layout:</div><div class="detail-value">{{ estateRoomLayout.getDescription() }}</div></div>
                    {% endif %}
                    <div class="break10">&nbsp</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="font-tab-main-titles"><strong>FEATURES</strong></div>
                <div class="estateFeatures">
                    {% if estate.estateFeatures is defined and estate.estateFeatures|length > 0 %}
                        {% for estateFeature in estate.estateFeatures %}
                            <div class="item">
                                {% set photoPath = '' %}
                                {% if estateFeature.icon is defined and estateFeature.icon and estateFeatureUploadDir is defined and estateFeatureUploadDir %}
                                    {% set photoPath = '/' ~ estateFeatureUploadDir ~ '/' ~ estateFeature.icon %}
                                {% endif %}
                                <img src="{{ photoPath }}" title="{{ estateFeature.name }}"/>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>

                <br />

                <div class="font-tab-main-titles"><strong>GRADING</strong></div>
                <div class="detail-rate">
                    <div class="name">Luxury:</div>
                    <div class="value">
                        {% if estate.starRatingLuxury %}
                            {% for i in 0..(estate.starRatingLuxury-1) %}<div class="checked"></div>{% endfor %}
                        {% endif %}

                        {#
                        {% for i in 0..4 %}
                            <div class="{% if (estate.starRatingLuxury > i) %}checked{% else %}no-checked{% endif %}"></div>
                        {% endfor %}
                        #}
                    </div>
                </div>
                <div class="detail-rate">
                    <div class="name">Heritage:</div>
                    <div class="value">
                        {% if estate.starRatingHeritage %}
                            {% for i in 0..(estate.starRatingHeritage-1) %}<div class="checked"></div>{% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="detail-rate">
                    <div class="name">Unique:</div>
                    <div class="value">
                        {% if estate.starRatingUnique %}
                            {% for i in 0..(estate.starRatingUnique-1) %}<div class="checked"></div>{% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="detail-rate">
                    <div class="name">Green:</div>
                    <div class="value">
                        {% if estate.starRatingGreen %}
                            {% for i in 0..(estate.starRatingGreen-1) %}<div class="checked"></div>{% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="detail-rate">
                    <div class="name">Price:</div>
                    <div class="value">
                        {% if estate.starRatingPrice %}
                            {% for i in 0..(estate.starRatingPrice-1) %}<div class="checked"></div>{% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="break10">&nbsp</div>
        <div class="overflow-auto">
            <div class="col-md-12">
                <div class="font-tab-main-titles"><strong>CUSTOMER REVIEWS</strong></div>
                {% if verifiedReviews is defined and verifiedReviews|length > 0 %}
                    <ul id="customerReviews">
                        {% for verifiedReview in verifiedReviews %}
                            <li>
                                {{ verifiedReview.comment }}
                                <span>
                                    {% if verifiedReview.user %}
                                        {{ verifiedReview.user.firstName|truncate(20)|capitalize }} {{ verifiedReview.user.lastName[:1]|capitalize }},
                                        {% if verifiedReview.user.city and verifiedReview.user.country and verifiedReview.user.country.id != 1 %}
                                            {{ verifiedReview.user.city }} ({{ verifiedReview.user.country.name }}),
                                        {% endif %}
                                    {% endif %}

                                    {{ verifiedReview.createdAt|date('j F Y') }}
                                </span>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    {% endif %}
</div>