{% if estate is defined and estate %}
<div class="text-container overflow-auto col-xs-12">
    <!--<div class="font-tab-main-titles">INFORMATION <span class="colorSpecjal">ABOUT</span></div>-->
    <div class="background-heart-branch-contain font-tab-main-titles">
        <div>INFORMATION <span class="colorSpecjal"></span></div>
    </div>

    <div id="estateInformationAccordion">
        <h3>Map</h3>
        <div>
            <div id="mapCanvasHandler"></div>
        </div>

        {% if estate.textAccommodation %}
            <h3>Accommodation</h3>
            <div>
                {{ estate.textAccommodation|raw }}
            </div>
        {% endif %}
        {% if estate.textInDetail %}
            <h3>In Detail</h3>
            <div>
                {{ estate.textInDetail|raw }}
            </div>
        {% endif %}
        {% if estate.textSustainability %}
            <h3>Sustainability</h3>
            <div>
                {{ estate.textSustainability|raw }}
            </div>
        {% endif %}
        {% if estate.textWelshDescription %}
            <h3>Welsh Description</h3>
            <div>
                {{ estate.textWelshDescription|raw }}
            </div>
        {% endif %}
        {% if estate.textLocalArea %}
            <h3>Local Area</h3>
            <div>
                {{ estate.textLocalArea|raw }}
            </div>
        {% endif %}
        {% if estate.textTravelInfo %}
            <h3>Travel Info</h3>
            <div>
                {{ estate.textTravelInfo|raw }}
            </div>
        {% endif %}
        {% if estate.bookingNotes %}
            <h3>Booking notes</h3>
            <div>
                {{ estate.bookingNotes|raw }}
            </div>
        {% endif %}
    </div>
</div>
{% endif %}