<div class="text-container overflow-auto estateTitle col-xs-12">
    <div class="{% if not(isNotEstatePage is defined and isNotEstatePage) %}float-left{% endif %}">
        <div class="name"><a href="{{ path('utt_estate_show_estate', { 'estateShortName': estate.shortName }) }}"><strong>{{ estate.name }}</strong></a></div>
        <div class="address colorSpecjal">{{ estate.locationText }}</div>
    </div>
    {% if not(isNotEstatePage is defined and isNotEstatePage) %}
    <div class="float-right buttons">
        <div class="float-right"><a href="#estateCalendarAppHandler" class="btn btn-main-page">CHECK AVAILABILITY</a></div>
    </div>
    {% endif %}
</div>
