<div class="col-sm-4">
    <div class="image-box style-2 mb-20 bordered dark-bg">
        <div class="overlay-container overlay-visible">
            <a href="{{ path('utt_estate_show_estate', { 'estateShortName': nearByEstate.shortName }) }}">
                {% if nearByEstate.photoMain is defined and nearByEstate.photoMain and estatePhotoUploadDir is defined and estatePhotoUploadDir %}
                    {% set photoPath = '/' ~ estatePhotoUploadDir ~ '/' ~ nearByEstate.photoMain.fileName %}
                    {% set photoPathSrc = photoPath | imagine_filter('property_small') %}
                {% else %}
                    {% set photoPath = '/bundles/uttindex/images/placeholder.png' %}
                    {% set photoPathSrc = photoPath | imagine_filter('property_small') %}
                {% endif %}

                <img title="{{ nearByEstate.name }}" alt="{{ nearByEstate.name }}" src="{{ photoPathSrc }}">
                <div class="overlay-bottom text-left">
                    <p class="lead margin-clear">{{ nearByEstate.name }}</p>
                </div>
            </a>
        </div>
        <div class="body">
            <p class="small mb-10">
                <i class="fa fa-map-marker" aria-hidden="true"></i> {{ nearByEstate.locationText|slice(0, 50) }}..<br />
                <i class="fa fa-bed" aria-hidden="true"></i> guests {{ nearByEstate.sleeps }}
            </p>
            <p class="text-muted">

            </p>
            <a class="btn btn-gray-transparent btn-animated btn-sm margin-clear" href="{{ path('utt_estate_show_estate', { 'estateShortName': nearByEstate.shortName }) }}">
                {% if nearByEstate.basePrice is defined %}
                    £{{ nearByEstate.basePrice }}
                {% else %}
                    £{{ nearByEstate.lowestPrice|number_format(0) }} to £{{ nearByEstate.highestPrice|number_format(0) }}
                    for 1 week
                {% endif %}
                <i class="fa fa-arrow-right pl-10"></i>
            </a>
        </div>
    </div>
</div>