<div class="text-container overflow-auto col-xs-12">
    <div class="background-heart-branch-contain font-tab-main-titles">
        <div>PROPERTIES <span class="colorSpecjal">NEARBY</span></div>
    </div>
    <div id="slider-last-properties" class="set-controls-direction-arrows-board-horizontal">
        <div class="conteiner">
            {% if estate.nearByEstates is defined and estate.nearByEstates|length > 0 %}
                {% for nearByEstate in estate.nearByEstates %}
                    <div class="slide">
                        <div class="position-relative">
                            <a href="{{ path('utt_estate_show_estate', { 'estateShortName': nearByEstate.shortName }) }}">
                                <div class="onHover">
                                    <div>{{ nearByEstate.name }}</div>
                                </div>
                            </a>

                            {% if nearByEstate.photoMain is defined and nearByEstate.photoMain and estatePhotoUploadDir is defined and estatePhotoUploadDir %}
                                {% set photoPath = '/' ~ estatePhotoUploadDir ~ '/' ~ nearByEstate.photoMain.fileName %}
                                {% set photoPathSrc = photoPath | imagine_filter('property_small') %}
                            {% else %}
                                {% set photoPath = '/bundles/uttindex/images/placeholder.png' %}
                                {% set photoPathSrc = photoPath | imagine_filter('property_small') %}
                            {% endif %}
                            <a href="{{ path('utt_estate_show_estate', { 'estateShortName': nearByEstate.shortName }) }}">
                                {% if loop.index < 9 %}
                                    <img title="{{ nearByEstate.name }}" src="{{ photoPathSrc }}" alt="{{ nearByEstate.name }}">
                                {% else %}
                                    <img class="lazy" title="{{ nearByEstate.name }}" data-src="{{ photoPathSrc }}" alt="{{ nearByEstate.name }}"  src="/bundles/uttestate/images/icons/whiteblank.png">
                                {% endif %}
                            </a>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}

            {% if estatesNearToEstate is defined and estatesNearToEstate|length > 0 %}
                {% for nearByEstate in estatesNearToEstate %}
                    <div class="slide">
                        <div class="position-relative">
                            <a href="{{ path('utt_estate_show_estate', { 'estateShortName': nearByEstate.shortName }) }}">
                                <div class="onHover">
                                    <div>{{ nearByEstate.name }}</div>
                                </div>
                            </a>

                            {% if nearByEstate.photoMain is defined and nearByEstate.photoMain and estatePhotoUploadDir is defined and estatePhotoUploadDir %}
                                {% set photoPath = '/' ~ estatePhotoUploadDir ~ '/' ~ nearByEstate.photoMain.fileName %}
                                {% set photoPathSrc = photoPath | imagine_filter('property_small') %}
                            {% else %}
                                {% set photoPath = '/bundles/uttindex/images/placeholder.png' %}
                                {% set photoPathSrc = photoPath | imagine_filter('property_small') %}
                            {% endif %}
                            <a href="{{ path('utt_estate_show_estate', { 'estateShortName': nearByEstate.shortName }) }}">
                                {% if loop.index < 9 %}
                                    <img title="{{ nearByEstate.name }}" src="{{ photoPathSrc }}" alt="{{ nearByEstate.name }}">
                                {% else %}
                                    <img class="lazy" title="{{ nearByEstate.name }}" data-src="{{ photoPathSrc }}" alt="{{ nearByEstate.name }}"  src="/bundles/uttestate/images/icons/whiteblank.png">
                                {% endif %}
                            </a>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>