<div class="text-container overflow-auto col-xs-12" id="main-show-estate-slider-handler">
    <div id="main-show-estate-slider" class="set-controls-direction-large">
        <ul class="slider">
{#
            <li><img src="{{ asset('images/temp/1.png') }}" title=""/></li>
            <li><img src="{{ asset('images/temp/2.png') }}" title=""/></li>
            <li><img src="{{ asset('images/temp/2.png') }}" title=""/></li>
{##}
            {% if estatePhotos is defined and estatePhotos|length > 0 %}
                {% for estatePhoto in estatePhotos %}
                    {% if estatePhoto.fileName is defined and estatePhoto.fileName and estatePhotoUploadDir is defined and estatePhotoUploadDir %}
                        {% set photoPath = '/' ~ estatePhotoUploadDir ~ '/' ~ estatePhoto.fileName %}

                        {% if loop.index == 1 %}
                            <li>
                                <img alt="{{ estate.name }}" src="{{ photoPath | imagine_filter('property_big') }}" />
                                <div class="bx-caption"><span>{{ estatePhoto.title }}</span></div>

                                {% if estate.specialCategory == constant('UTT\\EstateBundle\\Entity\\Estate::SPECIAL_CATEGORY_FINEST') %}
                                    <img class="finest-icon" src="/images/finest-icon.gif" alt="Best cottages"  />
                                {% elseif estate.specialCategory == constant('UTT\\EstateBundle\\Entity\\Estate::SPECIAL_CATEGORY_BUDGET') %}
                                    <img class="budget-icon" src="/images/budget-icon.png" alt="Budget and cheapest cottages"  />
                                {% endif %}
                            </li>
                        {% else %}
                            <li>
                                <img class="lazy" alt="{{ estate.name }}" data-src="{{ photoPath | imagine_filter('property_big') }}" src="/bundles/uttestate/images/icons/whiteblank.png" />
                                <div class="bx-caption"><span>{{ estatePhoto.title }}</span></div>

                                {% if estate.specialCategory == constant('UTT\\EstateBundle\\Entity\\Estate::SPECIAL_CATEGORY_FINEST') %}
                                    <img class="finest-icon" src="/images/finest-icon.gif" />
                                {% elseif estate.specialCategory == constant('UTT\\EstateBundle\\Entity\\Estate::SPECIAL_CATEGORY_BUDGET') %}
                                    <img class="budget-icon" src="/images/budget-icon.png" />
                                {% endif %}
                            </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </ul>
    </div>
</div>