{% if yearArray is defined and yearArray|length > 0 %}
    <select name="year" class="form-control" style="max-width: 100px;">
        {% for year in yearArray %}
            <option value="{{ year }}">{{ year }}</option>
        {% endfor %}
    </select>
{% endif %}