<table class="table table-hover">
    {% set loopIndex = 0 %}

    {% set sumPaid = 0 %}
    {% set sumNights = 0 %}
    {% set sumTotal = 0 %}
    {% set sumCommissionValue = 0 %}
    {#{% set sumCommissionVatValue = 0 %}#}
    {% set sumAdminCharge = 0 %}
    {% set sumExtras = 0 %}
    {#{% set sumCreditCardCharge = 0 %}#}
    {% set sumToOwnersValue = 0 %}
    <thead>
    <tr>
        <th width="5%">
            <b>#</b>
        </th>
        <th width="25%">
            <b>Accommodation</b>
        </th>
        <th width="10%">
            <b>Money In(nights)</b>
        </th>
        <th width="10%">
            <b>Commission</b>
        </th>
        {#
        <th width="10%">
            <b>VAT</b>
        </th>
        #}
        <th width="10%">
            <b>Admin charge</b>
        </th>
        <th width="10%">
            <b>Additional guests</b> (<b>% of sales</b>)
        </th>
        <th width="15%">
            <b>Total income</b>
        </th>
        {#
        <th width="15%">
            <b>Credit card charge</b>
        </th>
        #}
        <th width="15%">
            <b>To Owner</b>
        </th>
    </tr>
    </thead>
    <tbody>
    {% for item in summaryData %}
        {% set estatePaid = 0 %}
        {% set estateNights = 0 %}
        {% set estateTotal = 0 %}
        {% set estateCommissionValue = 0 %}
        {#{% set estateCommissionVatValue = 0 %}#}
        {% set estateAdminCharge = 0 %}
        {% set estateExtras = 0 %}
        {#{% set estateCreditCardCharge = 0 %}#}
        {% set estateToOwnersValue = 0 %}

        {% for reservation in item.reservations %}
            {% set estatePaid = estatePaid + reservation.paid %}
            {% set estateNights = estateNights + reservation.getNumberOfNights() %}
            {% set estateTotal = estateTotal + reservation.totalPrice %}
            {% set estateCommissionValue = estateCommissionValue + reservation.calculateCommissionValue() %}
            {#{% set estateCommissionVatValue = estateCommissionVatValue + reservation.getCommissionVatValue() %}#}
            {% set estateAdminCharge = estateAdminCharge + reservation.getPriceDecoded().adminCharge %}
            {% set estateExtras = estateExtras + reservation.getPriceDecoded().additionalSleepsPrice %}
            {#{% set estateCreditCardCharge = estateCreditCardCharge + reservation.getPriceDecoded().creditCardCharge %}#}
            {% set estateToOwnersValue = estateToOwnersValue + reservation.getToOwnersValue() %}
        {% endfor %}

        {% set loopIndex = loopIndex + 1 %}

        {% set sumPaid = sumPaid + estatePaid %}
        {% set sumNights = sumNights + estateNights %}
        {% set sumTotal = sumTotal + estateTotal %}
        {% set sumCommissionValue = sumCommissionValue + estateCommissionValue %}
        {#{% set sumCommissionVatValue = sumCommissionVatValue + estateCommissionVatValue %}#}
        {% set sumAdminCharge = sumAdminCharge + estateAdminCharge %}
        {% set sumExtras = sumExtras + estateExtras %}
        {#{% set sumCreditCardCharge = sumCreditCardCharge + estateCreditCardCharge %}#}
        {% set sumToOwnersValue = sumToOwnersValue + estateToOwnersValue %}

        <tr>
            <td> {{ loopIndex }}</td>
            <td> {{ item.estate.name }}</td>
            <td> {{ estatePaid|number_format(2) }} ({{ estateNights }})</td>
            <td> {{ estateCommissionValue|number_format(2) }}</td>
            {#<td> {{ estateCommissionVatValue|number_format(2) }}</td>#}
            <td> {{ estateAdminCharge|number_format(2) }}</td>
            <td>
                {{ estateExtras|number_format(2) }}
                {% if estateTotal %}({{ (estateExtras/estateTotal*100)|number_format(2) }}%){% endif %}
            </td>
            <td> {{ (estateCommissionValue + estateAdminCharge)|number_format(2) }}</td>
            {#<td> {{ estateCreditCardCharge|number_format(2) }}</td>#}
            <td> {{ estateToOwnersValue|number_format(2) }}</td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <th style="border: none;"></th>
        <th><b>TOTALS</b></th>
        <th>£{{ sumPaid|number_format(2) }} ({{ sumNights }})</th>
        <th>£{{ sumCommissionValue|number_format(2) }}</th>
        {#<th>£{{ sumCommissionVatValue|number_format(2) }}</th>#}
        <th>£{{ sumAdminCharge|number_format(2) }}</th>
        <th>
            £{{ sumExtras|number_format(2) }}
            {% if sumTotal %}({{ (sumExtras/sumTotal*100)|number_format(2) }}%){% endif %}
        </th>
        <th>£{{ (sumCommissionValue + sumAdminCharge)|number_format(2) }}</th>
        {#<th>£{{ sumCreditCardCharge|number_format(2) }}</th>#}
        <th>£{{ sumToOwnersValue|number_format(2) }}</th>
    </tr>
    </tfoot>
</table>