{% if admin.isGranted('ROLE_UTT_USER_ADMIN_USER_WELCOME_RESEND', object) and admin.hasRoute('user-welcome-resend') %}
    <a href="{{ admin.generateObjectUrl('user-welcome-resend', object) }}" class="btn btn-sm btn-default" title="resend welcome email">
        <i class="glyphicon glyphicon-refresh"></i>
        resend welcome email
    </a>
{% endif %}