<div class="breadcrumb-container">
    <div class="container">
        <ol class="breadcrumb">
            <li><i class="fa fa-home pr-10"></i><a href="{{ path('utt_index_homepage') }}">homepage</a></li>
            <li class="active">reset your password</li>
        </ol>
    </div>
</div>

<div class="main-container dark-translucent-bg" style="padding: 0;"{#style="background-image:url('http://underthethatch.co.uk/media/cache/home_banner/rc/k4L6G6sQ/uploads/homeBannerImages/543fff270ba2a.jpg');"#}>
    <div class="container">
        <div class="row">
            <h1>Reset your password</h1>
            <div class="separator-2"></div>

            <div class="main {#object-non-visible#}" {#data-animation-effect="fadeInUpSmall" data-effect-delay="100"#}>
                <div class="form-block center-block p-30 light-gray-bg border-clear">
                    <h2 class="title">reset your password</h2>

                    <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request form-horizontal" role="form">
                        <div class="form-group has-feedback">
                            {% if invalid_username is defined %}
                                <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</p>
                            {% endif %}
                            <label for="username" class="col-sm-3 control-label">{{ 'resetting.request.username'|trans({}, 'FOSUserBundle')|lower }}</label>
                            <div class="col-sm-8">
                                <input class="form-control" type="text" placeholder="e-mail" id="username" name="username" required="required" />
                                <i class="fa fa-user form-control-feedback"></i>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-8">
                                <button type="submit" name="_submit" class="btn btn-group btn-default btn-animated">{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle')|upper }} <i class="fa fa-user"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% include '::the-project/advantages.html.twig' %}








{#
<style>
#user_reset_password-form .text-container {max-width: 400px;}
#user_reset_password-form form {padding-left: 15px;}
#user_reset_password-form input[type="submit"]{float: right; width: 200px;}
#user_reset_password-form form div {padding-bottom: 7px;}

</style>
<div class="background-color-lightGray" id="user_reset_password-form">
    <div class="body overflow-auto text-container">
        <div class="col-xs-12">
            <div class="break10">&nbsp</div>
            <div class="header">
                <div class="background-heart-branch-contain font-tab-main-titles">
                    <div>RESET <span class="colorSpecjal">YOUR UTT PASSWORD!</span></div>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request" role="form">
                <div class="">
                    {% if invalid_username is defined %}
                        <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</p>
                    {% endif %}
                    <label for="username">{{ 'resetting.request.username'|trans({}, 'FOSUserBundle') }}</label>
                    <input class="form-control" type="text" id="username" name="username" required="required" />
                </div>
                <div class="">
                    <input type="submit" class="btn btn-next" value="{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}" />
                </div>
            </form>
        </div>
    </div>
    <div class="break10">&nbsp</div>
    <div class="break15">&nbsp</div>
</div>
#}