{% if days is defined and days %}
    {% for day in days %}
        <div {% if day.day_price %}title="{{ day.day_price }}"{# tooltip#} {% endif %}data-date="{{ day.date }}" data-price="{{ day.dataPrice }}" {#id="e_{{ estateCalendar.estateShortName }}_{{ day.date }}"#}class="day {% if day.available %}available {% endif %}{% if day.availableOffer %}availableOffer {% endif %}{% if day.booked %}booked {% endif %}{% if day.reserved %}reserved {% endif %}{% if day.bookedStart %}bookedStart {% endif %}{% if day.bookedEnd %}bookedEnd {% endif %}{% if day.reservedStart %}reservedStart {% endif %}{% if day.reservedEnd %}reservedEnd {% endif %}{% if day.isPastDate %}isPastDate {% endif %}">{{ day.day }}</div>
    {% endfor %}
{% endif %}