<style>
    table.list td,
    table.list th {
        border: solid 1px black;;
        min-height: 14px;
        line-height: 14px;
    }
</style>

<table>
    {% set pdfPageNum = 0 %}
    {% set loopIndex = 0 %}
    {% set sumToOwnersValue = 0 %}
    {% for pdfPage in summaryData %}
        {% set pdfPageNum = pdfPageNum + 1 %}
        <tr><td style="border: solid 1px black; padding: 1px; height: 807px;"><table><tr>
                        <td style="border-top: solid 1px black; padding: 1px; height: 782px;">
                            <table style="font-size: 18px; line-height: 18px; padding-top: 11px; padding-bottom: 11px; border-bottom: solid 3px gray; width: 99%;">
                                <tr>
                                    <td style="width: 70%;"><b>{{ companyName }} - Owner Payments</b></td>
                                    <td style="width: 30%; text-align: right;">
                                        <b>{{ dateObject|date('F Y') }}</b>
                                    </td>
                                </tr>
                            </table>

                            <table style="width: 100%; color: red; text-align: center; font-size: 8px; padding-top: 5px; padding-bottom: 10px;">
                                <tr>
                                    <td>
                                        ** THIS DOCUMENT IS NOT A FORMAL STATEMENT OF ACCOUNTS **
                                    </td>
                                </tr>
                            </table>

                            <table class="list" style="font-size: 8px;">
                                <thead>
                                <tr>
                                    <th width="5%">
                                        <b>#</b>
                                    </th>
                                    <th width="25%">
                                        <b>Accommodation</b>
                                    </th>
                                    <th width="20%">
                                        <b>Bank Account</b>
                                    </th>
                                    <th width="10%">
                                        <b>To Owner</b>
                                    </th>
                                    <th width="38%">
                                        <b>Payment comments</b>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in pdfPage %}
                                    {% set estateToOwnersValue = 0 %}
                                    {% for reservation in item.reservations %}
                                        {% set estateToOwnersValue = estateToOwnersValue + reservation.getToOwnersValue() %}
                                    {% endfor %}

                                    {% if estateToOwnersValue > 0 %}
                                        {% set loopIndex = loopIndex + 1 %}
                                        {% set sumToOwnersValue = sumToOwnersValue + estateToOwnersValue %}
                                        <tr>
                                            <td> {{ loopIndex }}</td>
                                            <td> {{ item.estate.name }}</td>
                                            <td> {{ item.estate.bankAccountNumber }}</td>
                                            <td> {{ estateToOwnersValue|number_format(2) }}
                                            </td>
                                            <td></td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                {% if pdfPageNum == summaryData|length %}
                                    <tr>
                                        <td colspan="5" style="height: 5px; border: none;"></td>
                                    </tr>
                                    <tr>
                                        <td style="border: none;"></td>
                                        <td colspan="2">
                                            <b>TOTAL PAYMENTS</b>
                                        </td>
                                        <td>
                                            {{ sumToOwnersValue|number_format(2) }}
                                        </td>
                                        <td style="border: none;"></td>
                                    </tr>
                                {% endif %}
                                </tbody>
                            </table>

                            {% if pdfPageNum == summaryData|length %}
                                <table style="width: 98%;">
                                    <tr>
                                        <td><br /><br /><br /></td>
                                    </tr>
                                    <tr>
                                        <td style="border: solid 1px black; font-size: 8px; min-height: 14px; line-height: 14px;">
                                            <b>Sign and date to confirm all payments sent as detailed above:</b>
                                        </td>
                                    </tr>
                                </table>
                            {% endif %}
                        </td>
                    </tr>
                </table>
                <table style="height: 25px; font-size: 5px;">
                    <tr>
                        <td width="30%" style="text-align: center;">Booking services provided by www.underthethatch.co.uk</td>
                        <td width="55%"></td>
                        <td width="15%" style="text-align: center;">
                            Page {{ pdfPageNum }} of {{ summaryData|length }}<br />
                            {{ nowDate|date('d-M-Y H:i') }}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    {% endfor %}
</table>