<style>
    table.list td,
    table.list th {
        border: solid 1px black;;
        min-height: 14px;
        line-height: 14px;
    }
</style>

<table>
    {% set pdfPageNum = 0 %}
    {% set loopIndex = 0 %}

    {% set sumPaid = 0 %}
    {% set sumCommissionValue = 0 %}
    {% set sumCommissionVatValue = 0 %}
    {% set sumAdminCharge = 0 %}
    {% set sumCreditCardCharge = 0 %}
    {% set sumToOwnersValue = 0 %}

    {% for pdfPage in summaryData %}
        {% set pdfPageNum = pdfPageNum + 1 %}
        <tr><td style="border: solid 1px black; padding: 1px; height: 807px;"><table><tr>
                        <td style="border-top: solid 1px black; padding: 1px; height: 782px;">
                            <table style="font-size: 18px; line-height: 18px; padding-top: 11px; padding-bottom: 11px; border-bottom: solid 3px gray; width: 99%;">
                                <tr>
                                    <td style="width: 70%;"><b>{{ companyName }} -  Monthly Accounts</b></td>
                                    <td style="width: 30%; text-align: right;">
                                        <b>{{ dateObject|date('F Y') }}</b>
                                    </td>
                                </tr>
                            </table>

                            <table style="width: 100%; color: red; text-align: center; font-size: 8px; padding-top: 5px; padding-bottom: 10px;">
                                <tr><td></td></tr>
                            </table>

                            <table class="list" style="font-size: 8px;">
                                <thead>
                                <tr>
                                    <th width="5%">
                                        <b>#</b>
                                    </th>
                                    <th width="25%">
                                        <b>Accommodation</b>
                                    </th>
                                    <th width="6%">
                                        <b>Rate</b>
                                    </th>
                                    <th width="9%">
                                        <b>Money In</b>
                                    </th>
                                    <th width="10%">
                                        <b>Commission</b>
                                    </th>
                                    <th width="5%">
                                        <b>VAT</b>
                                    </th>
                                    <th width="8%">
                                        <b>Admin<br />&#160;charge</b>
                                    </th>
                                    <th width="10%">
                                        <b>Credit card<br />&#160;charge</b>
                                    </th>
                                    <th width="10%">
                                        <b>To Owner</b>
                                    </th>
                                    <th width="10%">
                                        <b>comments</b>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in pdfPage %}
                                    {% set rateMin = false %}
                                    {% set rateMax = false %}

                                    {% set estatePaid = 0 %}
                                    {% set estateCommissionValue = 0 %}
                                    {% set estateCommissionVatValue = 0 %}
                                    {% set estateAdminCharge = 0 %}
                                    {% set estateCreditCardCharge = 0 %}
                                    {% set estateToOwnersValue = 0 %}

                                    {% for reservation in item.reservations %}
                                        {% set estatePaid = estatePaid + reservation.paid %}
                                        {% set estateCommissionValue = estateCommissionValue + reservation.calculateCommissionValue() %}
                                        {% set estateCommissionVatValue = estateCommissionVatValue + reservation.getCommissionVatValue() %}
                                        {% set estateAdminCharge = estateAdminCharge + reservation.getPriceDecoded().adminCharge %}
                                        {% set estateCreditCardCharge = estateCreditCardCharge + reservation.getPriceDecoded().creditCardCharge %}
                                        {% set estateToOwnersValue = estateToOwnersValue + reservation.getToOwnersValue() %}

                                        {% if rateMin == false %}
                                            {% set rateMin = reservation.commission %}
                                        {% elseif reservation.commission < rateMin %}
                                            {% set rateMin = reservation.commission %}
                                        {% endif %}

                                        {% if rateMax == false %}
                                            {% set rateMax = reservation.commission %}
                                        {% elseif reservation.commission > rateMax %}
                                            {% set rateMax = reservation.commission %}
                                        {% endif %}
                                    {% endfor %}

                                    {# if estateToOwnersValue > 0 #}
                                        {% set loopIndex = loopIndex + 1 %}

                                        {% set sumPaid = sumPaid + estatePaid %}
                                        {% set sumCommissionValue = sumCommissionValue + estateCommissionValue %}
                                        {% set sumCommissionVatValue = sumCommissionVatValue + estateCommissionVatValue %}
                                        {% set sumAdminCharge = sumAdminCharge + estateAdminCharge %}
                                        {% set sumCreditCardCharge = sumCreditCardCharge + estateCreditCardCharge %}
                                        {% set sumToOwnersValue = sumToOwnersValue + estateToOwnersValue %}

                                        <tr>
                                            <td> {{ loopIndex }}</td>
                                            <td> {{ item.estate.name }}</td>
                                            <td>
                                                {% if rateMin == rateMax %}
                                                    {{ rateMax }}%
                                                {% else %}
                                                    {{ rateMin }}% - {{ rateMax }}%
                                                {% endif %}
                                            </td>
                                            <td> {{ estatePaid|number_format(2) }}</td>
                                            <td> {{ estateCommissionValue|number_format(2) }}</td>
                                            <td> {{ estateCommissionVatValue|number_format(2) }}</td>
                                            <td> {{ estateAdminCharge|number_format(2) }}</td>
                                            <td> {{ estateCreditCardCharge|number_format(2) }}</td>
                                            <td> {{ estateToOwnersValue|number_format(2) }}</td>
                                            <td></td>
                                        </tr>
                                    {# endif #}
                                {% endfor %}
                                {% if pdfPageNum == summaryData|length %}
                                    <tr>
                                        <td colspan="9" style="height: 5px; border: none;"></td>
                                    </tr>
                                    <tr>
                                        <td style="border: none;"></td>
                                        <td colspan="2">
                                            <b>TOTALS</b>
                                        </td>
                                        <td>
                                            {{ sumPaid|number_format(2) }}
                                        </td>
                                        <td>
                                            {{ sumCommissionValue|number_format(2) }}
                                        </td>
                                        <td>
                                            {{ sumCommissionVatValue|number_format(2) }}
                                        </td>
                                        <td>
                                            {{ sumAdminCharge|number_format(2) }}
                                        </td>
                                        <td>
                                            {{ sumCreditCardCharge|number_format(2) }}
                                        </td>
                                        <td>
                                            {{ sumToOwnersValue|number_format(2) }}
                                        </td>
                                        <td style="border: none;"></td>
                                    </tr>
                                {% endif %}
                                </tbody>
                            </table>

                            {% if pdfPageNum == summaryData|length %}
                                <table>
                                    <tr>
                                        <td><br /></td>
                                    </tr>
                                    <tr>
                                        <td style="font-size: 7px;">
                                            NB. VAT may also be applicable on your charges, please declared this figure to your accountants
                                        </td>
                                    </tr>
                                </table>
                            {% endif %}
                        </td>
                    </tr>
                </table>
                <table style="height: 25px; font-size: 5px;">
                    <tr>
                        <td width="30%" style="text-align: center;">Booking services provided by www.underthethatch.co.uk</td>
                        <td width="55%"></td>
                        <td width="15%" style="text-align: center;">
                            Page {{ pdfPageNum }} of {{ summaryData|length }}<br />
                            {{ nowDate|date('d-M-Y H:i') }}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    {% endfor %}
</table>