<style>
    table.list td,
    table.list th {
        min-height: 16px;
        line-height: 16px;
    }
</style>

{% set loopIndex = 0 %}
<table>
    <tr><td style="border: solid 1px black; padding: 1px; height: 807px;"><table><tr>
                    <td style="border-top: solid 1px black; padding: 1px; height: 787px;">
                        <table style="font-size: 18px; line-height: 18px; padding-top: 11px; padding-bottom: 11px; border-bottom: solid 3px gray; width: 98%;">
                            <tr>
                                <td style="width: 70%;"><b>{{ companyName }} - Statement<br />{{ estate.name }}</b></td>
                                <td style="width: 30%; text-align: right;">
                                    <b>{{ dateObject|date('F Y') }}</b>
                                </td>
                            </tr>
                        </table>


                        <table class="list" style="font-size: 8px; width: 98%;">
                            <tr>
                                <td width="25%">{{ estate.address }}<br />{{ estate.postCode }}</td>
                                <td width="50%"></td>
                                <td width="25%" style="text-align: right">{{ estate.address }}<br />{{ estate.postCode }}<br /><br />{{ nowDate|date('d F Y') }}</td>
                            </tr>
                        </table>

                        <table style="width: 100%; color: red; text-align: center; font-size: 8px; padding-top: 5px; padding-bottom: 10px;">
                            <tr>
                                <td>
                                </td>
                            </tr>
                        </table>

                        <table class="list" style="font-size: 8px;">
                            <thead>
                            <tr>
                                <th colspan="6">
                                    <b>Summary of your bookings for {{ dateObject|date('F Y') }}</b><br />
                                </th>
                            </tr>
                            <tr>
                                <th width="5%"> <u></u></th>
                                <th width="5%"> <u>#</u></th>
                                <th width="8%"> <u>Booking</u></th>
                                <th width="30%"> <u>Guest name</u></th>
                                <th width="10%"> <u>Start date</u></th>
                                <th width="15%" style="text-align: right;"><u>Income</u> &#160;&#160; </th>
                                <th width="28%"> <u>Comment</u></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% set sumPaid = 0 %}
                            {% set sumCommissionValue = 0 %}
                            {% set sumCommissionVatValue = 0 %}
                            {% set sumToOwnersValue = 0 %}

                            {% set rateMin = false %}
                            {% set rateMax = false %}
                            {% set vatRateMin = false %}
                            {% set vatRateMax = false %}

                            {% set sumNights = 0 %}

                            {% for reservation in reservations %}
                                {% set loopIndex = loopIndex + 1 %}
                                {% set sumPaid = sumPaid + reservation.paid - reservation.getPriceDecoded().adminCharge - reservation.getPriceDecoded().creditCardCharge - reservation.getPriceDecoded().bookingProtectCharge %}
                                {% set sumCommissionValue = sumCommissionValue + reservation.calculateCommissionValue() %}
                                {% set sumCommissionVatValue = sumCommissionVatValue + reservation.getCommissionVatValue() %}
                                {% set sumToOwnersValue = sumToOwnersValue + reservation.getToOwnersValue() %}
                                {% set sumNights = sumNights + reservation.getNumberOfNights() %}

                                {% if rateMin == false %}
                                    {% set rateMin = reservation.commission %}
                                {% elseif reservation.commission < rateMin %}
                                    {% set rateMin = reservation.commission %}
                                {% endif %}

                                {% if rateMax == false %}
                                    {% set rateMax = reservation.commission %}
                                {% elseif reservation.commission > rateMax %}
                                    {% set rateMax = reservation.commission %}
                                {% endif %}

                                {% if vatRateMin == false %}
                                    {% set vatRateMin = reservation.getVatRate() %}
                                {% elseif reservation.getVatRate() < vatRateMin %}
                                    {% set vatRateMin = reservation.getVatRate() %}
                                {% endif %}

                                {% if vatRateMax == false %}
                                    {% set vatRateMax = reservation.getVatRate() %}
                                {% elseif reservation.getVatRate() > vatRateMax %}
                                    {% set vatRateMax = reservation.getVatRate() %}
                                {% endif %}

                                <tr>
                                    <td></td>
                                    <td> {{ loopIndex }}</td>
                                    <td> {{ reservation.id }}</td>
                                    <td> {{ reservation.getUserDataDecoded().firstName|truncate(20) }} {{ reservation.getUserDataDecoded().lastName|truncate(20) }}</td>
                                    <td> {{ reservation.fromDate|date('d-M') }}</td>
                                    {#<td style="text-align: right;"> {{ (reservation.paid - reservation.getPriceDecoded().adminCharge - reservation.getPriceDecoded().creditCardCharge - reservation.getPriceDecoded().bookingProtectCharge)|number_format(2) }} &#160;</td>#}
                                    <td style="text-align: right;"> {{ (reservation.getToOwnersValue())|number_format(2) }} &#160;</td>
                                    <td> {{ reservation.note }}</td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="6">
                                    <br /><br />
                                </td>
                            </tr>
                            {#
                            <tr>
                                <td colspan="5">
                                    Sub total of guest income
                                </td>
                                <td style="text-align: right;">{{ sumPaid|number_format(2) }} &#160;</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="5">
                                    Commission @
                                    {% if rateMin == rateMax %}
                                        {{ rateMax }}%
                                    {% else %}
                                        {{ rateMin }}% - {{ rateMax }}%
                                    {% endif %}
                                </td>
                                <td style="text-align: right;">{{ sumCommissionValue|number_format(2) }} &#160;</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="5">
                                    VAT on commission @
                                    {% if vatRateMin == vatRateMax %}
                                        {{ vatRateMax }}%
                                    {% else %}
                                        {{ vatRateMin }}% - {{ vatRateMax }}%
                                    {% endif %}
                                </td>
                                <td style="text-align: right;">{{ sumCommissionVatValue|number_format(2) }} &#160;</td>
                                <td></td>
                            </tr>
                            #}
                            <tr>
                                <td colspan="5">
                                    Total income
                                </td>
                                <td style="border: solid 1px black; text-align: right;">{{ sumToOwnersValue|number_format(2) }} &#160;</td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>

                        <table class="list" style="font-size: 8px;">
                            <tr>
                                <td colspan="2">
                                    <br /><br />
                                </td>
                            </tr>
                            <tr>
                                <td width="30%">
                                    Payable by BACS to account
                                </td>
                                <td width="70%">{{ estate.bankAccountNumber }}</td>
                            </tr>
                            <tr>
                                <td>
                                    Number of bookings
                                </td>
                                <td>{{ reservations|length }}</td>
                            </tr>
                            <tr>
                                <td>
                                    Nights occupied
                                </td>
                                <td>{{ sumNights }}</td>
                            </tr>
                            <tr>
                                <td colspan="2" style="text-align: center">
                                    <br /><br /><br />
                                    Thank you for choosing {{ companyName }}<br />
                                    {% if companyVatNo is defined and companyVatNo and vatRateMin > 0 %}
                                        <span style="font-size: 7px;">Vat No. {{ companyVatNo }}</span>
                                    {% endif %}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <table style="height: 20px; font-size: 5px;">
                <tr>
                    <td width="40%" style="text-align: center;">www.underthethatch.co.uk - Booking services provided by www.underthethatch.co.uk</td>
                    <td width="45%"></td>
                    <td width="15%" style="text-align: center;">
                        Generated : {{ nowDate|date('d/m/Y H:i') }}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>