{% extends 'UTTAdminBundle:Admin:standard_layout.html.twig' %}
{% block sonata_admin_content %}
    {% block notice %}
        {% include 'SonataCoreBundle:FlashMessage:render.html.twig' %}
    {% endblock notice %}
        <div class="panel panel-default">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th colspan="3">
                        {% if dates is defined and dates|length > 0 %}
                            month
                            <select id="ownerStatementsFilterDate" class="form-control">
                                {% for date in dates %}
                                    <option value="{{ date.id }}" {% if date.id == dateString %}selected="selected"{% endif %}>{{ date.label }}</option>
                                {% endfor %}
                            </select>
                        {% endif %}
                    </th>
                </tr>
                <tr>
                    <th>Owner name</th>
                    <th>Owner e-mail</th>
                    <th>
                        See owner's statement
                    </th>
                    <th>
                        See TAX year info
                    </th>
                </tr>
                </thead>
                <tbody>
                {% if owners is defined and owners|length > 0 %}
                    {% for ownerUser in owners %}
                        <tr>
                            <td>{{ ownerUser.firstName }} {{ ownerUser.lastName }}</td>
                            <td>{{ ownerUser.email }}</td>
                            <td>
                                <a class="btn btn-success" href="{{ path('utt_admin_owner_statement_show_statement_for_owner', { 'ownerUserId': ownerUser.id, 'date': dateString }) }}">show for {{ dateString }}</a>
                            </td>
                            <td>
                                <a class="btn btn-success" href="{{ path('utt_admin_owner_statement_show_statement_for_owner_tax_year', { 'ownerUserId': ownerUser.id, 'year': nowDate|date('Y') }) }}">TAX info</a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Accommodation</th>
                    <th>Agency</th>
                    <th>
                        Download
                        {% if app.security.isGranted('ROLE_UTT_ADMIN_OWNER_STATEMENTS_CREATE') %}
                            <a class="btn btn-primary btn-xs" href="{{ path('utt_admin_owner_statement_create_property_statements', { 'date': dateString }) }}">re/create for all properties for {{ dateString }}</a>
                            <a class="btn btn-primary btn-xs" href="{{ path('utt_admin_owner_statement_email_property_statements', { 'date': dateString }) }}">email statements for {{ dateString }}</a>
                        {% endif %}
                    </th>
                </tr>
                </thead>
                <tbody>
                    {% if estates is defined and estates|length > 0 %}
                        {% for estate in estates %}
                            <tr>
                                <td>{{ estate.name }}</td>
                                <td>UTT</td>
                                <td>
                                    {% set ownerStatementExists = false %}
                                    {% if ownerStatements is defined and ownerStatements|length > 0 %}
                                        {% for ownerStatement in ownerStatements %}
                                            {% if ownerStatement.estate.id == estate.id %}
                                                {% set ownerStatementExists = true %}
                                                <a target="_blank" href="{{ path('utt_admin_owner_statement_display', { 'filename': ownerStatement.filename }) }}" class="btn btn-success">download</a>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    {% if ownerStatementExists == false %}not ready{% endif %}

                                    {#<a class="btn btn-primary btn-xs" href="{{ path('utt_admin_owner_statement_create_property_statement', { 'estateId': estate.id, 'date': dateString }) }}">re/create PDF</a>#}

                                    {% if propertyStatementQueues is defined and propertyStatementQueues|length > 0 %}
                                        {% for propertyStatementQueue in propertyStatementQueues %}
                                            {% if propertyStatementQueue.estate.id == estate.id %}
                                                <span class="glyphicon glyphicon-time" title="Document is generating. Please Wait."></span> Document is creating. Please Wait.
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('sonata_admin_dashboard') }}">Dashboard</a>
    </li>
    <li class="active"><span>Owner statements</span></li>
{% endblock %}
