{% extends 'UTTAdminBundle:Admin:standard_layout.html.twig' %}
{% block sonata_admin_content %}
    {% block notice %}
        {% include 'SonataCoreBundle:FlashMessage:render.html.twig' %}
    {% endblock notice %}
    <div class="panel panel-default text-center">
        <div class="panel-heading">
            Summary statements for all properties of
            <strong>
                {{ ownerUser.firstName }} {{ ownerUser.lastName }}
            </strong>
            - {{ dateObject|date('F Y') }}
        </div>
    </div>

    {% if estatesArray is defined and estatesArray|length > 0 %}
        {% set totalAmountForAllEstates = 0 %}
        {% for estateItem in estatesArray %}
            <div class="panel panel-default">
                <table class="table">
                    <thead>
                    <tr>
                        <th colspan="6">
                            <b>Summary of your bookings for {{ estateItem.estate.name }} {{ dateObject|date('F Y') }}</b><br />
                        </th>
                    </tr>
                    <tr>
                        <th width="5%"> <u></u></th>
                        <th width="5%"> <u>#</u></th>
                        <th width="8%"> <u>Booking</u></th>
                        <th width="30%"> <u>Guest name</u></th>
                        <th width="10%"> <u>Start date</u></th>
                        <th width="15%" style="text-align: right;"><u>Income</u> &#160;&#160; </th>
                        <th width="28%"> <u>Comment</u></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set sumPaid = 0 %}
                    {% set sumCommissionValue = 0 %}
                    {% set sumCommissionVatValue = 0 %}
                    {% set sumToOwnersValue = 0 %}

                    {% set rateMin = false %}
                    {% set rateMax = false %}
                    {% set vatRateMin = false %}
                    {% set vatRateMax = false %}

                    {% set sumNights = 0 %}

                    {% for reservation in estateItem.reservations %}
                        {% set loopIndex = loopIndex + 1 %}
                        {% set sumPaid = sumPaid + reservation.paid - reservation.getPriceDecoded().adminCharge - reservation.getPriceDecoded().creditCardCharge - reservation.getPriceDecoded().bookingProtectCharge %}
                        {% set sumCommissionValue = sumCommissionValue + reservation.calculateCommissionValue() %}
                        {% set sumCommissionVatValue = sumCommissionVatValue + reservation.getCommissionVatValue() %}
                        {% set sumToOwnersValue = sumToOwnersValue + reservation.getToOwnersValue() %}
                        {% set sumNights = sumNights + reservation.getNumberOfNights() %}

                        {% if rateMin == false %}
                            {% set rateMin = reservation.commission %}
                        {% elseif reservation.commission < rateMin %}
                            {% set rateMin = reservation.commission %}
                        {% endif %}

                        {% if rateMax == false %}
                            {% set rateMax = reservation.commission %}
                        {% elseif reservation.commission > rateMax %}
                            {% set rateMax = reservation.commission %}
                        {% endif %}

                        {% if vatRateMin == false %}
                            {% set vatRateMin = reservation.getVatRate() %}
                        {% elseif reservation.getVatRate() < vatRateMin %}
                            {% set vatRateMin = reservation.getVatRate() %}
                        {% endif %}

                        {% if vatRateMax == false %}
                            {% set vatRateMax = reservation.getVatRate() %}
                        {% elseif reservation.getVatRate() > vatRateMax %}
                            {% set vatRateMax = reservation.getVatRate() %}
                        {% endif %}

                        <tr>
                            <td></td>
                            <td> {{ loopIndex }}</td>
                            <td> {{ reservation.id }}</td>
                            <td> {{ reservation.getUserDataDecoded().firstName|truncate(20) }} {{ reservation.getUserDataDecoded().lastName|truncate(20) }}</td>
                            <td> {{ reservation.fromDate|date('d-M') }}</td>
                            {#<td style="text-align: right;"> {{ (reservation.paid - reservation.getPriceDecoded().adminCharge - reservation.getPriceDecoded().creditCardCharge - reservation.getPriceDecoded().bookingProtectCharge)|number_format(2) }} &#160;</td>#}
                            <td style="text-align: right;"> {{ (reservation.getToOwnersValue())|number_format(2) }} &#160;</td>
                            <td> {{ reservation.note }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="5">
                            Total income for {{ estateItem.estate.name }} property
                        </td>
                        {% set totalAmountForAllEstates = totalAmountForAllEstates + sumToOwnersValue %}
                        <td style="border: solid 1px black; text-align: right;">{{ sumToOwnersValue|number_format(2) }} &#160;</td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
                <table class="table">
                    <tr>
                        <td width="30%">
                            Payable by BACS to account
                        </td>
                        <td width="70%">{{ estateItem.estate.bankAccountNumber }}</td>
                    </tr>
                </table>
            </div>
        {% endfor %}
        <div class="panel panel-default text-center">
            <div class="panel-heading">
                Total amount for all properties
            </div>
            <br />
            <strong>
                {{ totalAmountForAllEstates }}
            </strong>
            <br />
            <br />
        </div>
    {% else %}
        No data found
    {% endif %}
{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('sonata_admin_dashboard') }}">Dashboard</a>
    </li>
    <li class="active"><span>Owner statements</span></li>
{% endblock %}