<section class="partners">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h3 class="partners__header">“Sensitively restored and gorgeously stylish are the watchwords for Under the Thatch” <span class="partners__author">The&nbspGuardian</span></h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12 text-center">
                <img class="partners__image" src="{{ asset('/bundles/uttindex/images/partners/country_living_logo.png') }}" alt="feature">
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 text-center">
                <img class="partners__image" src="{{ asset('/bundles/uttindex/images/partners/interiors.png') }}" alt="feature">
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 text-center">
                <img class="partners__image" src="{{ asset('/bundles/uttindex/images/partners/traveller.png') }}" alt="feature">
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 text-center">
                <img class="partners__image" src="{{ asset('/bundles/uttindex/images/partners/observer.png') }}" alt="feature">
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 text-center">
                <img class="partners__image" src="{{ asset('/bundles/uttindex/images/partners/the_irish_time.png') }}" alt="feature">
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 text-center">
                <img class="partners__image" src="{{ asset('/bundles/uttindex/images/partners/the_times.png') }}" alt="feature">
            </div>
        </div>
        <div class="partners__divider"></div>
    </div>
</section>

<section class="features">
    <div class="container hidden-xs">
        <div class="row">
            <div class="col-md-4">
                <div class="features__image">
                    <img src="{{ asset('/bundles/uttindex/images/feature.png') }}" alt="feature">
                </div>
                <p class="features__text">Your booking is safe and secure, we even offer cancellation insurance.</p>
            </div>
            <div class="col-md-4">
                <div class="features__image">
                    <img src="{{ asset('/bundles/uttindex/images/feature.png') }}" alt="feature">
                </div>
                <p class="features__text">We know every property inside out.</p>
            </div>
            <div class="col-md-4 ">
                <div class="features__image">
                    <img src="{{ asset('/bundles/uttindex/images/feature.png') }}" alt="feature">
                </div>
                <p class="features__text">We look after guests and owners - it's a personal service.</p>
            </div>
        </div>
    </div>
    <div class="features__slider-mobile">
        <div class="feature__slider-item">
            <div class="features__image">
                <img src="{{ asset('/bundles/uttindex/images/feature.png') }}" alt="feature">
            </div>
            <p class="features__text">Your booking is safe and secure, we even offer cancellation insurance.</p>
        </div>
        <div class="feature__slider-item">
            <div class="features__image">
                <img src="{{ asset('/bundles/uttindex/images/feature.png') }}" alt="feature">
            </div>
            <p class="features__text">We know every property inside out.</p>
        </div>
        <div class="feature__slider-item">
            <div class="features__image">
                <img src="{{ asset('/bundles/uttindex/images/feature.png') }}" alt="feature">
            </div>
            <p class="features__text">We look after guests and owners - it's a personal service.</p>
        </div>
    </div>
</section>
