<section class="padding-bottom-clear">
    <section class="pv-30 dark-bg padding-bottom-clear clearfix">
        <div class="container">
            <div class="row">
                <div class="col-md-3 ">
                    <div data-effect-delay="100" data-animation-effect="fadeInDownSmall" class="feature-box-2 object-non-visible animated object-visible fadeInDownSmall">
                        <div class="text-center">
                            <img style="margin: auto; max-height: 32px;" src="{{ asset('/images/homebanner/service.png') }}" alt="Service">
                        </div>
                    </div>
                </div>
                <div class="col-md-3 ">
                    <div data-effect-delay="100" data-animation-effect="fadeInDownSmall" class="feature-box-2 object-non-visible animated object-visible fadeInDownSmall">
                        <div class="text-center">
                            <img style="margin: auto; max-height: 32px;" src="{{ asset('/images/homebanner/design.png') }}" alt="Design">
                        </div>
                    </div>
                </div>
                <div class="col-md-3 ">
                    <div data-effect-delay="100" data-animation-effect="fadeInDownSmall" class="feature-box-2 object-non-visible animated object-visible fadeInDownSmall">
                        <div class="text-center">
                            <img style="margin: auto; max-height: 32px;" src="{{ asset('/images/homebanner/location.png') }}" alt="Location">
                        </div>
                    </div>
                </div>
                <div class="col-md-3 ">
                    <div data-effect-delay="100" data-animation-effect="fadeInDownSmall" class="feature-box-2 object-non-visible animated object-visible fadeInDownSmall">
                        <div class="text-center">
                            <img style="margin: auto; max-height: 32px;" src="{{ asset('/images/homebanner/quality.png') }}" alt="Quality">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>