<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if gt IE 9]> <html lang="en" class="ie"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <title>{% block title %}Under the Thatch - the finest holiday cottages in Wales{% endblock %}</title>
    {% block openGraph %}
        <meta property="og:description" content="Under the Thatch is a hand-picked selection of gorgeous places to stay in Wales and beyond - we're famous for the most romantic cottages and gypsy caravan holidays. We love green, we like authentic... we know that great design is good for your soul."/>
    {% endblock %}
    <META name="description" content="{% block description %}Find the finest holiday. Under the Thatch is a hand-picked selection of gorgeous places to stay in Wales and beyond - we're famous for the most romantic cottages and gypsy caravan holidays. We love green, we like authentic... we know that great design is good for your soul.{% endblock %}">

    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    {#<link rel="shortcut icon" href="/bundles/uttindex/the-project/images/favicon.ico">#}
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <!-- Web Fonts -->

    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window, document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '238731720211731');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
                   src="https://www.facebook.com/tr?id=238731720211731&ev=PageView&noscript=1"
        /></noscript>
    <!-- End Facebook Pixel Code -->
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
    <style>.cc-right { right: 10em;}</style>
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
    <script> window.addEventListener("load", function(){ window.cookieconsent.initialise({ "palette": { "popup": { "background": "#efefef", "text": "#404040" }, "button": { "background": "#870d0d" } }, "theme": "classic", "position": "bottom-right", "content": { "message": "We use cookies to ensure you get the best experience from our website." } })}); </script>
</head>
{% spaceless %}
<body class="no-trans front-page   {#page-loader-2#}">
    {#<div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>#}


    <div class="page-wrapper">
        {% include '::the-project/header.html.twig' %}

        {% block body %}{% endblock %}

        {#
        {% include '::the-project/offers-section.html.twig' %}
        #}

        {% if app.request.attributes.get('_route') != 'utt_index_black_friday' %}
            {% render controller('UTTIndexBundle:Index:renderNewsletterSection', { 'request': app.request }) %}
        {% endif %}
        {% if app.request.get('salePopupPreview') %}
            {% render controller('UTTIndexBundle:Index:renderSalePopup', { 'request': app.request, 'isPreview': true }) %}
        {% else %}
            {% render controller('UTTIndexBundle:Index:renderSalePopup', { 'request': app.request }) %}
        {% endif %}

        {#
        <section class="light-gray-bg pv-40">
            <div class="container">
                <h2 class="text-center">Our <span class="text-default">New Babies</span></h2>
                <div class="separator"></div>
                <p class="large text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur veniam natus nemo reiciendis sit eius odio, recusandae, maxime libero delectus ipsa ea aut quo temporibus laboriosam minus dolore vitae iste.</p>
            </div>
            <div class="container-fluid">
                <div class="row grid-space-0">
                    <div class="col-sm-3">
                        <div class="team-member image-box style-2 text-center">
                            <div class="overlay-container overlay-visible">
                                <img alt="" src="http://htmlcoder.me/preview/the_project/v.1.2/template/images//gym-team-1.jpg">
                                <div class="overlay-bottom">
                                    <ul class="social-links circle dark margin-clear">
                                        <li class="skype"><a href="http://www.skype.com" target="_blank"><i class="fa fa-skype"></i></a></li>
                                        <li class="linkedin"><a href="http://www.linkedin.com" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                        <li class="xing"><a href="https://www.xing.com/" target="_blank"><i class="fa fa-xing"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="body">
                                <h3 class="margin-clear">Jane Doe</h3>
                                <small>Founder</small>
                                <div class="separator mt-10"></div>
                                <p class="small margin-clear">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates praesentium nulla cupiditate!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="team-member image-box style-2 text-center">
                            <div class="overlay-container overlay-visible">
                                <img alt="" src="http://htmlcoder.me/preview/the_project/v.1.2/template/images//gym-team-2.jpg">
                                <div class="overlay-bottom">
                                    <ul class="social-links circle dark margin-clear">
                                        <li class="skype"><a href="http://www.skype.com" target="_blank"><i class="fa fa-skype"></i></a></li>
                                        <li class="linkedin"><a href="http://www.linkedin.com" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                        <li class="xing"><a href="https://www.xing.com/" target="_blank"><i class="fa fa-xing"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="body">
                                <h3 class="margin-clear">John Doe</h3>
                                <small>Coach/Trainer</small>
                                <div class="separator mt-10"></div>
                                <p class="small margin-clear">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates praesentium nulla cupiditate!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="team-member image-box style-2 text-center">
                            <div class="overlay-container overlay-visible">
                                <img alt="" src="http://htmlcoder.me/preview/the_project/v.1.2/template/images//gym-team-3.jpg">
                                <div class="overlay-bottom">
                                    <ul class="social-links circle dark margin-clear">
                                        <li class="skype"><a href="http://www.skype.com" target="_blank"><i class="fa fa-skype"></i></a></li>
                                        <li class="linkedin"><a href="http://www.linkedin.com" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                        <li class="xing"><a href="https://www.xing.com/" target="_blank"><i class="fa fa-xing"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="body">
                                <h3 class="margin-clear">Anne Crayz</h3>
                                <small>Performance Specialist</small>
                                <div class="separator mt-10"></div>
                                <p class="small margin-clear">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates praesentium nulla cupiditate!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="team-member image-box style-2 text-center">
                            <div class="overlay-container overlay-visible">
                                <img alt="" src="http://htmlcoder.me/preview/the_project/v.1.2/template/images//gym-team-4.jpg">
                                <div class="overlay-bottom">
                                    <ul class="social-links circle dark margin-clear">
                                        <li class="skype"><a href="http://www.skype.com" target="_blank"><i class="fa fa-skype"></i></a></li>
                                        <li class="linkedin"><a href="http://www.linkedin.com" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                        <li class="xing"><a href="https://www.xing.com/" target="_blank"><i class="fa fa-xing"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="body">
                                <h3 class="margin-clear">Anne Crayz</h3>
                                <small>Manager</small>
                                <div class="separator mt-10"></div>
                                <p class="small margin-clear">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates praesentium nulla cupiditate!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        #}

        {% include '::the-project/footer.html.twig' %}
    </div>
    <link href="https://fonts.googleapis.com/css?family=Cormorant:400,600,600i" rel="stylesheet">
    {% stylesheets
    'bundles/uttindex/the-project/bootstrap/css/bootstrap.css'
    'bundles/uttindex/the-project/fonts/fontello/css/fontello.css'
    'bundles/uttindex/the-project/plugins/magnific-popup/magnific-popup.css'
    'bundles/uttindex/the-project/plugins/rs-plugin/css/settings.css'
    'bundles/uttindex/the-project/css/animations.css'
    'bundles/uttindex/the-project/plugins/owl-carousel/owl.carousel.css'
    'bundles/uttindex/the-project/plugins/owl-carousel/owl.transitions.css'
    'bundles/uttindex/the-project/plugins/hover/hover-min.css'
    'bundles/uttindex/the-project/css/style.css'
    'bundles/uttindex/the-project/css/typography-default.css'
    'bundles/uttindex/the-project/css/skins/dark_red.css'
    'bundles/uttindex/the-project/css/custom.css'
    '@UTTIndexBundle/Resources/public/css/smoothness/jquery-ui.css'
    'bundles/uttindex/bxslider/jquery.bxslider.css'
    '@UTTIndexBundle/Resources/public/css/base.css'
    filter='yui_css' %}<link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />{% endstylesheets %}

    {#
    'bundles/uttindex/the-project/plugins/morphext/morphext.css'
    #}

    {#<link rel="stylesheet" type="text/css" href="/bundles/uttindex/the-project/fonts/font-awesome/css/font-awesome.css" />#}
    <link rel="stylesheet" type="text/css" href="/bundles/uttindex/font-awesome-470/css/font-awesome.css" />

    {% block css %}{% endblock %}

    {#<!-- Google Maps javascript -->#}
    {#<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;key=your_google_map_key"></script>
    <script type="text/javascript" src="/bundles/uttindex/the-project/js/google.map.config.js"></script>#}

    {% javascripts
        'bundles/uttindex/the-project/plugins/jquery.min.js'
        'bundles/uttindex/the-project/bootstrap/js/bootstrap.min.js'
        'bundles/uttindex/the-project/plugins/modernizr.js'
        'bundles/uttindex/the-project/plugins/rs-plugin/js/jquery.themepunch.tools.min.js'
        'bundles/uttindex/the-project/plugins/rs-plugin/js/jquery.themepunch.revolution.min.js'
        'bundles/uttindex/the-project/plugins/isotope/isotope.pkgd.min.js'
        'bundles/uttindex/the-project/plugins/magnific-popup/jquery.magnific-popup.min.js'
        'bundles/uttindex/the-project/plugins/waypoints/jquery.waypoints.min.js'
        'bundles/uttindex/the-project/plugins/jquery.countTo.js'
        'bundles/uttindex/the-project/plugins/jquery.parallax-1.1.3.js'
        'bundles/uttindex/the-project/plugins/jquery.validate.js'
        'bundles/uttindex/the-project/plugins/vide/jquery.vide.js'
        'bundles/uttindex/the-project/plugins/owl-carousel/owl.carousel.js'
        'bundles/uttindex/the-project/plugins/pace/pace.min.js'
        'bundles/uttindex/the-project/plugins/jquery.browser.js'
        'bundles/uttindex/the-project/plugins/SmoothScroll.js'
        'bundles/uttindex/the-project/js/template.js'
        'bundles/uttindex/the-project/js/custom.js'
        '@UTTEstateBundle/Resources/public/libs/jquery-ui.js'
        'bundles/fosjsrouting/js/router.js'
        'bundles/uttestate/libs/angular.min.js'
        '@UTTEstateBundle/Resources/public/libs/angular-ui.js'
        'bundles/uttestate/libs/angular-route.min.js'
        'bundles/uttindex/js/libs/js.cookie.js'
        'bundles/uttindex/js/libs/bootstrap-number-input.js'
        'bundles/uttindex/bxslider/jquery.bxslider.js'
    filter='yui_js' %}<script type="text/javascript" src="{{ asset_url }}"></script>{% endjavascripts %}

    {#
        'bundles/uttindex/the-project/plugins/morphext/morphext.min.js'
        'bundles/uttestate/libs/jquery-1.10.1.min.js'
        '@UTTEstateBundle/Resources/public/libs/jquery-ui.js'
        #}

    {% block javascripts %}
        <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    {% endblock %}

    <script type="text/javascript">
        $(window).load(function() {
            {% block js %}{% endblock %}
        });

        $( function() {
            var datepickerDateFrom = $('#datepickerDateFrom');
            var datepickerDateTo = $('#datepickerDateTo');

            datepickerDateFrom.datepicker({
                dateFormat: 'dd-M-yy',
                firstDay: 1,
                minDate: $.datepicker.formatDate('dd-M-yy', new Date()),
                beforeShow: function(){
                    //if(datepickerDateFrom.val()){ datepickerDateFrom.datepicker( "option", "minDate", datepickerDateFrom.val() ); }

                    if(datepickerDateTo.val()){
                        datepickerDateFrom.datepicker( "option", "maxDate", datepickerDateTo.val() );
                    }else{
                        datepickerDateFrom.datepicker( "option", "maxDate", null );
                    }
                }
            });
            datepickerDateTo.datepicker({
                dateFormat: 'dd-M-yy',
                firstDay: 1,
                minDate: $.datepicker.formatDate('dd-M-yy', new Date()),
                beforeShow: function(){
                    if(datepickerDateFrom.val()){
                        datepickerDateTo.datepicker( "option", "minDate", datepickerDateFrom.val() );
                    }else{
                        datepickerDateTo.datepicker( "option", "minDate", $.datepicker.formatDate('dd-M-yy', new Date()) );
                    }
                }
            });
            $('.quick-search-form-toggle').click(function(){
                $('.quick-search-form').toggle();
            });
            $('.search-filters-toggle').click(function(){
                $('.search-filters').toggle();
            });

            {% if app.request.get('salePopupPreview') %}
            if($("#salePopupModal").length){
                setTimeout(function(){
                    $('#salePopupModalOpen').click();
                }, 100);
            }
            {% else %}
            if($("#salePopupModal").length){
                setTimeout(function(){
                    $('#salePopupModalOpen').click();
                    Cookies.set('salePopupSeen_2', 1, { expires: 15 });
                }, 60000);
            }
            {% endif %}

            var windowWidth = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;

            if($("#latestVisitsAlert").length){
                if(windowWidth > 400){
                    setTimeout(function(){
                        $('#latestVisitsAlert').show("slow");
                    }, 5000);
                }
            }
            $('.features__slider-mobile').bxSlider();

            $('.search__menu-item a').on('click', function(e) {
                e.preventDefault();
                $('.search__location-input').val($(this).data('location-id'));
                $('.search__location').text($(this).text());
            });

            function removeDuplicates( arr, prop ) {
                var obj = {};
                for ( var i = 0, len = arr.length; i < len; i++ ){
                    if(!obj[arr[i][prop]]) obj[arr[i][prop]] = arr[i];
                }
                var newArr = [];
                for ( var key in obj ) newArr.push(obj[key]);
                return newArr;
            }

            //AUTOCOMPLETE WIDGET ON SERACH INPUT
            $.getJSON("/estate/search-by-name", callbackAutocompleteSearch);

            function callbackAutocompleteSearch(data) {
                var predictiveData = removeDuplicates(data, 'name');

                if ($('.ps-search').length > 0 && predictiveData) {
                    $('.ps-search input[name="estateName"]').each(function () {
                        $(this).autocomplete({
                            delay: 0,
                            minLength: 1,
                            source: function (request, response) {

                                if ((request.term || '').length > 0) {
                                    var matcher = new RegExp($.ui.autocomplete.escapeRegex(request.term), "i");

                                    var matching = $.grep(predictiveData, function (value) {
                                        var name = value.name;

                                        return matcher.test(name);
                                    });
                                    response(matching.slice(0, 6));
                                }
                            },
                            select: function (event, ui) {
                                $('.ps-search input[name="estateName"]').val(ui.item.name);
                                return false;
                            },
                            open: function (event, ui) {
                                var mobileViewport = window.matchMedia("screen and (max-width: 1024px)");
                                if (mobileViewport.matches) {
                                    $('.ui-autocomplete').off('menufocus mouseover mouseenter');
                                }
                            }

                        }).focus(function () {
                            $(this).autocomplete("search");
                        }).autocomplete('instance')._renderItem = function (ul, item) {
                            return $('<li>')
                                .append('<div class="ac__item"><div class="ac__title">'+item.name+'</div></div>')
                                .appendTo(ul);
                        };

                        $(window).resize(function () {
                            $('.ui-autocomplete').hide();
                        });

                    });
                }
            }

        });
    </script>

    {% block googleAnalytics %}
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-55801902-1', 'auto');
            ga('send', 'pageview');
        </script>
    {% endblock %}

    {% block Chatra %}
        <!-- Chatra {literal} -->
        <script>
            (function(d, w, c) {
                w.ChatraID = 'CxPEnfm5YLqJKCbid';
                var s = d.createElement('script');
                w[c] = w[c] || function() {
                    (w[c].q = w[c].q || []).push(arguments);
                };
                s.async = true;
                s.src = 'https://call.chatra.io/chatra.js';
                if (d.head) d.head.appendChild(s);
            })(document, window, 'Chatra');
        </script>
        <!-- /Chatra {/literal} -->
    {% endblock %}

    {#<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us2.list-manage.com","uuid":"1d1f7be73453b522959752d4c","lid":"bf3e5ff779"}) })</script>#}

    {#<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />#}
    {#<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>#}
    {#<script>#}
        {#window.addEventListener("load", function(){#}
            {#window.cookieconsent.initialise({#}
                {#"palette": {#}
                    {#"popup": {#}
                        {#"background": "#efefef",#}
                        {#"text": "#404040"#}
                    {#},#}
                    {#"button": {#}
                        {#"background": "#870d0d"#}
                    {#}#}
                {#},#}
                {#"theme": "classic",#}
                {#"position": "bottom-left",#}
                {#"content": {#}
                    {#"message": "We use cookies to ensure you get the best experience from our website.",#}
                    {#"link": "Read more..",#}
                    {#"href": "https://www.underthethatch.co.uk/s/privacy-policy"#}
                {#}#}
            {#})});#}
    {#</script>#}

    {#{% block facebookPixel %}#}
    {#{% endblock %}#}
    <script type="text/javascript" src="https://my.hellobar.com/20f95ea8bdfe7a7cb2d9b5473e31e4705761496e.js" async="async"></script>
</body>
{% endspaceless %}
</html>
