<footer id="footer" class="clearfix ">
    <div class="footer">
        <div class="container">
            <div class="footer-inner">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="footer-content">
                            <div class="logo-footer"><img id="logo-footer" src="{{ asset('/bundles/uttindex/images/logos/logo_white.png') }}" alt=""></div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="footer-content">
                            <ul class="social-links circle animated-effect-1">
                                <li class="facebook"><a target="_blank" href="https://www.facebook.com/underthethatch"><i class="fa fa-facebook"></i></a></li>
                                <li class="twitter"><a target="_blank" href="https://twitter.com/underthethatch"><i class="fa fa-twitter"></i></a></li>
                                <li class="pinterest"><a target="_blank" href="https://pinterest.com/underthethatch/"><i class="fa fa-pinterest"></i></a></li>
                                <li class="instagram"><a target="_blank" href="https://www.instagram.com/underthethatch/"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-md-offset-0 col-sm-offset-6 col-xs-12">
                        <div class="footer-content">
                            <ul class="list-icons">
                                <li>from UK: <a href="tel:01239727029">01239 727 029</a></li>
                                <!--<li>from Ireland: <a href="tel:0749392002">074 93 92 002</a></li>-->
                                <li><a href="mailto:hello@underthethatch.co.uk">hello@underthethatch.co.uk</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="footer__divider"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="subfooter">
        <div class="container">
            <div class="subfooter-inner">
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-center">
                            © 2001-2021 Under the Thatch Ltd. all rights reserved<br /><br />

                            {#Bwthyn Fforchlas, Pontycymer, Penybont-ar-Ogwr, Cymru CF32 8HS#}<br />
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom-mask">
        <div class="container">
            <img class="footer__icon-mask" src="{{ asset('/bundles/uttindex/images/logos/home_icon-2.png') }}" alt="">
        </div>
        <img class="footer__mask" src="{{ asset('/bundles/uttindex/images/mask_divider3.png') }}" alt="">
    </div>
</footer>
