<div class="header-container">
    <div class="header-top dark">
        <div class="container">
            <div class="row">
                <div class="col-xs-2 col-sm-3 hidden-xs">
                    <div class="header-top-first clearfix">
                        <ul class="social-links circle small clearfix hidden-xs">
                            {#<li class="skype"><a target="_blank" href="http://www.skype.com"><i class="fa fa-skype"></i></a></li>
                            <li class="linkedin"><a target="_blank" href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
                            <li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
                            <li class="youtube"><a target="_blank" href="http://www.youtube.com"><i class="fa fa-youtube-play"></i></a></li>
                            <li class="flickr"><a target="_blank" href="http://www.flickr.com"><i class="fa fa-flickr"></i></a></li>#}
                            <li class="facebook"><a target="_blank" href="https://www.facebook.com/underthethatch"><i class="fa fa-facebook"></i></a></li>
                            <li class="twitter"><a target="_blank" href="https://twitter.com/underthethatch"><i class="fa fa-twitter"></i></a></li>
                            {#<li class="pinterest"><a target="_blank" href="https://pinterest.com/underthethatch/"><i class="fa fa-pinterest"></i></a></li>#}
                            <li class="instagram"><a target="_blank" href="https://www.instagram.com/underthethatch/"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                        <div class="social-links hidden-lg hidden-md hidden-sm circle small">
                            <div class="btn-group dropdown">
                                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"><i class="fa fa-share-alt"></i></button>
                                <ul class="dropdown-menu dropdown-animation">
                                    {#<li class="skype"><a target="_blank" href="http://www.skype.com"><i class="fa fa-skype"></i></a></li>
                                    <li class="linkedin"><a target="_blank" href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
                                    <li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
                                    <li class="youtube"><a target="_blank" href="http://www.youtube.com"><i class="fa fa-youtube-play"></i></a></li>
                                    <li class="flickr"><a target="_blank" href="http://www.flickr.com"><i class="fa fa-flickr"></i></a></li>#}
                                    <li class="facebook"><a target="_blank" href="https://www.facebook.com/underthethatch"><i class="fa fa-facebook"></i></a></li>
                                    <li class="twitter"><a target="_blank" href="https://twitter.com/underthethatch"><i class="fa fa-twitter"></i></a></li>
                                    {#<li class="pinterest"><a target="_blank" href="https://pinterest.com/underthethatch/"><i class="fa fa-pinterest"></i></a></li>#}
                                    <li class="instagram"><a target="_blank" href="https://www.instagram.com/underthethatch/"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-11 col-sm-9 no-padding">
                    <div id="header-top-second"  class="clearfix text-right">
                        <ul class="list-inline">
                            <li><i class="fa fa-phone pr-5 pl-10"></i>Cardigan: <a class="header-top__tel" href="tel:01239727029">01239 727 029</a></li>
                            <li class="hidden-xs"><a class="header-top__mail" href="mailto:hello@underthethatch.co.uk">hello@underthethatch.co.uk</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <header class="header fixed clearfix">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <div class="header-left clearfix">
                        <div id="logo" class="logo">
                            {#<a href="index.html"><img id="logo_img" src="/bundles/uttindex/the-project/images/logo_gold.png" alt="Under the Thatch"></a>#}
                            <a href="{{ path('utt_index_homepage') }}"><img style="height: 74px;" id="logo_img" src="{{ asset('/bundles/uttindex/images/logos/with-text-1.png') }}" alt="Under the Thatch"></a>
                        </div>
                        {#<div class="site-slogan">holiday homes you'll love</div>#}
                    </div>
                </div>
                <div class="col-md-10 no-padding">
                    <div class="header-right clearfix">
                        <div class="main-navigation  animated with-dropdown-buttons">
                            <nav class="navbar navbar-default" role="navigation">
                                <div class="container-fluid">
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                                            <span class="top"></span>
                                            <span class="middle"></span>
                                            <span class="bottom"></span>
                                        </button>
                                        {#
                                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                        #}
                                    </div>
                                    <div class="collapse navbar-collapse" id="navbar-collapse-1">
                                        <ul class="nav navbar-nav general-nav">
                                            <li class="">
                                                <a class="general-menu" href="{{ path('utt_estate_search') }}">Search{#<div class="menu-search"></div>#}</a></li>
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cottages{#<div class="menu-cottages"></div>#}</a>
                                                <ul class="dropdown-menu">
                                                    {% render controller('UTTIndexBundle:Index:renderCategoriesInMenu') %}
                                                </ul>
                                            </li>
                                            {#<li class=""><a href="{{ path('utt_estate_all_availability') }}">All Availability{#<div class="menu-all-av"></div></a></li>#}
                                            <li class=""><a href="{{ path('utt_join_us') }}">Join Us</a></li>
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">About{#<div class="menu-about"></div>#}</a>
                                                <ul class="dropdown-menu">
                                                    {% render controller('UTTIndexBundle:Index:renderMenuStaticPages') %}
                                                    {# <li class="menu-item-vouchers"><a href="{{ path('utt_vouchers') }}">Vouchers</a></li> #}
                                                    <li class="menu-item-donations"><a href="{{ path('utt_index_charity_donations') }}">Donations</a></li>
                                                </ul>
                                            </li>
                                            <li><a target="_blank" href="http://blog.underthethatch.co.uk/">Blog{#<div class="menu-blog"></div>#} </a></li>
                                            <li><a href="{{ path('utt_index_newsletter_archive') }}">Newsletter{#<div class="menu-newsletter"></div>#}</a></li>
                                            {#<li class=""><a href="#">Offers</a></li>#}
                                            {% render controller('UTTUserBundle:User:renderLoginInformation') %}
                                        </ul>

                                        <div class="header__email-container text-center visible-xs">
                                            <a class="header__email-mobile" href="mailto:hello@underthethatch.co.uk">hello@underthethatch.co.uk</a>
                                            <ul class="header__social-links">
                                                <li class="facebook"><a target="_blank" href="https://www.facebook.com/underthethatch"><i class="fa fa-facebook"></i></a></li>
                                                <li class="twitter"><a target="_blank" href="https://twitter.com/underthethatch"><i class="fa fa-twitter"></i></a></li>
                                                <li class="instagram"><a target="_blank" href="https://www.instagram.com/underthethatch/"><i class="fa fa-instagram"></i></a></li>
                                            </ul>
                                        </div>

                                        {#<div class="header-dropdown-buttons">
                                            <a href="mailto:theproject@info.com" class="btn btn-sm hidden-xs btn-default">Contact Us <i class="fa fa-envelope-o pl-5"></i></a>
                                            <a href="mailto:theproject@info.com" class="btn btn-lg visible-xs btn-block btn-default">Contact Us <i class="fa fa-envelope-o pl-5"></i></a>
                                        </div>#}
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>
