<section class="newsletter">
    <div class="container">
        <div class="row newsletter__columns">
            <div class="newsletter__column-text">
                <h3 class="newsletter__header">Subscribe Now</h3>
                <p class="newsletter__text">Get exclusive special offers and promotions delivered directly to you by email</p>
            </div>
            {% if newsletterForm is defined and newsletterForm %}
                {{ form_start(newsletterForm, {'attr': {'id': 'newsletterForm', 'role': 'form', 'class': 'newsletter__form'}}) }}
                {{ form_errors(newsletterForm) }}

                {% if newsletterForm.email is defined %}
                    {{ form_errors(newsletterForm.email) }}
                    {{ form_widget(newsletterForm.email) }}
                {% endif %}

                {{ form_rest(newsletterForm) }}
                <button type="submit" class="newsletter__sign-up">Sign up</button>
                {{ form_end(newsletterForm) }}
            {% endif %}
        </div>
    </div>
</section>
