<div class="dark-bg footer-top animated-text default-hovered">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="call-to-action text-center">
                    <div class="row">
                        <div class="col-sm-8">
                            <h1 class="title">Don't Miss Out Our Offers</h1>
                            <p class="text-white">Don't Miss Out Our Offers</p>
                        </div>
                        <div class="col-sm-4">
                            <br>
                            <p><a href="{{ path('utt_estate_offer_list') }}" class="btn btn-lg btn-default btn-animated">Learn More<i class="fa fa-arrow-right pl-20"></i></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>