/* 
    Document   : all.css
    Created on : 2013-12-18, 20:03:52
    Author     : sbtm
    Description:
        Purpose of the stylesheet follows.
*/

/* FONTS */
/*@font-face
{
    font-family: LoveYaLikeASister;
    src: url(/bundles/uttindex/fonts/LoveYaLikeASister.ttf);
}
@font-face
{
    font-family: LoveYaLikeASisterSolid;
    src: url(/bundles/uttindex/fonts/LoveYaLikeASisterSolid.ttf);
}*/
/*@font-face
{
    font-family: OpenSans;
    src: url(/bundles/uttindex/fonts/OpenSans-Regular.ttf);
}*/
.lazy{display: none;}
#ui-datepicker-div {z-index: 70 !important;}
.font-georgia {font-family: Georgia;}
.font-openSans {font-family: 'Open Sans', sans-serif;}
body {font-family: 'Open Sans', sans-serif;}
#my-main-header {font-family: 'Open Sans', sans-serif;}
.main-footer {font-family: 'Open Sans', sans-serif;}

.font-tab-main-titles { font-family: 'Love Ya Like A Sister', cursive; }
.font-tab-main-titles .small-text { display: block; font-size: 60%; }

.res-img-handler {width: 230px; float: left;}
.after-res-img-handler {margin-left: 230px;}
.after-res-img-handler .row {margin-left: 0px;margin-right: 0px;}
.after-res-img-handler .row  .col-hs-5,
.after-res-img-handler .row  .col-hs-7 {padding-left: 0px;}

@media (max-width: 800px){
    .res-img-handler {width: auto; float: none;}
    .after-res-img-handler {margin-left: auto;margin-right: auto;}
}

@media (max-width: 400px){
    .font-tab-main-titles{font-size: 21px; line-height: 15px;}
}
@media (min-width: 401px) and (max-width: 900px) {
    .font-tab-main-titles{font-size: 23px; line-height: 17px;}
}
@media (min-width: 901px){
    .font-tab-main-titles{font-size: 26px; line-height: 20px;}
}
/* END - FONTS */


.body {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
.text-container {
    max-width: 958px;
    margin-left: auto;
    margin-right: auto;
}

.padding0 {padding: 0px;}
.overflow-auto {overflow: auto;}
.break2 {margin: 2px 0;}
.break5 {margin: 5px 0;}
.break10 {margin: 10px 0;}
.break15 {margin: 15px 0;}
.float-right{float:right}
.float-left{float:left}
.margin-0-auto{margin: 0 auto;}
.margin-clear {margin: 0 !important;}
.colorSpecjal {color: rgb(135, 27, 9);}
.position-relative{position: relative;}

/**
 * HEADER
 */
#my-main-header .nav {
    padding-right: 0;
}

#my-main-header .nav > li {
    /*border-right: solid 1px #e5e5e5;*/
    padding-left: 2px;
    padding-right: 2px;
}

#my-main-header .nav > li:last-of-type {
    border-right: none;
}

#my-main-header .navbar-default 
{
    border-top: 5px solid rgb(107, 97, 62);
    background-image: none !important;
    box-shadow: 0 1px 4px 0 #706643 !important;
    background-color: white;
    border-radius: 0px;
    font-size: 17px;
    width: 100%;
}
#my-main-header .navbar-brand {
    padding: 10px 15px;
}
#my-main-header .navbar-brand img { height: 60px; }
#my-main-header .social-icons {
    position: fixed;
    right: 1px;
    top: 90px;
    z-index: 57;
}

@media (max-width: 767px) {
    #my-main-header .social-icons {
        display: none;
    }
}

#my-main-header .social-icons > a {
    display: block;
    margin-bottom: 1px;
}

#my-main-header .navbar-default .navbar-width {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
#my-main-header .navbar-default .navbar-nav {
    margin-bottom: 9px;
    margin-top: 17px;
}
#my-main-header .navbar-default .navbar-text 
{
    color: #333333;
}
#my-main-header .navbar-default .navbar-nav > li > a 
{
    color: #333333;
    font-size: 19px;
}
#my-main-header .navbar-default .navbar-nav > li > a:hover,
#my-main-header .navbar-default .navbar-nav > li > a:focus {
    color: rgb(107, 97, 62);
    /*background-color: rgb(245, 245, 245);*/
}  
#my-main-header .navbar-default .navbar-nav > .active > a,
#my-main-header .navbar-default .navbar-nav > .active > a:hover,
#my-main-header .navbar-default .navbar-nav > .active > a:focus {
    color: rgb(107, 97, 62);
    background-color: #e7e7e7;
}
#my-main-header .navbar-default .navbar-nav > .open > a, 
#my-main-header .navbar-default .navbar-nav > .open > a:hover, 
#my-main-header .navbar-default .navbar-nav > .open > a:focus {
    background-color: white;
}
#my-main-header .nav>li>a 
{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 13px;
}
#my-main-header .navbar-right .dropdown-menu {left: -25%}
#my-main-header .dropdown-menu {
	border: none;
	box-shadow: none;
	background-color: white;
    text-align: center;
    width: 100%;
}
@media (max-width: 950px) 
{
    #my-main-header .navbar-fixed-top
    {
        position: static;
    }
}

@media (min-width: 951px) 
{
    #my-main-header-spacer {
        height: 87px;
    }
}
/**
 * END - HEADER
 */
/* FOTTER */
.main-footer {background-color: rgb(204, 204, 204) !important; padding-bottom: 15px;}
.main-footer .separator-heart {background-color: rgb(204, 204, 204) !important;}
.main-footer .main-tabs {text-align: center; }
.main-footer .main-tabs a {color: rgb(130,130,130);}
.main-footer .main-tabs .tab{padding: 0 20px}
.main-footer .main-tabs .tab2{padding: 0 5px}
/* END - FOTTER */
 
/* buttons */
.btn-search,
.btn-search:active 
{
    /*
    border-color: rgb(135, 27, 9);
    */
    border: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 1px;
    
    width: 99%;
    color: white;
    
    background: url(/bundles/uttindex/images/search-btn-part.png) no-repeat scroll 0px 0px rgb(135, 27, 9);
    background-position:right center;
    background-size: contain;
    padding-left: 12px;
    padding-right: 40px;
}
.btn-search:focus, 
.btn-search:active, 
.btn-search:hover {
    color: rgb(88, 18, 6);
}

.btn-next,
.btn-next:active 
{
    /*
    border-color: rgb(135, 27, 9);
    */
    border: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 1px;
    
    width: 100%;
    color: white;
    
    background: url(/bundles/uttindex/images/next-btn-part.png) no-repeat scroll 0px 0px rgb(135, 27, 9);
    background-position:right center;
    background-size: contain;
    padding-left: 12px;
    padding-right: 40px;
}
.btn-next:focus, 
.btn-next:active, 
.btn-next:hover {
    color: rgb(88, 18, 6);
}


.btn-save,
.btn-save:active 
{
    /*
    border-color: rgb(135, 27, 9);
    */
    border: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 1px;
    
    width: 100%;
    color: white;
    
    background: url(/bundles/uttindex/images/save-btn-part.png) no-repeat scroll 0px 0px rgb(135, 27, 9);
    background-position:right center;
    background-size: contain;
    padding-left: 12px;
    padding-right: 40px;
}
.btn-save:focus, 
.btn-save:active, 
.btn-save:hover {
    color: rgb(88, 18, 6);
}


.btn-fb,
.btn-fb:active 
{
    /*
    border-color: rgb(135, 27, 9);
    */
    border: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 1px;
    
    width: 100%;
    color: white;
    
    background: url(/bundles/uttindex/images/fb-btn-part.png) no-repeat scroll 0px 0px rgb(135, 27, 9);
    background-position:right center;
    background-size: contain;
    padding-left: 12px;
    padding-right: 40px;
}
.btn-fb:focus, 
.btn-fb:active, 
.btn-fb:hover {
    color: rgb(88, 18, 6);
}

.btn-main-page,
.btn-main-page:active 
{
    border: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 1px;
    
    background-color: rgb(135, 27, 9);
    width: 100%;
    color: white;
    
    padding-left: 12px;
    padding-right: 12px;
}
.btn-main-page:focus,
.btn-main-page:active, 
.btn-main-page:hover {
    color: rgb(88, 18, 6);
}
/* END - buttons */
 
 /* backgrounds icons */
select.background-people-icon {
    background: url(/bundles/uttindex/images/people-icon2a.png) no-repeat scroll 0px 0px rgb(255, 255, 255);
    background-position: right 30px center;
    background-size: contain;
}
input.background-calendar-icon {
    background: url(/bundles/uttindex/images/calendar-icon.png) no-repeat scroll 0px 0px rgb(255, 255, 255);
    background-position: right center;
    background-size: contain;
}

.background-heart-branch 
{
    padding: 5px 20px 4px 60px;
    margin: 0 0 20px;
    background: url(/bundles/uttindex/images/logos/branch-logo-1.png) no-repeat scroll 0px 0px;
    background-position: left 15px center;
    min-height: 60px;
}
.background-heart-branch-contain
{
    padding: 5px 20px 4px 50px;
    margin: 0 0 20px;
    background: url(/bundles/uttindex/images/logos/branch-logo-1.png) no-repeat scroll 0px 0px;
    background-position: left 15px center;
    /*background-size: contain;
    min-height: 60px;*/
}

.background-heart-branch-contain2 .img {
    float: left;
    background: url(/bundles/uttindex/images/logos/branch-logo-2.png) no-repeat scroll 0px 0px;
    background-position: center;
    background-size: contain;
    height: 54px;
    width: 80px;
}
.background-heart-branch-contain2 .text {
    margin-left: 80px;
}


.background-color-white {background-color: white !important;}
.background-color-lightGray {background-color: rgb(238, 238, 238) !important;}
.background-color-strongGray {background-color: rgb(204, 204, 204) !important;}

/* borders */
.separate-border-1 {
    border: 1px solid rgb(107, 97, 62);
    margin: 0 15px;
    min-height: 1px;
}
.separate-border-2 {
    background: url(/bundles/uttindex/images/border/border-separate1.png) repeat-x scroll 0px 0px;
    background-position: bottom;
    margin: 0 15px;
    min-height: 1px;
}
/* END - backgrounds icons */

/* SEPARATORS */
.separator-heart 
{
    margin: 10px 0 0 0;
    width: 100%;
    border-top: 5px solid rgb(107, 97, 62);
    
    background: url(/bundles/uttindex/images/heart.png) no-repeat scroll 0px 0px rgb(235, 235, 235);
    background-position: center;
    height: 60px;
}

.separator-heart-2 {z-index: 56; position: relative;margin-top: 53px;}
.separator-heart-2 .img
{
    background: url(/bundles/uttindex/images/logos/separator-heart.png) no-repeat 0px 0px;
    height: 84px;
    position: absolute;
    top: 0;
    margin-top: -30px;
    left: 50%;
    margin-left: -39px;
    width: 78px;
}
.separator-heart-2 .background {
    height: 54px; 
    margin-top: -54px;
    width:100%;
    
    background-color: rgb(238, 238, 238);
}
/* END - SEPARATORS */

/* slider directions */
.set-controls-direction-large .bx-wrapper .bx-controls-direction a {
    background-color: rgba(0, 0, 0, 0.5);
    outline: 0 none;
    position: absolute;
    text-indent: -9999px;
    z-index: 53;
    display: block;
    height: 50px;
    margin: -30px 15px 0;
    top: 50%;
    width: 60px;
    border-radius: 3px;
}
@media (max-width: 1280px) 
{
    .set-controls-direction-large .bx-wrapper .bx-controls-direction a
    {
        width: 10%;
    }
}

@media (min-width: 1281px) 
{
    .set-controls-direction-large .bx-wrapper .bx-controls-direction a 
    {
        width: 60px;
    }
}
.set-controls-direction-large .bx-wrapper .bx-controls-direction a.bx-prev {
    left: 0;
    background: url(/bundles/uttindex/bxslider/images/control-left-arrow.png) no-repeat scroll 0 0px rgba(0, 0, 0, 0.1);
    background-position: center center;
}
.set-controls-direction-large .bx-wrapper .bx-controls-direction a.bx-prev:hover {
    left: 0;
    background: url(/bundles/uttindex/bxslider/images/control-left-arrow.png) no-repeat scroll 0 0px rgba(0, 0, 0, 0.5);
    background-position: center center;
}
.set-controls-direction-large .bx-wrapper .bx-controls-direction a.bx-next {
    right: 0;
    background: url(/bundles/uttindex/bxslider/images/control-right-arrow.png) no-repeat scroll 0 0px rgba(0, 0, 0, 0.1);
    background-position: center center;
}
.set-controls-direction-large .bx-wrapper .bx-controls-direction a.bx-next:hover {
    right: 0;
    background: url(/bundles/uttindex/bxslider/images/control-right-arrow.png) no-repeat scroll 0 0px rgba(0, 0, 0, 0.5);
    background-position: center center;
}

.set-controls-direction-arrows-board-horizontal .bx-wrapper .bx-controls-direction a {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    outline: 0 none;
    position: absolute;
    text-indent: -9999px;
    top: 0;
    z-index: 53;
    margin-top: 0;
}
.set-controls-direction-arrows-board-horizontal .bx-wrapper .bx-controls-direction a.bx-prev {
    left: -15px;
    background: url(/bundles/uttindex/bxslider/images/my-arrows-broad.png) no-repeat 0 0px;
    width: 13px;
    height: 85px;
    margin-top: -43px;
    top: 50%;
}
.set-controls-direction-arrows-board-horizontal .bx-wrapper .bx-controls-direction a.bx-next {
    right: -14px;
    background: url(/bundles/uttindex/bxslider/images/my-arrows-broad.png) no-repeat -13px 0px;
    width: 13px;
    height: 85px;
    margin-top: -43px;
    top: 50%;
}


.set-controls-direction-arrows-board-vertical .bx-wrapper .bx-controls-direction a {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    outline: 0 none;
    position: absolute;
    text-indent: -9999px;
    top: 0;
    z-index: 53;
    margin-top: 0;
}
.set-controls-direction-arrows-board-vertical .bx-wrapper .bx-controls-direction a.bx-prev {
    background: url(/bundles/uttindex/bxslider/images/my-arrows-broad.png) no-repeat 0 -85px;
    width: 85px;
    left: 50%;
    margin-left: -43px;
    margin-top: -15px;
    top: 0;
    height: 13px;
}
.set-controls-direction-arrows-board-vertical .bx-wrapper .bx-controls-direction a.bx-next {
    background: url(/bundles/uttindex/bxslider/images/my-arrows-broad.png) no-repeat -85px -85px;
    width: 85px;
    height: 13px;
    margin-left: -43px;
    top: 100%;
    /*margin-top: -25px;*/
    left: 50%;
}
/* END - slider directions */

/* sliders hover */
.bx-wrapper .bx-viewport .position-relative .onHover 
{
    background-color: rgba(135, 27, 9, 0.80);
    position: absolute;
    height: 100%;
    width: 100%;
    color: white;
    display: none;
    cursor: pointer;
}
.bx-wrapper .bx-viewport .position-relative:hover .onHover {display: block;}
.bx-wrapper .bx-viewport .onHover div 
{
    padding: 10px 15px;
    position: absolute;
    bottom: 0;
}.bx-wrapper .bx-viewport .onHover a {
    color: white;
 }

/* END - sliders hover */

#estate-short-list-background-fixed {
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 61;
}

@media (max-width: 767px) {
    #estate-short-list-background-fixed {
        display: none;
    }
}

#estate-short-list-background-fixed .hide-show 
{
    cursor: pointer;
    background-color: rgb(88, 18, 6);
    width: 100px;
}
#estate-short-list-background-fixed .hide-show .img-handler {
    padding-left: 10px; 
    padding-right: 10px; 
    float:left; 
    background-color: rgb(135, 27, 9);
}
#estate-short-list-background-fixed .hide-show .img-handler .img-hide {
    background: url(/bundles/uttindex/images/short-list-arrows.png) no-repeat scroll 0px 0px;
    background-position: left center;
    width: 10px;
}
#estate-short-list-background-fixed .hide-show .img-handler .img-show {
    background: url(/bundles/uttindex/images/short-list-arrows.png) no-repeat scroll 0px 0px;
    background-position: right center;
    width: 10px;
}
#estate-short-list-background-fixed .hide-show .text {text-align: center; color: white;}
#estate-short-list-background-fixed .background {background-color: rgb(51, 51, 51); height: 45px; color: white}
#estate-short-list-background-fixed .background div {margin-top: 15px;}
#estate-short-list-background-fixed .more{cursor: pointer; background-color:rgb(135, 27, 9); width: 100px; float:left; text-align:center;}

#estate-short-list-container {
    text-align: center;
    position: fixed;
    bottom: 0px;
    width: 51%;
    margin-left: 25%;
    z-index: 61;
    height: 85px;
}
#estate-short-list-container .estateShortListItem 
{
    float: left;
    padding: 5px;
    margin: 2px;
    margin-bottom: 5px;
    background-color: white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}

#estate-short-list-container .estateShortListItem span {
    position: absolute;
    top: 2px;
    right: 2px;
    color: red;
    font-weight: bold;
    background: white;
    padding: 2px;
    font-size: 13px;
    line-height: 13px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

#sync-favourites {
    cursor: pointer;
}

input.ng-dirty.ng-invalid {
    border: 1px solid red;
}
input.ng-dirty.ng-valid {
    border: 1px solid green;
}

.font19 {
    font-size: 19px !important;
}

/**

    Popups

*/

#newsletterPopupAlertBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 101;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

#latestVisitsAlert,
#latestReservationDateAlert {
    position: fixed;
    right: 50px;
    top: 150px;
    width: 200px;
    z-index: 100;
    display: none;
    background: #871b09;
    border: solid 1px #4a1207;
    color: white;
}
#latestReservationDateAlert {
    top: 270px;
}
#newsletterPopupAlert {
    /*position: fixed;
    right: 50px;
    top: 150px;
    width: 200px;
    z-index: 101;
    display: none;
    background: #871b09;
    border: solid 1px #4a1207;
    color: white;*/

    background: #871b09;
    border: 1px solid #4a1207;
    color: #000000;
    display: none;
    margin: 150px auto auto;
    max-width: 500px;
    min-width: 250px;
    width: 50%;
}
#newsletterPopupAlert a{
    color: white;
    font-weight: bold;
}

#newsletterPopupAlert .contentBox {
    background: #ffffff; /*#f7d2ca none repeat scroll 0 0;*/
    border: 1px solid #691507;
    padding: 15px;
    text-align: center;
}

#newsletterPopupAlert .newsletterPopupClose {
    font-size: 11px;
    padding: 2px 10px;
    width: auto;
}

#newsletterPopupAlert .alert-head {
    text-align: left;
    overflow: auto;
    margin-top: 10px;
}

#newsletterPopupAlert .alert-head > img {
    float: left;
    margin: 0 10px 10px;
    width: 70px;
}

.donation-persuasion {
    background-color: #d1c3ad;
    background-image: url("/images/charity.jpg");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 95% auto;
    border: 1px solid #ddd;
    padding: 15px;
}