
#latestVisitsAlert {
    position: fixed;
    right: 50px;
    top: 150px;
    width: 200px;
    z-index: 100;
    display: none;
    background: #871b09;
    border: solid 1px #4a1207;
    color: white;
}

.header-top {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.9px
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 131px;
    height: 131px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background: #fff;
    border-radius: 50%;
    padding-bottom: 15px;
}

.no-padding {
    padding: 0;
}

.fixed.header .header__sign-in a {
    color: #5A5C0F;
    font-weight: 800;
    letter-spacing: 0.8px;
}

.header-top__tel {
    font-size: 23px;
    margin: 0 21px 0 3px;
}

.header-top.dark {
    background-color: #5A5C0F;
    font-size: 18px;
}
.dark-translucent-bg::after {
    background-color: rgba(0, 0, 0, 0.25);
}
#header-top-second a {
    color: white;
}
.text-muted {
    color: #ccc;
}
.text-white {
    color: #fff;
}
.banner.banner-big-height {
    padding-top: 60px;
}
.form-control[readonly] {
    opacity: 1;
}



/*==AUTOCOMPLETE WIDGET==*/
#ui-id-1 {
    z-index: 9999;
    //width: auto !important;
}

.ui-menu-item {
    padding: 0 5px;
}

.ui-menu .ui-menu-item {
    list-style-image: none !important;
    background: #fff !important;
}

.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 200px;
    padding: 5px 0;
    margin: 0 0 10px 25px;
    list-style: none;
    background-color: #ffffff;
    background: #fff !important;
    border-radius: 0;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    border: 0;
    color: #777777;
}

@media(max-width: 480px) {
    .ui-autocomplete {
        max-height: 350px;
        overflow-y: scroll;
    }
}

.subtitle-hidden {
    visibility: hidden;
    position: absolute;
}

.subtitle-info {
    padding-left: 30px;
}

.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 9px 15px;
    clear: both;
    font-weight: normal;
    color: #939393;
    white-space: nowrap;
    text-decoration: none;
    line-height: 1rem;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, .ui-state-active.ui-button:hover {
    text-decoration: none;
    border-radius: 0px;
    background-image: none;
    cursor: pointer;
    font-weight: bold;
    background: #fff;
    color: #939393;
    border: 0;
    transition: all 0.2s;
}

.ac__item {
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    padding: 7px 0;
}

.ac__item:hover, .ac__item:active, .ac__item:focus {
    background: rgba(0, 0, 0, 0.03);
}

.ac__item p {
    font-size: 14px;
    line-height: 16px;
    color: #939393;
    font-weight: normal;
}

.ac__title {
    font-size: 15px;
    font-weight: normal;
    line-height: 16px;
    color: #939393;;
    text-decoration: none;
    padding: 0 10px;

}

@media (max-width: 768px) {
    .ac__item {
        max-width: 270px;
    }
}

.search__container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    height: 60px;
}

.search__estate-name {
    position: relative;
    left: 0;
    border-top-left-radius : 4px;
    border-bottom-left-radius : 4px;
    width: 210px;
    max-width: 100%;
}

.search__date {
    position: relative;
    left: 0;
    border-top-left-radius : 4px;
    border-bottom-left-radius : 4px;
    width: 200px;
    max-width: 100%;
}

.search__date input {
    background: #fff url(../bundles/uttindex/images/chevron-down-solid.svg) no-repeat center right 15px;
}

.search__select {
    position: relative;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 23px;
    letter-spacing: 0.85px;
    background: #FFFFFF;
    border: 1px solid #D6D6D6;
    box-sizing: border-box;
    padding: 17.5px 17px;
    outline: none;
    margin-right: 0;
    width: 100%;
    max-width: 288px;
    color: #939393;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
}

.search__location {
    position: relative;
    left: 0;
    border-top-left-radius : 4px;
    border-bottom-left-radius : 4px;
    width: 290px;
    max-width: 100%;
    background: #fff url('../bundles/uttindex/images/chevron-down-solid.svg') no-repeat center right 15px;
    text-align: left;
}

.search__guests {
    border-radius: 0;
    border-top-right-radius : 4px;
    border-bottom-right-radius : 4px;
    width: 188px;
    max-width: 100%;
    background: #fff url('../bundles/uttindex/images/chevron-down-solid.svg') no-repeat center right 15px;
}

.search__select-wrapper {
    position: relative;
}

.search__select-arrow {
    content: "\f078";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    width: 10px;
    height: 10px;
    position: absolute;
    right: 15px;
    top: 22px;
    color: #3E3D3D;
}

.search__submit {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.85px;
    color: #FFFFFF;
    background: #818412;
    box-shadow: 0px 2px 21px rgba(129, 132, 18, 0.302448);
    border-radius: 4px;
    border: 1px solid #FFFFFF;
    padding: 17.5px 18px;
    outline: none;
    margin-left: 10px;
}


.search__select-wrapper:hover .search__menu {
    display: block;
}

.search__menu {
    position: absolute;
    display: none;
    top: 60px;
    left: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    -webkit-box-shadow: 0 6px 24px rgba(0, 0, 0, 0.06);
    box-shadow: 0 6px 24px rgba(0, 0, 0, 0.06);
    border: 1px solid #f1f1f1;
    z-index: 2;
}

.search__menu-item {
    position: relative;
    background: #fff;
    list-style: none;
    width: 100%;

}

.search__menu-item a {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    padding: 10px 20px;
    font-size: 14px;
    color: #333;
    border-bottom: 1px solid #f7f7f7;
    width: 100%;
    text-decoration: none;
    display: block;
}

.search__menu-item a:hover {
    background-color: #fcfcfc;
    color: #681313;
    border-color: #f7f7f7;
    text-decoration: none;
}

.search__has-submenu:hover .search__submenu {
    display: block;
}

.search__submenu {
    position: absolute;
    display: none;
    right: -190px;
    top: 0;
    padding: 0;
    margin: 0;
    width: 190px;
    -webkit-box-shadow: 0 6px 24px rgba(0, 0, 0, 0.06);
    box-shadow: 0 6px 24px rgba(0, 0, 0, 0.06);
    border: 1px solid #f1f1f1;
}

.search__has-submenu:after {
    content: "\f078";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
    color: #3E3D3D;
    transform: rotate(-90deg);
}

.search__submenu-item {
    position: relative;
    list-style: none;
    background: #fff;
    width: 100%;
}

.search__submenu-item a {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    padding: 10px 20px;
    font-size: 14px;
    color: #333;
    border-bottom: 1px solid #f7f7f7;
    width: 100%;
    text-decoration: none;
    display: block;
}

.search__submenu-item a:hover {
    background-color: #fcfcfc;
    color: #681313;
    border-color: #f7f7f7;
    text-decoration: none;
}

.banner-top {
    padding-top: 0 !important;
}

.banner-top__mask-icon {
    position: absolute;
    right: 100px;
    bottom: 80px;
    float: right;
}

.banner-top__mask {
    position: absolute;
    bottom: -33px;
    width: 100%;
}

.banner-bottom {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 615px;
}

.banner-bottom__link {
    position: absolute;
    width: inherit;
    height: calc(100% - 50px);
    top: 0;
    left: 0;
    z-index: 20;
}

.banner-bottom__header {
    font-family: "Cormorant", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 33.6px;
    line-height: 46px;
    letter-spacing: 1.68px;
    color: #3E3D3D;
    z-index: 10;
    margin: 45px 0 0;
}

.banner-bottom__chevron {
    font-size: 21px !important;
    color: #3E3D3D;
}

.banner-bottom__place {
    position: absolute;
    right: 0;
    top: 20px;
    background: rgba(255, 255, 255, 0.8);
    mix-blend-mode: normal;
    border-radius: 3.2px;
    padding: 2px 10px 5px;
    z-index: 10;
}

.banner-bottom__image {
    width: 100%;
    height: auto;
}

.banner-bottom__place-icon {
    display: inline-block;
    margin-right: 3px;
}

.banner-bottom__place-text, .banner-bottom__place-link, .banner-bottom__place-link:hover, .banner-bottom__place-link:active {
    font-family: "Open Sans", sans-serif;
    display: inline-block;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.55px;
    color: #3E3D3D;
    margin: 0;
}

.banner-bottom__mask-icon {
    position: absolute;
    right: 100px;
    bottom: 35px;
    float: right;
}

.banner-bottom__mask {
    position: absolute;
    bottom: -1px;
    width: 100%;
}

.clients {
    padding: 10px 0 0;
}

.partners__header {
    font-family: "Cormorant", sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    letter-spacing: 0.76px;
    color: #3E3D3D;
    margin: 0 0 45px;
    padding: 0 33px;
}

.partners__image {
    margin: 10px auto 43px auto;
}

.partners__divider {
    width: 100%;
    height: 1px;
    background: #818412;
    margin: 30px 0 0;
}

.partners__author {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: 14px;
    position: relative;
    top: -3px;
    margin-left: 5px;
}

.features {
    background: #FFF;
    padding: 50px 0 40px;
}

.features__text {
    font-family: "Cormorant", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 1.25px;
    color: #3E3D3D;
    padding: 0 15px;
}

.features__image {
    margin: 5px 0 28px;
    text-align: center;
}

.features__image img {
    display: inline-block;
}

.cat-13 {
    display: none;
}

.holiday {
    background: #FAFAFA;
    padding: 62px 0 23px;
}

.holiday__header {
    font-family: "Cormorant", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 58.32px;
    line-height: 70px;
    letter-spacing: 2.556px;
    color: #3E3D3D;
    margin: 0;
}

.holiday__text {
    font-family: "Cormorant", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 53px;
    letter-spacing: 0.76px;
    color: #3E3D3D;
}

.holiday__content {
    margin-bottom: 20px;
}

.link__green {
    color: #5A5C0F;
    margin: 0;
    padding: 0;
}

.holiday .image-box {
    margin-bottom: 30px;
}

/*Newsletter Home section*/
.newsletter {
    position: relative;
    background: #FAFAFA;
    padding: 45px 0 44px;
}

.newsletter__columns {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-justify-content: space-between;
}

.newsletter__header {
    font-family: "Cormorant", sans-serif;
    font-weight: 600;
    font-size: 25px;
    line-height: 46px;
    letter-spacing: 1.25px;
    color: #3E3D3D;
    margin: 0;
}

.newsletter__text {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.8px;
    color: #3E3D3D;
    margin: 0;
}

.newsletter__form {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex: 40% 0 0;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    margin: 5px 0 0 0;
}

.newsletter__form input[type="text"] {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.8px;
    background: #FFFFFF;
    border: 1px solid #D6D6D6;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 10px 17px;
    outline: none;
    margin-right: 10px;
    width: 100%;
    max-width: 288px;
    color: #939393;
    box-shadow: none;
    height: auto;
}

.newsletter__sign-up {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.8px;
    color: #FFFFFF;
    background: #818412;
    box-shadow: 0px 2px 21px rgba(129, 132, 18, 0.302448);
    border-radius: 4px;
    padding: 19px 36px;
    border: 0;
    outline: none;
}

.overlay-container .overlay-text {
    color: #fff;
    left: 0;
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%
}

.overlay-container .overlay-text h3 {
    font-family: "Cormorant", sans-serif;
    background: #828360;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 58px;
    letter-spacing: 2px;
    color: #FFFFFF;
    padding: 20px 0;
    margin: 0;
}

.overlay-container .overlay-text h3:first-letter {
    text-transform: uppercase;
}

.search-filters-feature input {

}
.search-filters-feature label {
    vertical-align: middle;
    cursor: pointer;
}
.search-filters {

}
.default-bg .form-control {
    background-color: rgba(255, 255, 255, 0.33);
}
.default-bg {
    background-color: #681313;
}
.search-filters .radio label,
.search-filters .checkbox label,
.quick-search-form .radio label
{
    background: white none repeat scroll 0 0;
    padding: 5px 15px 5px 30px;
    width: 100%;
    border: solid 1px white;
}
.quick-search-form .radio label {
    color: black !important;
}
.search-filters .radio label:hover,
.search-filters .checkbox label:hover,
.quick-search-form .radio label:hover
{
    border: solid 1px #5A5C0F;
}
.property-page-nav {
    margin-bottom: 10px;
}
.property-page-nav .btn {
    border-width: 2px;
    margin: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 3px;
}

.pricingCalendar .month {
    min-width: 259px !important;
}

.dark .social-links li a {
    border: 0;
}

.light-gray-bg {
    background-color: #f2f2f2;
}
h1, h2, h3, h4, h5, h6 {
    letter-spacing: 1px;
}
.dark-bg {
    background-color: #444;
}
.pv-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}
.btn-default-transparent {
    color: black;
}
.dl-new-booking {
    padding: 0 40px;
}
.dl-new-booking dt {
    text-align: left;
    font-weight: normal;
    max-width: 150px;
}
.dl-new-booking dd {
    text-align: right;
}
.utt-color {
    color: #871b09;
}
{##reservationAppHandler#} .total-price {
                               font-size: 16px;
                           }
{##reservationAppHandler#} .total-price span {
                               font-size: 30px;
                           }
.quick-search-form select {
    background-color: white !important;
    color: black !important;
}
.quick-search-form .form-control {
    background-color: white !important;
    color: black !important;
}
.search-results-loading {
    background-color: rgba(0, 0, 0, 0.01);
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1;
    display: none;
    margin: 0 -20px;
}
.search-results-loading.loading {
    display: block;
}
.utt-gray-bg {
    /*background-color: #45452e;*/
    background-color: #adb014;
    border-top: 0px solid #45452e;
    border-bottom: 0px solid #45452e;
}
.utt-gray-bg h4,
.utt-gray-bg label.control-label {
    color: white;
}

input.ng-dirty.ng-invalid {
    border: 1px solid red;
}
input.ng-dirty.ng-valid {
    border: 1px solid green;
}
.product.price {
    color: #5A5C0F;
    font-size: 24px;
    font-weight: 300;
}
.main-navigation.with-dropdown-buttons .navbar-default .navbar-collapse {
    padding-right: 0;
}
.image-box .body {
    border-top: 1px solid white;
}
.no-padding {
    padding: 0;
}
.main-container {
    padding: 25px 0;
}
@media (max-width: 991px) {
    .sidebar {
        margin-top: 10px;
    }
    .search-filters,
    .quick-search-form {
        display: none;
    }

    .search-filters-toggle,
    .quick-search-form-toggle {
        display: inline-block;
    }
}
@media (min-width: 991px) {
    .search-filters-toggle,
    .quick-search-form-toggle {
        display: none;
    }
    .search-filters,
    .quick-search-form {
        display: block !important;
    }
}

@media (max-width: 767px) {
    .no-padding{
        padding: 0 15px 0 15px;
    }

    .header-right {
        float: none;
    }
}

.menu-search {
    background-image: url("/images/menu/search.png");
    height: 15px;
    width: 63px;
    margin-top: 3px;
}
.menu-blog {
    background-image: url("/images/menu/blog.png");
    height: 15px;
    width: 41px;
    margin-top: 3px;
}
.menu-newsletter {
    background-image: url("/images/menu/newsletter.png");
    height: 15px;
    width: 95px;
    margin-top: 3px;
}
.menu-cottages {
    background-image: url("/images/menu/cottages.png");
    height: 15px;
    width: 79px;
    margin-top: 3px;
}
.menu-all-av {
    background-image: url("/images/menu/all-av.png");
    height: 15px;
    width: 136px;
    margin-top: 3px;
}
.menu-about {
    background-image: url("/images/menu/about.png");
    height: 15px;
    width: 54px;
    margin-top: 3px;
}
.menu-vouchers {
    background-image: url("/images/menu/vouchers.png");
    height: 15px;
    width: 86px;
    margin-top: 3px;
}
.menu-my-account {
    background-image: url("/images/menu/my-account.png");
    height: 15px;
    width: 112px;
    margin-top: 3px;
}
.menu-my-utt {
    background-image: url("/images/menu/my-utt.png");
    height: 15px;
    width: 58px;
    margin-top: 3px;
}
a:hover .menu-search,
a:hover .menu-blog,
a:hover .menu-newsletter,
a:hover .menu-cottages,
a:hover .menu-all-av,
a:hover .menu-about,
a:hover .menu-vouchers,
a:hover .menu-my-account,
a:hover .menu-my-utt {
    background-position: 0 -100%;
}

.general-nav > li > a {
    font-family: 'Open Sans', sans-serif;
    color: #3E3D3D;
    line-height: 22px;
    text-transform: none;
    font-size: 16px;
    font-weight: 600;
}

.general-nav > li > a:hover {
    color: #5A5C0F;
}

.general-nav .fa.fa-external-link {
    line-height: inherit;
}

.navbar-default .navbar-nav > li > a {
    font-size: 16px;
    letter-spacing: 0.8px;
    padding: 22px 5px;
}

@media (min-width: 800px) {
    #search-result-handler.cottage-of-the-week .single-result {
        width: 50%;
    }
}
@media (min-width: 550px) and (max-width: 799px) {
    #search-result-handler.cottage-of-the-week .single-result {
        width: 50%;
    }
}

h1 {
    font-size: 26px;
}

h2 {
    font-size: 24px;
    text-transform: none;
}

h3{
    font-size: 19px;
}

.breadcrumb {
    padding: 8px 15px 50px 259px;
}

.features__slider-mobile {
    display: none;
}

.features .bx-wrapper {
    display: none;
}

@media (max-width: 1820px) {
    .banner-top__mask-icon {
        bottom: 70px;
    }

    .banner-bottom__mask-icon {
        bottom: 15px;
    }

    .footer__icon-mask {
        bottom: 90px;
    }
}

@media (max-width: 1610px) {
    .banner-top__mask-icon {
        bottom: 58px;
    }

    .footer__icon-mask {
        bottom: 65px;
    }
}

@media (max-width: 1440px) {
    .banner-top__mask-icon {
        bottom: 48px;
        right: 75px;
    }

    .banner-bottom__mask-icon {
        right: 75px;
    }

    .footer__icon-mask {
        bottom: 58px;
        right: 75px;
    }

    .search__submit {
        padding: 10px 35px;
    }

    .search__location {
        width: 215px;
    }

    .search__select {
        max-width: 98%;
        padding: 10px;
        font-size: 14px;
    }

    .search__menu {
        top: 46px;
    }
}

@media (max-width: 1210px) {
    .banner-bottom__mask-icon {
        position: relative;
        right: 0;
        top: 50px;
    }

    .banner-top__mask-icon {
        position: relative;
        right: 0;
        top: 23px;
    }

    .footer__icon-mask {
        position: relative;
        top: 28px;
        right: 0;
    }

    .overlay-container .overlay-text h3 {
        font-size: 32px;
        line-height: 37px;
        letter-spacing: 1.6px;
    }

    .overlay-container {
        padding-bottom: 75px;
    }

    .overlay-bottom, .overlay-top {
        padding: 80px 15px 0;
    }

}

@media (max-width: 1050px) {
    .footer__icon-mask {
        top: 45px;
    }

    .subfooter {
        padding :15px 0 150px;
    }

    .newsletter__form {
        flex: 50% 0 0;
    }

    .banner-bottom {
        height: 350px;
    }

    .banner.banner-big-height {
        min-height: 350px;
    }

    .banner-bottom__link {
        height: calc(100% - 10px);
    }

    .search__select{
        width: 200px !important;
    }

    .search__submit {
        margin-top: 10px;
        line-height: 15px;
    }
}

@media (max-width: 991px) {
    .logo {
        top: 36px;
        width: 110px;
        height: 110px;
    }

    .header-top {
        font-size: 16.2px;
        line-height: 22px;
        letter-spacing: 1.035px;
        color: #FFFFFF;
    }

    .header-top__tel {
        margin: 0 0 0 3px;
        font-size: 20.7px;
        line-height: 22px;
        letter-spacing: 1.035px;
        color: #FFFFFF;
    }

    .holiday__header {
        font-size: 35px;
        line-height: 54px;
        letter-spacing: 0.06px;
    }

    .holiday__text {
        font-size: 22px;
        line-height: 35px;
        letter-spacing: 0.76px;
    }

    .banner-bottom__header {
        font-size: 29.6px;
        line-height: 37px;
        letter-spacing: 1.48px;
    }

    .partners__header {
        font-size: 32px;
        line-height: 53px;
        text-align: center;
        letter-spacing: 0.675556px;
    }

    .newsletter__columns {
        display: block;
        padding: 0 15px;
    }

    .newsletter__form {
        justify-content: flex-start;
        -webkit-justify-content: flex-start;
        margin: 15px 0 0 0;
    }

    .footer-content .logo-footer {
        margin-top: 0;
    }

    .footer-content .list-icons {
        padding: 0 0 14px 82px;
    }

    .footer-content .social-links {
        margin: 5px 0;
    }

    #logo-footer {
        margin-bottom: 5px;
    }

    .breadcrumb {
        padding: 8px 15px 50px 120px;
    }

    .search__submit {
        line-height: 23px;
        width: 200px;
        margin: 5px;
    }

    .search__select {
        max-width: 100%;
        margin: 5px;
    }
}

@media (max-width: 767px) {
    .no-padding {
        padding: 0 15px 0 15px;
    }

    .header-right {
        float: none;
    }

    .navbar.navbar-default {
        border-color: transparent;
        background-color: transparent;
        margin: 0;
    }

    .banner-bottom__place {
        display: none;
    }

    .header-left {
        padding: 0;
    }

    .logo {
        top: 0;
    }

    .logo img {
        height: 59px !important;
    }

    .navbar-toggle {
        height: 25px;
        width: 35px;
        padding: 5px;
        cursor: pointer;
        z-index: 999;
        transition: opacity .25s ease;
        background: transparent;
        border: 0;
        margin: 8px 0;
    }

    .navbar-toggle[aria-expanded="true"] .top {
        transform: translateY(11px) translateX(0) rotate(45deg);
        background: #5A5C0F;
    }

    .navbar-toggle[aria-expanded="true"] .middle {
        opacity: 0;
        background: #5A5C0F;
    }

    .navbar-toggle[aria-expanded="true"] .bottom {
        transform: translateY(-11px) translateX(0) rotate(-45deg);
        background: #5A5C0F;
    }

    .navbar-toggle span {
        background: #5A5C0F;
        border: none;
        height: 5px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: all .35s ease;
        cursor: pointer;
        border-radius: 7px;
    }

    .navbar-toggle span:nth-of-type(2) {
        top: 11px;
    }

    .navbar-toggle span:nth-of-type(3) {
        top: 22px;
    }

    .search__location {
        width: 260px;
        border-radius: 4px;
        left: 0;
        max-width: 260px;
    }

    .search__select-wrapper {
        display: inline-block;
    }

    .search__guests {
        width: 260px;
        border-radius: 4px;
        max-width: 260px;
    }

    .search__submit {
        width: 260px;
        margin: 5px 0 0 0;
    }

    .search__date {
        display: inline-block;
        width: 260px;
        border-radius: 4px;
    }

    .search__select {
        max-width: 260px !important;
        border-radius: 4px;
        padding: 5px 10px;
        width: 260px !important;
        margin: 0;
    }

    .search__estate-name {
        display: inline-block;
        width: 260px;
    }

    .form-group {
        margin-bottom: 5px !important;
    }

    .search__container {
        height: 290px;
    }

    .banner.banner-big-height {
        min-height: 420px;
    }

    .holiday {
        padding: 35px 0 23px;
    }

    .banner-bottom__header {
        padding-right: 20px;
    }

    .banner-bottom {
        height: 420px;
    }

    .banner-bottom__mask-icon {
        top: 40px;
    }

    .partners__header {
        padding-top: 20px;
    }

    .features__slider-mobile {
        display: block;
    }

    .features .bx-wrapper {
        display: block;
    }

    .features .bx-wrapper .bx-viewport {
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: 0;
    }

    .features .bx-wrapper .bx-pager.bx-default-pager a:hover, .features .bx-wrapper .bx-pager.bx-default-pager a.active {
        background: #818412;
    }

    .features .bx-wrapper .bx-pager.bx-default-pager a {
        background: #D6D6D6;
    }

    .features__text {
        padding: 0 30px;
    }

    .newsletter__form {
        display: block;
    }

    .newsletter__form input[type="text"] {
        padding: 18px 17px;
        margin-bottom: 15px;
        width: 260px;
    }

    .newsletter__sign-up {
        width: 260px;
    }

    .newsletter__columns {
        width: 260px;
        margin: 0 auto;
        padding: 0;
    }

    .footer-content .logo-footer {
        text-align: center;
    }

    .footer-content .logo-footer img {
        display: inline-block;
    }

    .footer-content .list-icons {
        padding: 0 0 15px 0;
        width: 242px;
        margin: 0 auto;
    }

    .header__email-mobile {
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.9px;
        color: #3E3D3D;
        text-align: center;
        margin: 2px 0;

    }

    .header__social-links {
        padding: 0;
        margin: 0;
    }

    .header__social-links li {
        list-style: none;
        display: inline-block;
        margin: 28px 10px;
    }

    .header__social-links li a {
        color: #5A5C0F;
    }

    .header__social-links li i {
        font-size: 21px !important;
    }

    .navbar-nav {
        margin: 0;
    }

    .navbar-nav li:first-child a {
        padding-top: 90px !important;
    }

    .header__email-container {
        margin: 46px 0 20px;
    }

    .navbar-collapse {
        padding: 0;
    }

    .navbar-collapse {
        box-shadow: none;
        -webkit-box-shadow: none;
        border: 0;
        position: relative;
        top: -25px;
    }

    .navbar-default .navbar-nav>li>a {
        border-bottom: 0 !important;
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 19.2px;
        line-height: 27px;
        letter-spacing: 0.96px;
        color: #3E3D3D;
        padding: 17.5px 13px;
        display: inline-block;
    }

    .header-top:not(.banner) {
        padding: 9px 0;
    }

    .dropdown>a:before {
        top: 24px;
        right: 3px;
        color: #3E3D3D;
    }

    .search__location {
        left: 0;
    }

    .search__menu {
        left: 0;
        top: 35px;
    }
}

@media (max-width: 410px) {
    .overlay-container img {
        height: 228px;
    }
}
