/* 
    Document   : frontPage
    Created on : 2013-12-19, 00:06:07
    Author     : sbtm
    Description:
        Purpose of the stylesheet follows.
*/

/* FONTS */
#main-slider-handler .bx-wrapper .bx-caption div.utt-name {
    font-family: 'Open Sans', sans-serif;
    color: #861b09;
    line-height: 80%;
}
#main-slider-handler .bx-wrapper .bx-caption div.utt-subname {
    font-family: 'Open Sans', sans-serif;
    color: #6a623e;
}
/* END - FONTS */


#main-slider-handler {
    position: relative;
}

/* SEARCH FORM */
#main-slider-handler .navbar-form {padding: 0 10px 0 5px;}
#main-slider-handler .navbar-form button {width: 120px;}
#main-slider-handler .navbar-form .fields {margin-right: 135px;}

#main-slider-handler .slider-search-panel {
    bottom: 21%;
    right: 15%;
    position: absolute;
    z-index: 55;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid rgb(0, 0, 0);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
@media (min-width: 1240px) {
    #main-slider-handler .slider-search-panel {
        width: 890px;
    }
}
@media (min-width: 800px) and (max-width: 1239px) {
    #main-slider-handler .slider-search-panel {
        width: 70%;
    }
}
@media (max-width: 799px) {
    #main-slider-handler .slider-search-panel {
        display: none;
    }
}

#main-slider-handler .slider-search-panel .no-date-checkbox {
    color: #FFFFFF;
    font-size: 15px;
    line-height: 19px;
    vertical-align: 2px;
}
#main-slider-handler .slider-search-panel .form-control {
    padding: 6px 10px;
}
#main-slider-handler .slider-search-panel select.form-control {
    padding: 6px 5px;
}
#main-slider-handler .slider-search-panel .col-xs-1,
#main-slider-handler .slider-search-panel .col-xs-2,
#main-slider-handler .slider-search-panel .col-xs-3,
#main-slider-handler .slider-search-panel .col-xs-4,
#main-slider-handler .slider-search-panel .col-xs-5,
#main-slider-handler .slider-search-panel .col-xs-6,
#main-slider-handler .slider-search-panel .col-xs-12
{
    padding-right: 5px;
    padding-left: 5px;
}
#search-no-date {margin-top: 2px;}
/* END - SEARCH FORM */

#main-slider-handler .main-slider
{
    -webkit-padding-start: 0px;
    padding:0;
    margin:0;
}
#main-slider-handler .main-slider img
{
    margin:0 auto;
}

#main-slider-handler .bx-wrapper .bx-caption img {
    max-width: 66%;
    margin-bottom: 10px;
    margin-left: 0;
}

#main-slider-handler .main-slider li {
    display: none;
}

#main-slider-handler .main-slider li:first-child {
    display: list-item;
    list-style: none;
}

#main-slider-handler .bx-wrapper .bx-viewport {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: solid #fff 0px;
    background: #fff;
}
.bx-wrapper .bx-controls-auto {bottom: -15px;}

/* pager */
#main-slider-handler .bx-wrapper {margin-bottom: 0;}
#main-slider-handler .bx-wrapper .bx-pager, 
#main-slider-handler .bx-wrapper .bx-controls-auto {
    padding: 0px; 
    z-index: 55; 
    bottom: 35px;
    height: 20px;
}
#main-slider-handler .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
    width: 100%;
    text-align: center;
}

#main-slider-handler .bx-wrapper .bx-pager.bx-default-pager a:hover,
#main-slider-handler .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: url(/bundles/uttindex/bxslider/images/my-controls.png) no-repeat 0px 0px;
}

#main-slider-handler .bx-wrapper .bx-pager.bx-default-pager a {
    background: url(/bundles/uttindex/bxslider/images/my-controls.png) no-repeat -16px 0px;
    width: 16px;
    height: 16px;
}
/* END - pager */

/* MAIN caption */
#main-slider-handler .main-slider .bx-caption {
    background: none;
    top: 3%;
    left: 15%;
    width: auto;
}
#main-slider-handler .bx-wrapper .bx-caption div {
    background: none;/*rgba(135, 27, 9, 0.85);*/
}
#main-slider-handler .bx-wrapper .bx-caption div.utt-subname .specjal {
    color: rgb(135, 27, 9);
}
@media (max-width: 300px) {
    #main-slider-handler .main-slider .bx-caption {
        left: 3%;
    }
    #main-slider-handler .bx-wrapper .bx-caption img {
        max-width: 20%;
        margin-bottom: 5px;
    }
    #main-slider-handler .main-slider .bx-caption div.utt-name {
        font-size: 100%;
    }
    #main-slider-handler .main-slider .bx-caption div.utt-subname {
        font-size: 70%;
    }
    #main-slider-handler .bx-wrapper .bx-controls {
        display: none;
    }
}
@media (min-width: 301px) and (max-width: 550px) {
    #main-slider-handler .main-slider .bx-caption {
        left: 3%;
    }
    #main-slider-handler .bx-wrapper .bx-caption img {
        max-width: 20%;
        margin-bottom: 5px;
    }
    #main-slider-handler .main-slider .bx-caption div.utt-name {
        font-size: 120%;
    }
    #main-slider-handler .main-slider .bx-caption div.utt-subname {
        font-size: 100%;
    }
    #main-slider-handler .bx-wrapper .bx-controls {
        display: none;
    }
}
@media (min-width: 551px) and (max-width: 767px) {
    #main-slider-handler .main-slider .bx-caption {
        left: 3%;
    }
    #main-slider-handler .bx-wrapper .bx-caption img {
        max-width: 40%;
    }
    #main-slider-handler .main-slider .bx-caption div.utt-name {
        font-size: 170%;
    }
    #main-slider-handler .main-slider .bx-caption div.utt-subname {
        font-size: 140%;
    }
    #main-slider-handler .bx-wrapper .bx-controls {
        display: none;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    #main-slider-handler .bx-wrapper .bx-caption img {
        max-width: 40%;
    }
    #main-slider-handler .main-slider .bx-caption div.utt-name {
        font-size: 190%;
    }
    #main-slider-handler .main-slider .bx-caption div.utt-subname {
        font-size: 160%;
    }
}
@media (min-width: 992px) {
    #main-slider-handler .main-slider .bx-caption div.utt-name {
        font-size: 30px;
    }
    #main-slider-handler .main-slider .bx-caption div.utt-subname {
        font-size: 21px;
    }
}

/* ////////////////////////// */
/* END - caption */

@media (max-width: 640px)
{

}
@media (min-width: 920px)
{

}
@media (min-width: 860px) and (max-width: 919px) {

}
@media (min-width: 800px) and (max-width: 859px) {

}
@media (min-width: 735px) and (max-width: 799px) {

}
@media (min-width: 700px) and (max-width: 734px) {

}
@media (max-width: 699px) 
{

}
@media (min-width: 700px) 
{

}


.slider-recommended-head {/*height: 65px;*/}
.slider-recommended-head .tabs div.tab{
    margin: 0 0 20px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.slider-recommended-head .tabs .btn-back
{
    margin: 0px 20%; 
    text-align: center; 
    background-color: white;
    padding: 5px;
}
.slider-recommended-head .tabs div.no-background-color {}
.slider-recommended-head .tabs div.active {
    border-bottom: 6px solid rgb(135, 27, 9);
}
.slider-recommended-head .tabs div {
    cursor: pointer;
}

/* END - sliders */
.latest-newsletter {
    font-size: 12px;
    padding-left: 60px;
}
.latest-newsletter a {
    color: #871B09;
}
/*
.newsletterBox {
    margin: 0 0 20px;
}
.newsletterBox div.button {
    float: right;
    width: 100px;
}
.newsletterBox div.inputHandler {
    margin-right: 120px;
}
*/

.about-us-information-field .handler {
    padding: 10px;
}
.about-us-information-field .handler .title {
    font-size: 18px;
}
.about-us-information-field .handler .content{
    font-size: 13px;
}

@media (max-width: 399px){
    #social-widget-facebook {
        display: none;
    }
}

@media (max-width: 799px)
{
    #social-widget-facebook,
    #social-widget-twitter,
    #social-widget-pinterest {
        width: 100%;
        margin-bottom: 20px;
    }
}

.social-widget-header img {height: 30px;}

#social-widget-facebook .social-widget-content,
#social-widget-twitter .social-widget-content,
#social-widget-pinterest .social-widget-content {
    background-color: white; border: 1px solid #E8E8E8; border-radius: 5px;
    text-align: center;
}

#social-widget-facebook .social-widget-content .social-widget-content-loader,
#social-widget-twitter .social-widget-content .social-widget-content-loader,
#social-widget-pinterest .social-widget-content .social-widget-content-loader {
    margin: 10px;
}

#our-new-babies {
    text-align: center;
    margin-bottom: 20px;
}

#our-new-babies img {
    margin: 2px;
}