.padding-top-30 {padding-top: 30px}
#reservationManageAppHandler {padding-bottom: 50px;}






.estateTitle {overflow: hidden !important;}
.estateTitle .name {font-size: 23px; margin-bottom: 5px; /*line-height: 26px;*/}
.estateTitle .name a {color: inherit;}
.estateTitle .address {font-size: 20px; /*line-height: 20px;*/}
.estateTitle .buttons {margin-top: 10px; margin-bottom:10px;}
.estateTitle .buttons .shortlist {margin: 7px 12px; color: rgb(107, 97, 62); cursor: pointer;}

#reservation-edit .client-grade {width: 235px; margin: 0 auto; text-align: center;}
#reservation-edit .client-grade .detail-rate {overflow: auto;}
#reservation-edit .client-grade .detail-rate .value .checked {
    background: url(/bundles/uttestate/images/logos/rates-hearts.png) no-repeat 0px 0px;
    width: 19px;
    height: 22px;
    float: left;
    margin: 0 2px;
}
#reservation-edit .client-grade .detail-rate .value .no-checked {
    background: url(/bundles/uttestate/images/logos/rates-hearts.png) no-repeat -19px 0px;
    width: 19px;
    height: 22px;
    float: left;
    margin: 0 2px;
}

#reservation-edit .main-img-handler img { border: solid 2px #6b613e; margin-top: 10px; }
#reservation-edit .calendar-card {padding: 5px 10px; margin-top: 10px; }
#reservation-edit .calendar-card {border-right: 1px solid rgb(200, 200, 200);}
/*#reservation-edit .calendar-card .btn-xs { width: 24px; }*/
#reservation-edit .calendar-card:last-child { border-right: none; }
#reservation-edit .calendar-card .card{
    margin: 0 auto;
    width: 120px;
    background-color: white;
    border: 1px solid rgb(220, 220, 220);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    padding: 2px 0 10px 0;
}
#reservation-edit .calendar-card .card .date-day {font-size: 30px; font-weight: bold;}
#reservation-edit .calendar-card .card .date-year { font-size: 14px; }
#reservation-edit .calendar-card .card .date-month {font-size: 16px;}
#reservation-edit .calendar-card .card .day-of-week {font-size: 12px;}
#reservation-edit .calendar-card .card-time {color: gray; font-size: 11px; text-align: center;}

#reservation-edit .filterItem {
    background-color: white;
    border: 1px solid rgb(220, 220, 220);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
}
#reservation-edit .filterItem label { margin-bottom: 0px; }
#reservation-edit .filterItem > span { font-size: 16px; font-weight: bold; }
#reservation-edit .filterItem select { margin-top: 5px; }
#reservation-edit .filterItem,
#reservation-edit .userDataItem { overflow: auto; margin-top: 5px; }
#reservation-edit .filterItem button.btn-xs,
#reservation-edit .userDataItem button.btn-xs { float: right; width: 24px; }

#reservation-edit .res-summary { text-align: center; }
#reservation-edit .res-summary .price-new .title {font-weight: bold;}
#reservation-edit .res-summary .price-new .value {font-size: 25px; color: #003399;}
#reservation-edit .res-summary .staff {color: gray; font-size: 12px;}
#reservation-edit .res-summary .btns button {width: 140px;}

#reservation-edit .client-comment {width: 500px; margin: 0 auto; text-align: center;}
#reservation-edit .client-comment textarea {min-height: 100px;}
#reservation-edit .client-comment .btns button {width: 150px;}