.reservation-list-item {border-bottom: 1px solid #d1d1d1; margin: 5px 0; padding: 10px 0; overflow: auto;}
.reservation-list-item:first-child {border-top: 1px solid #d1d1d1;}
.reservation-list-item .cancel-div {float: right; width: 150px; text-align: center; margin-top: 35px;}
.reservation-list-item .cancel-div button {width: 130px;}

.reservation-list-item .content {margin-right: 150px;}
.reservation-list-item .content .property {width: 50%; float: left; overflow: auto; padding-right: 5px;}
.reservation-list-item .content .property .img {float: left; width: 120px;}
.reservation-list-item .content .property .img img {border: 2px solid rgb(107, 97, 62);}
.reservation-list-item .content .property .det {margin-left: 130px;}
.reservation-list-item .content .property .det .title { display: block; color: black; font-size: 18px; font-weight: bold;}
.reservation-list-item .content .property .det .colorSpecjal {font-size: 12px;}
.reservation-list-item .content .property .det .price {font-size: 25px; margin: 5px 0;}

.reservation-list-item .content .details {width: 50%; float: left;}
.reservation-list-item .content .details .titles {font-weight: bold; width: 120px; float: left;font-size:12px;}
.reservation-list-item .content .details .text {margin-left: 120px; font-size: 12px;}
.reservation-list-item .content .details .status { font-size: 25px; margin-bottom: 12px; line-height: 25px; }

@media (max-width: 751px){
    .reservation-list-item .content {margin-right: 0px;}
    .reservation-list-item .cancel-div {float: none; width: auto; text-align: center; margin-top: 0px; margin-bottom: 10px;}
}

@media (max-width: 601px){
    .reservation-list-item .content .property {width: auto; float: none;}
    .reservation-list-item .content .details {width: auto; float: none; margin-left: 130px;}    
}

@media (max-width: 480px) {
    .reservation-list-item .content .details .titles {float: none; width: auto;}
    .reservation-list-item .content .details .text {margin-left: 0;}
}