{% extends '::the-project/base.html.twig' %}

{% block body %}
    <div class="breadcrumb-container">
        <div class="container">
            <ol class="breadcrumb">
                <li><i class="fa fa-home pr-10"></i><a href="{{ path('utt_index_homepage') }}">homepage</a></li>
                <li class="active">black friday - newsletter sign up</li>
            </ol>
        </div>
    </div>

    <style>
        .black-friday-banner {
            background: black;
            padding: 50px;
        }
        .black-friday-banner img {
            display: inline-block;
            margin-right: 10px;
            margin-bottom: 5px;
        }
        .black-friday-banner .about-friday {
            color: white;
            background-color: #992020;
            margin-top: 20px;
            padding: 5px;
            font-size: 16px;
        }
    </style>

    <div class="black-friday-banner">
        <div class="text-center">
            <img src="{{ asset('/images/black-friday-offers.png') }}" alt="black friday offers">
            <img src="{{ asset('/images/are-coming-soon.png') }}" alt="are coming soon">

            <div class="about-friday">
                sign up with your email address below and we’ll let you know about relevant offers as soon as they become available.
            </div>
        </div>
    </div>

    <div class="main-container dark-translucent-bg" {#style="background-image:url('http://underthethatch.co.uk/media/cache/home_banner/rc/k4L6G6sQ/uploads/homeBannerImages/543fff270ba2a.jpg');"#}>
        <div class="container">
            <div class="row">
                <div class="main {#object-non-visible#}" {#data-animation-effect="fadeInUpSmall" data-effect-delay="100"#}>
                    <div class="form-block center-block p-30 light-gray-bg border-clear">
                        <h2 class="title">newsletter sign up</h2>

                        {% for flashMessage in app.session.flashbag.get('success') %}
                            <div class="alert alert-success">{{ flashMessage }}</div>
                        {% endfor %}
                        {% for flashMessage in app.session.flashbag.get('error') %}
                            <div class="alert alert-danger">{{ flashMessage }}</div>
                        {% endfor %}

                        {% if newsletterForm is defined and newsletterForm %}
                            {{ form_start(newsletterForm, {'attr': {'id': 'newsletterForm', 'role': 'form'}}) }}
                            {{ form_errors(newsletterForm) }}

                            {% if newsletterForm.email is defined %}
                                <div class="form-group">
                                    {{ form_label(newsletterForm.email) }}
                                    {{ form_errors(newsletterForm.email) }}
                                    {{ form_widget(newsletterForm.email) }}
                                </div>
                            {% endif %}

                            {{ form_rest(newsletterForm) }}
                            <button type="submit" class="btn btn-default">SIGN UP</button>
                            {{ form_end(newsletterForm) }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include '::the-project/advantages.html.twig' %}
{% endblock %}