{% extends '::the-project/base.html.twig' %}

{% block title %}
    Charitable Donations - Under the Thatch - find the greatest holiday cottages in Wales.
{% endblock %}

{% block body %}
    <div class="breadcrumb-container">
        <div class="container">
            <ol class="breadcrumb">
                <li><i class="fa fa-home pr-10"></i><a href="{{ path('utt_index_homepage') }}">homepage</a></li>
                <li class="active">charitable donations</li>
            </ol>
        </div>
    </div>

    <section class="main-container">
        <div class="container">
            <div class="row">
                <div class="main col-md-12">
                    <h3 class="title">
                        {{ 'Charitable Donations by'|upper }}
                        <span class="utt-color">{{ 'Under the Thatch'|upper }}</span>
                    </h3>
                    <div>
                        {% if charityDonations is defined and charityDonations %}
                            {% if donationsSum is defined %}
                                <div style="font-size: 18px;">Total donated <strong>£{{ donationsSum|round }}</strong> - thank you for your support!</div>
                            {% endif %}

                            {% for charityDonation in charityDonations %}
                                <div class="donation-item">
                                    {% if charityDonation.image %}
                                        {% set photoPath = '' %}
                                        {% if charityDonation.image is defined and charityDonation.image and charityDonation.getUploadDir() %}
                                            {% set photoPath = '/' ~ charityDonation.getUploadDir() ~ '/' ~ charityDonation.image %}
                                        {% endif %}
                                        <img src="{{ photoPath }}"/>
                                    {% endif %}

                                    {#<h4>£{{ charityDonation.paid }}</h4>#}
                                    <p>
                                        {{ charityDonation.description }}<br />
                                        {% if charityDonation.url %}
                                            <a rel="nofollow" target="_blank" href="{{ charityDonation.url }}">{{ charityDonation.url }}</a><br />
                                        {% endif %}
                                        <br />
                                        <i>{{ charityDonation.donatedAt|date('l, d F Y') }}</i>
                                    </p>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <style>
        .donation-item {
            -moz-border-bottom-colors: none;
            -moz-border-left-colors: none;
            -moz-border-right-colors: none;
            -moz-border-top-colors: none;
            border-color: #eee;
            border-image: none;
            border-radius: 3px;
            border-style: solid;
            border-width: 1px 1px 1px 5px;
            margin: 20px 0;
            padding: 20px;

            border-left-color: #aa6708;
            background: white;
            overflow: hidden;
        }
        .donation-item img {
            width: 30%;
            float: left;
            margin: 10px 20px 10px 10px;
        }
    </style>
{% endblock %}