{% extends '::the-project/base.html.twig' %}

{% block body %}
    {% set homeBannerFullSrc = '/%s/%s' %}
    {% if homeBanners is defined and homeBanners|length > 0 %}
        {% set homeBanner = random(homeBanners) %}
{#        {% set homeBannerFullSrc = homeBanner.originalFullSrc %}#}
        {% set homeBannerTitle = homeBanner.title %}
        {% set homeBannerUrl = homeBanner.url %}
    {% endif %}
    <div class="banner banner-top banner-big-height padding-bottom-clear" style="background-image:url('{{ homeBannerFullSrc|format(homeBannerUploadDir,homeBanner.image) }}');background-position: 50% 35%;background-size: cover; position:relative;">
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="banner-bottom__place">
                            <img class="banner-bottom__place-icon" src="{{ asset('/bundles/uttindex/images/location.png') }}" alt="icon_location">
                            <p class="banner-bottom__place-text"><a href="{{ homeBannerUrl }}" class="banner-bottom__place-link">{{ homeBannerTitle }}</a></p>
                        </div>
                    </div>
                </div>
                <div class="sorting-filters text-center search__container">
                    <form class="form-inline" action="{{ path('utt_estate_search') }}" method="get">
                        <div class="form-group search__select-wrapper">
                            <!--<select name="location" class="search__select search__location">
                                {% if locations is defined and locations|length > 0 %}
                                    {% for location in locations %}
                                        <option value="{{ location.id }}">{{ location.name|lower }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>-->
                            <input type="hidden" name="location" class="search__select search__location-input" placeholder="Location">
                            <div class="search__select search__location">Location</div>

                            <ul class="search__menu">
                                <li class="search__menu-item">
                                    <a href data-location-id="1">Wales</a>
                                </li>
                                <li class="search__menu-item">
                                    <a href data-location-id="2">UK & Ireland</a>
                                </li>
                                <li class="search__menu-item">
                                    <a href data-location-id="3">Europe</a>
                                </li>
                            </ul>
                        </div>
                        <div class="form-group search__estate-name ps-search">
                            <input name="estateName" placeholder="search by property name" type="text" class="search__select">
                        </div>
                        <div class="form-group search__date">
                            <input name="dateFrom" placeholder="arrival date" type="text" id="datepickerDateFrom" readonly="readonly" class="search__select">
                        </div>
                        <div class="form-group search__date">
                            <input name="dateTo" placeholder="departure date" type="text" id="datepickerDateTo" readonly="readonly" class="search__select">
                        </div>
                        <div class="form-group search__select-wrapper search__guests-wrapper">
                            <select name="sleeps" class="search__select search__guests">
                                <option value="-1" disabled selected>Guests</option>

                                {% if allSleeps is defined and allSleeps|length > 0 %}
                                    {% for sleepsItem in allSleeps %}
                                        <option value="{{ sleepsItem.id }}">{{ sleepsItem.name }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="search__submit"><i class="fa fa-search"></i> Search </button>
                        </div>
                    </form>
                </div>
            </div>
            {#
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <form class="text-center">
                            <button style="font-size: 20px;" type="submit" class="btn btn-lg btn-gray-transparent btn-animated margin-clear">BOOK NOW <i class="fa fa-check"></i></button>
                        </form>
                    </div>
                </div>
            </div>
            #}
        </div>
        <div class="banner-top__mask">
            <div class="container">
                <img class="banner-top__mask-icon" src="{{ asset('/bundles/uttindex/images/logos/home-icon.png') }}" alt="icon_location">
            </div>
            <img src="{{ asset('/bundles/uttindex/images/mask_divider.png') }}" alt="icon_location">
        </div>
    </div>

    <section class="holiday">
        <div class="container">
            <div class="row">
                <div class="col-md-12 holiday__content">
                    <h2 class="holiday__header">Under the Thatch is a curated collection of refined and authentic holiday homes.</h2>
                    <p class="holiday__text">For 20 years we have been restoring, designing and sharing properties that you’ll love in <a href="/search/?location=1" class="link__green">Wales</a>, and beyond.</p>
                </div>
            </div>
            <div class="row">
                {% if categories is defined and categories|length > 0 %}
                    {% set i = 1 %}
                    {% for category in categories %}
                        {% if category.image is defined and category.image and estateCategoryUploadDir is defined and estateCategoryUploadDir %}
                            {% set photoPath = '/' ~ estateCategoryUploadDir ~ '/' ~ category.image %}
                            {% set photoPathSrc = photoPath %}
                        {% else %}
                            {% set photoPath = '/bundles/uttindex/images/placeholder.png' %}
                            {% set photoPathSrc = photoPath | imagine_filter('homepage_estate_category_thumb') %}
                        {% endif %}

                        <div class="col-md-4 col-sm-6 col-xs-12 cat-{{ i }}">
                            <div class="image-box text-center">
                                <div class="overlay-container">
                                    <a href="{{ path('utt_estate_category', { 'slug': category.slug }) }}">
                                        <img src="{{ photoPathSrc }}" alt="{{ category.name }}">
                                    </a>
                                    <div class="overlay-text">
                                        <h3>{{ category.name }}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% set i = i + 1 %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>

    </section>

    <section class="banner-bottom" style="background-image: url('{{ asset('/bundles/uttindex/images/blaen_buart.png') }}');">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="banner-bottom__place">
                        <img class="banner-bottom__place-icon" src="{{ asset('/bundles/uttindex/images/location.png') }}" alt="icon_location">
                        <p class="banner-bottom__place-text"><a href="/byb" class="banner-bottom__place-link">Blaen y Buarth, Snowdonia</a></p>
                    </div>
                    <h3 class="banner-bottom__header">Explore remarkable <a href="/search/?location=1" class="link__green">Welsh </a> cottages <i class="banner-bottom__chevron fa fa-chevron-right"></i></h3>
                </div>
            </div>
        </div>
        <div class="banner-bottom__mask">
            <div class="container">
                <img class="banner-bottom__mask-icon" src="{{ asset('/bundles/uttindex/images/logos/home-icon-1.png') }}" alt="icon_location">
            </div>
            <img src="{{ asset('/bundles/uttindex/images/mask_divider2.png') }}" alt="icon_location">
        </div>
    </section>

    {% include '::the-project/advantages.html.twig' %}
{% endblock %}

{% block js %}
    $('#guests-number').bootstrapNumber();
{% endblock %}

{% block body_old %}
    <div class="body">{% include 'UTTIndexBundle:Index:partial/index/sliderMain.html.twig' %}</div>
    {% include 'UTTIndexBundle:Index:partial/index/secoundSearchPanel.html.twig' %}

    {% include 'UTTIndexBundle:Index:partial/common/separatorHeart.html.twig' with {'backgroundType': 'lightGray'} only %}

    <div class="background-color-lightGray">
        <div class="body">
            <div class="overflow-auto col-xs-12">
                <div class="break5"></div>
                <form role="search" action="{{ path('utt_estate_search') }}" method="get">
                    <h2 class="background-heart-branch-contain font-tab-main-titles col-md-4">
                        FIND <span class="colorSpecjal">PROPERTY</span>
                    </h2>
                    <div class="col-md-5">
                        <input name="estateName" class="form-control" type="text" />
                    </div>
                    <div class="float-right col-md-3">
                        <button type="submit" class="btn btn-search">search</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="break10">&nbsp</div>
    </div>

    <div class="body">
        <div class="overflow-auto col-xs-12">
            <div class="break5"></div>
            <form role="search" action="{{ path('utt_estate_search') }}" method="get">
                <h2 class="background-heart-branch-contain font-tab-main-titles">
                    COTTAGE <span class="colorSpecjal">OF THE WEEK</span>
                </h2>
                <div class="text-center">
                    {% render controller('UTTEstateBundle:Estate:renderCottageOfTheWeek') %}
                </div>
            </form>
        </div>
    </div>
    <div class="break10">&nbsp</div>
    <div class="break10">&nbsp</div>
    {% include 'UTTIndexBundle:Index:partial/common/separatorHeart.html.twig' with {'backgroundType': 'lightGray'} only %}

    <div class="background-color-lightGray">
        <div class="body">{% include 'UTTIndexBundle:Index:partial/index/sliderRecommendedPlaces.html.twig' %}</div>
        <div class="break10">&nbsp</div>
    </div>
    {% include 'UTTIndexBundle:Index:partial/common/separatorHeart.html.twig' with {'backgroundType': 'white'} only %}

    <div class="body">{% include 'UTTIndexBundle:Index:partial/index/sliderLastVisits.html.twig' %}</div>
    <div class="break10">&nbsp</div>
    {% include 'UTTIndexBundle:Index:partial/common/separatorHeart.html.twig' with {'backgroundType': 'lightGray'} only %}

    <div class="background-color-lightGray">
        <div class="body">
            <div class="text-container">
                <div class="overflow-auto">
                    <div class="break5">&nbsp</div>
                    {% if newsletterForm is defined and newsletterForm %}
                        {{ form_start(newsletterForm, {'attr': {'id': 'newsletterForm', 'role': 'form'}}) }}
                        <div class="col-xs-12 col-md-5">
                            <h2 class="margin-clear background-heart-branch-contain font-tab-main-titles">
                                NEWSLETTER <span class="colorSpecjal">SIGN UP!</span>
                            </h2>
                            <br />
                            {#<div class="latest-newsletter">
                                <a href="">show the latest newsletter</a>
                            </div>#}
                        </div>
                        <div class="col-xs-12 col-md-5">
                            {{ form_errors(newsletterForm) }}

                            {% if newsletterForm.email is defined %}
                                <div class="inputHandler">
                                    {{ form_widget(newsletterForm.email) }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-xs-12 col-md-2">
                            <div class="button">
                                <button type="submit" class="btn btn-main-page">SIGN UP</button>
                            </div>
                        </div>
                        {{ form_rest(newsletterForm) }}
                        {{ form_end(newsletterForm) }}
                    {% endif %}
                    <div class="break10">&nbsp</div>
                </div>
            </div>
        </div>
        <div class="break10">&nbsp</div>
    </div>
    {% include 'UTTIndexBundle:Index:partial/common/separatorHeart.html.twig' with {'backgroundType': 'white'} only %}
    {#
    <div class="background-color-lightGray">
        <div class="body" id="social-media-plugins">
            {% include 'UTTIndexBundle:Index:partial/index/socialMedia.html.twig' with { 'loaded': false } only %}
        </div>
        <div class="break10">&nbsp</div>
    </div>
    {% include 'UTTIndexBundle:Index:partial/common/separatorHeart.html.twig' with {'backgroundType': 'white'} only %}
    #}

    <div class="body">{% include 'UTTIndexBundle:Index:partial/index/aboutUs.html.twig' %}</div>
    <div class="break10">&nbsp</div>
    <style>
        #main-slider-handler .main-slider img {
            width: 100% !important;
        }
        @media (max-width: 767px) {
            .utt-slider-logo {
                display: none;
            }
        }
    </style>
{% endblock %}

{#
{% block js %}
    frontPage.init();
{% endblock %}


{% block css %}
    {% stylesheets
        'bundles/uttestate/css/search.css'
        '@UTTIndexBundle/Resources/public/css/frontPage.css'
        '@UTTEstateBundle/Resources/public/css/Offer/listItem.css'
    filter='yui_css' %}<link rel="stylesheet" type="text/css" media="all" href="{{ asset_url }}" />{% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@UTTIndexBundle/Resources/public/js/frontPage.js'
    filter='yui_js' %}<script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}
#}
