{% extends '::the-project/base.html.twig' %}

{% block body %}
    <div class="breadcrumb-container">
        <div class="container">
            <ol class="breadcrumb">
                <li><i class="fa fa-home pr-10"></i><a href="{{ path('utt_index_homepage') }}">homepage</a></li>
                <li class="active">newsletter sign up</li>
            </ol>
        </div>
    </div>

    <div class="main-container dark-translucent-bg" {#style="background-image:url('http://underthethatch.co.uk/media/cache/home_banner/rc/k4L6G6sQ/uploads/homeBannerImages/543fff270ba2a.jpg');"#}>
        <div class="container">
            <div class="row">
                <div class="main {#object-non-visible#}" {#data-animation-effect="fadeInUpSmall" data-effect-delay="100"#}>
                    <div class="form-block center-block p-30 light-gray-bg border-clear">
                        <h2 class="title">newsletter sign up</h2>

                        {% for flashMessage in app.session.flashbag.get('success') %}
                            <div class="alert alert-success">{{ flashMessage }}</div>
                        {% endfor %}
                        {% for flashMessage in app.session.flashbag.get('error') %}
                            <div class="alert alert-danger">{{ flashMessage }}</div>
                        {% endfor %}

                        {% if newsletterForm is defined and newsletterForm %}
                            {{ form_start(newsletterForm, {'attr': {'id': 'newsletterForm', 'role': 'form'}}) }}
                            {{ form_errors(newsletterForm) }}

                            {% if newsletterForm.email is defined %}
                                <div class="form-group">
                                    {{ form_label(newsletterForm.email) }}
                                    {{ form_errors(newsletterForm.email) }}
                                    {{ form_widget(newsletterForm.email) }}
                                </div>
                            {% endif %}

                            {{ form_rest(newsletterForm) }}
                            <button type="submit" class="btn btn-default">SIGN UP</button>
                            {{ form_end(newsletterForm) }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include '::the-project/advantages.html.twig' %}
{% endblock %}