{% extends '::the-project/base.html.twig' %}

{% block title %}
    EMAIL NEWSLETTER ARCHIVE
{% endblock %}

{% block body %}
    <div class="breadcrumb-container">
        <div class="container">
            <ol class="breadcrumb">
                <li><i class="fa fa-home pr-10"></i><a href="{{ path('utt_index_homepage') }}">homepage</a></li>
                <li class="active">newsletter</li>
            </ol>
        </div>
    </div>

    <section class="main-container">
        <div class="container">
            <div class="row">
                <div class="main col-md-12">
                    <h1 class="title">EMAIL NEWSLETTER ARCHIVE</h1>
                    <div class="separator-2"></div>
                    <div>
                        <style>
                            .campaign {
                                font-size: 18px;
                            }
                        </style>
                        <script language="javascript" src="//underthethatch.us2.list-manage.com/generate-js/?u=1d1f7be73453b522959752d4c&fid=133&show=10" type="text/javascript"></script>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
