{% if isSalePopup is defined and isSalePopup %}
    <button style="display: none;" id="salePopupModalOpen" class="btn btn-default" data-toggle="modal" data-target="#salePopupModal"></button>
    <div class="modal fade" id="salePopupModal" tabindex="-1" role="dialog" aria-labelledby="salePopupModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title text-center" id="salePopupModalLabel">{{ salePopupTitle }}</h4>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        {% if salePopupImage is defined and salePopupImage and salePopupImageUploadDir is defined and salePopupImageUploadDir %}
                            {% set photoPath = '/' ~ salePopupImageUploadDir ~ '/' ~ salePopupImage %}
                            {% set photoPathSrc = photoPath | imagine_filter('sale_popup') %}

                            <img style="margin: auto;" src="{{ photoPathSrc }}" alt="">
                        {% endif %}

                        {% if salePopupTimerLink is defined and salePopupTimerLink %}
                            <img src="{{ salePopupTimerLink }}" style="display: block; margin: auto;" />
                        {% endif %}

                        <br />
                        <p>{{ salePopupDescription }}</p>

                        {% if salePopupLink is defined and salePopupLink %}
                            <a target="_blank" href="{{ salePopupLink }}" class="btn btn-default">{% if salePopupButtonCaption is defined and salePopupButtonCaption %}{{ salePopupButtonCaption }}{% else %}OPEN COUPON{% endif %}</a>
                        {% endif %}
                    </div>
                </div>
                <div class="modal-footer" style="text-align: left;">
                    <button type="button" class="btn btn-sm btn-dark" data-dismiss="modal">close</button>
                </div>
            </div>
        </div>
    </div>
{% endif %}
