{% if newsletterPopup is defined and newsletterPopup %}
    <div id="newsletterPopupAlertBackground">
        <div id="newsletterPopupAlert" role="alert" class="alert alert-info alert-dismissible">
            <button aria-label="Close" data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span></button>

            <div class="contentBox row">
                <strong>Newsletter Sign-Up</strong><br />
                <div class="alert-head">
                    <img src="{{ asset('/bundles/uttindex/images/logos/with-text-1.png') }}" alt="The finest European holiday cottages" />
                    Would you like to be the first to hear about our best holiday deals, restoration news and special offers?<br /><br />Sign up below!<br /><br />
                </div>

                {% if newsletterForm is defined and newsletterForm %}
                    {{ form_start(newsletterForm, {'attr': {'id': 'newsletterForm', 'role': 'form'}}) }}
                    {{ form_errors(newsletterForm) }}

                    <div class="col-md-7">
                        {% if newsletterForm.email is defined %}
                            {{ form_widget(newsletterForm.email) }}
                        {% endif %}
                    </div>
                    <div class="col-md-5">
                        <button type="submit" class="btn btn-main-page">SIGN ME UP!</button>
                    </div>

                    {{ form_rest(newsletterForm) }}
                    {{ form_end(newsletterForm) }}
                {% endif %}
                <br /><br /><br />

                <div class="fb-like" data-href="https://www.facebook.com/underthethatch" data-width="150" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>

                <br /><br />

                <a href="https://twitter.com/underthethatch" class="twitter-follow-button" data-show-count="false">Follow @underthethatch</a>
                {% if currentRouteName == 'utt_index_homepage' %}
                {% else %}
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                {% endif %}

                <br />

                <a data-pin-do="buttonFollow" href="http://www.pinterest.com/underthethatch/">Under the Thatch</a>
                {% if currentRouteName == 'utt_index_homepage' %}
                {% else %}
                    <!-- Please call pinit.js only once per page -->
                    <script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script>
                {% endif %}

                <br /><br />
                <div>
                    <button type="button" class="newsletterPopupClose btn btn-main-page">I already receive newsletters, thanks.</button>
                </div>
            </div>
        </div>
    </div>
{% endif %}