{% if categories is defined and categories %}
    <li>
        <a title="See All" href="/search">
            See All
        </a>
    </li>
    {% for category in categories %}
        <li>
            <a title="{{ category.name }}" href="{{ path('utt_estate_category', { 'slug': category.slug }) }}">
                {{ category.name }}
            </a>
        </li>
    {% endfor %}
{% endif %}