{% if staticPages is defined and staticPages %}
    {% for staticPage in staticPages %}
        <span class="tab2"><a title="{{ staticPage.title }}" href="{{ path('utt_index_static_page', { 'url': staticPage.url }) }}">{{ staticPage.title }}</a></span>
    {% endfor %}
{% endif %}