{% extends '::the-project/base.html.twig' %}

{% block title %}
    {{ staticPage.title|capitalize }} - Under the Thatch - holiday cottages
{% endblock %}

{% block body %}
    <div class="breadcrumb-container">
        <div class="container">
            <ol class="breadcrumb">
                <li><i class="fa fa-home pr-10"></i><a href="{{ path('utt_index_homepage') }}">homepage</a></li>
                <li class="active">{{ staticPage.title|lower }}</li>
            </ol>
        </div>
    </div>

    <section class="main-container">
        <div class="container">
            <div class="row">
                <div class="main col-md-12">
                    <h1 class="title">{{ staticPage.title|upper }}</h1>
                    <div class="separator-2"></div>
                    <h2>Under the Thatch document: {{ staticPage.title }}</h2>
                    <div>
                        {{ staticPage.content|raw }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}