<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <META name="description" content="{% block description %}Find the finest holiday. Under the Thatch is a hand-picked selection of gorgeous places to stay in Wales and beyond - we're famous for the most romantic cottages and gypsy caravan holidays. We love green, we like authentic... we know that great design is good for your soul.{% endblock %}">
        <META name="keywords" content="romantic cottages, welsh cottages, holiday cottages Wales, holiday in wales, cheapest holiday, quirky cottages, late availability holidays, best homes, holiday, cottage, apartment, under the thatch, holidays in wales, cottages in wales, unusual, wales, welsh, pets welcome, unique, sustainable, authentic, UTT">
        <META NAME="robots" CONTENT="index,follow">
        <META name="Rating" content="General">
        <META name="owner" content="www.underthethatch.co.uk">
        <title>{% block title %}Under the Thatch - holiday cottages Wales. Find the finest holiday in best romantic cottages in Wales.{% endblock %}</title>
        {% block openGraph %}
            <meta property="og:description" content="Under the Thatch is a hand-picked selection of gorgeous places to stay in Wales and beyond - we're famous for the most romantic cottages and gypsy caravan holidays. We love green, we like authentic... we know that great design is good for your soul."/>
        {% endblock %}
        <meta name="viewport" content="width=device-width">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href='http://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister' rel='stylesheet' type='text/css'>

        {% stylesheets
            '@UTTIndexBundle/Resources/public/css/smoothness/jquery-ui.css'
            '@UTTIndexBundle/Resources/public/bootstrap/css/bootstrap-hs.css'
            '@UTTIndexBundle/Resources/public/bootstrap/css/bootstrap.min.css'
            '@UTTIndexBundle/Resources/public/bootstrap/css/bootstrap-theme.min.css'
            '@UTTIndexBundle/Resources/public/css/all.css'
        filter='yui_css' %}<link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />{% endstylesheets %}
        {% block css %}{% endblock %}
    </head>
    <body>
        {% block facebookConnect %}
            {#
            {{ facebook_initialize({'xfbml': true, 'culture': 'en_EN', 'fbAsyncInit': 'onFbInit();'}) }}
            <script type="text/javascript">
                function goLogIn(){
                    window.location = "{{ path('_security_check') }}";
                }

                function onFbInit() {
                    if (typeof(FB) != 'undefined' && FB != null ) {
                        FB.Event.subscribe('auth.statusChange', function(response) {
                            if (response.session || response.authResponse) {
                                setTimeout(goLogIn, 50);
                            } else {
                                window.location = "{{ path('_security_logout') }}";
                            }
                        });
                    }
                }
            </script>
            #}
        {% endblock %}

        {% if isFrontPage is not defined %}
            {% set isFrontPage = false %}
        {% endif %}
        {% spaceless %}
            {% include '::header.html.twig' %}
            {#{% render controller('UTTIndexBundle:Index:renderNewsletterPopup', { 'request': app.request }) %}#}

            {% if app.session.flashbag.has('success') or app.session.flashbag.has('error') %}
                <div class="col-xs-12">
                    <div class="break5">&nbsp</div>
                    {% for flashMessage in app.session.flashbag.get('success') %}
                        <div class="alert alert-success">{{ flashMessage|raw }}</div>
                    {% endfor %}
                    {% for flashMessage in app.session.flashbag.get('error') %}
                        <div class="alert alert-danger">{{ flashMessage|raw }}</div>
                    {% endfor %}
                </div>
            {% endif %}

            {% block body %}{% endblock %}
            {% include '::footer.html.twig' %}
        {% endspaceless %}

        {% block javascripts %}
            {% javascripts
                'bundles/fosjsrouting/js/router.js'
                'bundles/uttestate/libs/jquery-1.10.1.min.js'
                '@UTTEstateBundle/Resources/public/libs/jquery-ui.js'
                'bundles/uttindex/bootstrap/js/bootstrap.min.js'
                'bundles/uttindex/js/libs/js.cookie.js'
                'bundles/uttindex/js/all.js'
                'bundles/uttindex/js/uttPopups.js'
                'bundles/uttestate/libs/angular.min.js'
                '@UTTEstateBundle/Resources/public/libs/angular-ui.js'
                'bundles/uttestate/libs/angular-route.min.js'
            filter='yui_js' %}<script type="text/javascript" src="{{ asset_url }}"></script>{% endjavascripts %}

            <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        {% endblock %}

        <script type="text/javascript">
            $(window).load(function() {
                {% block js %}{% endblock %}
            });
        </script>

        {% block googleAnalytics %}
            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                ga('create', 'UA-55801902-1', 'auto');
                ga('send', 'pageview');

            </script>
        {% endblock %}
    </body>
</html>
