{% include 'UTTIndexBundle:Index:partial/common/separatorHeart.html.twig' with {'backgroundType': 'strongGray'} only %}
<div class="main-footer">
    <div class="text-container overflow-auto col-xs-12">
        {#
        <div class="main-tabs">
            <span class="tab"><a href="#">search</a></span>
            <span class="tab"><a href="#">specjal offers</a></span>
            <span class="tab"><a href="#">about</a></span>
            <span class="tab"><a href="#">account</a></span>
        </div>
        <div class="break5"> </div>
        #}
        <div class="main-tabs">
            {% render controller('UTTIndexBundle:Index:renderFooterStaticPages') %}
        </div>
        <div class="break10"> </div>
        <div class="info">
            {% render controller('UTTIndexBundle:Index:renderFooterText') %}
        </div>
    </div>
</div>