<div id="my-main-header">
    <nav class="navbar-default navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-width">
{% if isFrontPage is defined and isFrontPage %}
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav col-md-12 text-center">
                    <li {#class="active"#} class="col-md-2"><a href="{{ path('utt_estate_search') }}">search</a></li>
                    {# <li class="col-md-2"><a href="{{ path('utt_vouchers') }}">vouchers</a></li> #}
                    <li class="col-md-2">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">cottages</a>
                        <ul class="dropdown-menu">
                            {% render controller('UTTIndexBundle:Index:renderCategoriesInMenu') %}
                        </ul>
                    </li>
                    <li class="col-md-1"><a href="{{ path('utt_estate_offer_list') }}">offers</a></li>
                    {# <li class="col-md-2"><a href="{{ path('utt_estate_all_availability') }}">all availability</a></li> #}
                    <li class="dropdown col-md-1">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">about {#<b class="caret"></b>#}</a>
                        <ul class="dropdown-menu">
                            {% render controller('UTTIndexBundle:Index:renderMenuStaticPages') %}
                        </ul>
                    </li>
                    <li class="dropdown col-md-2">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">my utt</a>
                        {% render controller('UTTUserBundle:User:renderLoginInformation') %}
                    </li>
                </ul>
            </div>
{% else %}
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('utt_index_homepage') }}"><img alt="Find the finest holiday in best romantic cottages in Wales" src="{{ asset('/bundles/uttindex/images/logos/with-text-1.png') }}" /></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav col-md-10 text-center">
                    <li {#class="active"#} class="col-md-2"><a href="{{ path('utt_estate_search') }}">search</a></li>
                    <li class="col-md-2">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">cottages</a>
                        <ul class="dropdown-menu">
                            {% render controller('UTTIndexBundle:Index:renderCategoriesInMenu') %}
                        </ul>
                    </li>
                    <li class="col-md-1"><a href="{{ path('utt_estate_offer_list') }}">offers</a></li>
                    
                    <li class="dropdown col-md-1">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">about {#<b class="caret"></b>#}</a>
                        <ul class="dropdown-menu">
                            <li class="divider"></li>
                            {% render controller('UTTIndexBundle:Index:renderMenuStaticPages') %}
                        </ul>
                    </li>
                    <li class="dropdown col-md-2">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">my utt</a>
                        {% render controller('UTTUserBundle:User:renderLoginInformation') %}
                    </li>
                </ul>
            </div>
{% endif %}
            <div class="social-icons">
                <a href="https://www.facebook.com/underthethatch"><img alt="Late availability holidays on Facebook" src="{{ asset('images/logos/fbSmall.png') }}" /></a>
                <a href="https://twitter.com/underthethatch"><img alt="Follow the best homes on Twitter" src="{{ asset('images/logos/tweeterSmall.png') }}" /></a>
                {#<a href="#"><img src="{{ asset('images/logos/gPlusSmall.png') }}" /></a>#}
                <a href="https://pinterest.com/underthethatch/"><img alt="Quirky cottages on Pinterest" src="{{ asset('images/logos/pinterestSmall.png') }}" /></a>
            </div>
        </div>
    </nav>
</div>
<div id="my-main-header-spacer"></div>