<div class="header colorSpecjal">
    <div class="img-handler img-step1">&nbsp;</div>
    <div class="text">my profile settings</div>
</div>
<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
    <div class="padding-container">
        {{ form_widget(form) }}
    </div>
    <div class="button-handler">
        <input type="submit" value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}" class="btn btn-default" />
    </div>
</form>

<div class="break5">&nbsp</div>
<div class="header colorSpecjal">
    <div class="img-handler img-step2">&nbsp;</div>
    <div class="text">password settings</div>
</div>
<div class="padding-container button-handler">
    <a class="btn btn-default-transparent" href="{{ path('fos_user_change_password') }}">{{ 'change_password.submit'|trans({}, 'FOSUserBundle')|lower }}</a>
    <a class="btn btn-default-transparent" href="{{ path('fos_user_resetting_request') }}">{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle')|lower }}</a>
</div>
