{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}
    My profile - Under the Thatch - find the greatest holiday cottages in Wales.
{% endblock %}

{% block body %}
    <div class="breadcrumb-container">
        <div class="container">
            <ol class="breadcrumb">
                <li><i class="fa fa-home pr-10"></i><a href="{{ path('utt_index_homepage') }}">homepage</a></li>
                <li class="active">my profile</li>
            </ol>
        </div>
    </div>

    <section class="main-container">
        <div class="container">
            <div class="row">
                <div class="main col-md-12">
                    {#<h3 class="title">my profile</h3>
                    <div class="separator-2"></div>#}
                    <div>
                        <h3 class="title">my latest reservations</h3>
                        <div class="reservation-list">
                            {% render controller('UTTUserBundle:User:renderLatestReservations') %}
                            <div class="see-all">
                                <a class="btn btn-default-transparent" href="{{ path('utt_user_reservations') }}">all my reservations</a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <h3 class="title">my latest vouchers</h3>
                        <div class="reservation-list">
                            {% render controller('UTTUserBundle:User:renderLatestVouchers') %}
                            <div class="see-all">
                                <a class="btn btn-default-transparent" href="{{ path('utt_user_vouchers') }}">all my vouchers</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <h3 class="title">profile management</h3>
                <div class="my-profil-background">
                    <div class="my-profil-left-menu">
                        <div>
                            <div class="one-part">
                                <a href="{{ path('fos_user_profile_show') }}">
                                    <div class="img-handler img-dashboard">&nbsp;</div>
                                    <div class="text">my dashboard</div>
                                </a>
                            </div>
                            <div class="one-part">
                                <a href="{{ path('fos_user_profile_edit') }}">
                                    <div class="img-handler img-other">&nbsp;</div>
                                    <div class="text">settings</div>
                                </a>
                            </div>
                            <div class="one-part">
                                <a href="{{ path('fos_user_security_logout') }}">
                                    <div class="text">sign out</div>
                                </a>
                            </div>
                        </div>
                        <div class="info-part">
                            <div class="header"></div>
                            <div class="text">

                            </div>
                        </div>
                    </div>
                    <div class="my-profil-right-content">
                        {{ block('fos_user_content') }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('/bundles/uttuser/css/Profile/layout.css') }}">
    <link rel="stylesheet" href="{{ asset('/bundles/uttuser/css/User/reservationListItem.css') }}">
{% endblock %}