<div class="header colorSpecjal">
    <div class="img-handler img-step1">&nbsp;</div>
    <div class="text">dashboard</div>
</div>

<div class="padding-container fos_user_user_show">
    <p>{{ 'profile.show.username'|trans({}, 'FOSUserBundle') }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}: {{ user.email }}</p>
</div>