{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
    <div>
        <strong>Base price:</strong> £{{ object.getPriceDecoded().basePrice|number_format(2) }}
    </div>
    <div>
        <strong>Credit card fee:</strong> £{{ object.getPriceDecoded().creditCardCharge|number_format(2) }}
    </div>
    <div>
        <strong>Charity donation:</strong> £{{ object.getPriceDecoded().charityCharge|number_format(2) }}
    </div>
    <br />
    <div>
        <strong>Total: </strong> <strong style="color: #800901">£{{ object.getPriceDecoded().total|number_format(2) }}</strong>
    </div>
{% endblock %}