{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
    <table class="table">
        <tbody>
            <tr>
                <td style="width: 20%; min-width: 100px;"><strong>First name:</strong></td>
                <td>
                    {{ object.getUserDataDecoded().firstName|truncate(20) }}
                </td>
            </tr>
            <tr>
                <td><strong>Last name:</strong></td>
                <td>
                    {{ object.getUserDataDecoded().lastName|truncate(20) }}
                </td>
            </tr>
            <tr>
                <td><strong>Email</strong></td>
                <td>
                    {{ object.getUserDataDecoded().email }}
                </td>
            </tr>
            <tr>
                <td><strong>Phone</strong></td>
                <td>
                    {{ object.getUserDataDecoded().phone }}
                </td>
            </tr>
            <tr>
                <td><strong>Address</strong></td>
                <td>
                    {{ object.getUserDataDecoded().address }}
                </td>
            </tr>
            <tr>
                <td><strong>Postcode</strong></td>
                <td>
                    {{ object.getUserDataDecoded().postcode }}
                </td>
            </tr>
            <tr>
                <td><strong>City</strong></td>
                <td>
                    {{ object.getUserDataDecoded().city }}
                </td>
            </tr>
            <tr>
                <td><strong>Country</strong></td>
                <td>
                    {{ object.getUserDataDecoded().country }}
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}