{% extends 'SonataAdminBundle:CRUD:base_list.html.twig' %}

{% block list_header %}
    {% if admin.classnameLabel == 'CharityDonation' %}
        <div class="panel panel-default" id="charity-donation-liability" style="display: none;">
            <div class="panel-heading">charity liability</div>

            <table class="table table-hover">
                <tbody>
                <tr>
                    <td>
                        donated by customers: <span class="charityPayments"></span><br />
                        donated by UTT: <span class="charityDonations"></span> <br /><br />
                        <strong>charity liability: <span class="charityLiability"></span> </strong>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}