<style>
    table.list td,
    table.list th {
        min-height: 16px;
        line-height: 16px;
    }
    p {
        line-height: 10px;
    }
</style>

<table style="font-size: 18px; line-height: 18px; padding-top: 11px; padding-bottom: 11px; border-bottom: solid 3px gray; width: 98%;">
    <tr>
        <td style="width: 70%;"><b>{{ companyName }} - Arrival Instructions<br />{{ reservation.estate.name }}</b></td>
        <td style="width: 30%; text-align: right;"></td>
    </tr>
</table>

<div class="list" style="font-size: 10px; width: 98%;">
    <b style="color: red; font-size:8px;">Please print these details and bring them with you they are essential to ensure that you can find the property and get in.</b>

    <br /><br />
                <span>Thank you for booking your holiday Under the Thatch ñ we appreciate your business, and hope that you have a great stay.
                    You have booked your break through the agency Under the Thatch Ltd. Your holiday contract is with the owners of {{ reservation.estate.name }} who are responsible for your accommodation and comfort.
                    By choosing Under the Thatch for your holiday you are helping our work in rescuing traditional and historic buildings at risk in the UK and Ireland.</span>
    <br /><br />
    <b style="color: rgb(134,27,7); font-size: 12px;">Arrival / Departure:</b>
    <br />

    <table>
        <tr>
            <td width="30%">Earliest arrival:</td>
            <td><b>{{ reservation.estate.checkInTime|date('H:i') }}</b> on {{ reservation.fromDate|date('l, j F Y') }}</td>
        </tr>
        <tr>
            <td>Latest departure:</td>
            <td><b>{{ reservation.estate.checkOutTime|date('H:i') }}</b> on {{ reservation.toDate|date('l, j F Y') }}</td>
        </tr>
        <tr>
            <td colspan="2"><br /></td>
        </tr>
        <tr>
            <td>Booking Number:</td>
            <td>{{ reservation.id }}</td>
        </tr>
        <tr>
            <td>Lead Guest:</td>
            <td>{{ reservation.getUserDataDecoded().firstName|truncate(20) }} {{ reservation.getUserDataDecoded().lastName|truncate(20) }}</td>
        </tr>
        <tr>
            <td>Number of Guests:</td>
            <td>{{ reservation.sleeps }} sleeps, {{ reservation.pets }} pets, {{ reservation.infants }} infants {# if reservation.estate.infants == constant('UTT\\EstateBundle\\Entity\\Estate::INFANTS_COT_AVAILABLE') #}</td>
        </tr>
    </table>

    <br />
    <div style="color: red;">{% if reservation.estate.keySafeCode == "LEFT" %}The key will be left for you, please see description for details.
        {% elseif reservation.estate.keySafeCode != "" %}This accommodation uses a keysafe the access code is: <b>{{ reservation.estate.keySafeCode }}</b>
        {% else %}You need to meet the owner or arrange for the key to be left for you.<br />
            If you haven't already completed an estimated arrival time in our self service online system
            or wish to change it within 3 days of your arrival please contact the owner by telephone (numbers below).
            We are currently expecting you at {{ reservation.estate.checkInTime|date('H:i') }}<br />
            Please do make every effort to be there at your agreed time or call ahead if you are running late.
        {% endif %}
    </div>
    <br />
    Thank you for respecting the arrival and departure times which allow us to complete changeovers
    efficiently. We are unable to offer you extended times. The owner reserves the right to charge for the housekeepers time if you depart late.
    <br />
    On departure please leave the accommodation clean and tidy with kitchen items washed and put away.<br />
    <b>Please also remember to return the key on departure.</b><br /><br />
    <b style="color: rgb(134,27,7); font-size: 12px;">Contact Details:</b><br />
    Please contact the owner/housekeeper well in advance of your holiday if you have any questions.<br /><br />

    <table style="line-height: 15px;">
        {% if reservation.estate.phone1 and reservation.estate.phone1Name %}
            <tr>
                <td width="25%">{{ reservation.estate.phone1 }}</td>
                <td>{{ reservation.estate.phone1Name }}</td>
            </tr>
        {% endif %}
        {% if reservation.estate.phone2 and reservation.estate.phone2Name %}
            <tr>
                <td width="25%">{{ reservation.estate.phone2 }}</td>
                <td>{{ reservation.estate.phone2Name }}</td>
            </tr>
        {% endif %}
        {% if reservation.estate.phone3 and reservation.estate.phone3Name %}
            <tr>
                <td width="25%">{{ reservation.estate.phone3 }}</td>
                <td>{{ reservation.estate.phone3Name }}</td>
            </tr>
        {% endif %}
        {% if reservation.estate.phone4 and reservation.estate.phone4Name %}
            <tr>
                <td width="25%">{{ reservation.estate.phone4 }}</td>
                <td>{{ reservation.estate.phone4Name }}</td>
            </tr>
        {% endif %}
        {% if reservation.estate.phone5 and reservation.estate.phone5Name %}
            <tr>
                <td width="25%">{{ reservation.estate.phone5 }}</td>
                <td>{{ reservation.estate.phone5Name }}</td>
            </tr>
        {% endif %}
        {% if reservation.estate.phone6 and reservation.estate.phone6Name %}
            <tr>
                <td width="25%">{{ reservation.estate.phone6 }}</td>
                <td>{{ reservation.estate.phone6Name }}</td>
            </tr>
        {% endif %}
    </table>
    <br /><br />
    You can also email the owner directly, for any questions or special instructions. Just log onto your booking
    confirmation (where you found the link for this PDF). Messages are emailed directly to your owner. Please note that if you
    have any problems during your stay please make contact using the numbers provided immediately so that the owner may assist you. Neither the owner nor
    Under the Thatch can deal with problems or complaints after you have departed.<br />

    Please note that the property has a maximum occupancy, and that you cannot extend this by inviting friends to camp, bring tents,
    sleep on sofas, or bring campervans. No camping is allowed, as often this breaches planning regulations at the property.
    Owners reserve the right to ask all guests to depart if maximum occupancy numbers are exceeded.<br />
</div>

<div class="list" style="font-size: 10px; width: 98%;">
    {% if reservation.estate.keySafeCode != "LEFT" and reservation.estate.keySafeCode != "" %}<b style="color: rgb(134,27,7); font-size: 12px;">Using the Key Safe:</b><br />
        We use a key-safe at this property. This is typically a small grey wall mounted box usually found by the front door or close by. The
        accommodation specific notes tell you where if it's not immediately obvious. The main door key is kept inside. It is essential
        that you have the code {{ reservation.estate.keySafeCode }} otherwise you won't be able to get in.
        You do not need to meet anyone and can arrive any time after {{ reservation.estate.checkInTime|date('H:i') }}.
        We will expect you around your estimated arrival time, but there is no need to call ahead if you are
        running significantly later. We recommend that you bring a torch in case you need to find and operate the keysafe after dark.
        <br />

        <p style="font-size: 7px;">* Pull down black plastic sliding cover to reveal the combination lock.<br />
            * Scroll the combination wheels to the keycode - {{ reservation.estate.keySafeCode }}<br />
            * Pull the small switch to the left of the combination wheels and the whole of the front of the safe will open to reveal the key.<br />
            * After removing the key please scramble the code and shut the safe and slide up the plastic cover.<br />
            * We recommend that you take the key with you during your stay.<br />
            * Please repeat the process when you leave, returning the key and scrambling the code.<br />
            * Please do not attempt to change the combination or allow your children to play with it.<br />
            * If we are unable to access the key we will treat it as a loss of our property and be forced to charge you for replacement of the keysafe and re-fitting. A £70 charge will be applied.</p>
    {% endif %}
</div>

<div class="list" style="font-size: 10px; width: 98%;">
    <b style="color: rgb(134,27,7); font-size: 12px;">How to Get There:</b><br />
    <b>{{ reservation.estate.address }}</b><br />
    Use the postcode <b>{{ reservation.estate.postCode }}</b> for SatNavs directions.

    {{ reservation.estate.textArrivalInstructionsDirections|raw }} <br /><br />

    {% if reservation.estate.textArrivalInstructionsPropertySpecific %}
        <b style="color: rgb(134,27,7); font-size: 12px;">Accommodation Specific Notes:</b>
        {{ reservation.estate.textArrivalInstructionsPropertySpecific|raw }}
    {% endif %}
</div>

<div class="list" style="font-size: 10px; width: 98%;">
    <b style="color: rgb(134,27,7); font-size: 12px;">Maps:</b><br />
    The markers show the exact location of your accommodation. You can also find a link to Google Maps on your
    online confirmation which provides you with an interactive map to orientate yourself and plan your route from home.

    {% if reservation.estate.lat and reservation.estate.lon %}
        <img width="250" height="150" src="https://maps.googleapis.com/maps/api/staticmap?key={{ api_google_key }}&center={{ reservation.estate.lat }},{{ reservation.estate.lon }}&zoom=9&size=250x150&maptype=roadmap&markers=color:blue|{{ reservation.estate.lat }},{{ reservation.estate.lon }}" />
        <img width="250" height="150" src="https://maps.googleapis.com/maps/api/staticmap?key={{ api_google_key }}&center={{ reservation.estate.lat }},{{ reservation.estate.lon }}&zoom=12&size=250x150&maptype=roadmap&markers=color:blue|{{ reservation.estate.lat }},{{ reservation.estate.lon }}" />
    {% endif %}
</div>

<div class="list" style="font-size: 10px; width: 98%;">
    <b style="color: rgb(134,27,7); font-size: 12px;">What to Bring</b>
    <p style="font-size: 8px;">* Basically bring yourselves, clothes and food and drink.<br />
        * You will need a torch if you arrive or intend to come and go after dark as many locations have no outside lighting.<br />
        * We suggest stout boots for walking, and a sweater and waterproof coat are wise at any time of year. Wellingtons can often be useful.<br />
        * The bed/s are ready made to match your party size only. If you are sleeping separately please do ensure that you have updated the housekeeping<br />
        section of our self service website at least 7 days prior to arrival. We do not supply additional linen for beds in excess of your party size. Once you<br />
        arrive we may be unavailable to adjust the bedding and the housekeepers may charge you for their time and additional guest fees will also apply.<br />
        * One hand and one bath towel per person per stay are provided. Please bring your own beach towels and any extra towels that you may require.<br />
        * Dishcloth/s and tea towel/s are provided, and there is some washing up liquid.<br />
        * Some toilet rolls are provided. Please bring you own shower gel / shampoo etc.<br />
        * The kitchen has appliances as detailed on the accommodation listing;<br />
        * Crockery, Cutlery, Saucepans and basic utensils are provided, though do bring anything unusual if you expect to be cooking a feast.<br />
        * A starter basket of fuel is provided for the open fire/stove (where installed), as well as a means to light it. Additional fuel only where stated or by<br />
        pre-arrangement directly with the accommodation owner. Further supplies can be sourced from local shops and garages<br />

        {% set isEstateFeatureWifi = false %}
        {% for estateFeature in reservation.estate.estateFeatures %}
            {% if estateFeature.id == 16 %}
                {% set isEstateFeatureWifi = true %}
            {% endif %}
        {% endfor %}

        {% if isEstateFeatureWifi == true %}
            * WiFi Internet available. Connection details available in your accommodation.<br />
            There is no charge for use of this service. We ask customers not stream music or video, or download copyright material.<br />
            The service may be withdrawn without notice. We are unable to assist you with technical questions and are unable to guarantee the service will be working during your visit.<br />
        {% else %}
            * Sorry there is no WiFi available at this accommodation.<br />
        {% endif %}

        * There is plenty to do locally ñ see the links from the property listing on our website, or there is tourist information at the property.
    </p>
</div>
<div class="list" style="font-size: 10px; width: 98%;">
    <b style="color: rgb(134,27,7); font-size: 12px;">Cancellation / Complaints</b>
    <p style="font-size: 8px;">Please note that you are now at risk of losing all of the money you have paid for your holiday if you make a
        cancellation. Full details are online - see our Terms & Conditions. We therefore STRONGLY recommend that you arrange your own
        travel insurance to cover this eventuality. Under the Thatch does not provide in-house insurance and cannot indemnify you against
        cancellation within 6 weeks of your holiday for any reason outside our direct control - typicaly cases are
        illness within your party, close family death, change of job or adverse weather.<br /><br />

        If you have a complaint you must bring this to the attention of the owner straight away. Under the Thatch is unable
        to assist directly with accommodation problems, so we have listed all the contact numbers we have for your owner in this
        pack. Complaints must be dealt with during your break and will not be considered after
        your departure. Under the Thatch will not consider refund requests if you abandon your holiday and return home without providing
        the owner with the opportunity to put the matter right.<br /><br />

        Please note that the accommodation is strictly a no-smoking environment. We very rarely get people ignoring this, but if you
        choose to the owner reserves the right to charge for specialist cleaning and to ask you to leave the property immediately.
    </p><br />
    <i style="font-size: 10px;">Finally and most importantly * have a great holiday * and thank you again for choosing to stay Under the Thatch.</i>
</div>