{% if locations is defined and locations %}
    <script>
        var $locations = '{{ locations|raw }}';
    </script>
{% endif %}

<div id="allCalendarsAppHandler" ng-controller="allCalendarsAppCtrl" ng-cloak>
    <div>
        <div>
            <h3>number of nights</h3>
            <div class="calendarNights">
                <button ng-repeat="button in buttonsFlexible" ng-disabled="!button.allowed || !allowNextLoadRun" style="margin-right: 2px;" class="btn" ng-class="{'btn-default': nightsFlexible == button.id, 'btn-default-transparent': nightsFlexible != button.id}" ng-click="setNightsFlexible(button.id)">{{ '{{button.name}}' }}</button>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <h3>location</h3>
                <div class="calendarNights">
                    <select ng-disabled="!allowNextLoadRun" class="form-control" ng-init="initLocationChoices()" ng-model="location" ng-change="changeLocation(location)" ng-options="location.name for location in locationChoices"></select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <h3>sleeps</h3>
                <div class="calendarNights">
                    <select ng-disabled="!allowNextLoadRun" class="form-control" ng-model="sleeps" ng-options="sleeps.name for sleeps in sleepsChoices"></select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <h3>pets</h3>
                <div class="calendarNights">
                    <button ng-disabled="!allowNextLoadRun" style="margin-right: 2px;" class="btn btn-default">allowed</button>
                    <button ng-disabled="!allowNextLoadRun" style="margin-right: 2px;" class="btn btn-default-transparent">not allowed</button>
                </div>
            </div>
        </div>

        <h5 class="hidden-sm hidden-md hidden-lg text-center">calendar legend</h5>
        <div id="calendarLegend" style="margin-top: 0px;">
            <div class="notAvailable label">not available</div>
            <div class="available label">available</div>
            <div class="availableOffer label">special offer</div>
            <div class="reserved label">reserved</div>
            <div class="booked label">booked</div>
        </div>
    </div>
</div>

<div class="text-container overflow-auto">
    <div id="pricingCalendar" class="pricingCalendar"></div>
</div>