{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<div class="body overflow-auto text-container text-center">
    <div class="col-xs-12">
        <div class="break10">&nbsp</div>
    <div class="text-center">{{ 'registration.check_email'|trans({'%email%': user.email}, 'FOSUserBundle') }}</div>
    
    <div class="break10">&nbsp</div>
        <div class="break10">&nbsp</div>
    </div>
</div>
{% endblock fos_user_content %}
