{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<div class="body overflow-auto text-container text-center">
    <div class="col-xs-12">
        <div class="break10">&nbsp</div>
    <div class="text-center">{{ 'registration.confirmed'|trans({'%username%': user.username}, 'FOSUserBundle') }}</div>
    {% if app.session is not empty %}
        {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
        {% if targetUrl is not empty %}<div class="text-center"><a href="{{ targetUrl }}">{{ 'registration.back'|trans({}, 'FOSUserBundle') }}</a></div>{% endif %}
    {% endif %}
        <div class="break10">&nbsp</div>
        <div class="break10">&nbsp</div>
    </div>
</div>
{% endblock fos_user_content %}
