{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}Register to Under the Thatch - holiday cottages{% endblock %}

{% block fos_user_content %}
    {% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock fos_user_content %}
