<div class="breadcrumb-container">
    <div class="container">
        <ol class="breadcrumb">
            <li><i class="fa fa-home pr-10"></i><a href="{{ path('utt_index_homepage') }}">homepage</a></li>
            <li class="active">sign up to UTT</li>
        </ol>
    </div>
</div>

<div class="main-container dark-translucent-bg" style="padding: 0;" {#style="background-image:url('http://underthethatch.co.uk/media/cache/home_banner/rc/k4L6G6sQ/uploads/homeBannerImages/543fff270ba2a.jpg');"#}>
    <div class="container">
        <div class="row">
            <h1>Register to Under the Thatch</h1>
            <div class="separator-2"></div>

            <div class="main {#object-non-visible#}" {#data-animation-effect="fadeInUpSmall" data-effect-delay="100"#}>
                <div class="form-block center-block p-30 light-gray-bg border-clear">
                    <h2 class="title">sign up to UTT</h2>
                    <div>
                        create new UTT account
                    </div>

                    {% if form_errors(form) or form_errors(form.plainPassword.first) or form_errors(form.plainPassword.second) %}
                        <div class="alert alert-danger">
                            {{ form_errors(form) }}
                            {{ form_errors(form.plainPassword.first) }}
                            {{ form_errors(form.plainPassword.second) }}
                        </div>
                    {% endif %}
                    <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register form-horizontal" role="form">
                        <div class="form-group has-feedback">
                            <div class="col-sm-12">
                                {#{{ form_errors(form.email) }}#}
                                {{ form_label(form.email, 'e-mail *',  { 'label_attr': {'class': 'control-label'} }) }}

                                {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
                                <i class="fa fa-user form-control-feedback"></i>
                            </div>
                        </div>

                        <div class="form-group has-feedback">
                            {#{{ form_errors(form.plainPassword.first) }}#}
                            {{ form_label(form.plainPassword.first, 'password *',  { 'label_attr': {'class': 'col-sm-3 control-label'} }) }}
                            <div class="col-sm-8">
                                {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control'} }) }}
                                <i class="fa fa-lock form-control-feedback"></i>
                            </div>
                        </div>

                        <div class="form-group has-feedback">
                            {#{{ form_errors(form.plainPassword.second) }}#}
                            {{ form_label(form.plainPassword.second, 'repeat password *',  { 'label_attr': {'class': 'col-sm-3 control-label'} }) }}
                            <div class="col-sm-8">
                                {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control'} }) }}
                                <i class="fa fa-lock form-control-feedback"></i>
                            </div>
                        </div>
                        <div>{{ form_rest(form) }}</div>

                        <br />
                        <div><i>* all fields are required</i></div>

                        <div class="form-group text-center">
                            <button type="submit" name="_submit" class="btn btn-group btn-default btn-animated">{{ 'registration.submit'|trans({}, 'FOSUserBundle')|upper }} <i class="fa fa-user"></i></button>
                        </div>

                        <hr />
                        <div class="form-group">
                            <div class="col-sm-6 text-center">
                                do you have an account but you don't remember your password?<br />
                                <a style="color: white;" class="btn btn-default btn-sm" href="{{ path('fos_user_resetting_request') }}">reset my password</a><br />
                            </div>
                            <div class="col-sm-6 text-center">
                                do you have an account?<br />
                                <a style="color: white;" class="btn btn-default btn-sm" href="{{ path('fos_user_security_login') }}">login</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            {#{{  facebook_login_button({'autologoutlink': false}) }}#}
        </div>
    </div>
</div>


{% include '::the-project/advantages.html.twig' %}

{#
<style>
#my-create-account-form {padding-left: 20px;}
#my-create-account-form .form-group {padding-top: 7px; padding-bottom: 7px;}
#my-create-account-form .form-group-border, #fos_user_registration_form_plainPassword div {margin: auto; padding-top: 7px; padding-bottom: 7px; border-bottom: 1px solid rgb(204, 204, 204);}
#my-create-account-form .form-group label {display: inline-block; width: 49%;}
#my-create-account-form .form-group input[type="password"], #my-create-account-form .form-group input[type="email"] {display: inline-block; width: 50%;}
#my-create-account-form input[type="submit"] {width: 150px;float:right;margin-right: 5px}
.create-account-top-align-margin {margin-top: 35px}
.create-account-top-align-margin2 {margin-top: 30px}
</style>
<div class="background-color-lightGray">
    <div class="body overflow-auto text-container">
        <div class="col-xs-12">
            <div class="break10">&nbsp</div>
            <div class="header">
                <div class="background-heart-branch-contain font-tab-main-titles">
                    <div>CREATE <span class="colorSpecjal">YOUR UTT PROFILE!</span></div>
                </div>
            </div>
        </div>
        <div class="col-xs-7">
            <div>
                {{ form_errors(form) }}
            </div>
            <form id="my-create-account-form" action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register" role="form">
                <div class="form-group form-group-border">
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email) }}
                    {{ form_errors(form.email) }}
                </div>

                <div class="form-group form-group-border">
                    {{ form_label(form.plainPassword.first) }}
                    {{ form_widget(form.plainPassword.first) }}
                    {{ form_errors(form.plainPassword.first) }}
                </div>
                    
                <div class="form-group form-group-border">
                    {{ form_label(form.plainPassword.second) }}
                    {{ form_widget(form.plainPassword.second) }}
                    {{ form_errors(form.plainPassword.second) }}
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-next" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
                </div>
                <div class="formRestHandler">{{ form_rest(form) }}</div>
            </form>
        </div>
        <div class="col-xs-1 text-center create-account-top-align-margin">
            or
        </div>
        <div class="col-xs-4 create-account-top-align-margin2">
            #{ facebook_login_button({'autologoutlink': false}) }#
            <input type="submit" class="btn btn-fb" value="Facebook Connect" />
        </div>
    </div>
    <div class="break10">&nbsp</div>
    <div class="break15">&nbsp</div>
</div>
#}