{% if backgroundType == 'white' %}
    {% set imgStyle = 'background: url(/bundles/uttindex/images/logos/separator-heart.png) no-repeat -78px 0px;' %}
    {% set backgroundClass = 'background-color-white' %}
{% elseif backgroundType == 'lightGray' %}
    {% set imgStyle = 'background: url(/bundles/uttindex/images/logos/separator-heart.png) no-repeat 0px 0px;' %}
    {% set backgroundClass = 'background-color-lightGray' %}
{% elseif backgroundType == 'strongGray' %}
    {% set imgStyle = 'background: url(/bundles/uttindex/images/logos/separator-heart.png) no-repeat -159px 0px;' %}
    {% set backgroundClass = 'background-color-strongGray' %}
{% endif %}

<div class="separator-heart-2">
    <div class="background {{backgroundClass}}"></div>
    <div class="img" style="{{imgStyle}}"></div>
</div>