.single-offer {
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 1px;
    width: 33%;
}

@media (max-width: 550px) {
    .single-offer {
        width: 100%;
    }
}

@media (min-width: 550px) and (max-width: 780px) {
    .single-offer {
        width: 49%;
    }
}

.single-offer .hand {
    border: 1px solid rgb(220, 220, 220);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: white;
}
.single-offer .hand .img-hand {
    position: relative;
}
.single-offer .hand .img-hand img {
    width: 100%;
    border: 2px solid rgb(107, 97, 62);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.single-offer .hand .img-hand .finest-icon {
    border: medium none;
    bottom: 3%;
    position: absolute;
    right: 2%;
    width: 12%;
}

.single-offer .hand .img-hand .budget-icon {
    border: medium none;
    bottom: 3%;
    position: absolute;
    right: 2%;
    width: 12%;
}

.single-offer .hand .border-bottom {border-bottom: 1px solid rgb(220, 220, 220);}
.single-offer .hand .part {padding: 5px 10px;}
.single-offer .hand .part .place-title {font-weight: bold; color: black;}
.single-offer .hand .part .place-discount {font-size: 18px; font-weight: bold;}
.single-offer .hand .part .place-dates {color: grey; font-size: 11px;}

.single-offer .hand .part2 {position: relative;color: grey; font-size: 11px;}
.single-offer .hand .part2 .place-info {}
.single-offer .hand .part2 div.hidden-desc{
    display: none;
    border-bottom: 1px solid #DCDCDC;
    background-color: rgb(250, 250, 250);
    position: absolute;
    padding: 5px 10px;
    height: auto;
    line-height: 15px;
    width: 100%;
}
.single-offer .hand .part2:hover .hidden-desc{
    display: block;
}