.padding-top-30 {padding-top: 30px}

#reservation-edit .main-img-handler img {width: 100%; border: solid 2px #6b613e;}

#reservation-edit .calendar-card {display: inline-block; padding: 5px 10px;}
#reservation-edit .calendar-card:last-child { border-right: none; }
#reservation-edit .calendar-card {border-right: 1px solid rgb(200, 200, 200);}
#reservation-edit .calendar-card .card{
    margin: 0 auto;
    width: 120px;
    background-color: white;
    border: 1px solid rgb(220, 220, 220);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    padding: 2px 0 10px 0;
}
#reservation-edit .calendar-card .card .date-day {font-size: 30px; font-weight: bold;}
#reservation-edit .calendar-card .card .date-year { font-size: 14px; }
#reservation-edit .calendar-card .card .date-month {font-size: 16px;}
#reservation-edit .calendar-card .card .day-of-week {font-size: 12px;}

#specjal-offers-long-handler .single-offer {margin: 10px 0; padding: 10px 0 10px 10px; overflow: hidden; background: white;}
#specjal-offers-long-handler .single-offer .price {float: right; width: 150px; margin-top: 25px;}
#specjal-offers-long-handler .single-offer .img-hand {float: left; width: 80px; margin-right: 10px;}
#specjal-offers-long-handler .single-offer .cont { margin-top: 20px;}
#specjal-offers-long-handler .single-offer .cont .title {font-weight: bold; color: black;}
#specjal-offers-long-handler .single-offer .cont .text {color: grey; font-size: 12px;}

.single-offer .img-hand {
    position: relative;
}

.single-offer .img-hand .finest-icon {
    border: medium none;
    bottom: 3%;
    position: absolute;
    right: 2%;
    width: 12%;
}

.single-offer .img-hand .budget-icon {
    border: medium none;
    bottom: 3%;
    position: absolute;
    right: 2%;
    width: 12%;
}