{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}Login to Under the Thatch - holiday cottages{% endblock %}

{% block fos_user_content %}
    <div class="breadcrumb-container">
        <div class="container">
            <ol class="breadcrumb">
                <li><i class="fa fa-home pr-10"></i><a href="{{ path('utt_index_homepage') }}">homepage</a></li>
                <li class="active">sign in to UTT</li>
            </ol>
        </div>
    </div>

    <div class="main-container dark-translucent-bg" style="padding: 0;"{#style="background-image:url('http://underthethatch.co.uk/media/cache/home_banner/rc/k4L6G6sQ/uploads/homeBannerImages/543fff270ba2a.jpg');"#}>
        <div class="container">
            {% if (makeGuestBooking is defined and makeGuestBooking) or (makeGuestVoucher is defined and makeGuestVoucher) %}
                <div role="alert" class="alert alert-icon alert-success">
                    <i class="fa fa-check"></i>
                    you can continue as a guest or finish your reservation using your existing UTT account
                </div>
            {% endif %}

            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success">{{ flashMessage }}</div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-danger">{{ flashMessage }}</div>
            {% endfor %}

            <div class="row">
                <h1>Login to Under the Thatch</h1>
                <div class="separator-2"></div>

                <div class="main {#object-non-visible#}" {#data-animation-effect="fadeInUpSmall" data-effect-delay="100"#}>

                    {% if makeGuestBooking is defined and makeGuestBooking %}
                        <div class="form-block center-block p-30 light-gray-bg border-clear">
                            <h2 class="title">continue as a guest!</h2>
                            <div>
                                <div>
                                    is it your first booking in UTT?<br />
                                    you can simply continue as a guest to confirm your booking
                                </div>

                                <hr />

                                <a style="color: white;" href="{{ path('utt_reservation_guest_confirm') }}" class="btn btn-default">CONTINUE</a>
                            </div>
                        </div>
                        <br />
                    {% endif %}

                    {% if makeGuestVoucher is defined and makeGuestVoucher %}
                        <div class="form-block center-block p-30 light-gray-bg border-clear">
                            <h2 class="title">continue as a guest!</h2>
                            <div>
                                <a style="color: white;" href="{{ path('utt_voucher_guest_confirm') }}" class="btn btn-default">CONTINUE</a>
                            </div>
                        </div>
                        <br />
                    {% endif %}

                    <div class="form-block center-block p-30 light-gray-bg border-clear">
                        <h2 class="title">sign in to UTT</h2>
                        {% if error %}
                            <div class="alert alert-danger">{{ error|trans({}, 'FOSUserBundle') }}</div>
                        {% endif %}

                        {% if makeGuestBooking is defined and makeGuestBooking %}
                            <div>
                                you can also use your existing UTT account to finish your booking.
                            </div>
                        {% endif %}

                        <form class="form-horizontal" action="{{ path("fos_user_security_check") }}" method="post" role="form">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                            <div class="form-group has-feedback">
                                <label for="username" class="col-sm-3 control-label">e-mail</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="username" placeholder="e-mail" value="{{ last_username }}" required="required" name="_username">
                                    <i class="fa fa-user form-control-feedback"></i>
                                </div>
                            </div>
                            <div class="form-group has-feedback">
                                <label for="password" class="col-sm-3 control-label">{{ 'security.login.password'|trans({}, 'FOSUserBundle')|lower }}</label>
                                <div class="col-sm-8">
                                    <input class="form-control" placeholder="password" type="password" id="password" name="_password" required="required" >
                                    <i class="fa fa-lock form-control-feedback"></i>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-8">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />&#160;<label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle')|lower }}</label>
                                        </label>
                                    </div>

                                    <button type="submit" name="_submit" class="btn btn-group btn-default btn-animated">SIGN IN <i class="fa fa-user"></i></button>
                                </div>
                            </div>
                            <hr />
                            <div class="form-group">
                                <div class="col-sm-6 text-center">
                                    don't you remember your password?<br />
                                    <a style="color: white;" class="btn btn-default btn-sm" href="{{ path('fos_user_resetting_request') }}">reset my password</a><br />
                                </div>
                                <div class="col-sm-6 text-center">
                                    don't have an account yet?<br />
                                    <a style="color: white;" class="btn btn-default btn-sm" href="{{ path('fos_user_registration_register') }}">sign up now</a>
                                </div>
                            </div>
                        </form>
                    </div>
                    <p class="text-center space-top">
                        don't you remember your password? <a href="{{ path('fos_user_resetting_request') }}">reset my password</a><br />
                        don't have an account yet? <a href="{{ path('fos_user_registration_register') }}">sign up now</a>
                    </p>
                </div>
                {#{{  facebook_login_button({'autologoutlink': false}) }}#}
            </div>
        </div>
    </div>

    {% include '::the-project/advantages.html.twig' %}









<style>
    {#form {padding-left: 20px;}
form .form-group-border {margin: auto; padding-top: 7px; padding-bottom: 7px; border-bottom: 1px solid rgb(204, 204, 204);}
form .form-group {padding-top: 7px;}
form .form-group label {display: inline-block; width: 49%;}
form .form-group input[type='text'], form .form-group input[type='password'] {display: inline-block; width: 49%;}
form .form-group input[type='submit'] {width: 150px;}

@media (min-width: 401px) and (max-width: 500px){
    form .form-group label {display: block; width: 100%;}
    form .form-group input[type='text'], form .form-group input[type='password'] {display: block; width: 100%;}
}
@media (max-width: 400px){
    form .form-group label {display: block; width: 100%;}
    form .form-group input[type='text'], form .form-group input[type='password'] {display: block; width: 100%;}
}#}
</style>
{#
<div class="background-color-lightGray">
    <div class="body overflow-auto text-container">
        {% if makeGuestBooking is defined and makeGuestBooking %}
            <div class="col-xs-12">
                <div class="break10">&nbsp</div>
                <div class="header">
                    <div class="background-heart-branch-contain font-tab-main-titles">
                        <div>CONTINUE <span class="colorSpecjal">AS A GUEST!</span></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-7">
                <a href="{{ path('utt_reservation_guest_confirm') }}" class="btn btn-next">Continue</a>
            </div>
            <div class="col-xs-5"></div>
            <div class="clearfix"></div>
        {% endif %}

        {% if makeGuestVoucher is defined and makeGuestVoucher %}
            <div class="col-xs-12">
                <div class="break10">&nbsp</div>
                <div class="header">
                    <div class="background-heart-branch-contain font-tab-main-titles">
                        <div>CONTINUE <span class="colorSpecjal">AS A GUEST!</span></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-7">
                <a href="{{ path('utt_voucher_guest_confirm') }}" class="btn btn-next">Continue</a>
            </div>
            <div class="col-xs-5"></div>
            <div class="clearfix"></div>
        {% endif %}

        <div class="col-xs-12">
            <div class="break10">&nbsp</div>
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success">{{ flashMessage|raw }}</div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-danger">{{ flashMessage|raw }}</div>
            {% endfor %}
        </div>
        <div class="col-md-12">
            <div class="background-heart-branch-contain font-tab-main-titles">
                <div>MANAGE <span class="colorSpecjal">BOOKING!</span></div>
            </div>

            <form action="{{ path('utt_user_reservation_manage_with_pin') }}" method="post" role="form">
                <div class="form-group form-group-border">
                    <label for="reservationId">reservation ID</label>
                    <input class="form-control" type="text" id="reservationId" name="reservationId" value="" required="required" />
                </div>

                <div class="form-group form-group-border">
                    <label for="reservationPin">reservation PIN</label>
                    <input class="form-control" type="password" id="reservationPin" name="reservationPin" required="required" />
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-next float-right" value="confirm" />
                </div>
            </form>
        </div>
    </div>
    <div class="break10">&nbsp</div>
    <div class="break15">&nbsp</div>
</div>
#}
{#
{% include 'UTTIndexBundle:Index:partial/common/separatorHeart.html.twig' with {'backgroundType': 'white'} only %}

<div class="body">
    <div class="text-container overflow-auto col-xs-12">
        <div class="header">
            <div class="background-heart-branch-contain font-tab-main-titles">
                <div>LOGIN <span class="colorSpecjal">INFORMATION</span></div>
            </div>
        </div>
        <div>
            SAME TEXT, SAME TEXT, SAME TEXT
        </div>
    </div>
</div>
<div class="break10">&nbsp</div>
#}
{% endblock fos_user_content %}