{% if content is defined and content and user is defined and user and plainPassword is defined and plainPassword %}
    {{ content|replace_with_plain_password(plainPassword)|replace_with_user(user)|replace_with_configuration|raw }}
{% endif %}