{% if content is defined and content and reservation is defined and reservation and emailReason is defined %}
    {{ content|replace_with_reservation(reservation)|replace_with_email_reason(emailReason)|replace_with_configuration|raw }}
{% endif %}