{% if content is defined and content and reservation is defined and reservation and historyEntry is defined and historyEntry %}
    {{ content|replace_with_reservation(reservation)|replace_with_configuration|replace_with_history_entry(historyEntry)|replace_with_logged_user|raw }}
{% endif %}