{% if content is defined and content and review is defined and review and user is defined and user %}
    {{ content|replace_with_review(review)|replace_with_user(user)|replace_with_configuration|raw }}
{% endif %}