{% if content is defined and content and reservation is defined and reservation and paymentTransaction is defined and paymentTransaction %}
    {{ content|replace_with_reservation(reservation)|replace_with_payment_transaction(paymentTransaction)|replace_with_configuration|raw }}
{% endif %}