{% if reservations is defined and reservations|length > 0 %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th width="105px" style="text-align: center">booking id</th>
            <th>dates</th>
            <th style="text-align: center">nights</th>
            <th>guests</th>
            <th>comments</th>
        </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td style="text-align: center">
                    {{ reservation.id }}
                </td>
                <td>
                    <b>arrival:</b> {{ reservation.fromDate|date('l d-M-Y') }} <br />
                    <b>departure:</b> {{ reservation.toDate|date('l d-M-Y') }}
                </td>
                <td style="text-align: center">
                    {{ reservation.getNumberOfNights() }}
                </td>
                <td>
                    <div style="margin-left: 15px; margin-right: 15px;">
                        <b>{{ reservation.sleeps }} guests</b>,<br />
                        {{ reservation.getSleepsAdults() }} adults,<br />
                        {{ reservation.sleepsChildren }} children,<br />
                        {{ reservation.infants }} infants (in cot),<br />
                        {{ reservation.pets }} pets
                    </div>
                </td>
                <td>
                    <b>guest name:</b>
                    {% if reservation.getUserDataDecoded().firstName or reservation.getUserDataDecoded().lastName %}
                        {{ reservation.getUserDataDecoded().firstName|truncate(20) }} {{ reservation.getUserDataDecoded().lastName|truncate(20) }}
                    {% else %}
                        <i style="color: #777777;">no guest name</i>
                    {% endif %}<br />



                    <b>email:</b>
                    {% if reservation.getUserDataDecoded().email %}
                        {{ reservation.getUserDataDecoded().email }}
                    {% else %}
                        <i style="color: #777777;">no email</i>
                    {% endif %}<br />

                    <b>phone:</b>
                    {% if reservation.getUserDataDecoded().phone %}
                        {{ reservation.getUserDataDecoded().phone }}
                    {% else %}
                        <i style="color: #777777;">no phone</i>
                    {% endif %}<br />

                    <b>booking note:</b>
                    {% if reservation.note %}
                        {{ reservation.note }}
                    {% else %}
                        <i style="color: #777777;">no note</i>
                    {% endif %}<br />
                    <b>guest notes:</b>
                    {% set historyEntriesExists = false %}
                    {% if reservation.historyEntries %}
                        {% for historyEntry in reservation.historyEntries %}
                            {% if historyEntry.isAllowedForCleaningRota %}
                                {% set historyEntriesExists = true %}
                                <div><i>{{ historyEntry.comment }}</i></div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% if not historyEntriesExists %}
                        <i style="color: #777777;">no notes</i>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    there are currently no bookings
{% endif %}