{% extends 'UTTAdminBundle:Admin:standard_layout.html.twig' %}
{% block sonata_admin_content %}
    {% block notice %}
        {% include 'SonataCoreBundle:FlashMessage:render.html.twig' %}
    {% endblock notice %}

    {% render(controller('UTTAdminBundle:Accounts:renderFilters', { 'date': dateString, 'estateId': estateId })) %}

    <br />

    <div class="panel panel-default">
        <div class="panel-heading">
            {% if dateString is defined and dateString %}bookings at {{ dateString }}{% endif %}
        </div>

        <table class="table table-hover">
            <thead>
            <tr>
                <th style="width: 60px;">ID</th>
                <th>accommodation</th>
                <th>arrival date</th>
                <th>departing</th>
                <th>customer name</th>
                <th>total price</th>
                <th>commission</th>
            {% if isGrantedSuperAdmin is defined and isGrantedSuperAdmin == true %}
                <th>payments</th>
                <th>admin charge</th>
                <th>credit card charge</th>
                <th>booking protect charge</th>
                <th>charity donation</th>
                <th>vat</th>
            {% endif %}
                <th>money to owners</th>
                <th style="text-align: center;">show booking</th>
            </tr>
            </thead>
            {% if reservations is defined and reservations|length > 0 %}
                <tbody>

                {% set sumTotalPrice = 0 %}
                {% set sumPaid = 0 %}
                {% set sumCommissionValue = 0 %}
                {% set sumCommissionVatValue = 0 %}
                {% set sumAdminCharge = 0 %}
                {% set sumCreditCardCharge = 0 %}
                {% set sumBookingProtectCharge = 0 %}
                {% set sumCharityCharge = 0 %}
                {% set sumToOwnersValue = 0 %}

                {% for reservation in reservations %}
                    {% if isGrantedSuperAdmin is defined and isGrantedSuperAdmin == true %}
                        {% set sumTotalPrice = sumTotalPrice + reservation.totalPrice %}
                    {% else %}
                        {% set sumTotalPrice = sumTotalPrice + reservation.getOwnersTotalPrice() %}
                    {% endif %}
                    {% set sumPaid = sumPaid + reservation.paid %}
                    {% set sumCommissionValue = sumCommissionValue + reservation.calculateCommissionValue() %}
                    {% set sumCommissionVatValue = sumCommissionVatValue + reservation.getCommissionVatValue() %}
                    {% set sumAdminCharge = sumAdminCharge + reservation.getPriceDecoded().adminCharge %}
                    {% set sumCreditCardCharge = sumCreditCardCharge + reservation.getPriceDecoded().creditCardCharge %}
                    {% set sumBookingProtectCharge = sumBookingProtectCharge + reservation.getPriceDecoded().bookingProtectCharge %}
                    {% set sumCharityCharge = sumCharityCharge + reservation.getPriceDecoded().charityCharge %}
                    {% set sumToOwnersValue = sumToOwnersValue + reservation.getToOwnersValue() %}

                    <tr>
                        <td>
                            <a href="{{ path('admin_utt_reservation_reservation_show', { 'id': reservation.id }) }}">
                                {{ reservation.id|number_format(0, ' ', ' ') }}
                            </a>
                        </td>
                        <td>{{ reservation.getEstateDataDecoded().name }}</td>
                        <td>{{ reservation.fromDate|date('l d-M-Y') }}</td>
                        <td>{{ reservation.toDate|date('l d-M-Y') }}</td>
                        <td>{{ reservation.getUserDataDecoded().firstName|truncate(20) }} {{ reservation.getUserDataDecoded().lastName|truncate(20) }}</td>
                        <td>
                            {% if isGrantedSuperAdmin is defined and isGrantedSuperAdmin == true %}
                                {{ reservation.totalPrice|number_format(2) }}
                            {% else %}
                                {{ reservation.getOwnersTotalPrice()|number_format(2) }}
                            {% endif %}
                        </td>
                        <td>{{ reservation.calculateCommissionValue()|number_format(2) }}</td>
                    {% if isGrantedSuperAdmin is defined and isGrantedSuperAdmin == true %}
                        <td>{{ reservation.paid }}</td>
                        <td>{{ reservation.getPriceDecoded().adminCharge|number_format(2) }}</td>
                        <td>{{ reservation.getPriceDecoded().creditCardCharge|number_format(2) }}</td>
                        <td>{{ reservation.getPriceDecoded().bookingProtectCharge|number_format(2) }}</td>
                        <td>{{ reservation.getPriceDecoded().charityCharge|number_format(2) }}</td>
                        <td>{{ reservation.getCommissionVatValue()|number_format(2) }}</td>
                    {% endif %}
                        <td>{{ reservation.getToOwnersValue()|number_format(2) }}</td>
                        <td style="text-align: center;"><a href="{{ path('admin_utt_reservation_reservation_show', { 'id': reservation.id }) }}" class="btn btn-sm btn-default"><i class="glyphicon glyphicon-zoom-in"></i> show</a></td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="5">
                            total due for {{ dateString }}
                        </th>
                        <th>£{{ sumTotalPrice|number_format(2) }}</th>
                        <th>£{{ sumCommissionValue|number_format(2) }}</th>
                    {% if isGrantedSuperAdmin is defined and isGrantedSuperAdmin == true %}
                        <th>£{{ sumPaid|number_format(2) }}</th>
                        <th>£{{ sumAdminCharge|number_format(2) }}</th>
                        <th>£{{ sumCreditCardCharge|number_format(2) }}</th>
                        <th>£{{ sumBookingProtectCharge|number_format(2) }}</th>
                        <th>£{{ sumCharityCharge|number_format(2) }}</th>
                        <th>£{{ sumCommissionVatValue|number_format(2) }}</th>
                    {% endif %}
                        <th>£{{ sumToOwnersValue|number_format(2) }}</th>
                        <th></th>
                    </tr>
                </tfoot>
            {% endif %}
        </table>
    </div>
{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('sonata_admin_dashboard') }}">Dashboard</a>
    </li>
    <li>
        <a href="{{ path('utt_admin_accounts') }}">Accounts</a>
    </li>
    <li class="active"><span>Accounts by date and property</span></li>
{% endblock %}