<a class="btn btn-primary btn-xs" target="_blank" href="{{ path('utt_admin_owner_statement_create_summary', { 'date': dateString }) }}">re/create summary PDF</a>
{% if ownerStatement is defined and ownerStatement %}
    <a target="_blank" class="btn btn-success" href="{{ path('utt_admin_owner_statement_display', { 'filename': ownerStatement.filename }) }}">download summary to PDF</a>
{% endif %}