<div id="accountsFilters" class="row">
    {% if dates is defined and dates|length > 0 %}
        <div class="col-md-12">
            month
            <select id="accountsFilterDate" class="form-control">
                {% for date in dates %}
                    <option value="{{ date.id }}" {% if date.id == dateString %}selected="selected"{% endif %}>{{ date.label }}</option>
                {% endfor %}
            </select>

            <br />
            <br />
        </div>
    {% endif %}

    <div class="col-md-12">
        {% if estates is defined and estates|length > 0 %}
            <div>
                accommodation
                <select id="accountsFilterEstate" class="form-control">
                    <optgroup label="all bookings">
                        <option value="" {% if estateId is defined and not estateId %}selected="selected"{% endif %}>all bookings for selected month</option>
                    </optgroup>
                    <optgroup label="summarise">
                        <option value="summarise" {% if isSummariseSelected is defined and isSummariseSelected %}selected="selected"{% endif %}>summarise by accommodation (1 month)</option>
                    </optgroup>
                    <optgroup label="for specific property">
                        {% for estate in estates %}
                            <option value="{{ estate.id }}" {% if estateId is defined and estate.id == estateId %}selected="selected"{% endif %}>{{ estate.name }}</option>
                        {% endfor %}
                    </optgroup>
                </select>
            </div>
        {% endif %}
    </div>
</div>

<br />

<div class="text-center">
    {% render(controller('UTTAdminBundle:Accounts:renderSummaryToPdfButton', { 'date': dateString })) %}
    {% render(controller('UTTAdminBundle:Accounts:renderFullStatementToPdfButton', { 'date': dateString })) %}
</div>