<a class="btn btn-primary btn-xs" target="_blank" href="{{ path('utt_admin_owner_statement_create_full_statement', { 'date': dateString }) }}">re/create full statement PDF</a>
{% if ownerStatement is defined and ownerStatement %}
    <a target="_blank" class="btn btn-success" href="{{ path('utt_admin_owner_statement_display', { 'filename': ownerStatement.filename }) }}">download full statement to PDF</a>
{% endif %}