{% extends 'UTTAdminBundle:Admin:standard_layout.html.twig' %}
{% block sonata_admin_content %}
    {% block notice %}
        {% include 'SonataCoreBundle:FlashMessage:render.html.twig' %}
    {% endblock notice %}

    {% render(controller('UTTAdminBundle:Accounts:renderFilters', { 'date': dateString, 'estateId': null, 'isSummariseSelected': true })) %}

    <br />

    <div class="panel panel-default">
        <div class="panel-heading">
            {% if dateString is defined and dateString %}summarise for {{ dateString }}{% endif %}
        </div>

        <table class="table table-hover">
            {% set loopIndex = 0 %}

            {% set sumPaid = 0 %}
            {% set sumCommissionValue = 0 %}
            {% set sumCommissionVatValue = 0 %}
            {% set sumAdminCharge = 0 %}
            {% set sumCreditCardCharge = 0 %}
            {% set sumBookingProtectCharge = 0 %}
            {% set sumCharityCharge = 0 %}
            {% set sumToOwnersValue = 0 %}
            <thead>
                <tr>
                    <th width="5%">
                        <b>#</b>
                    </th>
                    <th width="25%">
                        <b>Accommodation</b>
                    </th>
                    <th width="10%">
                        <b>Money In</b>
                    </th>
                    <th width="10%">
                        <b>Commission</b>
                    </th>
                {% if isGrantedSuperAdmin is defined and isGrantedSuperAdmin == true %}
                    <th width="10%">
                        <b>VAT</b>
                    </th>
                    <th width="10%">
                        <b>Admin charge</b>
                    </th>
                    <th width="8%">
                        <b>Credit card charge</b>
                    </th>
                    <th width="8%">
                        <b>booking protect charge</b>
                    </th>
                    <th width="7%">
                        <b>Charity donation</b>
                    </th>
                {% endif %}
                    <th width="7%">
                        <b>To Owner</b>
                    </th>
                </tr>
            </thead>
            <tbody>
            {% for item in summaryData %}
                {% set estatePaid = 0 %}
                {% set estateCommissionValue = 0 %}
                {% set estateCommissionVatValue = 0 %}
                {% set estateAdminCharge = 0 %}
                {% set estateCreditCardCharge = 0 %}
                {% set estateBookingProtectCharge = 0 %}
                {% set estateCharityCharge = 0 %}
                {% set estateToOwnersValue = 0 %}

                {% for reservation in item.reservations %}
                    {% if isGrantedSuperAdmin is defined and isGrantedSuperAdmin == true %}
                        {% set estatePaid = estatePaid + reservation.paid %}
                    {% else %}
                        {% set estatePaid = estatePaid + reservation.getOwnersTotalPrice() %}
                    {% endif %}
                    {% set estateCommissionValue = estateCommissionValue + reservation.calculateCommissionValue() %}
                    {% set estateCommissionVatValue = estateCommissionVatValue + reservation.getCommissionVatValue() %}
                    {% set estateAdminCharge = estateAdminCharge + reservation.getPriceDecoded().adminCharge %}
                    {% set estateCreditCardCharge = estateCreditCardCharge + reservation.getPriceDecoded().creditCardCharge %}
                    {% set estateBookingProtectCharge = estateBookingProtectCharge + reservation.getPriceDecoded().bookingProtectCharge %}
                    {% set estateCharityCharge = estateCharityCharge + reservation.getPriceDecoded().charityCharge %}
                    {% set estateToOwnersValue = estateToOwnersValue + reservation.getToOwnersValue() %}
                {% endfor %}

                {% set loopIndex = loopIndex + 1 %}

                {% set sumPaid = sumPaid + estatePaid %}
                {% set sumCommissionValue = sumCommissionValue + estateCommissionValue %}
                {% set sumCommissionVatValue = sumCommissionVatValue + estateCommissionVatValue %}
                {% set sumAdminCharge = sumAdminCharge + estateAdminCharge %}
                {% set sumCreditCardCharge = sumCreditCardCharge + estateCreditCardCharge %}
                {% set sumBookingProtectCharge = sumBookingProtectCharge + estateBookingProtectCharge %}
                {% set sumCharityCharge = sumCharityCharge + estateCharityCharge %}
                {% set sumToOwnersValue = sumToOwnersValue + estateToOwnersValue %}

                <tr>
                    <td> {{ loopIndex }}</td>
                    <td> {{ item.estate.name }}</td>
                    <td> {{ estatePaid|number_format(2) }}</td>
                    <td> {{ estateCommissionValue|number_format(2) }}</td>
                {% if isGrantedSuperAdmin is defined and isGrantedSuperAdmin == true %}
                    <td> {{ estateCommissionVatValue|number_format(2) }}</td>
                    <td> {{ estateAdminCharge|number_format(2) }}</td>
                    <td> {{ estateCreditCardCharge|number_format(2) }}</td>
                    <td> {{ estateBookingProtectCharge|number_format(2) }}</td>
                    <td> {{ estateCharityCharge|number_format(2) }}</td>
                {% endif %}
                    <td> {{ estateToOwnersValue|number_format(2) }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th style="border: none;"></th>
                    <th><b>TOTALS</b></th>
                    <th>£{{ sumPaid|number_format(2) }}</th>
                    <th>£{{ sumCommissionValue|number_format(2) }}</th>
                {% if isGrantedSuperAdmin is defined and isGrantedSuperAdmin == true %}
                    <th>£{{ sumCommissionVatValue|number_format(2) }}</th>
                    <th>£{{ sumAdminCharge|number_format(2) }}</th>
                    <th>£{{ sumCreditCardCharge|number_format(2) }}</th>
                    <th>£{{ sumBookingProtectCharge|number_format(2) }}</th>
                    <th>£{{ sumCharityCharge|number_format(2) }}</th>
                {% endif %}
                    <th>£{{ sumToOwnersValue|number_format(2) }}</th>
                </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('sonata_admin_dashboard') }}">Dashboard</a>
    </li>
    <li>
        <a href="{{ path('utt_admin_accounts') }}">Accounts</a>
    </li>
    <li class="active"><span>Summarise by date</span></li>
{% endblock %}