{% extends 'UTTAdminBundle:Admin:standard_layout.html.twig' %}
{% block sonata_admin_content %}
    <div class="col-sm-12">
        {% if reportUsers is defined and reportUsers|length > 0 %}
            {% for reportUser in reportUsers %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>{{ reportUser.user.firstName }} {{ reportUser.user.lastName }}</strong>, last visit at {{ reportUser.userLastVisitAt|date }}
                        {% if reportUser.user|allowed_user_for_analytics_mail == false %}
                            | <i style="color: red;">Not allowed for email</i>
                        {% endif %}
                    </div>

                    <table class="table">
                        <tbody>
                        <tr>
                            <td>
                                cookie: {{ reportUser.trackingCookieHash }} |

                                {% if reportUser.updatedAt %}
                                    report for user updated at {{ reportUser.updatedAt|date }}
                                {% endif %}

                                <br /><br />

                                <table class="table table-hover table-bordered">
                                    <thead>
                                    <tr>
                                        <th>session</th>
                                        <th>reservation</th>
                                        <th>properties points</th>
                                        <th>number of visits</th>
                                        <th>last visit at</th>
                                        <th>points</th>
                                        <th>discount email</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if reportUser.reportUserSessions is defined and reportUser.reportUserSessions|length > 0 %}
                                        {% for reportUserSession in reportUser.reportUserSessions %}
                                            <tr>
                                                <td>
                                                    {{ reportUserSession.id }} | {{ reportUserSession.sessionId }}<br /><br />

                                                    {% if reportUserSession.updatedAt %}
                                                        Report for session updated at<br />{{ reportUserSession.updatedAt|date }}
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if reportUserSession.reservation %}
                                                        <a href="{{ path('admin_utt_reservation_reservation_show', { 'id': reportUserSession.reservation.id }) }}">
                                                            {{ reportUserSession.reservation.id }}
                                                        </a>
                                                    {% else %}
                                                        <i>no reservation</i>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% set propertiesPoints = reportUserSession.getPropertiesPointsDecoded()|toArray %}
                                                    {% if propertiesPoints and propertiesPoints|length > 0 %}
                                                        {% for propertiesPointsKey, propertiesPointsKeyValue in propertiesPoints %}
                                                            <div>{{ propertiesPointsKey }} <span class="label label-info">{{ propertiesPointsKeyValue }}</span></div>
                                                        {% endfor %}
                                                    {% else %}
                                                        <i>no properties detected</i>
                                                    {% endif %}
                                                </td>
                                                <td>{{ reportUserSession.visitsNumber }}</td>
                                                <td>
                                                    {% if reportUserSession.lastVisitAt %}
                                                        {{ reportUserSession.lastVisitAt|date }}
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    <span class="label label-primary">{{ reportUserSession.points }}</span>
                                                </td>
                                                <td>
                                                    {% if reportUserSession.isDiscountEmailSent %}
                                                        sent |
                                                        {% if reportUserSession.discountCode %}
                                                            discount code ID: {{ reportUserSession.discountCode.id }}
                                                        {% endif %}
                                                    {% else %}
                                                        no email
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('sonata_admin_dashboard') }}">Dashboard</a>
    </li>
    <li class="active"><span>Analytics report user</span></li>
{% endblock %}