{% extends 'UTTAdminBundle:Admin:standard_layout.html.twig' %}
{% block sonata_admin_content %}
    {#
    <div class="col-sm-6">
        {% if reportReferers is defined and reportReferers|length > 0 %}
            {% for reportReferer in reportReferers %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>
                            <a href="{{ path('admin_utt_reservation_reservation_show', { 'id': reportReferer.reservation.id }) }}">
                                {{ reportReferer.reservation.id }}
                            </a>
                        </strong>
                    </div>

                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th width="20%">source type</th>
                            <th>source</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                {{ reportReferer.getRefererTypeName() }}
                            </td>
                            <td>
                                {{ reportReferer.referer }}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    #}
    <div class="col-sm-12">
    {% if reportReferers is defined and reportReferers|length > 0 and allDiscountCampaigns is defined and allDiscountCampaigns|length > 0 %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Discount codes analytics</strong>
            </div>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>discount code</th>
                    <th>bookings</th>
                    <th>total price</th>
                    <th>paid</th>
                    <th>commission</th>
                    <th>admin charge</th>
                </tr>
                </thead>
                <tbody>
                {% for discountCampaign in allDiscountCampaigns %}
                    {% set discountCampaignCounter = 0 %}

                    {% set sumTotalPrice = 0 %}
                    {% set sumPaid = 0 %}
                    {% set sumCommissionValue = 0 %}
                    {% set sumAdminCharge = 0 %}

                    {% for reportReferer in reportReferers %}
                        {% if reportReferer.referer == discountCampaign %}
                            {% set discountCampaignCounter = discountCampaignCounter + 1 %}

                            {% set sumTotalPrice = sumTotalPrice + reportReferer.reservation.totalPrice %}
                            {% set sumPaid = sumPaid + reportReferer.reservation.paid %}
                            {% set sumCommissionValue = sumCommissionValue + reportReferer.reservation.calculateCommissionValue() %}
                            {% set sumAdminCharge = sumAdminCharge + reportReferer.reservation.getPriceDecoded().adminCharge %}
                        {% endif %}
                    {% endfor %}

                    <tr>
                        <td>{{ discountCampaign }}</td>
                        <td>{{ discountCampaignCounter }} bookings</td>
                        <td>£{{ sumTotalPrice|number_format(2) }}</td>
                        <td>£{{ sumPaid|number_format(2) }}</td>
                        <td>£{{ sumCommissionValue|number_format(2) }}</td>
                        <td>£{{ sumAdminCharge|number_format(2) }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

    {% if reportReferers is defined and reportReferers|length > 0 and allNewsletterCampaigns is defined and allNewsletterCampaigns|length > 0 %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Newsletter analytics</strong>
                </div>

                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>referer</th>
                        <th>bookings</th>
                        <th>total price</th>
                        <th>paid</th>
                        <th>commission</th>
                        <th>admin charge</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for newsletterCampaign in allNewsletterCampaigns %}
                        {% set newsletterCampaignCounter = 0 %}

                        {% set sumTotalPrice = 0 %}
                        {% set sumPaid = 0 %}
                        {% set sumCommissionValue = 0 %}
                        {% set sumAdminCharge = 0 %}

                        {% for reportReferer in reportReferers %}
                            {% if reportReferer.referer == newsletterCampaign %}
                                {% set newsletterCampaignCounter = newsletterCampaignCounter + 1 %}

                                {% set sumTotalPrice = sumTotalPrice + reportReferer.reservation.totalPrice %}
                                {% set sumPaid = sumPaid + reportReferer.reservation.paid %}
                                {% set sumCommissionValue = sumCommissionValue + reportReferer.reservation.calculateCommissionValue() %}
                                {% set sumAdminCharge = sumAdminCharge + reportReferer.reservation.getPriceDecoded().adminCharge %}
                            {% endif %}
                        {% endfor %}

                        <tr>
                            <td>{{ newsletterCampaign }}</td>
                            <td>{{ newsletterCampaignCounter }} bookings</td>
                            <td>£{{ sumTotalPrice|number_format(2) }}</td>
                            <td>£{{ sumPaid|number_format(2) }}</td>
                            <td>£{{ sumCommissionValue|number_format(2) }}</td>
                            <td>£{{ sumAdminCharge|number_format(2) }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}

        {% if reportReferers is defined and reportReferers|length > 0 and allWebsiteCampaigns is defined and allWebsiteCampaigns|length > 0 %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Website referer analytics</strong>
                </div>

                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>referer</th>
                        <th>bookings</th>
                        <th>total price</th>
                        <th>paid</th>
                        <th>commission</th>
                        <th>admin charge</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for websiteCampaign in allWebsiteCampaigns %}
                        {% set websiteCampaignCounter = 0 %}

                        {% set sumTotalPrice = 0 %}
                        {% set sumPaid = 0 %}
                        {% set sumCommissionValue = 0 %}
                        {% set sumAdminCharge = 0 %}

                        {% for reportReferer in reportReferers %}
                            {% if reportReferer.referer == websiteCampaign %}
                                {% set websiteCampaignCounter = websiteCampaignCounter + 1 %}

                                {% set sumTotalPrice = sumTotalPrice + reportReferer.reservation.totalPrice %}
                                {% set sumPaid = sumPaid + reportReferer.reservation.paid %}
                                {% set sumCommissionValue = sumCommissionValue + reportReferer.reservation.calculateCommissionValue() %}
                                {% set sumAdminCharge = sumAdminCharge + reportReferer.reservation.getPriceDecoded().adminCharge %}
                            {% endif %}
                        {% endfor %}

                        <tr>
                            <td>{{ websiteCampaign }}</td>
                            <td>{{ websiteCampaignCounter }} bookings</td>
                            <td>£{{ sumTotalPrice|number_format(2) }}</td>
                            <td>£{{ sumPaid|number_format(2) }}</td>
                            <td>£{{ sumCommissionValue|number_format(2) }}</td>
                            <td>£{{ sumAdminCharge|number_format(2) }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}

        {% if reportReferers is defined and reportReferers|length > 0 and allDirectCampaigns is defined and allDirectCampaigns|length > 0 %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Direct entry analytics</strong>
                </div>

                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>referer</th>
                        <th>bookings</th>
                        <th>total price</th>
                        <th>paid</th>
                        <th>commission</th>
                        <th>admin charge</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for directDiscount in allDirectCampaigns %}
                        {% set directDiscountCounter = 0 %}

                        {% set sumTotalPrice = 0 %}
                        {% set sumPaid = 0 %}
                        {% set sumCommissionValue = 0 %}
                        {% set sumAdminCharge = 0 %}

                        {% for reportReferer in reportReferers %}
                            {% if reportReferer.getReservation().getDiscountPriceDecoded().getDiscountCode() == directDiscount %}
                                {% set directDiscountCounter = directDiscountCounter + 1 %}

                                {% set sumTotalPrice = sumTotalPrice + reportReferer.reservation.totalPrice %}
                                {% set sumPaid = sumPaid + reportReferer.reservation.paid %}
                                {% set sumCommissionValue = sumCommissionValue + reportReferer.reservation.calculateCommissionValue() %}
                                {% set sumAdminCharge = sumAdminCharge + reportReferer.reservation.getPriceDecoded().adminCharge %}
                            {% endif %}
                        {% endfor %}

                        <tr>
                            <td>{{ directDiscount }}</td>
                            <td>{{ directDiscountCounter }} bookings</td>
                            <td>£{{ sumTotalPrice|number_format(2) }}</td>
                            <td>£{{ sumPaid|number_format(2) }}</td>
                            <td>£{{ sumCommissionValue|number_format(2) }}</td>
                            <td>£{{ sumAdminCharge|number_format(2) }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
    {#
    <div class="col-sm-3">
        {% if reportReferers is defined and reportReferers|length > 0 and reportRefererAllowedTypes is defined and reportRefererAllowedTypes|length > 0 %}
            {% for key, value in reportRefererAllowedTypes %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>{{ value }}</strong>
                    </div>

                    <table class="table table-hover">
                        <tbody>
                        {% for reportReferer in reportReferers %}
                            {% if reportReferer.refererType == key %}
                            <tr>
                                <td>
                                    <a href="{{ path('admin_utt_reservation_reservation_show', { 'id': reportReferer.reservation.id }) }}">
                                        {{ reportReferer.reservation.id }}
                                    </a>
                                </td>
                                <td>
                                    {{ reportReferer.referer }}
                                </td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    #}
{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('sonata_admin_dashboard') }}">Dashboard</a>
    </li>
    <li class="active"><span>Analytics report referer</span></li>
{% endblock %}