{% extends '::the-project/base.html.twig' %}

{% block title %}Confirm your voucher - Under the Thatch{% endblock %}

{% block body %}
    <div class="breadcrumb-container">
        <div class="container">
            <ol class="breadcrumb">
                <li><i class="fa fa-home pr-10"></i><a href="{{ path('utt_index_homepage') }}">homepage</a></li>
                <li><a href="{{ path('utt_vouchers') }}">buy a voucher for our holiday cottages</a></li>
                <li class="active">confirm your voucher</li>
            </ol>
        </div>
    </div>
    <section class="main-container" style="padding: 0;">
        <div class="container">
            <div role="alert" class="alert alert-icon alert-success">
                <i class="fa fa-check"></i>
                great choice! please confirm to create the voucher.
            </div>
            <div class="row">
            <div class="row" style="margin-top: 20px;">
                <aside class="col-md-4">
                    <div class="sidebar">
                        <div class="block clearfix">
                            <div class="text-center">
                                <strong class="utt-color">total voucher price</strong>
                                <div class="total-price">{{ ''|currency_info }}<span>{{ totalPrice|currency_filter|raw }}</span></div>
                            </div>

                            <div class="separator"></div>

                            <div class="row">
                                <div class="col-xs-12">
                                    <dl style="margin-bottom: 0;" class="dl-horizontal dl-new-booking">
                                        <dt>base price</dt>
                                        <dd>{{ ''|currency_info }}<span>{{ price.getBasePrice()|currency_filter|raw }}</span></dd>

                                        <dt>credit card fee</dt>
                                        <dd>{{ ''|currency_info }}<span>{{ price.getCreditCardCharge()|currency_filter|raw }}</span></dd>

                                        <dt>charity donation</dt>
                                        <dd>{{ ''|currency_info }}<span>{{ price.getCharityCharge()|currency_filter|raw }}</span></dd>
                                    </dl>
                                </div>
                            </div>

                            <div class="separator"></div>

                            <div class="col-sm-12">
                                <div class="row pv-10">
                                    <dl style="margin-bottom: 0;" class="dl-horizontal dl-new-booking">
                                        <dt>voucher value</dt>
                                        <dd><span>{{ voucherValue }}</span></dd>

                                        <dt>voucher owner name</dt>
                                        <dd><span>{{ voucherName }}</span></dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                </aside>
                <div class="main col-md-8">
                    <div class="row">
                        <div class="col-xs-12">
                            {{ render(controller('UTTReservationBundle:Voucher:renderVoucher', { 'voucherValue': voucherValue, 'voucherName': voucherName })) }}
                        </div>
                    </div>
                    <div class="separator"></div>

                    <div class="row">
                        <div class="light-gray-bg pv-10 col-sm-12">
                            <h4>about you</h4>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div>{{ userData.getFirstName() }}</div>
                                    <div>{{ userData.getLastName() }}</div>
                                    <div>email: {{ userData.getEmail() }}</div>
                                    <div>phone: {{ userData.getPhone() }}</div>
                                </div>
                                <div class="col-sm-6">
                                    <strong>address</strong>
                                    <div>{{ userData.getAddress() }}</div>
                                    <div>{{ userData.getPostcode() }}, {{ userData.getCity() }}</div>
                                    <div>{{ userData.getCountry() }}</div>
                                </div>
                            </div>
                        </div>

                        <div class="text-center pv-20 col-sm-12">
                            <form action="{{ path('utt_voucher_confirm') }}" method="POST">
                                <button type="submit" class="btn btn-lg btn-default">book my voucher</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>
{% endblock %}