<div class="voucher-preview">
    <img src="/bundles/uttreservation/images/voucher-template.png" />
    {% if voucherValue is defined and voucherValue %}
        <div class="voucher-value">£{{ voucherValue }}</div>
    {% endif %}
    {% if voucherName is defined and voucherName %}
        <div class="voucher-name">{{ voucherName }}</div>
    {% endif %}
    {% if expiresAt is defined and expiresAt %}
        <div class="voucher-expires-at">voucher expires on {{ expiresAt|date }}</div>
    {% endif %}
</div>

<style>
    .voucher-preview {
        position: relative;

    }
    .voucher-preview .voucher-expires-at {
        color: white;
        font-size: 12px;
        line-height: 11px;
        position: absolute;
        right: 2%;
        top: 11%;
    }
    .voucher-preview .voucher-name {
        color: #871b09;
        font-size: 25px;
        left: 26%;
        line-height: 25px;
        position: absolute;
        top: 52%;
        width: 50%;
    }

    .voucher-preview .voucher-value {
        color: #6a623e;
        left: 8%;
        font-size: 36px;
        line-height: 36px;
        position: absolute;
        text-align: center;
        top: 37%;
        width: 13%;
    }

    @media (max-width: 768px) {
        .voucher-preview .voucher-value {
            font-size: 24px;
            line-height: 24px;
        }
        .voucher-preview .voucher-name {
            font-size: 16px;
            line-height: 16px;
        }
        .voucher-preview .voucher-expires-at {
            font-size: 8px;
            line-height: 8px;
        }
    }

    @media (max-width: 480px) {
        .voucher-preview .voucher-value {
            font-size: 13px;
            line-height: 13px;
        }
        .voucher-preview .voucher-name {
            font-size: 10px;
            line-height: 10px;
        }
        .voucher-preview .voucher-expires-at {
            display: none;
        }
    }

    .voucher-preview img {
        width: 100%;;
    }
</style>