{% extends '::the-project/base.html.twig' %}

{% block title %}Buy a voucher - Under the Thatch - the greatest holiday cottages{% endblock %}

{% block body %}
    <div class="breadcrumb-container">
        <div class="container">
            <ol class="breadcrumb">
                <li><i class="fa fa-home pr-10"></i><a href="{{ path('utt_index_homepage') }}">homepage</a></li>
                <li class="active">buy a voucher for our holiday cottages</li>
            </ol>
        </div>
    </div>

    <section class="main-container">
        <div class="container">
            <div class="row">
                <div class="main col-md-12">
                    <h1>vouchers</h1>

                    <h2>Looking for a present for special occasion? Choose a UTT holiday voucher!</h2>
                    <div class="separator-2"></div>

                    <div>
                        {% if voucherValues is defined and voucherValues %}
                            {% for voucherValueKey, voucherValueName in voucherValues %}
                                <h3>choose £{{ voucherValueName }} voucher</h3>
                                <div class="row">
                                    <div class="col-xs-8 col-sm-9 col-md-8">
                                        {{ render(controller('UTTReservationBundle:Voucher:renderVoucher', { 'voucherValue': voucherValueKey })) }}
                                    </div>
                                    <div class="col-xs-4 col-sm-3 col-md-4 text-center">
                                        {% if isVouchersOffer is defined and isVouchersOffer %}
                                            <a class="btn btn-default-transparent btn-lg" href="{{ path('utt_voucher_new', { 'voucherValue': voucherValueKey, 'isVouchersOffer': isVouchersOffer }) }}">BUY</a>
                                        {% else %}
                                            <a class="btn btn-default-transparent btn-lg" href="{{ path('utt_voucher_new', { 'voucherValue': voucherValueKey }) }}">BUY</a>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="separator"></div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}