<style>
    .voucher-value {
        color: #6a623e;
        font-size: 25px;
        line-height: 25px;
    }
    .voucher-discount-code {
        color: #039;
        font-size: 18px;
        line-height: 18px;
    }
    .voucher-name {
        color: #871b09;
        font-size: 15px;
        line-height: 15px;
    }
    .voucher-expires-at {
        color: white;
        font-size: 8px;
        line-height: 8px;
    }
</style>
<table>
    <tr>
        <td style="width: 24%; text-align: center;">
            <table style="padding-top: 70px;">
                <tr><td><div class="voucher-value">£{{ voucherValue }}</div></td></tr>
            </table>
        </td>
        <td style="width: 46%;">
            <table style="padding-top: 80px;">
                <tr><td><div class="voucher-discount-code">{{ voucherDiscountCode }}</div></td></tr>
            </table>
            <table style="padding-top: 15px;">
                <tr><td><div class="voucher-name">{{ voucherName }}</div></td></tr>
            </table>
        </td>
        <td style="width: 30%; text-align: right;">
            <div class="voucher-expires-at">voucher expires on {{ expiresAt|date }}</div>
        </td>
    </tr>
</table>


