{% extends '::the-project/base.html.twig' %}

{% block title %}Buy £{{ voucherValue }} voucher - Under the Thatch{% endblock %}

{% block body %}
    <div class="breadcrumb-container">
        <div class="container">
            <ol class="breadcrumb">
                <li><i class="fa fa-home pr-10"></i><a href="{{ path('utt_index_homepage') }}">homepage</a></li>
                <li><a href="{{ path('utt_vouchers') }}">buy a voucher for our holiday cottages</a></li>
                <li class="active">new voucher</li>
            </ol>
        </div>
    </div>

    <section class="main-container no-padding">
        <div class="container">
            <h1>New voucher</h1>

            <div role="alert" class="alert alert-icon alert-success">
                <i class="fa fa-check"></i>
                great choice! your voucher is almost ready.
            </div>
            
            <h2>buy £{{ voucherValue }} voucher and give it to someone special</h2>
            <div class="separator-2"></div>

            <div id="voucherAppHandler" class="row" ng-controller="voucherAppCtrl">
            <form name="voucherForm" class="row">
                <aside class="col-md-4">
                    <div class="sidebar">
                        <div class="block clearfix">
                            <div class="text-center">
                                <strong class="utt-color">total voucher price:</strong>
                                <div class="total-price">{{ ''|currency_info }}<span ng-init="initNewVoucherPrice('{{ newVoucherPrice }}')">{{ '{{totalPrice()}}' }}</span></div>
                            </div>

                            <div class="separator"></div>

                            <div class="row">
                                <div class="col-xs-12">
                                    <dl style="margin-bottom: 0;" class="dl-horizontal dl-new-booking">
                                        <dt>base price</dt>
                                        <dd>{{ ''|currency_info }}<span>{{ '{{basePrice()}}' }}</span></dd>

                                        <dt ng-if="creditCardCharge()">credit card fee</dt>
                                        <dd ng-if="creditCardCharge()">{{ ''|currency_info }}<span>{{ '{{creditCardCharge()}}' }}</span></dd>

                                        <dt ng-if="charityCharge()">charity donation</dt>
                                        <dd ng-if="charityCharge()">{{ ''|currency_info }}<span>{{ '{{charityCharge()}}' }}</span></dd>
                                    </dl>
                                </div>
                            </div>

                            {#<div class="separator"></div>#}

                            <div class="col-sm-12">
                                <div class="row light-gray-bg pv-10">
                                    <div class="col-md-12 pv-10">
                                        <label for="filterVoucherName" class="utt-color">name</label>
                                        <input id="filterVoucherName" type="text" class="form-control" ng-model="voucherName" ng-change="setVoucherName(voucherName)" required />
                                    </div>
                                    <div class="col-md-12">
                                        <label for="filterVoucherValue" class="utt-color">voucher value</label>
                                        <select id="filterVoucherValue" class="form-control" ng-init="initFilterVoucherValue('{{ voucherValue }}')" ng-model="voucherValue" ng-change="setVoucherValue(voucherValue)" ng-options="choice.id for choice in voucherValueChoices"></select>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="pv-10"></div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="text-center">
                                <strong class="utt-color">total voucher price:</strong>
                                <div class="total-price">{{ ''|currency_info }}<span ng-init="initNewVoucherPrice('{{ newVoucherPrice }}')">{{ '{{totalPrice()}}' }}</span></div>
                            </div>
                        </div>
                    </div>
                </aside>
                <div class="main col-md-8">
                    <div class="row">
                        <div class="col-xs-12">
                            <h3>voucher details</h3>
                            {{ render(controller('UTTReservationBundle:Voucher:renderVoucher', { 'voucherValue': voucherValue })) }}
                        </div>
                    </div>
                    <div class="separator"></div>
                    <div class="row">
                        <div class="light-gray-bg pv-10 col-sm-12">
                            <h3>about you</h3>
                            <div class="row">
                                <div class="col-md-4 pv-10">
                                    <label for="userDataFirstName" class="utt-color">your first name</label>
                                    <input id="userDataFirstName" ng-init="initUserData('{{ userData }}')" ng-change="changeUserFirstName(userData.firstName)" ng-model="userData.firstName" class="form-control" type="text" required />
                                </div>
                                <div class="col-md-4 pv-10">
                                    <label for="userDataLastName" class="utt-color">your last name</label>
                                    <input id="userDataLastName" ng-change="changeUserLastName(userData.lastName)" ng-model="userData.lastName" class="form-control" type="text" required />
                                </div>
                                <div class="col-md-4 pv-10">
                                    <label for="userDataEmail" class="utt-color">your email address</label>
                                    <input id="userDataEmail" class="form-control" type="email" ng-pattern="emailRegexp" ng-change="changeUserEmail(userData.email)" ng-model="userData.email" required />
                                </div>

                                <div class="col-md-4 pv-10">
                                    <label for="userDataPhone" class="utt-color">phone number</label>
                                    <input id="userDataPhone" class="form-control" type="text" ng-change="changeUserPhone(userData.phone)" ng-model="userData.phone" required />
                                </div>
                                <div class="col-md-8 pv-10">
                                    <label for="userDataAddress" class="utt-color">address</label>
                                    <input id="userDataAddress" class="form-control" type="text" ng-change="changeUserAddress(userData.address)" ng-model="userData.address" required />
                                </div>

                                <div class="col-md-4 pv-10">
                                    <label for="userDataCity" class="utt-color">city</label>
                                    <input id="userDataCity" class="form-control" type="text" ng-change="changeUserCity(userData.city)" ng-model="userData.city" required />
                                </div>
                                <div class="col-md-4 pv-10">
                                    <label for="userDataPostcode" class="utt-color">post code</label>
                                    <input id="userDataPostcode" class="form-control" type="text" ng-change="changeUserPostcode(userData.postcode)" ng-model="userData.postcode" />
                                </div>
                                <div class="col-md-4 pv-10">
                                    <label for="userDataCountry" class="utt-color">country</label>
                                    <select id="userDataCountry" class="form-control" ng-init="initCountryChoices()" ng-model="userDataCountry" ng-change="changeUserCountry(userDataCountry)" ng-options="choice.name for choice in countryChoices" required></select>
                                </div>
                            </div>
                        </div>

                        <div class="text-center pv-20 col-sm-12">
                            <label>
                                <input type="checkbox" ng-model="termsAgreed" /> * I confirm I have read and accept the {{ 'terms and conditions'|statis_page_url_terms|raw }}
                            </label>
                            <br />
                            <button ng-disabled="!isFormValid()" ng-click="bookVoucher()" class="btn btn-default">buy a voucher</button>
                        </div>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </section>

    <script>
        var $voucherValue = '{{ voucherValue }}';
        var $isVouchersOffer = '{{ isVouchersOffer }}';
    </script>
{% endblock %}

{% block body_old %}
    <style>
        #voucherAppHandler .estateName {
            font-size: 19px;
            color: black;
        }
        #voucherAppHandler .content .menu-titles {
            width: 150px;
            float: left;
            line-height: 34px;
        }
        #voucherAppHandler .content .titles-content {margin-left: 150px;}
        #voucherAppHandler .content .background-gray {
            background-color: rgb(246, 246, 246);
            padding: 10px 0;
            overflow: auto;
        }
        #voucherAppHandler .content .price {font-size: 28px;}
        #voucherAppHandler .buttons button {width:150px;}
        #voucherAppHandler .content .part {padding: 5px 0; overflow: auto;}
        #voucherAppHandler .content .ul-handler ul > li {color: #871B09;}
        #voucherAppHandler .content .ul-handler ul > li > span { font-size: 13px; color: grey; }
    </style>

    <div id="voucherAppHandler" ng-controller="voucherAppCtrl">
    <div class="background-color-lightGray content">
        <div class="body overflow-auto text-container">
            <div class="col-xs-12">
                <div class="break10">&nbsp</div>
                <div class="header">
                    <div class="background-heart-branch-contain font-tab-main-titles">
                        <div>NEW <span class="colorSpecjal">VOUCHER</span></div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12">
                {{ render(controller('UTTReservationBundle:Voucher:renderVoucher', { 'voucherValue': voucherValue })) }}
            </div>
        </div>
        <div class="break10">&nbsp</div>
        <div class="break15">&nbsp</div>
    </div>

    {% include 'UTTIndexBundle:Index:partial/common/separatorHeart.html.twig' with {'backgroundType': 'white'} only %}

    <div class="body content">
        <div class="text-container overflow-auto col-xs-12">
            <div class="header">
                <div class="background-heart-branch-contain font-tab-main-titles">
                    <div>ABOUT <span class="colorSpecjal">YOU</span></div>
                </div>
            </div>
            <div class="break5"> </div>
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success">{{ flashMessage }}</div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-danger">{{ flashMessage }}</div>
            {% endfor %}

            <form name="voucherForm" class="row">
                <div class="col-hs-8 background-gray">
                    <div class="col-xs-12">
                        <div class="part">
                            <label for="userDataFirstName" class="menu-titles colorSpecjal">Your first name:</label>
                            <div class="titles-content">
                                <input id="userDataFirstName" ng-init="initUserData('{{ userData }}')" ng-change="changeUserFirstName(userData.firstName)" ng-model="userData.firstName" class="form-control" type="text" required />
                            </div>
                        </div>
                        <div class="part">
                            <label for="userDataLastName" class="menu-titles colorSpecjal">Your last name:</label>
                            <div class="titles-content">
                                <input id="userDataLastName" ng-change="changeUserLastName(userData.lastName)" ng-model="userData.lastName" class="form-control" type="text" required />
                            </div>
                        </div>
                        <div class="part">
                            <label for="userDataEmail" class="menu-titles colorSpecjal">Your email address:</label>
                            <div class="titles-content">
                                <input id="userDataEmail" class="form-control" type="email" ng-pattern="emailRegexp" ng-change="changeUserEmail(userData.email)" ng-model="userData.email" required />
                            </div>
                        </div>
                        <div class="part">
                            <label for="userDataPhone" class="menu-titles colorSpecjal">Phone number:</label>
                            <div class="titles-content">
                                <input id="userDataPhone" class="form-control" type="text" ng-change="changeUserPhone(userData.phone)" ng-model="userData.phone" required />
                            </div>
                        </div>
                        <div class="part">
                            <label for="userDataAddress" class="menu-titles colorSpecjal">Address:</label>
                            <div class="titles-content">
                                <input id="userDataAddress" class="form-control" type="text" ng-change="changeUserAddress(userData.address)" ng-model="userData.address" required />
                            </div>
                        </div>
                        <div class="part">
                            <label for="userDataCity" class="menu-titles colorSpecjal">City:</label>
                            <div class="titles-content">
                                <input id="userDataCity" class="form-control" type="text" ng-change="changeUserCity(userData.city)" ng-model="userData.city" required />
                            </div>
                        </div>
                        <div class="part">
                            <label for="userDataPostcode" class="menu-titles colorSpecjal">Post code:</label>
                            <div class="titles-content">
                                <input id="userDataPostcode" class="form-control" type="text" ng-change="changeUserPostcode(userData.postcode)" ng-model="userData.postcode" />
                            </div>
                        </div>
                        <div class="part">
                            <label for="userDataCountry" class="menu-titles colorSpecjal">Country:</label>
                            <div class="titles-content">
                                <select id="userDataCountry" class="form-control" ng-init="initCountryChoices()" ng-model="userDataCountry" ng-change="changeUserCountry(userDataCountry)" ng-options="choice.name for choice in countryChoices" required></select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-hs-4">
                    <div class="background-gray">
                        <div>
                            <div class="col-md-12">
                                <label for="filterVoucherName" class="colorSpecjal">Name</label>
                                <input id="filterVoucherName" type="text" class="form-control" ng-model="voucherName" ng-change="setVoucherName(voucherName)" />
                            </div>
                            <div class="col-md-12">
                                <label for="filterVoucherValue" class="colorSpecjal">Voucher value</label>
                                <select id="filterVoucherValue" class="form-control" ng-init="initFilterVoucherValue('{{ voucherValue }}')" ng-model="voucherValue" ng-change="setVoucherValue(voucherValue)" ng-options="choice.id for choice in voucherValueChoices"></select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <div class="break10">
                                <label class="colorSpecjal">total holiday price:</label>
                                <div class="price">{{ ''|currency_info }}<span ng-init="initNewVoucherPrice('{{ newVoucherPrice }}')">{{ '{{totalPrice()}}' }}</span></div>
                            </div>

                            price includes:
                            <div>
                                Base price: {{ ''|currency_info }}<span>{{ '{{basePrice()}}' }}</span>
                            </div>
                            <div ng-if="creditCardCharge()">
                                Credit card fee: {{ ''|currency_info }}<span>{{ '{{creditCardCharge()}}' }}</span>
                            </div>
                            <div ng-if="charityCharge()">
                                Charity donation: {{ ''|currency_info }}<span>{{ '{{charityCharge()}}' }}</span>
                            </div>
                        </div>
                    </div>

                    <div class="buttons overflow-auto text-center break15">
                        <div>
                            <label>
                                <input type="checkbox" ng-model="termsAgreed" /> * I confirm I have read and accept the {{ 'terms and conditions'|statis_page_url_terms|raw }}
                            </label>
                        </div>
                        <button ng-disabled="!isFormValid()" ng-click="bookVoucher()" class="btn btn-main-page">buy a voucher</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="break10">&nbsp</div>
    </div>

    <script>
        var $voucherValue = '{{ voucherValue }}';
        var $isVouchersOffer = '{{ isVouchersOffer }}';
    </script>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
    'bundles/uttreservation/js/voucherApp.js'
    filter='yui_js' %}<script type="text/javascript" src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}