.padding-top-30 {padding-top: 30px}
.reservation-list {padding-bottom: 50px;}

@media (min-width: 551px){
    .my-profil-left-menu
    {
        width: 280px;
        float: left;
    }
}
@media (max-width: 550px){
    .my-profil-left-menu
    {
        width: 100%;
    }
}
.my-profil-left-menu .one-part
{
    cursor: pointer;
    background-color: rgb(77, 17, 7);
    overflow: auto;
}
.my-profil-left-menu .one-part:hover {
    background-color: rgb(107, 97, 61);
}
.my-profil-left-menu .one-part:hover .img-dashboard,
.my-profil-left-menu .one-part:hover .img-preferences,
.my-profil-left-menu .one-part:hover .img-other,
.my-profil-left-menu .one-part:hover .img-edit,
.my-profil-left-menu .one-part:hover .img-messages,
.my-profil-left-menu .one-part:hover .img-preview
{
    background-color: rgb(90, 81, 51);
}
.my-profil-left-menu .one-part .img-handler {
    float:left;
    width: 60px;
    height: 50px;
}
.my-profil-left-menu .one-part .text {
    font-size:17px;
    margin-left: 75px;
    color: white;
    line-height: 50px;
    vertical-align: middle;
}
.my-profil-left-menu .one-part .img-dashboard {
    background: url(/bundles/uttindex/images/profile/leftMenu/dashboard.png) no-repeat scroll center center rgb(65, 14, 6);
}
.my-profil-left-menu .one-part .img-preferences {
    background: url(/bundles/uttindex/images/profile/leftMenu/preferences.png) no-repeat scroll center center rgb(65, 14, 6);
}
.my-profil-left-menu .one-part .img-other {
    background: url(/bundles/uttindex/images/profile/leftMenu/other.png) no-repeat scroll center center rgb(65, 14, 6);
}
.my-profil-left-menu .one-part .img-edit {
    background: url(/bundles/uttindex/images/profile/leftMenu/edit.png) no-repeat scroll center center rgb(65, 14, 6);
}
.my-profil-left-menu .one-part .img-messages {
    background: url(/bundles/uttindex/images/profile/leftMenu/messages.png) no-repeat scroll center center rgb(65, 14, 6);
}
.my-profil-left-menu .one-part .img-preview {
    background: url(/bundles/uttindex/images/profile/leftMenu/preview.png) no-repeat scroll center center rgb(65, 14, 6);
}

.my-profil-left-menu .info-part {background-color: rgb(51, 51, 51);padding: 25px 20px;}
.my-profil-left-menu .info-part .header {font-size: 17px;color: white;margin-bottom: 5px;}
.my-profil-left-menu .info-part .text {font-size: 13px; color: rgb(238, 238, 238);}


@media (min-width: 551px){
    .my-profil-right-content
    {
        margin-left: 280px;
        margin-right: 1px;
        background-color: rgb(244, 244, 244);
    }
}
@media (max-width: 550px){
    .my-profil-right-content
    {
        background-color: rgb(244, 244, 244);
    }
}
.my-profil-right-content .header
{
    overflow: auto;
    border-bottom: 1px solid rgb(197, 197, 197);
}
.my-profil-right-content .header .img-handler {
    float:left;
    width: 60px;
    height: 50px;
}
.my-profil-right-content .header .img-step1
{
    background: url(/bundles/uttindex/images/counter/circle-1.png) no-repeat scroll center center rgba(0, 0, 0, 0);
}
.my-profil-right-content .header .img-step2
{
    background: url(/bundles/uttindex/images/counter/circle-2.png) no-repeat scroll center center rgba(0, 0, 0, 0);
}
.my-profil-right-content .header .text {
    font-size:17px;
    margin-left: 60px;
    line-height: 50px;
    vertical-align: middle;
}


.my-profil-right-content form {}
.my-profil-right-content .padding-container {padding: 20px 20px;}
.my-profil-right-content .button-handler {
    text-align: center;
}
.my-profil-right-content .button-handler .btn {
    width: 200px;
    margin: 0 auto;
}

.reservation-list .see-all {margin: 0 auto; width: 200px;}