{% extends 'UTTAdminBundle:Admin:standard_layout.html.twig' %}
{% block sonata_admin_content %}
    {% block notice %}
        {% include 'SonataCoreBundle:FlashMessage:render.html.twig' %}
    {% endblock notice %}
    <div id="cleaningRotaFilters">
        {% if estates is defined and estates|length > 0 %}
            <div>
                accommodation
                <select id="cleaningRotaFilterEstate" class="form-control">
                    <option value="">-- select property to show cleaning rota --</option>
                    {% for estate in estates %}
                        <option value="{{ estate.id }}" {% if estate.id == estateId %}selected="selected"{% endif %}>{{ estate.name }}</option>
                    {% endfor %}
                </select>
            </div>
        {% endif %}
    </div>
    <br />
    <div>
        {% if reservations is defined and reservations|length > 0 %}
            <div class="panel panel-default">
                <div class="panel-heading">cleaning rota by property</div>
                {% include 'UTTAdminBundle:CleaningRota:partial/cleaningRotaItems.html.twig' with { 'reservations': reservations } only %}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('sonata_admin_dashboard') }}">Dashboard</a>
    </li>
    <li>
        <a href="{{ path('utt_admin_cleaning_rota') }}">Cleaning rota</a>
    </li>
    <li class="active"><span>Cleaning rota by property</span></li>
{% endblock %}