{% extends '::base.html.twig' %}

{% block body %}
    <style>
        .estateName {
            font-size: 19px;
            color: black;
        }
        .buttons button {
            width: 150px !important;
        }
        .background-gray {
            background-color: rgb(246, 246, 246);
            padding: 10px 0;
            overflow: auto;
        }
        .clear {
            clear: both;
        }
        
    </style>
    <div class="background-color-lightGray content">
        <div class="body overflow-auto text-container">
            <div class="col-xs-12">
                <div class="break10">&nbsp</div>
                <div class="header">
                    <div class="background-heart-branch-contain font-tab-main-titles">
                        <div>CONFIRM <span class="colorSpecjal">YOUR RESERVATION CHANGE</span></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="res-img-handler text-center">
                    {% set estatePhoto = estate.getRandomPhoto() %}

                    {% if estatePhoto and estatePhoto.fileName is defined and estatePhoto.fileName and estatePhoto.getUploadDir() is defined and estatePhoto.getUploadDir() %}
                        {% set photoPath = '/' ~ estatePhoto.getUploadDir() ~ '/' ~ estatePhoto.fileName %}
                        {% set photoPathSrc = photoPath | imagine_filter('reservation_estate_image_thumb') %}
                    {% else %}
                        {% set photoPath = '/bundles/uttindex/images/placeholder.png' %}
                        {% set photoPathSrc = photoPath | imagine_filter('reservation_estate_image_thumb') %}
                    {% endif %}
                    <a href="{{ path('utt_estate_show_estate', { 'estateShortName': estate.shortName }) }}">
                        <img title="{{ estate.name }}" src="{{ photoPathSrc }}" alt="{{ estate.name }}">
                    </a>
                </div>

                <div class="after-res-img-handler">
                    <div>
                        <a class="estateName" href="{{ path('utt_estate_show_estate', { 'estateShortName': estate.shortName }) }}">
                            <strong>{{ estate.name }}</strong>
                        </a>
                    </div>
                    <div>
                        {{ estate.locationText }}
                    </div>

                    <div class="row">
                        <div class="col-hs-5 break10">
                            <div>
                                <strong class="colorSpecjal">from:</strong>
                                <strong ng-init="setFromDate('{{ fromDate|date('Y-m-d') }}')">{{ fromDate|date('l, j F Y') }}</strong><br />
                                <i>(arrive from {{ estate.checkInTime|date('H:i') }})</i>
                            </div>
                            <div class="break10">
                                <strong class="colorSpecjal">to:</strong>
                                <strong ng-init="setToDate('{{ toDate|date('Y-m-d') }}')">{{ toDate|date('l, j F Y') }}</strong><br />
                                <i>(depart by {{ estate.checkOutTime|date('H:i') }})</i>
                            </div>
                        </div>
                        <div class="col-hs-7 break10">
                            <span class="colorSpecjal">guests up to:</span> {{ estate.sleeps }}<br />
                            <span class="colorSpecjal">children:</span> {{ estate.getChildrenName() }}<br />
                            <span class="colorSpecjal">infants:</span> {{ estate.getInfantsName() }}<br />
                            <span class="colorSpecjal">pets:</span> {{ estate.getPetsName() }}<br />
                            <!--<a href="{{ path('utt_estate_show_estate', { 'estateShortName': estate.shortName }) }}">change dates..</a>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <strong class="font19">Booking notes:</strong>
                <div>
                    {% if estate.bookingNotes %}
                        {{ estate.bookingNotes }}
                    {% else %}
                        <i>No booking notes</i>
                    {% endif %}
                </div>
            </div>
            <br class="clear" />

            <div class="col-hs-8">
                <div class="background-gray">
                    <div class="col-xs-12">
                        <strong>User</strong>
                        <div>{{ reservation.userDataDecoded().firstName|truncate(20) }}</div>
                        <div>{{ reservation.userDataDecoded().lastName|truncate(20) }}</div>
                        <div>Email: {{ reservation.userDataDecoded().email }}</div>
                        <div>Phone: {{ reservation.userDataDecoded().phone }}</div>
                        <div class="break10">
                            <strong>Address</strong>
                            <div>{{ reservation.userDataDecoded().address }}</div>
                            <div>{{ reservation.userDataDecoded().postcode }}, {{ reservation.userDataDecoded().city }}</div>
                            <div>{{ reservation.userDataDecoded().country }}</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-hs-4">
                <div class="background-gray">
                    <div class="col-xs-12">
                        <div>
                            All guests (including children): {{ reservation.sleeps }}<br />
                            Number of adults: {{ reservation.getSleepsAdults() }}<br />
                            Number of children: {{ reservation.sleepsChildren }}<br />
                            Pets: {{ reservation.pets }}<br />
                            Infants: {{ reservation.infants }}
                        </div>

                        <div class="break10">
                            <strong>Prices</strong>
                            <div>Base price: {{ ''|currency_info }}{{ reservation.getPriceDecoded().basePrice }}</div>
                            <div>Additional guests: {{ ''|currency_info }}{{ reservation.getPriceDecoded().additionalSleepsPrice }}</div>
                            <div>Booking fee: {{ ''|currency_info }}{{ reservation.getPriceDecoded().adminCharge }}</div>
                            <div>Credit card  fee: {{ ''|currency_info }}{{ reservation.getPriceDecoded().creditCardCharge }}</div>
                            <div>Booking Protect fee: {{ ''|currency_info }}{{ reservation.getPriceDecoded().bookingProtectCharge }}</div>
                            <div>Charity donation: {{ ''|currency_info }}{{ reservation.getPriceDecoded().charityCharge }}</div>
                            <div>Pets: {{ ''|currency_info }}{{ reservation.getPriceDecoded().petsPrice }}</div>
                            <div>Discount: -{{ ''|currency_info }}{{ reservation.getDiscountPriceDecoded().total }}</div>
                            <div><strong>Total price:</strong> {{ ''|currency_info }}{{ reservation.totalPrice }}</div>
                        </div>
                    </div>
                </div>
            </div>

            <br class="clear" />
            <div class="break10"></div>

            <div class="break10"></div>
            <br class="clear" />

            <div class="col-hs-8">
                <div class="background-gray">
                    <div class="col-xs-12">
                        <strong>User</strong>
                        <div>{{ userData.getFirstName() }}</div>
                        <div>{{ userData.getLastName() }}</div>
                        <div>Email: {{ userData.getEmail() }}</div>
                        <div>Phone: {{ userData.getPhone() }}</div>
                        <div class="break10">
                            <strong>Address</strong>
                            <div>{{ userData.getAddress() }}</div>
                            <div>{{ userData.getPostcode() }}, {{ userData.getCity() }}</div>
                            <div>{{ userData.getCountry() }}</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-hs-4">
                <div class="background-gray">
                    <div class="col-xs-12">
                        <div>
                            All guests (including children): {{ sleeps }}<br />
                            Number of adults: {{ sleeps - sleepsChildren }}<br />
                            Number of children: {{ sleepsChildren }}<br />
                            Pets: {{ pets }}<br />
                            Infants: {{ infants }}
                        </div>

                        <div class="break10">
                            <strong>Prices</strong>
                            <div>Base price: {{ ''|currency_info }}{{ price.getBasePrice() }}</div>
                            <div>Additional guests: {{ ''|currency_info }}{{ price.getAdditionalSleepsPrice() }}</div>
                            <div>Booking fee: {{ ''|currency_info }}{{ price.getAdminCharge() }}</div>
                            <div>Credit card fee: {{ ''|currency_info }}{{ price.getCreditCardCharge() }}</div>
                            <div>Booking Protect fee: {{ ''|currency_info }}{{ price.getBookingProtectCharge() }}</div>
                            <div>Charity donation: {{ ''|currency_info }}{{ price.getCharityCharge() }}</div>
                            <div>Pets: {{ ''|currency_info }}{{ price.getPetsPrice() }}</div>
                            <div><strong>Total price:</strong> {{ ''|currency_info }}{{ totalPrice }}</div>
                        </div>
                    </div>
                </div>
            </div>

            <br class="clear" />
            {% if reservation.isBookingProtect %}
                <div class="col-md-12">
                    <div class="text-center">
                        <img alt="Booking Protect Logo" src="https://cdn.insure-hub.net/bplogo.png" />
                    </div>
                    <h3>Refund Protection</h3>
                    <span>Refund protection is available at a cost of {{ ''|currency_info }}{{ price.getBookingProtectCharge() }} and it is included to your booking. You will be able to get a full refund of the purchase price if you are unable to attend due to;</span>
                    <div>
                        <ul>
                            <li>Death, <strong>injury</strong>, or <strong>illness</strong> happening to <strong>you</strong>, or a member of <strong>your immediate family</strong>.</li>
                            <li>Adverse weather including snow, frost, fog or storm where the Police or Government have issued travel warnings.</li>
                            <li>The mechanical breakdown, accident, fire or theft en route of a private vehicle taking <strong>you</strong> to the <strong>booked event</strong>.</li>
                        </ul>
                    </div>
                </div>

                <br class="clear" />
            {% endif %}

            <div class="col-xs-12">
                <form class="buttons overflow-auto text-center break15" action="{{ path('utt_reservation_change_confirm') }}" method="POST">
                    <button type="submit" class="btn btn-main-page">Change holiday</button>
                </form>
            </div>
        </div>
        <div class="break10">&nbsp</div>
        <div class="break15">&nbsp</div>
    </div>
{#
    {% include 'UTTIndexBundle:Index:partial/common/separatorHeart.html.twig' with {'backgroundType': 'white'} only %}

    <div class="body">
        <div class="text-container overflow-auto col-xs-12">
            <div class="header">
                <div class="background-heart-branch-contain font-tab-main-titles">
                    <div>SOME <span class="colorSpecjal">INFORMATION AT THE END</span></div>
                </div>
            </div>
            <div>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ullamcorper, dolor quis convallis pulvinar, ante est interdum metus, nec porttitor lacus arcu a ligula. Proin massa nisl, sagittis in massa eu, mattis aliquet est. Fusce placerat, enim vel molestie venenatis, erat ipsum pellentesque velit, sit amet interdum nunc ante quis arcu. Quisque porttitor dolor nec aliquam hendrerit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean volutpat venenatis odio eu malesuada. Sed rhoncus arcu eleifend lacus scelerisque elementum. Aenean vel tortor augue. Aenean volutpat odio vel neque vulputate, ut semper turpis consectetur. Vivamus felis quam, gravida a volutpat id, aliquet eget ipsum. Phasellus nec suscipit augue. Aliquam a eros mattis, egestas felis sed, gravida mauris.
            </div>
        </div>
    </div>
    <div class="break10">&nbsp</div>
#}
{% endblock %}