{% extends '::the-project/base.html.twig' %}

{% block title %}Confirm your reservation - Under the Thatch{% endblock %}

{% block body %}
    <div class="breadcrumb-container">
        <div class="container">
            <ol class="breadcrumb">
                <li><i class="fa fa-home pr-10"></i><a href="{{ path('utt_index_homepage') }}">homepage</a></li>
                <li class="active">confirm your reservation</li>
            </ol>
        </div>
    </div>

    <section class="main-container no-padding">
        <div class="container">
            <div role="alert" class="alert alert-icon alert-success">
                <i class="fa fa-check"></i>
                great choice! please confirm to create the booking.
            </div>
            <div class="row">
            <div class="row" style="margin-top: 20px;">
                <aside class="col-md-4">
                    <div class="sidebar">
                        <div class="block clearfix">
                            <div class="text-center">
                                <strong class="utt-color">total holiday price</strong>
                                <div class="total-price">{{ ''|currency_info }}<span>{{ totalPrice|currency_filter|raw }}</span></div>
                            </div>

                            <div class="separator"></div>

                            <div class="row">
                                <div class="col-xs-12">
                                    <dl style="margin-bottom: 0;" class="dl-horizontal dl-new-booking">
                                        <dt>base price</dt>
                                        <dd>{{ ''|currency_info }}<span>{{ price.getBasePrice()|currency_filter|raw }}</span></dd>

                                        <dt>additional guests</dt>
                                        <dd>{{ ''|currency_info }}<span>{{ price.getAdditionalSleepsPrice()|currency_filter|raw }}</span></dd>

                                        <dt>booking fee</dt>
                                        <dd>{{ ''|currency_info }}<span>{{ price.getAdminCharge()|currency_filter|raw }}</span></dd>

                                        <dt>booking protect fee</dt>
                                        <dd>{{ ''|currency_info }}<span>{{ price.getBookingProtectCharge()|currency_filter|raw }}</span></dd>

                                        <dt>charity donation</dt>
                                        <dd>{{ ''|currency_info }}<span>{{ price.getCharityCharge()|currency_filter|raw }}</span></dd>

                                        <dt>pets</dt>
                                        <dd>{{ ''|currency_info }}<span>{{ price.getPetsPrice()|currency_filter|raw }}</span></dd>

                                        <dt>discount</dt>
                                        <dd>-{{ ''|currency_info }}<span>{{ discountPrice.getTotal()|currency_filter|raw }}</span></dd>
                                    </dl>
                                </div>
                            </div>

                            <div class="separator"></div>

                            <div class="col-sm-12">
                                <div class="row pv-10">
                                    <dl style="margin-bottom: 0;" class="dl-horizontal dl-new-booking">
                                        <dt>all guests</dt>
                                        <dd><span>{{ sleeps }}</span></dd>

                                        <dt>number of adults</dt>
                                        <dd><span>{{ sleeps - sleepsChildren }}</span></dd>

                                        <dt>number of children</dt>
                                        <dd><span>{{ sleepsChildren }}</span></dd>

                                        <dt>pets</dt>
                                        <dd><span>{{ pets }}</span></dd>

                                        <dt>infants</dt>
                                        <dd><span>{{ infants }}</span></dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                </aside>
                <div class="main col-md-8">
                    <div class="row">
                        <div class="col-xs-4 text-center">
                            {% set estatePhoto = estate.getRandomPhoto() %}

                            {% if estatePhoto and estatePhoto.fileName is defined and estatePhoto.fileName and estatePhoto.getUploadDir() is defined and estatePhoto.getUploadDir() %}
                                {% set photoPath = '/' ~ estatePhoto.getUploadDir() ~ '/' ~ estatePhoto.fileName %}
                                {% set photoPathSrc = photoPath | imagine_filter('reservation_estate_image_thumb') %}
                            {% else %}
                                {% set photoPath = '/bundles/uttindex/images/placeholder.png' %}
                                {% set photoPathSrc = photoPath | imagine_filter('reservation_estate_image_thumb') %}
                            {% endif %}
                            <a href="{{ path('utt_estate_show_estate', { 'estateShortName': estate.shortName }) }}">
                                <img title="{{ estate.name }}" src="{{ photoPathSrc }}" alt="{{ estate.name }}">
                            </a>
                        </div>

                        <div class="col-xs-8">
                            <div>
                                <a href="{{ path('utt_estate_show_estate', { 'estateShortName': estate.shortName }) }}">
                                    <strong>{{ estate.name }}</strong>
                                    <input ng-model="estateShortName" ng-init="setEstateShortName('{{ estate.shortName }}')" type="hidden" />
                                </a>
                            </div>
                            <div>
                                <i aria-hidden="true" class="fa fa-bed utt-color"></i> sleeps up to {{ estate.sleeps }}&#160;&#160;
                                <i aria-hidden="true" class="fa fa-map-marker utt-color"></i> {{ estate.locationText }}
                            </div>
                            <div class="pv-10">
                                {#children#}{{ estate.getChildrenName()|lower }}<br />
                                {#infants#} {{ estate.getInfantsName()|lower }}<br />
                                {#pets#} {{ estate.getPetsName()|lower }}
                            </div>
                        </div>
                    </div>
                    <div class="separator"></div>
                    <div class="row">
                        <div class="col-sm-10 pv-10">
                            <div class="col-sm-6">
                                <strong class="utt-color">from</strong>
                                <strong ng-init="setFromDate('{{ fromDate|date('Y-m-d') }}')">{{ fromDate|date('l, j F Y') }}</strong><br />
                                <i>(arrive from {{ estate.checkInTime|date('H:i') }})</i>
                            </div>
                            <div class="col-sm-6">
                                <strong class="utt-color">to</strong>
                                <strong ng-init="setToDate('{{ toDate|date('Y-m-d') }}')">{{ toDate|date('l, j F Y') }}</strong><br />
                                <i>(depart by {{ estate.checkOutTime|date('H:i') }})</i>
                            </div>
                        </div>
                    </div>
                    <div class="separator"></div>
                    <div class="row">
                        <div class="col-sm-12 pv-10">
                            <h4>booking notes</h4>

                            <p class="bg-success p-20">
                                {% if estate.bookingNotes %}
                                    {{ estate.bookingNotes }}
                                {% else %}
                                    <i>no booking notes</i>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="light-gray-bg pv-10 col-sm-12">
                            <h4>about you</h4>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div>{{ userData.getFirstName() }}</div>
                                    <div>{{ userData.getLastName() }}</div>
                                    <div>email: {{ userData.getEmail() }}</div>
                                    <div>phone: {{ userData.getPhone() }}</div>
                                </div>
                                <div class="col-sm-6">
                                    <strong>address</strong>
                                    <div>{{ userData.getAddress() }}</div>
                                    <div>{{ userData.getPostcode() }}, {{ userData.getCity() }}</div>
                                    <div>{{ userData.getCountry() }}</div>
                                </div>
                            </div>
                        </div>

                        {% if isBookingProtect %}
                            <div class="col-sm-12">
                                <div class="separator"></div>
                                <div class="text-center">
                                    <img alt="Booking Protect Logo" src="https://cdn.insure-hub.net/bplogo.png" style="margin: auto" />
                                </div>
                                <h3>Refund Protection</h3>
                                <span>Refund protection is available at a cost of {{ ''|currency_info }}{{ price.getBookingProtectCharge()|currency_filter|raw }} and it is included to your booking. You will be able to get a full refund of the purchase price if you are unable to attend due to;</span>
                                <div>
                                    <ul>
                                        <li>Death, <strong>injury</strong>, or <strong>illness</strong> happening to <strong>you</strong>, or a member of <strong>your immediate family</strong>.</li>
                                        <li>Adverse weather including snow, frost, fog or storm where the Police or Government have issued travel warnings.</li>
                                        <li>The mechanical breakdown, accident, fire or theft en route of a private vehicle taking <strong>you</strong> to the <strong>booked event</strong>.</li>
                                    </ul>
                                </div>
                            </div>
                        {% endif %}

                        <div class="text-center pv-20 col-sm-12">
                            <form action="{{ path('utt_reservation_confirm') }}" method="POST">
                                <button type="submit" class="btn btn-lg btn-default">book my holiday</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>
{% endblock %}