{% if year is defined and year %}
        <div id="pricings-seasons-legend"></div>
        {% set modalHtml = ' 
                <div class="modal-body">
                    <div><span class="fromDate"></span> - <span class="toDate"></span></div>
                    <div>Price: <input type="text" class="price" /></div>
                    <div style="display: none; margin-top: 3px;">Standing charge: <input type="text" class="initialPrice" /></div>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                    <button class="btn btn-primary save-this">Save only this</button>
                    <!--<button class="btn btn-primary save-next">Save for each next</button>-->
                </div>'
        %}
        {#% set calType = object.getType() %#}
        {% set calForNextMonths = 11 %}
            
        {% for month in 0..calForNextMonths %}
            {% set tmpDate = date(year ~ '-01-01')|date_modify("+" ~ month ~ " month") %}
            <div class="pricingCalMo">
                <div>
                    {{ tmpDate|date("F Y") }}
                </div>
                <div class="cal">
                    {% for iDay in 1..tmpDate|date("t") %}
                        {% set tmpDay = tmpDate|date("Y-m")~"-"~iDay %}
                        <div class="day" day="{{ tmpDay|date("d-m-Y") }}">
                            <div class="day-details">
                                <div>{{ tmpDay|date("D")|slice(0, 2) }}</div>
                                <div>{{ iDay }}</div>
                            </div>
                            <div class="day-line">
                            {% set modalPart = "" %}
                            {#% if calType == constant('UTT\\EstateBundle\\Entity\\Estate::TYPE_FLEXIBLE_BOOKING') %#}
                                <div class="priceLine-flexi" rel="tooltip" data-placement="top" title="no pricing set" >
                                    <div {{modalPart}} class="part-1 {% if tmpDay|date("N") <=4 or tmpDay|date("N") == 7 %}standard-2{%else%}standard-1{%endif%}"></div>
                                    <div {{modalPart}} class="part-2 {% if tmpDay|date("N") <=4 or tmpDay|date("N") == 7 %}standard-2{%else%}standard-1{%endif%}"></div>
                                </div>
                            {#% elseif calType == constant('UTT\\EstateBundle\\Entity\\Estate::TYPE_STANDARD_M_F') %#}
                                <div class="priceLine-standardShort" rel="tooltip" data-placement="top" title="no pricing set" >
                                    {% if tmpDay|date("W") % 2 == 1 %}
                                    <div {{modalPart}} class="part-1 {% if tmpDay|date("N") <=5 and tmpDay|date("N") != 1 %}standard-2{%else%}standard-1{%endif%}"></div>
                                    <div {{modalPart}} class="part-2 {% if tmpDay|date("N") <5 or tmpDay|date("N") == 1 %}standard-2{%else%}standard-1{%endif%}"></div>
                                    {% else %}
                                    <div {{modalPart}} class="part-1 {% if tmpDay|date("N") >5 or tmpDay|date("N") == 1 %}standard-1{%else%}standard-2{%endif%}"></div>
                                    <div {{modalPart}} class="part-2 {% if tmpDay|date("N") >=5 %}standard-1{%else%}standard-2{%endif%}"></div>
                                    {% endif %}
                                </div>
                                <div class="priceLine-standardLongMn" rel="tooltip" data-placement="top" title="no pricing set" >
                                    {% if tmpDay|date("W") % 2 == 1 %}
                                    <div {{modalPart}} class="part-1 {%if tmpDay|date("N")==1%}standard-2{%else%}standard-1{%endif%}"></div>
                                    <div {{modalPart}} class="part-2 standard-1"></div>
                                    {% else %}
                                    <div {{modalPart}} class="part-1 {%if tmpDay|date("N")==1%}standard-1{%else%}standard-2{%endif%}"></div>
                                    <div {{modalPart}} class="part-2 standard-2"></div>
                                    {% endif %}
                                </div>
                                <div class="priceLine-standardLongFr" rel="tooltip" data-placement="top" title="no pricing set" >
                                    {% if tmpDay|date("W") % 2 == 1 %}
                                    <div {{modalPart}} class="part-1 {% if tmpDay|date("N") <=5 %}standard-2{%else%}standard-1{%endif%}"></div>
                                    <div {{modalPart}} class="part-2 {% if tmpDay|date("N") <5 %}standard-2{%else%}standard-1{%endif%}"></div>
                                    {% else %}
                                    <div {{modalPart}} class="part-1 {% if tmpDay|date("N") >5 %}standard-2{%else%}standard-1{%endif%}"></div>
                                    <div {{modalPart}} class="part-2 {% if tmpDay|date("N") >=5 %}standard-2{%else%}standard-1{%endif%}"></div>
                                    {% endif %}
                                </div>
                            {#% endif %#}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="clearfix"></div>
        {% endfor %}
{% endif %}