<style>
#reservation-steps .header .background-heart-branch-contain2 {
    margin-right: 250px;
}
#reservation-steps .header .steps {
    width: 250px;
    float: right;
    color: rgb(160, 160, 160);
}
#reservation-steps .header .steps .title {
    margin-top: 5px;
}
#reservation-steps .header .steps .step {
    padding: 5px 10px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgb(234, 234, 234);
    cursor: pointer;
}
#reservation-steps .header .steps .step-past {background-color: rgb(136, 26, 9); color: black;}
#reservation-steps .header .steps .step-active {background-color: rgb(136, 26, 9); color: white;}
#reservation-steps .content {
    margin-top: 30px;
}
#reservation-steps .content .menu-titles {
    width: 200px;
    float: left;
}
#reservation-steps .content .titles-content{
    margin-left: 200px;
}
#reservation-steps .content .background-none {padding: 10px;}
#reservation-steps .content .background-gray {
    background-color: rgb(246, 246, 246);
    padding: 10px;
}
#reservation-steps .content .field-note {color: rgb(161, 161, 161); font-size: 12px;}
#reservation-steps .content .price-title {margin-top: 5px;}
#reservation-steps .content .price {font-size: 16px;}

#reservation-steps .buttons button {width:150px;}
</style>
<div class="break10">&nbsp</div>
<div class="body" id="reservation-steps">
    <div class="text-container overflow-auto col-xs-12">
        <div class="header">
            <div class="steps">
                <div class="float-left title">steps:</div>
                <div class="float-right step step-menu5" step="5">5</div>
                <div class="float-right step step-active step-menu4" step="4">4</div>
                <div class="float-right step step-past step-menu3" step="3">3</div>
                <div class="float-right step step-past step-menu2" step="2">2</div>
                <div class="float-right step step-past step-menu1" step="1">1</div>
            </div>
            
                
            <div class="background-heart-branch-contain2 font-tab-main-titles step-titles step-titles1">
                <div class="img">&nbsp</div>
                <div class="text">
                    RESERVATION <br/><span class="colorSpecjal">1. MY BOOKING</span>
                </div>
            </div>
            <div class="background-heart-branch-contain2 font-tab-main-titles step-titles step-titles2">
                <div class="img">&nbsp</div>
                <div class="text">
                    RESERVATION <br/><span class="colorSpecjal">2. MY CONTACT DETAILS</span>
                </div>
            </div>
            <div class="background-heart-branch-contain2 font-tab-main-titles step-titles step-titles3">
                <div class="img">&nbsp</div>
                <div class="text">
                    RESERVATION <br/><span class="colorSpecjal">3. MY PARTY DETAILS</span>
                </div>
            </div>
            <div class="background-heart-branch-contain2 font-tab-main-titles step-titles step-titles4">
                <div class="img">&nbsp</div>
                <div class="text">
                    RESERVATION <br/><span class="colorSpecjal">4. HOLIDAY EXTRAS</span>
                </div>
            </div>
            <div class="background-heart-branch-contain2 font-tab-main-titles step-titles step-titles5">
                <div class="img">&nbsp</div>
                <div class="text">
                    RESERVATION <br/><span class="colorSpecjal">5. PAYMENT METHODS</span>
                </div>
            </div>
        </div>
            
            
        <div class="content" id="step1content">
            <div class="break5 background-none">
                <div>
                    <div class="menu-titles colorSpecjal">Accomodation:</div>
                    <div class="titles-content">aaaaaa</div>
                </div>
                <div>
                    <div class="menu-titles colorSpecjal">Accomodation:</div>
                    <div class="titles-content">aaaaaa</div>
                </div>
            </div>
            <div class="break5 background-gray">
                <div>
                    <div class="menu-titles colorSpecjal">Guest:</div>
                    <div class="titles-content">
                        <div>aaaaaa</div>
                        <div class="field-note">* this is note</div>
                    </div>
                </div>
            </div>
            <div class="break5 background-none">
                <div>
                    <div class="menu-titles colorSpecjal price-title">Total price:</div>
                    <div class="titles-content">
                        <div class="price">$111.00</div>
                        <div class="field-note">* this is note</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content" id="step2content">
            <div class="break5 background-none">
                <div>
                    <div class="menu-titles colorSpecjal">Accomodation:</div>
                    <div class="titles-content">aaaaaa</div>
                </div>
                <div>
                    <div class="menu-titles colorSpecjal">Accomodation:</div>
                    <div class="titles-content">aaaaaa</div>
                </div>
            </div>
            <div class="break5 background-gray">
                <div>
                    <div class="menu-titles colorSpecjal">Guest:</div>
                    <div class="titles-content">
                        <div>aaaaaa</div>
                        <div class="field-note">* this is note</div>
                    </div>
                </div>
            </div>
            <div class="break5 background-none">
                <div>
                    <div class="menu-titles colorSpecjal price-title">Total price:</div>
                    <div class="titles-content">
                        <div class="price">$111.00</div>
                        <div class="field-note">* this is note</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content" id="step3content">
            <div class="break5 background-none">
                <div>
                    <div class="menu-titles colorSpecjal">Accomodation:</div>
                    <div class="titles-content">aaaaaa</div>
                </div>
                <div>
                    <div class="menu-titles colorSpecjal">Accomodation:</div>
                    <div class="titles-content">aaaaaa</div>
                </div>
            </div>
            <div class="break5 background-gray">
                <div>
                    <div class="menu-titles colorSpecjal">Guest:</div>
                    <div class="titles-content">
                        <div>aaaaaa</div>
                        <div class="field-note">* this is note</div>
                    </div>
                </div>
            </div>
            <div class="break5 background-none">
                <div>
                    <div class="menu-titles colorSpecjal price-title">Total price:</div>
                    <div class="titles-content">
                        <div class="price">$111.00</div>
                        <div class="field-note">* this is note</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content" id="step4content">
            <div class="break5 background-none">
                <div>
                    <div class="menu-titles colorSpecjal">Accomodation:</div>
                    <div class="titles-content">aaaaaa</div>
                </div>
                <div>
                    <div class="menu-titles colorSpecjal">Accomodation:</div>
                    <div class="titles-content">aaaaaa</div>
                </div>
            </div>
            <div class="break5 background-gray">
                <div>
                    <div class="menu-titles colorSpecjal">Guest:</div>
                    <div class="titles-content">
                        <div>aaaaaa</div>
                        <div class="field-note">* this is note</div>
                    </div>
                </div>
            </div>
            <div class="break5 background-none">
                <div>
                    <div class="menu-titles colorSpecjal price-title">Total price:</div>
                    <div class="titles-content">
                        <div class="price">$111.00</div>
                        <div class="field-note">* this is note</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content" id="step5content">
            <div class="break5 background-none">
                <div>
                    <div class="menu-titles colorSpecjal">Accomodation:</div>
                    <div class="titles-content">aaaaaa</div>
                </div>
                <div>
                    <div class="menu-titles colorSpecjal">Accomodation:</div>
                    <div class="titles-content">aaaaaa</div>
                </div>
            </div>
            <div class="break5 background-gray">
                <div>
                    <div class="menu-titles colorSpecjal">Guest:</div>
                    <div class="titles-content">
                        <div>aaaaaa</div>
                        <div class="field-note">* this is note</div>
                    </div>
                </div>
            </div>
            <div class="break5 background-none">
                <div>
                    <div class="menu-titles colorSpecjal price-title">Total price:</div>
                    <div class="titles-content">
                        <div class="price">$111.00</div>
                        <div class="field-note">* this is note</div>
                    </div>
                </div>
            </div>
        </div>
            
        
            
        <div class="buttons overflow-auto">
            <button class="btn btn-main-page back-step float-left">back</button>
            <button class="btn btn-next next-step float-right">next step</button>
        </div>
    </div>
</div>
<div class="break10">&nbsp</div>

<script src="{{ asset('/bundles/uttestate/libs/jquery-1.10.1.min.js') }}"></script>
<script type="text/javascript">
var reservationFlow = 
{
    stepMenu: $('#reservation-steps .steps .step'),
    activeStep: 1,
    
    init: function()
    {
        reservationFlow.stepMenu.each(function()
        {
            $(this).click(function()
            {
                var temp = $(this);
                var step = temp.attr('step');
                
                reservationFlow.showHide(step);
                
                reservationFlow.activeStep = step;
            });
        });
        
        $('#reservation-steps .header .steps .step-menu' + (reservationFlow.activeStep) ).click();
    },
    showHide: function(step)
    {
        /* menu-buttons */
        $('#reservation-steps .header .steps .step').removeClass('step-active').removeClass('step-past');
        $('#reservation-steps .header .steps .step-menu' + step).addClass('step-active');
        var i = step - 1;
        while(i > 0)
        {
            $('#reservation-steps .header .steps .step-menu' + i).addClass('step-past');
            i --;
        }
        /**/
        
        /* titles */
        $('#reservation-steps .header .step-titles').hide();
        $('#reservation-steps .header .step-titles' + step).show();
        /**/

        /* contents */
        $('#reservation-steps .content').hide();
        $('#step' + step + 'content').show();
        /**/
        
        /* buttons */
        if(step == 1)
        {
            $('#reservation-steps .buttons .back-step').hide();
        } 
        else
        {
            $('#reservation-steps .buttons .back-step').show();
        }
        if(step == 5)
        {
            $('#reservation-steps .buttons .next-step').hide();
        }
        else
        {
            $('#reservation-steps .buttons .next-step').show();
        }
        
        $('#reservation-steps .buttons .back-step').unbind().click(function()
        {
            var newstep = parseInt(reservationFlow.activeStep, 10) - 1;
            $('#reservation-steps .header .steps .step-menu' + newstep ).click();
        });
        $('#reservation-steps .buttons .next-step').unbind().click(function()
        {
            var newstep = parseInt(reservationFlow.activeStep, 10) + 1;
            $('#reservation-steps .header .steps .step-menu' + newstep ).click();
        });
        /**/
    }
}
reservationFlow.init();
</script>