{% extends '::base.html.twig' %}

{% block body %}
    <div class="background-color-lightGray">
        <div class="body overflow-auto text-container">
            <div class="col-xs-12">
                <div class="break10">&nbsp</div>
                <div class="header">
                    <div class="background-heart-branch-contain font-tab-main-titles">
                        <div>FAIL <span class="colorSpecjal">PAYMENT</span></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                {% if statusText is defined and statusText %}
                    {{ statusText }}
                {% endif %}
            </div>
        </div>
        <div class="break10">&nbsp</div>
        <div class="break15">&nbsp</div>
    </div>
{% endblock %}