{% set paymentAmount = order.price().total() %}
{% set charityCharge = order.price().charityCharge() %}
    <form action="{{ payUrl }}" method="post">
        <input type="hidden" name="testMode" value="{{ order.testMode() }}"> <!-- 100 instructs our test system -->
        <input type="hidden" name="instId" value="{{ order.installationId() }}"> <!-- A mandatory parameter -->
        <input type="hidden" name="cartId" value="{{ order.cartId() }}"> <!-- A mandatory parameter - reference for the item purchased -->
        <input type="hidden" name="amount" value="{{ order.price().total() }}"> <!-- A mandatory parameter -->
        <input type="hidden" name="currency" value="{{ order.currency() }}"> <!-- A mandatory parameter. ISO currency code -->
        <!--input type="hidden" name="authValidTo" value="{{ order.authValidTo() }}"-->
        <input type="hidden" name="email" value="{{ order.customerEmail() }}">
        <input type="hidden" name="accId1" value="{{ order.merchantAccount() }}">
        <input type="hidden" name="signature" value="{{ order.signature() }}">
        <input type="hidden" name="MC_callback" value={{ callbackUrl }}>
        <input type="hidden" name="MC_returnurl" value="{{ returnUrl }}">
        <input type="hidden" name="M_userId" value="{{ order.userId() }}">

        {% if applyCreditCardCharge is defined %}
            {% set feeString = 'no fee' %}

            {% set btnClass = 'btn-default btn-sm' %}
            {% if charityCharge is defined and charityCharge %}

                {% set feeString = 'charity: ' ~ ''|currency_info ~ charityCharge ~ '*' %}
                {% set btnClass = 'btn-info' %}
                {% set ngDisabled = false %}
            {% else %}
                {% set ngDisabled = true %}
            {% endif %}

            {% if ngDisabled %}
                <input ng-disabled="!paymentDebitAllowed" type="submit" class="btn {{ btnClass }} pay-button" value="pay {{ ''|currency_info }}{{ paymentAmount|number_format(2) }} ({{ feeString }})"  />
            {% else %}
                <input type="submit" ng-click="trackFbPurchase({{paymentAmount|number_format(2)}})" class="btn {{ btnClass }} pay-button" value="pay {{ ''|currency_info }}{{ paymentAmount|number_format(2) }} ({{ feeString }})"  />
            {% endif %}
        {% else %}
            {% if charityCharge is defined and charityCharge %}
                {% set feeString = 'charity: ' ~ ''|currency_info ~ charityCharge ~ '*' %}
                {% set btnClass = 'btn-info' %}
                {% set ngDisabled = false %}
            {% else %}
                {% set feeString = 'no fee' %}
                {% set btnClass = 'btn-default btn-sm' %}
                {% set ngDisabled = true %}
            {% endif %}

            {% if ngDisabled %}
                <input ng-disabled="!paymentDebitAllowed" type="submit" class="btn {{ btnClass }} pay-button" value="pay {{ ''|currency_info }}{{ (paymentAmount)|number_format(2) }} ({{ feeString }})"  />
            {% else %}
                <input type="submit" ng-click="trackFbPurchase({{(paymentAmount)|number_format(2)}})" class="btn {{ btnClass }} pay-button" value="pay {{ ''|currency_info }}{{ paymentAmount|number_format(2) }} ({{ feeString }})"  />
            {% endif %}
        {% endif %}
    </form>