{% if
merchantReference is defined and
paymentAmount is defined and
currencyCode is defined and
shipBeforeDate is defined and
skinCode is defined and
merchantAccount is defined and
shopperLocale is defined and
orderData is defined and
sessionValidity is defined and
merchantSig is defined and
shopperEmail is defined and
shopperReference is defined
%}
    <form action="{{ smartPayUrl }}" method="post">
        <input type="hidden" name="merchantReference" value="{{ merchantReference }}" />
        <input type="hidden" name="paymentAmount"     value="{{ paymentAmount }}" />
        <input type="hidden" name="currencyCode"      value="{{ currencyCode }}" />
        <input type="hidden" name="shipBeforeDate"    value="{{ shipBeforeDate }}" />
        <input type="hidden" name="skinCode"          value="{{ skinCode }}" />
        <input type="hidden" name="merchantAccount"   value="{{ merchantAccount }}" />
        <input type="hidden" name="shopperLocale"     value="{{ shopperLocale }}" />
        <input type="hidden" name="orderData"         value="{{ orderData }}" />
        <input type="hidden" name="sessionValidity"   value="{{ sessionValidity }}" />
        <input type="hidden" name="merchantSig"       value="{{ merchantSig }}" />
        <input type="hidden" name="shopperEmail"      value="{{ shopperEmail }}" />
        <input type="hidden" name="shopperReference"  value="{{ shopperReference }}" />
        {% if applyCreditCardCharge is defined and applyCreditCardCharge and creditCardCharge is defined %}
            {#{% set feeString = 'credit card fee £' ~ creditCardCharge %}#}
            {% set feeString = 'no fee' %}

            {% set btnClass = 'btn-default btn-sm' %}
            {% if charityCharge is defined and charityCharge %}
                {#{% set feeString = feeString ~ ', charity: ' ~ ''|currency_info ~ charityCharge ~ '*' %}#}
                {% set feeString = 'charity: ' ~ ''|currency_info ~ charityCharge ~ '*' %}
                {% set btnClass = 'btn-info' %}
                {% set ngDisabled = false %}
            {% else %}
                {% set ngDisabled = true %}
            {% endif %}

            {% if ngDisabled %}
                <input ng-disabled="!paymentDebitAllowed" type="submit" class="btn {{ btnClass }} pay-button" value="pay {{ ''|currency_info }}{{ (paymentAmount/100)|number_format(2) }} ({{ feeString }})"  />
            {% else %}
                <input type="submit" ng-click="trackFbPurchase({{(paymentAmount/100)|number_format(2)}})" class="btn {{ btnClass }} pay-button" value="pay {{ ''|currency_info }}{{ (paymentAmount/100)|number_format(2) }} ({{ feeString }})"  />
            {% endif %}
        {% else %}
            {% if charityCharge is defined and charityCharge %}
                {% set feeString = 'charity: ' ~ ''|currency_info ~ charityCharge ~ '*' %}
                {% set btnClass = 'btn-info' %}
                {% set ngDisabled = false %}
            {% else %}
                {% set feeString = 'no fee' %}
                {% set btnClass = 'btn-default btn-sm' %}
                {% set ngDisabled = true %}
            {% endif %}

            {% if ngDisabled %}
                <input ng-disabled="!paymentDebitAllowed" type="submit" class="btn {{ btnClass }} pay-button" value="pay {{ ''|currency_info }}{{ (paymentAmount/100)|number_format(2) }} ({{ feeString }})"  />
            {% else %}
                <input type="submit" ng-click="trackFbPurchase({{(paymentAmount/100)|number_format(2)}})" class="btn {{ btnClass }} pay-button" value="pay {{ ''|currency_info }}{{ (paymentAmount/100)|number_format(2) }} ({{ feeString }})"  />
            {% endif %}
        {% endif %}
    </form>
{% endif %}