{% if estate is defined and estate %}
    <div class="single-offer">
        <div class="hand">
            <div class="img-hand">
                {% if estate.photoMain is defined and estate.photoMain and estate.photoMain.getUploadDir() is defined and estate.photoMain.getUploadDir() %}
                    {% set photoPath = '/' ~ estate.photoMain.getUploadDir() ~ '/' ~ estate.photoMain.fileName %}
                    {% set photoPathSrc = photoPath | imagine_filter('favourite_estate_list_image_thumb') %}
                {% else %}
                    {% set photoPath = '/bundles/uttindex/images/placeholder.png' %}
                    {% set photoPathSrc = photoPath | imagine_filter('favourite_estate_list_image_thumb') %}
                {% endif %}

                {% if photoPathSrc is defined and photoPathSrc %}
                    <a href="{{ path('utt_estate_show_estate', { 'estateShortName': estate.shortName }) }}">
                        <img title="{{ estate.name }}" src="{{ photoPathSrc }}" alt="{{ estate.name }}">
                    </a>
                {% endif %}
            </div>
            <div class="part border-bottom text-center">
                <a class="place-title" href="{{ path('utt_estate_show_estate', { 'estateShortName': estate.shortName }) }}">{{ estate.name }}</a>

                <br />
                <a class="btn btn-sm btn-default-transparent" href="{{ path('utt_estate_favourite_remove', { 'estateId': estate.id }) }}">
                    remove
                </a>
            </div>
        </div>
    </div>
{% endif %}