{% extends '::the-project/base.html.twig' %}

{% block title %}
    My favourite properties - Under the Thatch - find the greatest holiday cottages in Wales.
{% endblock %}

{% block body %}
    <div class="breadcrumb-container">
        <div class="container">
            <ol class="breadcrumb">
                <li><i class="fa fa-home pr-10"></i><a href="{{ path('utt_index_homepage') }}">homepage</a></li>
                <li><a href="{{ path('fos_user_profile_show') }}">my profile</a></li>
                <li class="active">my favourite properties</li>
            </ol>
        </div>
    </div>

    <section class="main-container">
        <div class="container">
            <div class="row">
                <div class="main col-md-12">
                    <h3 class="title">my favourite properties</h3>
                    <div class="separator-2"></div>
                    <div id="special-offers-list">
                        {% if favourites is defined and favourites and favourites|length > 0 %}
                            {% for favourite in favourites %}
                                {% include 'UTTEstateBundle:Favourite:listItem.html.twig' with { 'estate': favourite.estate } only %}
                            {% endfor %}
                        {% else %}
                            <div class="alert alert-warning">The list is empty.</div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('/bundles/uttestate/css/Offer/list.css') }}">
    <link rel="stylesheet" href="{{ asset('/bundles/uttestate/css/Offer/listItem.css') }}">
{% endblock %}