{% extends 'SonataAdminBundle:CRUD:base_show.html.twig' %}

{% block tab_menu_navbar_header %}
    <div class="navbar-header">
        <span class="navbar-brand">booking calendar for "{{ object.name }}"</span>
    </div>
{% endblock %}

{% block show %}
    <style>
        .pricingCalendar .month .day.availableOffer {
            background-color: #FFA705;
            color: black;
        }
    </style>

    <style>
        @media print {
            *, body {-webkit-print-color-adjust: exact;}
        }
    </style>

    <script>
        var $isManageAllowed = '{{ isManageAllowed }}';
        var $pricingData = '{{ pricingData|raw }}';
        var $calendarData = '{{ calendarData|raw }}';
        var $offersData = '{{ offersData|raw }}';
        var $reservationsData = '{{ reservationsData|raw }}';
        var $adminCharge = '{{ adminCharge }}';
    </script>

    {% set estate = object %}
    <div class="sonata-ba-view" id="estateCalendarManageAppHandler" ng-controller="estateCalendarManageAppCtrl">
        <div>
            <script type="text/ng-template" id="modalContent.html">
                <div class="modal-header">
                    <h3 class="modal-title">make a booking</h3>
                </div>
                <div class="modal-body">
                    <button class="btn" ng-class="{'btn-primary': isActiveForm('telephone_booking')}" ng-click="setActiveForm('telephone_booking')">telephone booking</button>
                    <button class="btn" ng-class="{'btn-primary': isActiveForm('special_offer')}" ng-click="setActiveForm('special_offer')">special offer</button>
                    <button class="btn" ng-class="{'btn-primary': isActiveForm('owner_booking')}" ng-click="setActiveForm('owner_booking')">owner booking</button>
                    <button class="btn" ng-class="{'btn-primary': isActiveForm('dates_not_for_sale')}" ng-click="setActiveForm('dates_not_for_sale')">dates not for sale</button>
                    <button class="btn" ng-class="{'btn-primary': isActiveForm('other_agency')}" ng-click="setActiveForm('other_agency')">other agency</button>
                    <button class="btn" ng-class="{'btn-primary': isActiveForm('groupon_booking')}" ng-click="setActiveForm('groupon_booking')">Groupon booking</button>
                    {#<button class="btn" ng-class="{'btn-primary': isActiveForm('temporary')}" ng-click="setActiveForm('temporary')">temporary</button>#}

                    <form name="makeBookingForm" role="form">
                        <h4 ng-if="isActiveForm('telephone_booking')">Telephone booking</h4>
                        <h4 ng-if="isActiveForm('owner_booking')">Owner booking</h4>
                        <h4 ng-if="isActiveForm('dates_not_for_sale')">Dates not for sale</h4>
                        <h4 ng-if="isActiveForm('special_offer')">Special offer</h4>
                        <h4 ng-if="isActiveForm('other_agency')">Other agency</h4>
                        <h4 ng-if="isActiveForm('groupon_booking')">Groupon booking</h4>
                        {#<h4 ng-if="isActiveForm('temporary')">Temporary</h4>#}

                        <div class="form-group">
                            <label>dates selected</label>
                            {{ '{{ fromDate }}' }} to {{ '{{ toDate }}' }}
                        </div>

                        <div class="alert alert-danger" ng-show="(isActiveForm('telephone_booking') || isActiveForm('groupon_booking')) && isRequiredError">All fields are required. Make sure that user data are correct.</div>

                        <div class="form-group" ng-show="(isActiveForm('telephone_booking') || isActiveForm('groupon_booking'))">
                            <label for="guestFirstName">guest first name</label>
                            <input class="form-control" id="guestFirstName" ng-model="guestFirstName" ng-change="setGuestFirstName(guestFirstName)" />
                        </div>
                        <div class="form-group" ng-show="(isActiveForm('telephone_booking') || isActiveForm('groupon_booking'))">
                            <label for="guestLastName">guest last name</label>
                            <input class="form-control" id="guestLastName" ng-model="guestLastName" ng-change="setGuestLastName(guestLastName)" />
                        </div>
                        <div class="form-group" ng-show="(isActiveForm('telephone_booking') || isActiveForm('groupon_booking'))">
                            <label for="guestEmail">guest email</label>
                            <input class="form-control" id="guestEmail" ng-model="guestEmail" ng-change="setGuestEmail(guestEmail)" />
                        </div>
                        <div class="form-group" ng-show="!isActiveForm('telephone_booking') && !isActiveForm('groupon_booking') && !isActiveForm('special_offer')">
                            <label for="reason">reason</label>
                            <input class="form-control" id="reason" ng-model="reason" ng-change="setReason(reason)" />

                            <label for="sleeps">guests</label>
                            <select id="sleeps" class="form-control" ng-init="initSleeps({{ estate.sleeps }})" ng-model="sleeps" ng-change="setSleeps(sleeps)" ng-options="choice.id for choice in sleepsChoices" required></select>
                        </div>

                        <div class="form-group" ng-show="isActiveForm('special_offer')">
                            <label for="offerName">offer name</label>
                            <input class="form-control" id="offerName" ng-model="offerName" ng-change="setOfferName(offerName)" />
                        </div>
                        <div class="form-group" ng-show="isActiveForm('special_offer')">
                            <label for="offerDescription">offer description</label>
                            <textarea class="form-control" id="offerDescription" ng-model="offerDescription" ng-change="setOfferDescription(offerDescription)"></textarea>
                        </div>

                        <div class="form-group" ng-show="isActiveForm('telephone_booking') || isActiveForm('special_offer')">
                            <label for="price">price</label>
                            <input class="form-control" id="price" ng-model="price" ng-change="setPrice(price)" />
                        </div>

                        <div class="form-group" ng-show="isActiveForm('telephone_booking')">
                            <label for="isFullyPaid">set as fully paid</label>
                            <input class="form-control"  type="checkbox" id="isFullyPaid" ng-model="isFullyPaid" ng-change="setIsFullyPaid(isFullyPaid)" />
                        </div>

                        <button class="btn btn-success" ng-disabled="submitLoading" ng-click="submitForm()">Submit</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-warning" ng-click="cancelForm()">Cancel</button>
                </div>
            </script>
        </div>

        <div id="calendarLegend">
            <div class="notAvailable">Not available</div>
            <div class="available">Available</div>
            <div class="availableOffer">Special offer</div>
            <div class="reserved">Reserved</div>
            <div class="booked">Booked</div>
        </div>

        <input ng-model="estateShortName" ng-init="setEstateShortName('{{ estate.shortName }}')" type="hidden" />

        <div class="pricingCalendar">
            <div ng-repeat="month in months" class="month">
                <label>
                    {{ '{{ month.name }}' }} {{ '{{ month.year }}' }}
                </label>

                <div class="dayName">Mon</div>
                <div class="dayName">Tue</div>
                <div class="dayName">Wed</div>
                <div class="dayName">Thu</div>
                <div class="dayName">Fri</div>
                <div class="dayName">Sat</div>
                <div class="dayName">Sun</div>

                <div ng-repeat="emptyDay in month.emptyDays" class="emptyDay"></div>
                <div tooltip-html-unsafe="{{ '{{ showSelectedPriceTooltip() }}' }}" ng-repeat="day in month.days" class="day" ng-click="selectDays(day)" ng-mouseover="mouseOverDay(day)" ng-class="{available: day.available, availableOffer: day.availableOffer, selected: day.selected, booked: day.booked, reserved: day.reserved, bookedStart: day.bookedStart, bookedEnd: day.bookedEnd, reservedStart: day.reservedStart, reservedEnd: day.reservedEnd, isPastDate: day.isPastDate, blocked: day.blocked, blockedStart: day.blockedStart, blockedEnd: day.blockedEnd}">
                    {{ '{{ day.day }}' }}
                </div>
            </div>
        </div>
    </div>

    <link rel="stylesheet" media="all" href="{{ asset('/bundles/uttestate/css/pricingCalendar.css') }}">
    <script src="{{ asset('/bundles/uttestate/libs/ui-bootstrap-tpls-0.11.0.js') }}"></script>
    <script src="{{ asset('/bundles/uttadmin/js/estateCalendarManageApp.js') }}?fwacxz38"></script>

    <style>
        .pricingCalendar .month .day.booked.isPastDate {
            background-color: rgba(107, 29, 15, 0.51);
            color: white;
        }
        .pricingCalendar .month .day.booked.blocked.isPastDate {
            background-color: rgba(63, 69, 55, 0.53);
            color: white;
        }

        .pricingCalendar .month .day.available.booked.bookedStart.isPastDate {
            background-image: url('/bundles/uttestate/images/icons/day-half-booked2.png') !important;
            opacity: 0.53;
        }

        .pricingCalendar .month .day.available.booked.bookedEnd.isPastDate {
            background-image: url('/bundles/uttestate/images/icons/day-half-booked1.png') !important;
        }

        .pricingCalendar .month .day.available.booked.bookedEnd.blocked.blockedEnd.isPastDate {
            background-image: url('/bundles/uttestate/images/icons/day-half-booked2.png') !important;
        }

        .pricingCalendar .month .day.available.booked.bookedEnd.blocked.blockedEnd.isPastDate {
            background: url('/bundles/uttestate/images/icons/day-half-blocked1.png') no-repeat !important;
            background-image: none;
            background-color: #f7f7f7;
            color: #777777;
            opacity: 0.53;
        }

        .pricingCalendar .month .day.available.booked.bookedStart.blocked.blockedStart.isPastDate {
            background: url('/bundles/uttestate/images/icons/day-half-blocked2.png') no-repeat !important;
            background-image: none;
            background-color: #f7f7f7;
            color: #777777;
            opacity: 0.53;
            background-size: 100% !important;
        }


        .pricingCalendar .month .day.booked.bookedStart.bookedEnd.blocked.blockedStart.blockedEnd.isPastDate {
            background: url('/bundles/uttestate/images/icons/day-booked-blocked-break.png') 100% rgba(63, 69, 55, 0.53) no-repeat !important;
            opacity: 0.53;
            background-size: 100% !important;
        }
        .pricingCalendar .month .day.booked.bookedStart.bookedEnd.blocked.blockedStart.isPastDate {
            background: url('/bundles/uttestate/images/icons/day-half-blocked2.png') 100% rgba(107, 29, 15) no-repeat !important;
            opacity: 0.53;
            background-size: 100% !important;
        }

        .pricingCalendar .month .day.booked.bookedStart.bookedEnd.blocked.blockedEnd.isPastDate {
            background: url('/bundles/uttestate/images/icons/day-half-blocked1.png') 100% rgba(107, 29, 15) no-repeat !important;
            opacity: 0.51;
            background-size: 100% !important;
        }

        .pricingCalendar .month .day.booked.bookedStart.bookedEnd.isPastDate:not(.reserved) {
            background: url('/bundles/uttestate/images/icons/day-booked-break.png') 100% rgba(107, 29, 15, 0.51) no-repeat !important;
            opacity: 0.51;
            background-size: 100% !important;
        }

        .pricingCalendar .month .day.booked.bookedStart.bookedEnd:not(.reserved) {
            background: url('/bundles/uttestate/images/icons/day-booked-break.png') 100% #d4d4d4;
            background-size: 100%;
        }

        .pricingCalendar .month .day.available.booked.bookedStart, .pricingCalendar .month .day.available.booked.bookedEnd  {
            background-size: 100%;
        }


    </style>
{% endblock %}