{% extends 'SonataAdminBundle:CRUD:edit.html.twig' %}

{% block sonata_pre_fieldsets %}
    {{ block('formactions') }}
    {{ parent() }}
{% endblock sonata_pre_fieldsets %}

{% block formactions %}
    <div class="well well-small form-actions">
        {% if object.id is defined and object.id %}
            <a target="_blank" class="btn btn-success" href="{{ path('utt_estate_show_estate', { 'estateShortName': object.shortName }) }}">Preview</a>
            {% if app.security.isGranted('ROLE_UTT_ESTATE_ADMIN_ESTATE_GENERATE_PRICING') %}
                <a class="btn btn-success" href="{{ path('admin_utt_estate_estate_reset-pricing-type', { 'id': object.id }) }}">Change pricing policy - reset pricing</a>
                {% include 'UTTEstateBundle:EstateAdmin:partial/generatePricingButton.html.twig' with { 'admin': admin, 'object': object} only %}
            {% endif %}
        {% endif %}
    </div>
    {{ parent() }}
{% endblock formactions %}

{% block sonata_tab_content %}
    <div id="editFormTabs">
        <ul>
            {% for name, form_group in admin.formgroups %}
                <li>
                    <a href="#edit-form-tab-{{ loop.index }}">
                        {{ admin.trans(name, {}, form_group.translation_domain) }}
                    </a>
                </li>
            {% endfor %}
        </ul>

        {% for name, form_group in admin.formgroups %}
            <div id="edit-form-tab-{{ loop.index }}" class="{{ form_group.class|default('col-md-12') }}">
                <div class="box box-success">
                    <div class="box-header">
                        <h4 class="box-title">
                            {{ admin.trans(name, {}, form_group.translation_domain) }}
                        </h4>
                    </div>
                    {#<div class="box{% if loop.first %} in{% endif %}" id="{{ admin.uniqid }}_{{ loop.index }}">#}
                    <div class="box-body">
                        <div class="sonata-ba-collapsed-fields">
                            {% if form_group.description != false %}
                                <p>{{ form_group.description|raw }}</p>
                            {% endif %}

                            {% for field_name in form_group.fields %}
                                {% if admin.formfielddescriptions[field_name] is defined %}
                                    {{ form_row(form[field_name])}}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    {#</div>#}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock sonata_tab_content %}