{% if admin.isGranted('ROLE_UTT_ESTATE_ADMIN_ESTATE_PHOTOS', object) and admin.hasRoute('photos') %}
    <a href="{{ admin.generateObjectUrl('photos', object) }}" class="btn btn-sm btn-default" title="Photos">
        <i class="glyphicon glyphicon-th"></i>
        photos
    </a>
{% endif %}