{% if admin.isGranted('ROLE_UTT_ESTATE_ADMIN_ESTATE_CALENDAR', object) and admin.hasRoute('calendar') %}
    <a href="{{ admin.generateObjectUrl('calendar', object) }}" class="btn btn-sm btn-default" title="Calendar">
        <i class="glyphicon glyphicon-calendar"></i>
        calendar
    </a>
{% endif %}