{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% if object.getHideFromDisplay() == constant('UTT\\EstateBundle\\Entity\\Estate::HIDE_FROM_DISPLAY_REMOVED') %}
        <span style="color: red;">
    {% elseif object.getHideFromDisplay() == constant('UTT\\EstateBundle\\Entity\\Estate::HIDE_FROM_DISPLAY_HIDDEN') %}
        <span style="color: silver;">
    {% else %}
        <span style="color: darkgreen;">
    {% endif %}

        {{ object.getHideFromDisplayName() }}
    </span>
{% endblock %}