{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% if object.getUser() %}
        {{ object.getUser() }}
        <br />
        <a href="mailto:{{ object.getUser() }}">reply</a>
    {% endif %}
{% endblock %}