{% extends 'SonataAdminBundle:CRUD:base_show.html.twig' %}

{% block tab_menu_navbar_header %}
    <div class="navbar-header">
        <span class="navbar-brand">photos manager for "{{ object.name }}"</span>
    </div>
{% endblock %}

{% block show %}

    <form method="post">
        <input class="sonataFormEstateId" type="hidden" value="{{ object.id }}" />

        <div class="form-group">
            <label class="control-label">import from Facebook</label>
            <div class=" sonata-ba-field sonata-ba-field-standard-natural  ">
                <input class="estatePhotosUploader" type="text" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label">import from Facebook</label>
            <div class=" sonata-ba-field sonata-ba-field-standard-natural  ">
                <input type="text" class="estatePhotosFacebookAccessToken form-control" placeholder="Facebook access token" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label">import from Facebook</label>
            <div class="sonata-ba-field sonata-ba-field-standard-natural">
                <input type="text" class="estatePhotosFacebookImporter form-control" placeholder="Facebook photo album ID" />
            </div>
        </div>

        <input class="photoMainContainer" type="hidden" {% if object.photoMain %}value="{{ object.photoMain.id }}" {% endif %} />

        <div class="well well-small form-actions">
            <button name="btn_update_and_edit" class="btn btn-success" type="submit"><i class="fa fa-save"></i> save</button>
        </div>
    </form>

{% endblock %}