{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field%}
    <style>
    #estatePricingManagement {padding: 50px 0;}

    .pricingCalMo {text-align:center;font-family:Tahoma; margin-top: 10px;}
    .pricingCalMo .cal {
            line-height: 0;
            font-size: 0;
            color:#000000;
            background:#FFF;
    }
    .pricingCalMo .cal .day {
            width:30px;
            font-size:8pt;
            line-height: 20px;
            display: block;
            float: left;
    }
    .pricingCalMo .cal .day .day-details {
            border-right: 1px solid #CCC;
            border-top: 1px solid #CCC;
    }
    .pricingCalMo .cal .day:first-of-type .day-details {
            border-left: 1px solid #CCC;
    }
    .pricingCalMo .cal .day .day-line {line-height: 8px;}
    .pricingCalMo .cal .day .priceLine-standardShort div, 
    .pricingCalMo .cal .day .priceLine-standardLongMn div, 
    .pricingCalMo .cal .day .priceLine-standardLongFr div,
    .pricingCalMo .cal .day .priceLine-flexi div
    {
        margin: 3px 0;
        height: 15px;
        cursor: pointer;
        width: 50%;
        float: left;
        background-color: gray;
    }
    .pricingCalMo .cal .day .standard-1 {background-color: greenyellow !important;}
    .pricingCalMo .cal .day .standard-2 {background-color: green !important;}
    .pricingCalMo .cal .day .flexi-1 {background-color: green !important;}
    .pricingCalMo .cal .day .flexi-2 {background-color: greenyellow !important;}
    
    #pricings-seasons-legend .season-one {display: inline-block; margin: 5px;}
    #pricings-seasons-legend .season-one .background {display: inline-block; width: 20px; height: 20px; margin-right: 3px;}
    #pricings-seasons-legend .season-one .name {display: inline-block; height: 20px; vertical-align:center;}
    .loader {width: 200px; margin: 0 auto;}
    .loader img {width: 100%;}
    </style>
    <div class="loader">
        <img src="/bundles/uttestate/images/icons/search-loader.gif"/>
    </div>
    <div id="estatePricingManagement"></div>

    <div id="my-pricing-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="my-pricing-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="my-pricing-modal-label">Pricing setup</h3>
                </div>
                <div class="modal-body">
                    <div><span class="fromDate"></span> - <span class="toDate"></span></div>
                    <div>Price: <input type="text" class="price" /></div>
                    <div style="display: none; margin-top: 3px;">Standing charge: <input type="text" class="initialPrice" /></div>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                    <button class="btn btn-primary save-this">Set this price period</button>
                    {#<button class="btn btn-primary save-season">Save for season</button>#}
                    {#<button class="btn btn-primary save-type">Change all similar periods</button>#}
                </div>
            </div>
        </div>
    </div>
    
    <div class="text-center">
        <button class="btn btn-primary prev-year">prev year</button>
        <button class="btn btn-primary next-year">next year</button>
    </div>

    <script src="{{ asset('/bundles/uttadmin/js/estatePricingManagement.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        var e1 = new pricingManagement.estate( "{{object.shortName}}", $('#estatePricingManagement'), $('#my-pricing-modal') );
        e1.start('{{object.getType()}}');
    </script>
{% endblock %}