{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
    {% include 'UTTEstateBundle:EstateAdmin:partial/generatePricingButton.html.twig' with { 'admin': admin, 'object': object} only %}

    {% if object.getPricingCategory() and app.security.isGranted('ROLE_UTT_ESTATE_ADMIN_ESTATE_GENERATE_PRICING') %}
        <form style="display: inline-block;" method="get" action="{{ path('utt_reservation_pricing_estate_update', { 'estateShortName': object.getShortName()}) }}">
            <button class="btn btn-info" type="submit" name="updateAction" value="round">Round</button>
            <button class="btn btn-info" type="submit" name="updateAction" value="increasePercent5">Increase 5%</button>
            <button class="btn btn-info" type="submit" name="updateAction" value="increasePercent10">Increase 10%</button>
            <button class="btn btn-info" type="submit" name="updateAction" value="decreasePercent5">Decrease 5%</button>
            <button class="btn btn-info" type="submit" name="updateAction" value="decreasePercent10">Decrease 10%</button>
            {% render(controller('UTTReservationBundle:Pricing:renderPricingEstateUpdateYearSelect', { 'pricingCategory': object.getPricingCategory() })) %}
        </form>
    {% endif %}
{% endblock %}