{% extends 'UTTAdminBundle:Admin:standard_layout.html.twig' %}
{% block sonata_admin_content %}
    {% block notice %}
        {% include 'SonataCoreBundle:FlashMessage:render.html.twig' %}
    {% endblock notice %}

    {% render(controller('UTTAdminBundle:AnnualReport:renderFilters', { 'year': yearString, 'estateId': estateId })) %}

    <br />

    <div class="panel panel-default">
        <div class="panel-heading">
            annual summary
        </div>

        <table class="table table-hover">
            <thead>
            <tr>
                <th>month</th>
                <th>bookings</th>
                <th>owner bookings (blocked, airbnb etc)</th>
                <th>cancellations</th>
                <th>nights occupied</th>
                <th>nights owner</th>
                <th>total price</th>
                <th>owner value</th>
            </tr>
            </thead>
            {% if reservationsArray is defined and reservationsArray|length > 0 %}
                <tbody>

                {% set sumBookings = 0 %}
                {% set sumOwnerBookings = 0 %}
                {% set sumCancellations = 0 %}
                {% set sumNightsOccupied = 0 %}
                {% set sumNightsOwner = 0 %}
                {% set sumTotalPrice = 0 %}
                {% set sumOwnerValue = 0 %}

                {% for monthArray in reservationsArray %}
                    {% set monthBookings = 0 %}
                    {% set monthOwnerBookings = 0 %}
                    {% set monthCancellations = 0 %}
                    {% set monthNightsOccupied = 0 %}
                    {% set monthNightsOwner = 0 %}
                    {% set monthTotalPrice = 0 %}
                    {% set monthOwnerValue = 0 %}

                    {% for reservation in monthArray['reservations'] %}
                        {% if reservation.isCancelled() %}
                            {% set monthCancellations = monthCancellations + 1 %}
                        {% endif %}

                        {% if reservation.isNormalBooking() %}
                            {% set monthBookings = monthBookings + 1 %}
                            {% set monthNightsOccupied = monthNightsOccupied + reservation.getNumberOfNights() %}
                            {% if isGrantedSuperAdmin is defined and isGrantedSuperAdmin == true %}
                                {% set monthTotalPrice = monthTotalPrice + reservation.totalPrice %}
                            {% else %}
                                {% set monthTotalPrice = monthTotalPrice + reservation.getOwnersTotalPrice() %}
                            {% endif %}
                            {% set monthOwnerValue = monthOwnerValue + reservation.getToOwnersValue() %}
                        {% endif %}

                        {% if reservation.isBlocked() %}
                            {% set monthOwnerBookings = monthOwnerBookings + 1 %}
                            {% set monthNightsOwner = monthNightsOwner + reservation.getNumberOfNights() %}
                        {% endif %}
                    {% endfor %}

                    {% set sumBookings = sumBookings + monthBookings %}
                    {% set sumOwnerBookings = sumOwnerBookings + monthOwnerBookings %}
                    {% set sumCancellations = sumCancellations + monthCancellations %}
                    {% set sumNightsOccupied = sumNightsOccupied + monthNightsOccupied %}
                    {% set sumNightsOwner = sumNightsOwner + monthNightsOwner %}
                    {% set sumTotalPrice = sumTotalPrice + monthTotalPrice %}
                    {% set sumOwnerValue = sumOwnerValue + monthOwnerValue%}

                    <tr>
                        <td>{{ monthArray['monthName'] }}</td>
                        <td>{{ monthBookings }}</td>
                        <td>{{ monthOwnerBookings }}</td>
                        <td>{{ monthCancellations }}</td>
                        <td>{{ monthNightsOccupied }}</td>
                        <td>{{ monthNightsOwner }}</td>
                        <td>{{ monthTotalPrice }}</td>
                        <td>{{ monthOwnerValue|number_format(2) }}</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th>totals for {{ yearString }}</th>
                    <th>{{ sumBookings }}</th>
                    <th>{{ sumOwnerBookings }}</th>
                    <th>{{ sumCancellations }}</th>
                    <th>{{ sumNightsOccupied }}</th>
                    <th>{{ sumNightsOwner }}</th>
                    <th>{{ sumTotalPrice }}</th>
                    <th>{{ sumOwnerValue }}</th>
                </tr>
                </tfoot>
            {% endif %}
        </table>
    </div>
{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('sonata_admin_dashboard') }}">Dashboard</a>
    </li>
    <li>
        <a href="{{ path('utt_admin_annual_report') }}">Annual report</a>
    </li>
    <li class="active"><span>Annual report by year and property</span></li>
{% endblock %}