<div id="annualReportFilters" class="row">
    {% if years is defined and years|length > 0 %}
        <div class="col-md-12">
            year
            <select id="annualReportFilterYear" class="form-control">
                {% for year in years %}
                    <option value="{{ year.id }}" {% if year.id == yearString %}selected="selected"{% endif %}>{{ year.label }}</option>
                {% endfor %}
            </select>

            <br />
            <br />
        </div>
    {% endif %}

    <div class="col-md-12">
        {% if estates is defined and estates|length > 0 %}
            <div>
                accommodation
                <select id="annualReportFilterEstate" class="form-control">
                    {% for estate in estates %}
                        <option value="{{ estate.id }}" {% if estateId is defined and estate.id == estateId %}selected="selected"{% endif %}>{{ estate.name }}</option>
                    {% endfor %}
                </select>
            </div>
        {% endif %}
    </div>
</div>