{% extends '::the-project/base.html.twig' %}

{% block title %}All availability - Under the Thatch{% endblock %}

{% block body %}
    <div class="breadcrumb-container">
        <div class="container">
            <ol class="breadcrumb">
                <li><i class="fa fa-home pr-10"></i><a href="{{ path('utt_index_homepage') }}">homepage</a></li>
                <li class="active">see all our holiday cottage calendars</li>
            </ol>
        </div>
    </div>

    <section class="main-container">
        <div class="container">
            <div class="row">
                <div class="main col-md-12">
                    <h1>All availability</h1>
                    <h2>browse calendars and availability for all cottages</h2>
                    <div class="separator-2"></div>

                    <div>
                        {% include 'UTTEstateBundle:Estate:partial/allAvailability/allCalendarsApp.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block css %}
    {% stylesheets
    'bundles/uttestate/css/pricingCalendar.css'
    'bundles/uttestate/css/allCalendars.css'
    filter='yui_css' %}<link rel="stylesheet" type="text/css" media="all" href="{{ asset_url }}" />{% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
    'bundles/uttestate/libs/ui-bootstrap-tpls-0.11.0.js'
    'bundles/uttestate/js/allCalendarsApp.js'
    'bundles/uttestate/js/allAvailability.js'
    filter='yui_js' %}<script type="text/javascript" src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}