{% spaceless %}
{% for estateCalendar in estateCalendars %}
    <div class="estateName">
        <img src="{{ estateCalendar.estatePhotoFileName }}" />

        <div class="text-center" style="overflow: hidden;">
            <a href="{{ path('utt_estate_show_estate', { 'estateShortName': estateCalendar.estateShortName }) }}">
                <strong>{{ estateCalendar.estateName }}</strong>
            </a>
            &#160;
            <i>{{ estateCalendar.estateLocationText }}</i>
            
            <button class="monthScrollPrev btn btn-warning btn-sm" style="float: left;"><</button>
            <button class="monthScrollNext btn btn-warning btn-sm" style="float: right;">></button>
        </div>
    </div>
    <div class="monthContainer">
        <div class="monthHandler">
            <div class="month-loader"></div>
            <div id="month_{{ estateCalendar.estateShortName }}" {% if nights is defined and nights %} data-nights="{{ nights }}" {% endif %} data-estate-minimum-guests="{{ estateCalendar.estateMinimumGuests }}" data-estate-short-name="{{ estateCalendar.estateShortName }}" class="month" style="width: {{ 36 * estateCalendar.days|length }}px;">
                {% include 'UTTEstateBundle:Estate:partial/allCalendars/days.html.twig' with { 'days': estateCalendar.days } only %}
            </div>

            <div class="month" style="width: {{ 36 * estateCalendar.days|length }}px;">
                {% for month in estateCalendar.months %}
                    <div class="monthName" style="width: {{ 36 * month.days }}px;">
                        {{ month.month|month_name }} {{ month.year }}
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>

    <div class="separator-2"></div>
    <br />
{% endfor %}
{% endspaceless %}