{% extends '::the-project/base.html.twig' %}

{% block title %}
    {% if category is defined and category %}
        {{ category.name|capitalize }} - Under the Thatch - holiday cottages
    {% endif %}
{% endblock %}

{% block body %}
    <div class="breadcrumb-container">
        <div class="container">
            <ol class="breadcrumb">
                <li><i class="fa fa-home pr-10"></i><a href="{{ path('utt_index_homepage') }}">homepage</a></li>
                <li class="active">{{ category.name|lower }}</li>
            </ol>
        </div>
    </div>

    <section class="main-container no-padding hidden-md hidden-sm hidden-xs">
    {% if category is defined and category %}
        <section class="full-width-section">
            <div class="{#full-image-container light-gray-bg#}">
                {% if category.image is defined and category.image and category.getUploadDir() is defined and category.getUploadDir() %}
                    {% set photoPath = '/' ~ category.getUploadDir() ~ '/' ~ category.image %}
                    {% set photoPathSrc = photoPath %}
                {% else %}
                    {% set photoPath = '/bundles/uttindex/images/placeholder.png' %}
                    {% set photoPathSrc = photoPath | imagine_filter('category_thumb') %}
                {% endif %}

                <img class="to-right-block" src="{{ photoPathSrc }}" alt="{{ category.name }}">
                {#
                <div class="full-image-overlay text-right">
                    <h3>Core Features</h3>
                    <ul class="list-icons">
                        <li>-- <i class="icon-check-1"></i></li>
                        <li>-- <i class="icon-check-1"></i></li>
                        <li>-- <i class="icon-check-1"></i></li>
                        <li>-- <i class="icon-check-1"></i></li>
                        <li>-- <i class="icon-check-1"></i></li>
                        <li>-- <i class="icon-check-1"></i></li>
                    </ul>
                </div>
                #}
            </div>
            <div class="full-text-container light-gray-bg border-bottom-clear">
                <h1>{{ category.name }}</h1>
                <div class="separator-2 visible-lg"></div>
                <p>{{ category.textDescription }}</p>
            </div>
        </section>
        <div class="separator-2"></div>
    {% endif %}
    </section>


    <section class="main-container no-padding">
        <div class="container">
            <div class="row">
                <aside class="col-md-3">
                    <div class="sidebar">
                        <div class="block clearfix">
                            {#<div class="separator-2"></div>#}
                            {% render controller('UTTEstateBundle:Estate:renderQuickSearchForm', { 'request': app.request }) %}
                        </div>
                        <div class="block clearfix hidden-xs">
                            {% render controller('UTTEstateBundle:Estate:renderWhyUTTSection') %}
                        </div>
                        {#
                        <div class="block clearfix">
                            <h3 class="title">why utt?</h3>
                            <div class="separator-2"></div>
                            <blockquote class="margin-clear">
                                <p>value - You won't find the same property cheaper anywhere else</p>
                            </blockquote>
                            <blockquote class="margin-clear">
                                <p>quality - we visit and revisit every property to make sure they meet our standards, and only the best make the 'utt' grade</p>
                            </blockquote>
                            <blockquote class="margin-clear">
                                <p>location - every location is a winner - we don't hide nasties like roads/ugly views from our photos</p>
                            </blockquote>
                            <blockquote class="margin-clear">
                                <p>satisfaction - we've probably got the highest rate of returning customers of any cottage company</p>
                            </blockquote>
                            <blockquote class="margin-clear">
                                <p>service - we're here to help and pride ourselves on personal service</p>
                            </blockquote>
                            <blockquote class="margin-clear">
                                <p>sustainable - we've many of the 'greenest' holiday properties on the market</p>
                            </blockquote>
                        </div>
                        #}
                    </div>
                </aside>
                <div class="main col-md-9">
                    <h2>browse our "{{ category.name }}" category</h2>
                    <div class="separator-2"></div>
                    {% if featuredEstates is defined and featuredEstates|length > 0 %}
                        {% for estate in featuredEstates %}
                            <div class="image-box style-3-b">
                                <div class="row">
                                    <div class="col-sm-6 col-md-4">
                                        <div class="overlay-container">
                                            <a title="{{ estate.name }}" href="{{ path('utt_estate_show_estate', { 'estateShortName': estate.shortName }) }}">
                                                {% if estate.photoMain is defined and estate.photoMain %}
                                                    <img alt="{{ estate.name }}" src="{{ estate.photoMain.fileName }}" />
                                                {% else %}
                                                    <img alt="{{ estate.name }}" src="{{ noImageThumb }}" />
                                                {% endif %}
                                                <div class="overlay-to-top">
                                                    <p class="small margin-clear"><em>{{ estate.name }}</em></p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-8">
                                        <div class="body">
                                            <h3 class="title"><a title="{{ estate.name }}" href="{{ path('utt_estate_show_estate', { 'estateShortName': estate.shortName }) }}">{{ estate.name }}</a></h3>
                                            <p class="small mb-10">
                                                <i class="fa fa-bed" aria-hidden="true"></i> guests {{ estate.sleeps }}&#160;&#160;
                                                <i class="fa fa-map-marker" aria-hidden="true"></i> {{ estate.locationText }}
                                            </p>
                                            <div class="separator-2"></div>
                                            <p class="mb-10">{{ estate.seoDescription }}</p>
                                            {#
                                            <p class="mb-10">
                                                {% if estate.basePrice is defined %}
                                                    <a title="{{ estate.name }}" href="{{ path('utt_estate_show_estate', { 'estateShortName': estate.shortName }) }}" class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear">
                                                        £{{ estate.basePrice }}
                                                    </a>
                                                {% else %}
                                                    <a title="{{ estate.name }}" href="{{ path('utt_estate_show_estate', { 'estateShortName': estate.shortName }) }}" class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear">
                                                        £{{ estate.lowestPrice|number_format(0) }} to £{{ estate.highestPrice|number_format(0) }}
                                                    </a>
                                                    for 1 week
                                                {% endif %}
                                            </p>
                                            #}

                                            <div class="p-20 bordered clearfix">
                                                {% if estate.basePrice is defined %}
                                                    <span class="product price">£{{ estate.basePrice }}</span>
                                                {% else %}
                                                    <span class="product price">£{{ estate.lowestPrice|number_format(0) }}</span>
                                                     to
                                                    <span class="product price">£{{ estate.highestPrice|number_format(0) }}</span>
                                                    for 1 week
                                                {% endif %}

                                                <div class="product elements-list pull-right clearfix">
                                                    <a title="{{ estate.name }}" href="{{ path('utt_estate_show_estate', { 'estateShortName': estate.shortName }) }}" class="margin-clear btn btn-default">
                                                        see more
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="separator"></div>
                            </div>
                        {% endfor %}
                    {% else %}

                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block body_old %}
    <style>
        #search-result-handler .single-result {
            width: 33%;
        }
        .btn-main-page {
            display: block;
            margin: 10px auto;
            max-width: 300px;
        }
        .category-image {
            float: left;
            margin-right: 10px;
        }

        #customerReviews {
            padding: 0;
            margin: 30px;
            max-height: 380px;
            overflow: auto;
        }

        #customerReviews li {
            list-style-type: none;

            border-left: 5px solid #EEEEEE;
            margin: 0 0 20px;
        }

        #customerReviews li span {
            display: block;
            color: #777777;
        }
    </style>
    {% if category is defined and category %}
        <div class="background-color-lightGray">
            <div class="body overflow-auto text-container">
                <ol class="breadcrumb">
                    <li><a title="Homepage" href="{{ path('utt_index_homepage') }}">Homepage</a></li>
                    <li class="active">{{ category.name|capitalize }}</li>
                </ol>
                <div class="col-xs-12">
                    <div class="break5">&nbsp</div>
                    <div class="header">
                        <h1 class="background-heart-branch-contain font-tab-main-titles">
                            <span class="colorSpecjal">{{ category.name|upper }}</span>
                        </h1>
                    </div>
                </div>
                <div class="col-xs-12">
                    {% if category.image is defined and category.image and category.getUploadDir() is defined and category.getUploadDir() %}
                        {% set photoPath = '/' ~ category.getUploadDir() ~ '/' ~ category.image %}
                        {% set photoPathSrc = photoPath | imagine_filter('homepage_estate_category_thumb') %}
                    {% else %}
                        {% set photoPath = '/bundles/uttindex/images/placeholder.png' %}
                        {% set photoPathSrc = photoPath | imagine_filter('homepage_estate_category_thumb') %}
                    {% endif %}

                    <img class="category-image" src="{{ photoPathSrc }}" alt="{{ category.name }}">
                    {{ category.textDescription }}
                </div>
            </div>
            <div class="break10">&nbsp</div>
            <div class="break15">&nbsp</div>
        </div>

        <div class="text-container overflow-auto" id="search-result-handler">
            {% if featuredEstates is defined and featuredEstates|length > 0 %}
                {#<h2 class="background-heart-branch-contain font-tab-main-titles">
                    SEE OUR MOST RECOMMENDED <span class="colorSpecjal">{{ category.name|upper }}</span>
                </h2>#}

                {% for estate in featuredEstates %}
                    <a title="{{ estate.name }}" href="{{ path('utt_estate_show_estate', { 'estateShortName': estate.shortName }) }}" class="single-result">
                        <div class="result-image">
                            {% if estate.photosSorted is defined and estate.photosSorted|length > 0 %}
                                <img style="cursor: pointer;" alt="{{ estate.name }}" src="{{ estate.photosSorted[0].fileName }}" />
                            {% else %}
                                <img style="cursor: pointer;" alt="{{ estate.name }}" src="{{ noImageThumb }}" />
                            {% endif %}

                            {% if estate.specialCategory == constant('UTT\\EstateBundle\\Entity\\Estate::SPECIAL_CATEGORY_FINEST') %}
                                <img class="finest-icon" src="/images/finest-icon.gif" alt="Best cottages"  />
                            {% elseif estate.specialCategory == constant('UTT\\EstateBundle\\Entity\\Estate::SPECIAL_CATEGORY_BUDGET') %}
                                <img class="budget-icon" src="/images/budget-icon.png" alt="Budget and cheapest cottages" />
                            {% endif %}
                        </div>

                        <div class="set-controls-direction-large"></div>
                        <div class="overflow-auto details">
                            <div class="details-price text-center">
                                {% if estate.basePrice is defined %}
                                    <span class="price">
                                <span class="currency">£</span>{{ estate.basePrice }}
                            </span>
                                {% else %}
                                    <span class="price">
                                <span class="currency">£</span>{{ estate.lowestPrice|number_format(0) }}
                                        <span>to</span>&#160;<span class="currency">£</span>{{ estate.highestPrice|number_format(0) }}
                                        <div class="currency">for 1 week</div>
                            </span>
                                {% endif %}
                            </div>
                            <div class="details-address">
                                <strong>{{ estate.name }}</strong><br />
                                {{ estate.locationText }}<br />
                                guests {{ estate.sleeps }}
                            </div>
                        </div>
                    </a>
                {% endfor %}

                {% if category.isSearchFilter %}
                    <div class="text-center">
                        <div class="break10">&nbsp</div>
                        <a class="btn btn-lg btn-main-page" href="{{ path('utt_estate_search', { 'category': category.id }) }}">more</a>
                    </div>
                {% endif %}
            {% else %}
                <div id="search-result-empty-information" class="alert alert-warning">
                    Nothing found.
                </div>
            {% endif %}

            <div class="break10">&nbsp</div>
            <div class="break15">&nbsp</div>
        </div>

        <div class="text-container overflow-auto" id="search-result-handler">
            <h2 class="background-heart-branch-contain font-tab-main-titles">
                RECENT REVIEWS FROM OUR <span class="colorSpecjal">{{ category.name|upper }}</span>
            </h2>

            <div class="col-xs-12">
                {% if verifiedReviews is defined and verifiedReviews|length > 0 %}
                    <ul id="customerReviews">
                        {% for verifiedReview in verifiedReviews %}
                            <li>
                                {{ verifiedReview.comment }}
                                <span>
                                    {% if verifiedReview.user %}
                                        {{ verifiedReview.user.firstName|truncate(20)|capitalize }} {{ verifiedReview.user.lastName[:1]|capitalize }},
                                        {% if verifiedReview.user.city and verifiedReview.user.country and verifiedReview.user.country.id != 1 %}
                                            {{ verifiedReview.user.city }} ({{ verifiedReview.user.country.name }}),
                                        {% endif %}
                                    {% endif %}

                                    {{ verifiedReview.createdAt|date('j F Y') }}
                                </span>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <div class="break10">&nbsp</div>
            <div class="break15">&nbsp</div>
        </div>
    {% endif %}


    <style>
        .recommended-ideas .idea-item {
            float: left;  margin: 1%;  position: relative;  width: 18%;
        }
        .recommended-ideas .idea-item span {
            color: white;
            cursor: pointer;
            right: 0;
            width: auto;

            background: rgba(107, 97, 62, 0.85) none repeat scroll 0 0;
            float: right;
            padding: 5px 10px;
        }
        @media (max-width: 768px) {
            .recommended-ideas .idea-item { width: 23%; }
            .recommended-ideas .idea-item span { font-size: 12px; }
        }
        @media (max-width: 551px) {
            .recommended-ideas .idea-item { width: 31%; }
            .recommended-ideas .idea-item span { font-size: 12px; }
        }
        @media (max-width: 350px) {
            .recommended-ideas .idea-item { width: 48%; }
            .recommended-ideas .idea-item span { font-size: 12px; }
        }
        .recommended-ideas .idea-item img {
            width: 100%;
        }
    </style>

    {% include 'UTTIndexBundle:Index:partial/common/separatorHeart.html.twig' with {'backgroundType': 'lightGray'} only %}
    <div class="background-color-lightGray">
        <div class="body overflow-auto col-xs-12">
            <h1 class="background-heart-branch-contain font-tab-main-titles">
                HOLIDAY <span class="colorSpecjal">IDEAS</span>
            </h1>
            <div class="recommended-ideas">
                {% if categories is defined and categories|length > 0 %}
                    {% for category in categories %}
                        <div class="idea-item">
                            {% if category.image is defined and category.image and estateCategoryUploadDir is defined and estateCategoryUploadDir %}
                                {% set photoPath = '/' ~ estateCategoryUploadDir ~ '/' ~ category.image %}
                                {% set photoPathSrc = photoPath | imagine_filter('homepage_estate_category_thumb') %}
                            {% else %}
                                {% set photoPath = '/bundles/uttindex/images/placeholder.png' %}
                                {% set photoPathSrc = photoPath | imagine_filter('homepage_estate_category_thumb') %}
                            {% endif %}

                            <a title="{{ category.name }}" href="{{ path('utt_estate_category', { 'slug': category.slug }) }}">
                                <img src="{{ photoPathSrc }}" alt="{{ category.name }}">
                            </a>
                            <span>{{ category.name }}</span>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

        <div class="break10">&nbsp</div>
        <div class="break15">&nbsp</div>
    </div>
{% endblock %}

{% block css %}
    {% stylesheets
    'bundles/uttestate/css/search.css'
    filter='yui_css' %}<link rel="stylesheet" type="text/css" media="all" href="{{ asset_url }}" />{% endstylesheets %}
{% endblock %}
