{% extends '::base.html.twig' %}

{% block title %}Cottages - Under the Thatch - find the greatest holiday cottages in Wales.{% endblock %}

{% block body %}
    <style>
        .recommended-ideas .idea-item {
            float: left;  margin: 1%;  position: relative;  width: 18%;
        }
        .recommended-ideas .idea-item span {
            color: white;
            cursor: pointer;
            right: 0;
            width: auto;

            background: rgba(107, 97, 62, 0.85) none repeat scroll 0 0;
            float: right;
            padding: 5px 10px;
        }
        @media (max-width: 768px) {
            .recommended-ideas .idea-item { width: 23%; }
            .recommended-ideas .idea-item span { font-size: 12px; }
        }
        @media (max-width: 551px) {
            .recommended-ideas .idea-item { width: 31%; }
            .recommended-ideas .idea-item span { font-size: 12px; }
        }
        @media (max-width: 350px) {
            .recommended-ideas .idea-item { width: 48%; }
            .recommended-ideas .idea-item span { font-size: 12px; }
        }
        .recommended-ideas .idea-item img {
            width: 100%;
        }
    </style>

    <div class="background-color-lightGray">
        <div class="body overflow-auto text-container">
            <ol class="breadcrumb">
                <li><a title="Homepage" href="{{ path('utt_index_homepage') }}">Homepage</a></li>
                <li class="active">Cottages</li>
            </ol>
            <div class="col-xs-12">
                <div class="break5">&nbsp</div>
                <div class="header">
                    <h1 class="background-heart-branch-contain font-tab-main-titles">COTTAGES</h1>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="recommended-ideas">
                    {% if categories is defined and categories|length > 0 %}
                        {% for category in categories %}
                            <div class="idea-item">
                                {% if category.image is defined and category.image and estateCategoryUploadDir is defined and estateCategoryUploadDir %}
                                    {% set photoPath = '/' ~ estateCategoryUploadDir ~ '/' ~ category.image %}
                                    {% set photoPathSrc = photoPath | imagine_filter('homepage_estate_category_thumb') %}
                                {% else %}
                                    {% set photoPath = '/bundles/uttindex/images/placeholder.png' %}
                                    {% set photoPathSrc = photoPath | imagine_filter('homepage_estate_category_thumb') %}
                                {% endif %}

                                <a title="{{ category.name }}" href="{{ path('utt_estate_category', { 'slug': category.slug }) }}">
                                    <img src="{{ photoPathSrc }}" alt="{{ category.name }}">
                                </a>
                                <span>{{ category.name }}</span>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="break10">&nbsp</div>
        <div class="break15">&nbsp</div>
    </div>

{% endblock %}