{% extends '::the-project/base.html.twig' %}

{% block title %}{{ estate.name }} - Under the Thatch{% endblock %}

{% block body %}
    <style>
        .price-popup {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            padding-top: 15px;
            padding-bottom: 15px;
            background: #444;
            z-index: 10000004023;
            color: white;
            padding-left: 10px;
            padding-right: 10px;
        }
        .dl-horizontal dt {
            float: left;
            width: 160px;
            overflow: hidden;
            clear: left;
            text-align: right;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .dl-horizontal dd {
            margin-left: 150px;
        }
    </style>

    <div class="breadcrumb-container">
        <div class="container">
            <ol class="breadcrumb">
                <li><i class="fa fa-home pr-10"></i><a href="{{ path('utt_index_homepage') }}">homepage</a></li>
                <li><a href="{{ path('utt_estate_show_estate', { 'estateShortName': estate.shortName }) }}">{{ estate.name }}</a></li>
                <li class="active">new reservation</li>
            </ol>
        </div>
    </div>

    <section class="main-container no-padding">
        <div class="container">
            <div role="alert" class="alert alert-icon alert-success">
                <i class="fa fa-check"></i>
                great choice! your booking is almost ready.
            </div>
            <div id="reservationAppHandler" class="row" ng-controller="reservationAppCtrl">
            <form name="reservationForm">
                <aside class="col-md-4">
                    <div class="row hidden-sm hidden-md hidden-lg">
                        <div class="col-xs-12">
                            <div>
                                {% set estatePhoto = estate.getRandomPhoto() %}

                                {% if estatePhoto and estatePhoto.fileName is defined and estatePhoto.fileName and estatePhoto.getUploadDir() is defined and estatePhoto.getUploadDir() %}
                                    {% set photoPath = '/' ~ estatePhoto.getUploadDir() ~ '/' ~ estatePhoto.fileName %}
                                    {% set photoPathSrc = photoPath | imagine_filter('reservation_estate_image_thumb') %}
                                {% else %}
                                    {% set photoPath = '/bundles/uttindex/images/placeholder.png' %}
                                    {% set photoPathSrc = photoPath | imagine_filter('reservation_estate_image_thumb') %}
                                {% endif %}
                                <a href="{{ path('utt_estate_show_estate', { 'estateShortName': estate.shortName }) }}">
                                    <img title="{{ estate.name }}" src="{{ photoPathSrc }}" alt="{{ estate.name }}">
                                </a>
                            </div>
                        </div>

                        <br />

                        <div class="col-xs-12">
                            <div>
                                <a href="{{ path('utt_estate_show_estate', { 'estateShortName': estate.shortName }) }}">
                                    <strong>{{ estate.name }}</strong>
                                    <input ng-model="estateShortName" ng-init="setEstateShortName('{{ estate.shortName }}')" type="hidden" />
                                </a>
                            </div>
                            <div>
                                <i aria-hidden="true" class="fa fa-bed utt-color"></i> sleeps up to {{ estate.sleeps }}&#160;&#160;
                                <i aria-hidden="true" class="fa fa-map-marker utt-color"></i> {{ estate.locationText }}
                            </div>
                            <div class="pv-10">
                                {#children#}{{ estate.getChildrenName()|lower }}<br />
                                {#infants#} {{ estate.getInfantsName()|lower }}<br />
                                {#pets#} {{ estate.getPetsName()|lower }}
                            </div>
                        </div>
                    </div>
                    <div class="separator hidden-sm hidden-md hidden-lg"></div>
                    <div class="row hidden-sm hidden-md hidden-lg">
                        <div class="text-center pv-10">
                            <div class="col-sm-6">
                                <strong class="utt-color">from</strong>&#160;
                                <strong ng-init="setFromDate('{{ fromDate|date('Y-m-d') }}')">{{ fromDate|date('l, j F Y') }}</strong><br />
                                <i>(arrive from {{ estate.checkInTime|date('H:i') }})</i>
                            </div>
                            <div class="col-sm-6">
                                <strong class="utt-color">to</strong>&#160;
                                <strong ng-init="setToDate('{{ toDate|date('Y-m-d') }}')">{{ toDate|date('l, j F Y') }}</strong><br />
                                <i>(depart by {{ estate.checkOutTime|date('H:i') }})</i>
                            </div>
                        </div>
                    </div>
                    <div class="separator hidden-sm hidden-md hidden-lg"></div>

                    <div class="row">
                        <div class="block clearfix">
                            <div class="text-center">
                                <strong class="utt-color">total holiday price</strong>
                                <div class="total-price">{{ ''|currency_info }}<span ng-init="initNewReservationPrice('{{ newReservationPrice }}')">{{ '{{totalPrice().toFixed(2)}}' }}</span></div>
                            </div>

                            <div class="separator"></div>

                            <div class="row">
                                <div class="col-xs-12">
                                    <dl style="margin-bottom: 0;" class="dl-horizontal dl-new-booking">
                                        <dt>Base price</dt>
                                        <dd>{{ ''|currency_info }}<span>{{ '{{basePrice()}}' }}</span></dd>

                                        <dt ng-if="additionalSleepsPrice()">Additional guests</dt>
                                        <dd ng-if="additionalSleepsPrice()">{{ ''|currency_info }}<span>{{ '{{additionalSleepsPrice()}}' }}</span></dd>

                                        <dt ng-if="adminCharge()">Service fee</dt>
                                        <dd ng-if="adminCharge()">{{ ''|currency_info }}<span>{{ '{{adminCharge().toFixed(2)}}' }}</span></dd>

                                        <dt ng-if="bookingProtectCharge()">Refund Protection</dt>
                                        <dd ng-if="bookingProtectCharge()">{{ ''|currency_info }}<span>{{ '{{bookingProtectCharge()}}' }}</span></dd>

                                        <dt ng-if="charityCharge()">Charity donation</dt>
                                        <dd ng-if="charityCharge()">{{ ''|currency_info }}<span>{{ '{{charityCharge()}}' }}</span></dd>

                                        <dt ng-if="petsPrice()">Pets</dt>
                                        <dd ng-if="petsPrice()">{{ ''|currency_info }}<span>{{ '{{petsPrice()}}' }}</span></dd>

                                        <dt ng-if="discountTotal()">Discount</dt>
                                        <dd ng-if="discountTotal()">{{ ''|currency_info }}<span>{{ '{{discountTotal()}}' }}</span></dd>
                                    </dl>
                                </div>
                            </div>

                            <div class="separator"></div>

                            <div class="col-sm-12">
                                <div class="text-center alert alert-warning" ng-show="isBookingProtectAllowed()">
                                    <div>
                                        I require Booking Protect's refund protection for my booking and agree to the
                                        <a target="_blank" href="http://www.underthethatch.co.uk/booking-protect/Terms and conditions v3.pdf">Terms & Conditions</a>
                                    </div>
                                    <br />
                                    <label style="font-weight: normal">
                                        <input type="checkbox" ng-model="isBookingProtect" ng-change="changeIsBookingProtect()" />
                                        Yes, please
                                    </label>
                                    <div class="hidden-xs">
                                        <a style="display: inline-block;" target="_blank" href="https://bookingprotect.com/">
                                            <img src="https://cdn.insure-hub.net/bplogo.png" />
                                        </a>
                                    </div>
                                </div>
                                <div class="row light-gray-bg pv-10">
                                    <div class="col-md-12 pv-10">
                                        <label for="filterSleepsAdults" class="utt-color">number of adults</label>
                                        <select id="filterSleepsAdults" class="form-control" ng-init="initFilterSleeps({{ estate.sleeps }})" ng-model="sleepsAdults" ng-change="setSleepsAdults(sleepsAdults)" ng-options="choice.id for choice in sleepsAdultsChoices"></select>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="filterSleepsChildren" class="utt-color">number of children (age 2+)</label>
                                        <select id="filterSleepsChildren" class="form-control" ng-model="sleepsChildren" ng-change="setSleepsChildren(sleepsChildren)" ng-options="choice.id for choice in sleepsChildrenChoices"></select>
                                    </div>

                                    <div class="clearfix"></div>

                                    <div class="col-xs-6 pv-10">
                                        <label for="filterInfants" class="utt-color">infants (under 2)</label>
                                        <select id="filterInfants" class="form-control" ng-init="initFilterInfants({{ estate.getMaxInfantsTotal() }})" ng-model="infants" ng-change="setInfants(infants)" ng-options="choice.id for choice in infantsChoices"></select>
                                    </div>
                                    <div class="col-xs-6 pv-10" ng-show="isFilterPetsVisible">
                                        <label for="filterPets" class="utt-color">pets</label>
                                        <select id="filterPets" class="form-control" ng-init="initFilterPets({{ estate.getMaxPetsTotal() }})" ng-model="pets" ng-change="setPets(pets)" ng-options="choice.id for choice in petsChoices"></select>
                                    </div>

                                    <div class="clearfix"></div>

                                    <div class="col-xs-8 pv-10">
                                        <label for="filterCode" class="utt-color">discount code?</label>
                                        <input id="filterCode" type="text" class="form-control" ng-model="code" ng-change="setCode(code)" />
                                    </div>
                                    <div class="col-xs-4 pv-10">
                                        <label class="utt-color">&#160;</label>
                                        <button style="margin: 0; white-space: pre-wrap;" class="btn btn-default btn-sm btn-block" ng-click="formApply()">apply discount</button>
                                    </div>
                                </div>
                                <div class="pv-10"></div>
                            </div>

                            <div class="hidden-xs">
                                <div class="text-center hidden-xs">
                                    <strong class="utt-color">total holiday price</strong>
                                    <div class="total-price">{{ ''|currency_info }}<span ng-init="initNewReservationPrice('{{ newReservationPrice }}')">{{ '{{totalPrice().toFixed(2)}}' }}</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </aside>
                <div class="main col-md-8">
                    <div class="row hidden-xs">
                        <div class="col-xs-4 text-center">
                            {% set estatePhoto = estate.getRandomPhoto() %}

                            {% if estatePhoto and estatePhoto.fileName is defined and estatePhoto.fileName and estatePhoto.getUploadDir() is defined and estatePhoto.getUploadDir() %}
                                {% set photoPath = '/' ~ estatePhoto.getUploadDir() ~ '/' ~ estatePhoto.fileName %}
                                {% set photoPathSrc = photoPath | imagine_filter('reservation_estate_image_thumb') %}
                            {% else %}
                                {% set photoPath = '/bundles/uttindex/images/placeholder.png' %}
                                {% set photoPathSrc = photoPath | imagine_filter('reservation_estate_image_thumb') %}
                            {% endif %}
                            <a href="{{ path('utt_estate_show_estate', { 'estateShortName': estate.shortName }) }}">
                                <img title="{{ estate.name }}" src="{{ photoPathSrc }}" alt="{{ estate.name }}">
                            </a>
                        </div>

                        <div class="col-xs-8">
                            <div>
                                <a href="{{ path('utt_estate_show_estate', { 'estateShortName': estate.shortName }) }}">
                                    <strong>{{ estate.name }}</strong>
                                    <input ng-model="estateShortName" ng-init="setEstateShortName('{{ estate.shortName }}')" type="hidden" />
                                </a>
                            </div>
                            <div>
                                <i aria-hidden="true" class="fa fa-bed utt-color"></i> sleeps up to {{ estate.sleeps }}&#160;&#160;
                                <i aria-hidden="true" class="fa fa-map-marker utt-color"></i> {{ estate.locationText }}
                            </div>
                            <div class="pv-10">
                                {#children#}{{ estate.getChildrenName()|lower }}<br />
                                {#infants#} {{ estate.getInfantsName()|lower }}<br />
                                {#pets#} {{ estate.getPetsName()|lower }}
                            </div>
                        </div>
                    </div>
                    <div class="separator hidden-xs"></div>
                    <div class="row hidden-xs">
                        <div class="col-sm-10 pv-10">
                            <div class="col-sm-6">
                                <strong class="utt-color">from</strong>&#160;
                                <strong ng-init="setFromDate('{{ fromDate|date('Y-m-d') }}')">{{ fromDate|date('l, j F Y') }}</strong><br />
                                <i>(arrive from {{ estate.checkInTime|date('H:i') }})</i>
                            </div>
                            <div class="col-sm-6">
                                <strong class="utt-color">to</strong>&#160;
                                <strong ng-init="setToDate('{{ toDate|date('Y-m-d') }}')">{{ toDate|date('l, j F Y') }}</strong><br />
                                <i>(depart by {{ estate.checkOutTime|date('H:i') }})</i>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="reservationFormUserData light-gray-bg pv-10 col-sm-12">
                            <h4>about you</h4>
                            <div><i>* all fields are required</i></div>
                            <div class="row">
                                <div class="col-md-4 pv-10">
                                    <label for="userDataFirstName" class="utt-color">your first name*</label>
                                    <input id="userDataFirstName" ng-init="initUserData('{{ userData }}')" ng-change="changeUserFirstName(userData.firstName)" ng-model="userData.firstName" class="form-control" type="text" required />
                                </div>
                                <div class="col-md-4 pv-10">
                                    <label for="userDataLastName" class="utt-color">your last name*</label>
                                    <input id="userDataLastName" ng-change="changeUserLastName(userData.lastName)" ng-model="userData.lastName" class="form-control" type="text" required />
                                </div>
                                <div class="col-md-4 pv-10">
                                    <label for="userDataEmail" class="utt-color">your email address*</label>
                                    <input id="userDataEmail" class="form-control" type="email" ng-pattern="emailRegexp" ng-change="changeUserEmail(userData.email)" ng-model="userData.email" required />
                                </div>

                                <div class="col-md-4 pv-10">
                                    <label for="userDataPhone" class="utt-color">phone number*</label>
                                    <input id="userDataPhone" class="form-control" type="text" ng-change="changeUserPhone(userData.phone)" ng-model="userData.phone" required />
                                </div>
                                <div class="col-md-8 pv-10">
                                    <label for="userDataAddress" class="utt-color">address*</label>
                                    <input id="userDataAddress" class="form-control" type="text" ng-change="changeUserAddress(userData.address)" ng-model="userData.address" required />
                                </div>

                                <div class="col-md-4 pv-10">
                                    <label for="userDataCity" class="utt-color">city*</label>
                                    <input id="userDataCity" class="form-control" type="text" ng-change="changeUserCity(userData.city)" ng-model="userData.city" required />
                                </div>
                                <div class="col-md-4 pv-10">
                                    <label for="userDataPostcode" class="utt-color">post code*</label>
                                    <input id="userDataPostcode" class="form-control" type="text" ng-change="changeUserPostcode(userData.postcode)" ng-model="userData.postcode" />
                                </div>
                                <div class="col-md-4 pv-10">
                                    <label for="userDataCountry" class="utt-color">country</label>
                                    <select id="userDataCountry" class="form-control" ng-init="initCountryChoices()" ng-model="userDataCountry" ng-change="changeUserCountry(userDataCountry)" ng-options="choice.name for choice in countryChoices" required></select>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="col-sm-12 pv-10">
                                <div class="hidden-sm hidden-md hidden-lg">
                                    <div class="text-center alert alert-warning" ng-show="isBookingProtectAllowed()">
                                        <div>
                                            Would you like to protect booking with Booking Protect, to cover if you need to make a late cancellation?<br />
                                            see <a target="_blank" href="http://www.underthethatch.co.uk/booking-protect/Terms and conditions v3.pdf">Terms & Conditions</a>
                                        </div>
                                        <br />
                                        <label style="font-weight: normal">
                                            <input type="checkbox" ng-model="isBookingProtect" ng-change="changeIsBookingProtect()" />
                                            Yes, please
                                        </label>
                                        <div class="hidden-xs">
                                            <a style="display: inline-block;" target="_blank" href="https://bookingprotect.com/">
                                                <img src="https://cdn.insure-hub.net/bplogo.png" />
                                            </a>
                                        </div>
                                    </div>

                                    <div class="separator"></div>

                                    <div class="text-center">
                                        <strong class="utt-color">total holiday price</strong>
                                        <div class="total-price">{{ ''|currency_info }}<span ng-init="initNewReservationPrice('{{ newReservationPrice }}')">{{ '{{totalPrice().toFixed(2)}}' }}</span></div>
                                    </div>
                                </div>
                                
                                <h4>booking notes</h4>

                                <p class="bg-success p-20">
                                    {% if estate.bookingNotes %}
                                        {{ estate.bookingNotes }}
                                    {% else %}
                                        <i>no booking notes</i>
                                    {% endif %}
                                </p>
                            </div>
                        </div>

                        <div class="text-center pv-10 col-sm-12">
                            <div class="alert alert-warning" ng-show="!isFormValid()">
                                Please make sure that you have put your data into all required fields and accepted our terms.
                            </div>
                            <div class="alert alert-info">
                                All required fields needs to be filled in to activate the button.
                            </div>
                            <div>
                                <label>
                                    <input type="checkbox" ng-model="termsAgreed" /> * I confirm I have read and accept the {{ 'terms and conditions'|statis_page_url_terms|raw }}
                                </label>
                            </div>
                            <button ng-disabled="!isFormValid()" ng-click="bookHoliday()" class="btn btn-lg btn-default">book my holiday</button>
                        </div>
                    </div>
                </div>
            </form>
                <div class="price-popup" ng-if="isMobile()">
                    <div style="margin-bottom: 7px; margin-top: 7px;">
                        <div class="text-center">
                            <strong>total holiday price</strong>
                            <div class="total-price">{{ ''|currency_info }}<span ng-init="initNewReservationPrice('{{ newReservationPrice }}')">{{ '{{totalPrice().toFixed(2)}}' }}</span></div>
                            <small>click "book my holiday" to continue</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        var $sleeps = '{{ sleeps }}';
    </script>
{% endblock %}

{% block body_old %}
    <style>
        #reservationAppHandler .estateName {
            font-size: 19px;
            color: black;
        }
        #reservationAppHandler .content .menu-titles {
            width: 150px;
            float: left;
            line-height: 34px;
        }
        #reservationAppHandler .content .titles-content {margin-left: 150px;}
        #reservationAppHandler .content .background-gray {
            background-color: rgb(246, 246, 246);
            padding: 10px 0;
            overflow: auto;
        }
        #reservationAppHandler .content .price {font-size: 28px;}
        #reservationAppHandler .buttons button {width:150px;}
        #reservationAppHandler .content .part {padding: 5px 0; overflow: auto;}
        #reservationAppHandler .content .ul-handler ul > li {color: #871B09;}
        #reservationAppHandler .content .ul-handler ul > li > span { font-size: 13px; color: grey; }

        @media (max-width: 767px) {
            #reservationAppHandler .content .menu-titles {
                float: none;
            }
            #reservationAppHandler .content .titles-content {
                margin-left: 0;
                display: block;
                width: 100%;
            }
            .reservationFormUserData {
                margin-bottom: 20px;
            }
        }
    </style>

    <div id="reservationAppHandler" ng-controller="reservationAppCtrl">
        <div class="background-color-lightGray content">
            <div class="body overflow-auto text-container">
                <div class="col-xs-12">
                    <div class="break10">&nbsp</div>
                    <div class="header">
                        <div class="background-heart-branch-contain font-tab-main-titles">
                            <div>NEW <span class="colorSpecjal">RESERVATION</span></div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="res-img-handler text-center">
                        {% set estatePhoto = estate.getRandomPhoto() %}

                        {% if estatePhoto and estatePhoto.fileName is defined and estatePhoto.fileName and estatePhoto.getUploadDir() is defined and estatePhoto.getUploadDir() %}
                            {% set photoPath = '/' ~ estatePhoto.getUploadDir() ~ '/' ~ estatePhoto.fileName %}
                            {% set photoPathSrc = photoPath | imagine_filter('reservation_estate_image_thumb') %}
                        {% else %}
                            {% set photoPath = '/bundles/uttindex/images/placeholder.png' %}
                            {% set photoPathSrc = photoPath | imagine_filter('reservation_estate_image_thumb') %}
                        {% endif %}
                        <a href="{{ path('utt_estate_show_estate', { 'estateShortName': estate.shortName }) }}">
                            <img title="{{ estate.name }}" src="{{ photoPathSrc }}" alt="{{ estate.name }}">
                        </a>
                    </div>

                    <div class="after-res-img-handler">
                        <div>
                            <a class="estateName" href="{{ path('utt_estate_show_estate', { 'estateShortName': estate.shortName }) }}">
                                <strong>{{ estate.name }}</strong>
                                <input ng-model="estateShortName" ng-init="setEstateShortName('{{ estate.shortName }}')" type="hidden" />
                            </a>
                        </div>
                        <div>
                            {{ estate.locationText }}
                        </div>

                        <div class="row">
                            <div class="col-hs-5 break10">
                                <div>
                                    <strong class="colorSpecjal">from:</strong>
                                    <strong ng-init="setFromDate('{{ fromDate|date('Y-m-d') }}')">{{ fromDate|date('l, j F Y') }}</strong><br />
                                    <i>(arrive from {{ estate.checkInTime|date('H:i') }})</i>
                                </div>
                                <div class="break10">
                                    <strong class="colorSpecjal">to:</strong>
                                    <strong ng-init="setToDate('{{ toDate|date('Y-m-d') }}')">{{ toDate|date('l, j F Y') }}</strong><br />
                                    <i>(depart by {{ estate.checkOutTime|date('H:i') }})</i>
                                </div>
                            </div>
                            <div class="col-hs-7 break10">
                                <span class="colorSpecjal">sleeps up to:</span> {{ estate.sleeps }}<br />
                                <span class="colorSpecjal">children:</span> {{ estate.getChildrenName() }}<br />
                                <span class="colorSpecjal">infants:</span> {{ estate.getInfantsName() }}<br />
                                <span class="colorSpecjal">pets:</span> {{ estate.getPetsName() }}<br />
                                <!--<a href="{{ path('utt_estate_show_estate', { 'estateShortName': estate.shortName }) }}">change dates..</a>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <strong class="font19">Booking notes:</strong>
                    <div>
                        {% if estate.bookingNotes %}
                            {{ estate.bookingNotes }}
                        {% else %}
                            <i>No booking notes</i>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="break10">&nbsp</div>
            <div class="break15">&nbsp</div>
        </div>

        {% include 'UTTIndexBundle:Index:partial/common/separatorHeart.html.twig' with {'backgroundType': 'white'} only %}

        <div class="body content">
            <div class="text-container overflow-auto col-xs-12">
                <div class="header">
                    <div class="background-heart-branch-contain font-tab-main-titles">
                        <div>ABOUT <span class="colorSpecjal">YOU</span></div>
                    </div>
                </div>
                <div class="break5"> </div>
                {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="alert alert-success">{{ flashMessage }}</div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('error') %}
                    <div class="alert alert-danger">{{ flashMessage }}</div>
                {% endfor %}

                <form name="reservationForm" class="row">
                    <div class="col-hs-8 background-gray reservationFormUserData">
                        <div class="col-xs-12">
                            <div class="part">
                                <label for="userDataFirstName" class="menu-titles colorSpecjal">Your first name:</label>
                                <div class="titles-content">
                                    <input id="userDataFirstName" ng-init="initUserData('{{ userData }}')" ng-change="changeUserFirstName(userData.firstName)" ng-model="userData.firstName" class="form-control" type="text" required />
                                </div>
                            </div>
                            <div class="part">
                                <label for="userDataLastName" class="menu-titles colorSpecjal">Your last name:</label>
                                <div class="titles-content">
                                    <input id="userDataLastName" ng-change="changeUserLastName(userData.lastName)" ng-model="userData.lastName" class="form-control" type="text" required />
                                </div>
                            </div>
                            <div class="part">
                                <label for="userDataEmail" class="menu-titles colorSpecjal">Your email address:</label>
                                <div class="titles-content">
                                    <input id="userDataEmail" class="form-control" type="email" ng-pattern="emailRegexp" ng-change="changeUserEmail(userData.email)" ng-model="userData.email" required />
                                </div>
                            </div>
                            <div class="part">
                                <label for="userDataPhone" class="menu-titles colorSpecjal">Phone number:</label>
                                <div class="titles-content">
                                    <input id="userDataPhone" class="form-control" type="text" ng-change="changeUserPhone(userData.phone)" ng-model="userData.phone" required />
                                </div>
                            </div>
                            <div class="part">
                                <label for="userDataAddress" class="menu-titles colorSpecjal">Address:</label>
                                <div class="titles-content">
                                    <input id="userDataAddress" class="form-control" type="text" ng-change="changeUserAddress(userData.address)" ng-model="userData.address" required />
                                </div>
                            </div>
                            <div class="part">
                                <label for="userDataCity" class="menu-titles colorSpecjal">City:</label>
                                <div class="titles-content">
                                    <input id="userDataCity" class="form-control" type="text" ng-change="changeUserCity(userData.city)" ng-model="userData.city" required />
                                </div>
                            </div>
                            <div class="part">
                                <label for="userDataPostcode" class="menu-titles colorSpecjal">Post code:</label>
                                <div class="titles-content">
                                    <input id="userDataPostcode" class="form-control" type="text" ng-change="changeUserPostcode(userData.postcode)" ng-model="userData.postcode" />
                                </div>
                            </div>
                            <div class="part">
                                <label for="userDataCountry" class="menu-titles colorSpecjal">Country:</label>
                                <div class="titles-content">
                                    <select id="userDataCountry" class="form-control" ng-init="initCountryChoices()" ng-model="userDataCountry" ng-change="changeUserCountry(userDataCountry)" ng-options="choice.name for choice in countryChoices" required></select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-hs-4">
                        <div class="background-gray">
                            <div>
                                <div class="col-md-12">
                                    <label for="filterSleepsAdults" class="colorSpecjal">Number of Adults:</label>
                                    <select id="filterSleepsAdults" class="form-control" ng-init="initFilterSleeps({{ estate.sleeps }})" ng-model="sleepsAdults" ng-change="setSleepsAdults(sleepsAdults)" ng-options="choice.id for choice in sleepsAdultsChoices"></select>
                                </div>
                                <div class="col-md-12">
                                    <label for="filterSleepsChildren" class="colorSpecjal">Number of children:</label>
                                    <select id="filterSleepsChildren" class="form-control" ng-model="sleepsChildren" ng-change="setSleepsChildren(sleepsChildren)" ng-options="choice.id for choice in sleepsChildrenChoices"></select>
                                </div>

                                <div class="clearfix break10"></div>
                                <div class="col-md-6">
                                    <label for="filterInfants" class="colorSpecjal">Infants (in cot)</label>
                                    <select id="filterInfants" class="form-control" ng-init="initFilterInfants({{ estate.getMaxInfantsTotal() }})" ng-model="infants" ng-change="setInfants(infants)" ng-options="choice.id for choice in infantsChoices"></select>
                                </div>

                                <div class="col-md-6" ng-show="isFilterPetsVisible">
                                    <label for="filterPets" class="colorSpecjal">Pets</label>
                                    <select id="filterPets" class="form-control" ng-init="initFilterPets({{ estate.getMaxPetsTotal() }})" ng-model="pets" ng-change="setPets(pets)" ng-options="choice.id for choice in petsChoices"></select>
                                </div>
                                <div class="clearfix break10"></div>
                                <div class="col-md-12">
                                    <label for="filterCode" class="colorSpecjal">Discount Code ?</label>
                                    <input id="filterCode" type="text" class="form-control" ng-model="code" ng-change="setCode(code)" />
                                    <button class="btn btn-main-page btn-xs" ng-click="formApply()">Apply</button>
                                </div>
                            </div>
                        </div>



                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <div class="break10">
                                    <label class="colorSpecjal">total holiday price:</label>
                                    <div class="price">{{ ''|currency_info }}<span ng-init="initNewReservationPrice('{{ newReservationPrice }}')">{{ '{{totalPrice().toFixed(2)}}' }}</span></div>
                                </div>

                                price includes:
                                <div>
                                    Base price: {{ ''|currency_info }}<span>{{ '{{basePrice()}}' }}</span>
                                </div>
                                <div ng-if="additionalSleepsPrice()">
                                    Additional guests: {{ ''|currency_info }}<span>{{ '{{additionalSleepsPrice()}}' }}</span>
                                </div>
                                <div ng-if="adminCharge()">
                                    Booking fee: {{ ''|currency_info }}<span>{{ '{{adminCharge()}}' }}</span>
                                </div>
                                <div ng-if="creditCardCharge()">
                                    Credit card fee: {{ ''|currency_info }}<span>{{ '{{creditCardCharge()}}' }}</span>
                                </div>
                                <div ng-if="bookingProtectCharge()">
                                    Booking Protect fee: {{ ''|currency_info }}<span>{{ '{{bookingProtectCharge()}}' }}</span>
                                </div>
                                <div ng-if="charityCharge()">
                                    Charity donation: {{ ''|currency_info }}<span>{{ '{{charityCharge()}}' }}</span>
                                </div>
                                <div ng-if="petsPrice()">
                                    Pets: {{ ''|currency_info }}<span>{{ '{{petsPrice()}}' }}</span>
                                </div>
                                <div ng-if="discountTotal()">
                                    {{ ''|currency_info }}<strong>Discount: <span>{{ '{{discountTotal()}}' }}</span></strong>
                                </div>
                            </div>
                        </div>

                        <div class="buttons overflow-auto text-center break15">
                            <div>
                                <label style="font-weight: normal;">
                                    <input type="checkbox" ng-model="isBookingProtect" ng-change="changeIsBookingProtect()" />
                                    Protect my booking with <a target="_blank" href="http://www.underthethatch.co.uk/booking-protect/Terms and conditions v3.pdf">BookingProtect.com</a>
                                    <a target="_blank" href="http://www.underthethatch.co.uk/booking-protect/Terms and conditions v3.pdf"><img src="https://cdn.insure-hub.net/bplogo.png" /></a>
                                </label>
                            </div>
                            <br />
                            <div>
                                <label>
                                    <input type="checkbox" ng-model="termsAgreed" /> * I confirm I have read and accept the {{ 'terms and conditions'|statis_page_url_terms|raw }}
                                </label>
                            </div>
                            <button ng-disabled="!isFormValid()" ng-click="bookHoliday()" class="btn btn-main-page">book my holiday</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="break10">&nbsp</div>
    </div>

    <script>
        var $sleeps = '{{ sleeps }}';
    </script>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
        'bundles/uttreservation/js/reservationApp.js'
    filter='yui_js' %}<script type="text/javascript" src="{{ asset_url }}?cb=af3tc3"></script>{% endjavascripts %}
{% endblock %}
