{% if cottageOfTheWeek is defined and cottageOfTheWeek %}
    {% set estate = cottageOfTheWeek %}
    <div class="image-box style-3-b">
        <div class="row">
            <div class="col-sm-6 col-md-5">
                <div class="overlay-container">
                    {% if estate.photoMain is defined and estate.photoMain and estatePhotoUploadDir is defined and estatePhotoUploadDir %}
                        {% set photoPath = '/' ~ estatePhotoUploadDir ~ '/' ~ estate.photoMain.fileName %}
                        {% set photoPathSrc = photoPath | imagine_filter('favourite_estate_list_image_thumb') %}
                    {% else %}
                        {% set photoPath = '/bundles/uttindex/images/placeholder.png' %}
                        {% set photoPathSrc = photoPath | imagine_filter('favourite_estate_list_image_thumb') %}
                    {% endif %}
                    <img alt="{{ estate.name }}" src="{{ photoPathSrc }}" />

                    <div class="overlay-to-top">
                        <p class="small margin-clear"><em>{{ estate.name }}</em></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-7">
                <div class="body">
                    <h3 class="title"><a title="{{ estate.name }}" href="{{ path('utt_estate_show_estate', { 'estateShortName': estate.shortName }) }}">{{ estate.name }}</a></h3>
                    <p class="small mb-10">
                        <i class="fa fa-bed" aria-hidden="true"></i> guests {{ estate.sleeps }}&#160;&#160;
                        <i class="fa fa-map-marker" aria-hidden="true"></i> {{ estate.locationText }}
                    </p>
                    <div class="separator-2"></div>
                    <p class="mb-10">{{ estate.seoDescription }}</p>
                    {#
                    <p class="mb-10">
                        {% if estate.basePrice is defined %}
                            <a title="{{ estate.name }}" href="{{ path('utt_estate_show_estate', { 'estateShortName': estate.shortName }) }}" class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear">
                                £{{ estate.basePrice }}
                            </a>
                        {% else %}
                            <a title="{{ estate.name }}" href="{{ path('utt_estate_show_estate', { 'estateShortName': estate.shortName }) }}" class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear">
                                £{{ estate.lowestPrice|number_format(0) }} to £{{ estate.highestPrice|number_format(0) }}
                            </a>
                            for 1 week
                        {% endif %}
                    </p>
                    #}

                    <div class="p-20 bordered clearfix">
                        {% if estate.basePrice is defined %}
                            <span class="product price">£{{ estate.basePrice }}</span>
                        {% else %}
                            <span class="product price">£{{ estate.lowestPrice|number_format(0) }}</span>
                            to
                            <span class="product price">£{{ estate.highestPrice|number_format(0) }}</span>
                            for 1 week
                        {% endif %}

                        <div class="product elements-list pull-right clearfix">
                            <a title="{{ estate.name }}" href="{{ path('utt_estate_show_estate', { 'estateShortName': estate.shortName }) }}" class="margin-clear btn btn-default">
                                see more
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {#
    <div class="cottage-of-the-week" id="search-result-handler">
        <a title="{{ estate.name }}" href="{{ path('utt_estate_show_estate', { 'estateShortName': estate.shortName }) }}" class="single-result">
            <div class="overflow-auto details">
                <div class="details-address">
                    {{ estate.seoDescription }}
                </div>
            </div>
            <div class="result-image">
                {% if estate.photoMain is defined and estate.photoMain and estatePhotoUploadDir is defined and estatePhotoUploadDir %}
                    {% set photoPath = '/' ~ estatePhotoUploadDir ~ '/' ~ estate.photoMain.fileName %}
                    {% set photoPathSrc = photoPath | imagine_filter('favourite_estate_list_image_thumb') %}
                {% else %}
                    {% set photoPath = '/bundles/uttindex/images/placeholder.png' %}
                    {% set photoPathSrc = photoPath | imagine_filter('favourite_estate_list_image_thumb') %}
                {% endif %}
                <img style="cursor: pointer;" alt="{{ estate.name }}" src="{{ photoPathSrc }}" />

                {% if estate.specialCategory == constant('UTT\\EstateBundle\\Entity\\Estate::SPECIAL_CATEGORY_FINEST') %}
                    <img class="finest-icon" src="/images/finest-icon.gif" alt="Best cottages"  />
                {% elseif estate.specialCategory == constant('UTT\\EstateBundle\\Entity\\Estate::SPECIAL_CATEGORY_BUDGET') %}
                    <img class="budget-icon" src="/images/budget-icon.png" alt="Budget and cheapest cottages" />
                {% endif %}
            </div>

            <div class="set-controls-direction-large"></div>
            <div class="overflow-auto details">
                <div class="details-price text-center">
                    {% if estate.basePrice is defined %}
                        <span class="price">
                                <span class="currency">£</span>{{ estate.basePrice }}
                            </span>
                    {% else %}
                        <span class="price">
                                <span class="currency">£</span>{{ estate.lowestPrice|number_format(0) }}
                            <span>to</span>&#160;<span class="currency">£</span>{{ estate.highestPrice|number_format(0) }}
                            <div class="currency">for 1 week</div>
                            </span>
                    {% endif %}
                </div>
                <div class="details-address">
                    <strong>{{ estate.name }}</strong><br />
                    {{ estate.locationText }}<br />
                    sleeps {{ estate.sleeps }}
                </div>
            </div>
        </a>
    </div>
    #}
{% endif %}