<div class="light-gray-bg" style="padding: 20px;">
    <h4 class="title">why utt?</h4>
    <div class="separator-2"></div>

    <div class="feature-box-2">
        <img src="/bundles/uttindex/images/logos/branch-logo-2.png" style="width: 36px; float: left;">
        <div class="body">
            <p {#class="text-muted"#}>quality - we visit and revisit every property to make sure they meet our standards, and only the best make the 'utt' grade</p>
        </div>
    </div>
    <div class="feature-box-2">
        <img src="/bundles/uttindex/images/logos/branch-logo-2.png" style="width: 36px; float: left;">
        <div class="body">
            <p {#class="text-muted"#}>location - every location is a winner - we don't hide nasties like roads/ugly views from our photos</p>
        </div>
    </div>
    <div class="feature-box-2">
        <img src="/bundles/uttindex/images/logos/branch-logo-2.png" style="width: 36px; float: left;">
        <div class="body">
            <p {#class="text-muted"#}>satisfaction - we've probably got the highest rate of returning customers of any cottage company</p>
        </div>
    </div>
    <div class="feature-box-2">
        <img src="/bundles/uttindex/images/logos/branch-logo-2.png" style="width: 36px; float: left;">
        <div class="body">
            <p {#class="text-muted"#}>service - we're here to help and pride ourselves on personal service</p>
        </div>
    </div>
    <div class="feature-box-2">
        <img src="/bundles/uttindex/images/logos/branch-logo-2.png" style="width: 36px; float: left;">
        <div class="body">
            <p {#class="text-muted"#}>value - you won't find the same property cheaper anywhere else</p>
        </div>
    </div>
    <div class="feature-box-2">
        <img src="/bundles/uttindex/images/logos/branch-logo-2.png" style="width: 36px; float: left;">
        <div class="body">
            <p {#class="text-muted"#}>sustainable - we've many of the 'greenest' holiday properties on the market</p>
        </div>
    </div>
</div>