<div>
    <div class="default-bg">
        <div>
            <form role="form" class="quick-search-form" action="{#{{ request.uri }}#}{{ path('utt_estate_search') }}" method="get" style="padding: 20px;">
                <h4>search cottages{#<button class="quick-search-form-toggle btn btn-sm btn-default">show/hide filters</button>#}</h4>

                <div class="form-group has-feedback">
                    <label class="control-label">location</label><br />

                    <div class="radio">
                        <label><input class="form-elem" value="" name="location" type="radio" /> all locations</label>
                    </div>
                    {% if locations is defined and locations|length > 0 %}
                        {% for location in locations %}
                            <div class="radio">
                                <label><input {% if request.query.get("location") is defined and request.query.get("location") == location.id %}checked="checked"{% endif %} class="form-elem" value="{{ location.id }}" name="location" type="radio" /> {{ location.name|lower }}</label>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group has-feedback">
                    <label for="datepickerDateFrom" class="control-label">check in</label>
                    <input name="dateFrom" placeholder="check in" type="text" id="datepickerDateFrom" {#readonly="readonly"#} class="form-control" value="{% if request.query.get("dateFrom") is defined %}{{ request.query.get("dateFrom") }}{% endif %}">
                    <i class="fa fa-calendar form-control-feedback"></i>
                </div>
                <div class="form-group has-feedback">
                    <label for="datepickerDateTo" class="control-label">check out</label>
                    <input name="dateTo" placeholder="check out" type="text" id="datepickerDateTo" {#readonly="readonly"#} class="form-control" value="{% if request.query.get("dateTo") is defined %}{{ request.query.get("dateTo") }}{% endif %}">
                    <i class="fa fa-calendar form-control-feedback"></i>
                </div>
                <div class="form-group has-feedback">
                    <label for="quick_search_sleeps" class="control-label">guests</label>
                    <select name="sleeps" class="form-control form-elem" id="quick_search_sleeps">
                        {% if allSleeps is defined and allSleeps|length > 0 %}
                            {% for sleepsItem in allSleeps %}
                                <option {% if request.query.get("sleeps") is defined and request.query.get("sleeps") == sleepsItem.id %}selected="selected"{% endif %} value="{{ sleepsItem.id }}">{{ sleepsItem.name }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>

                <button style="font-size: 23px;" class="btn btn-default btn-lg" type="submit">search <i class="fa fa-search" aria-hidden="true"></i></button>
            </form>
        </div>
    </div>
</div>