{% extends '::the-project/base.html.twig' %}

{% block title %}Search cottage for your perfect holiday{% endblock %}

{#{% block facebookPixel %}#}
    {#<script>#}
        {#fbq('track', 'Search');#}
    {#</script>#}
{#{% endblock %}#}

{% block body %}
    <style>
        .angular-google-map-container { height: 450px; }
        .sidebar .block { margin-bottom: 0; }
    </style>

    <div class="breadcrumb-container">
        <div class="container">
            <ol class="breadcrumb">
                <li><i class="fa fa-home pr-10"></i><a href="{{ path('utt_index_homepage') }}">homepage</a></li>
                <li class="active">search</li>
            </ol>
        </div>
    </div>

    <section class="main-container no-padding">
        <div class="container">
            <div class="row">
                <aside class="col-md-3">
                    <div class="sidebar">
                        <div class="clearfix">
                            <button style="float: left;" class="quick-search-form-toggle btn btn-default">search by..</button>
                            <button style="float: right; background-color: #adb014; border-top: 0px solid #45452e; border-bottom: 0px solid #45452e;" class="search-filters-toggle btn btn-default">filters..</button>
                        </div>

                        <div class="block clearfix">
                            {#<div class="separator-2"></div>#}
                            {% render controller('UTTEstateBundle:Estate:renderQuickSearchForm', { 'request': app.request }) %}
                        </div>
                        <div class="block clearfix">
                            <div>
                                <div class="utt-gray-bg">
                                    <div>
                                        <form class="search-filters" role="form" action="{{ path('utt_estate_search') }}" method="get" style="padding: 20px;">
                                            <h4>filter by {#<button class="search-filters-toggle btn btn-sm btn-default">show/hide filters</button>#}</h4>

                                            <input name="dateFrom" type="hidden" value="{% if app.request.query.get("dateFrom") is defined %}{{ app.request.query.get("dateFrom") }}{% endif %}">
                                            <input name="dateTo" type="hidden" value="{% if app.request.query.get("dateTo") is defined %}{{ app.request.query.get("dateTo") }}{% endif %}">
                                            <input name="location" type="hidden" value="{% if app.request.query.get("location") is defined %}{{ app.request.query.get("location") }}{% endif %}">
                                            <input name="sleeps" type="hidden" value="{% if app.request.query.get("sleeps") is defined %}{{ app.request.query.get("sleeps") }}{% endif %}">

                                            <div class="form-group has-feedback">
                                                <label for="search-estate-name" class="control-label">property name</label>
                                                <input name="estateName" id="search-estate-name" type="text" class="form-control" value="{% if app.request.query.get("estateName") is defined %}{{ app.request.query.get("estateName") }}{% endif %}">
                                            </div>
                                            <div class="form-group has-feedback">
                                                <label class="control-label">pets & children</label><br />

                                                <div class="checkbox">
                                                    <label>
                                                        <input name="pets" class="additional-select form-elem" type="checkbox" {% if app.request.query.get("pets") is defined and app.request.query.get("pets") %}checked="checked"{% endif %} />
                                                        pets welcome
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        <input name="children" class="additional-select form-elem" type="checkbox" {% if app.request.query.get("children") is defined and app.request.query.get("children") %}checked="checked"{% endif %} />
                                                        children welcome
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        <input name="infants" class="additional-select form-elem" type="checkbox" {% if app.request.query.get("infants") is defined and app.request.query.get("infants") %}checked="checked"{% endif %} />
                                                        infants welcome
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group has-feedback">
                                                <label class="control-label">budget & finest</label><br />

                                                <div class="radio">
                                                    <label>
                                                        <input value="" name="specialCategory" class="additional-select form-elem" type="radio" checked />
                                                        all
                                                    </label>
                                                </div>
                                                <div class="radio">
                                                    <label>
                                                        <input value="{{ constant('UTT\\EstateBundle\\Entity\\Estate::SPECIAL_CATEGORY_BUDGET') }}" name="specialCategory" class="additional-select form-elem" type="radio" {% if app.request.query.get("specialCategory") is defined and app.request.query.get("specialCategory") == constant('UTT\\EstateBundle\\Entity\\Estate::SPECIAL_CATEGORY_BUDGET') %}checked{% endif %} />
                                                        <img style="height: 51px; display: inline" src="/images/budget-icon.png" alt="Budget and cheapest cottages" /> budget
                                                    </label>
                                                </div>
                                                <div class="radio">
                                                    <label>
                                                        <input value="{{ constant('UTT\\EstateBundle\\Entity\\Estate::SPECIAL_CATEGORY_FINEST') }}" name="specialCategory" class="additional-select form-elem" type="radio" {% if app.request.query.get("specialCategory") is defined and app.request.query.get("specialCategory") == constant('UTT\\EstateBundle\\Entity\\Estate::SPECIAL_CATEGORY_FINEST') %}checked{% endif %} />
                                                        <img style="height: 50px; display: inline" src="/images/finest-icon.gif" alt="Best cottages" /> finest
                                                    </label>
                                                </div>
                                                <div class="radio">
                                                    <label>
                                                        <input value="{{ constant('UTT\\EstateBundle\\Entity\\Estate::SPECIAL_CATEGORY_NONE') }}" name="specialCategory" class="additional-select form-elem" type="radio" {% if app.request.query.get("specialCategory") is defined and app.request.query.get("specialCategory") == constant('UTT\\EstateBundle\\Entity\\Estate::SPECIAL_CATEGORY_NONE') %}checked{% endif %} />
                                                        none
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group has-feedback">
                                                <label class="control-label">your budget (per holiday)</label><br />

                                                <div class="radio">
                                                    <label><input class="form-elem" value="1" name="price" type="radio" {% if app.request.query.get("price") is defined and app.request.query.get("price") == 1 %}checked="checked"{% endif %} /> under £200</label>
                                                </div>
                                                <div class="radio">
                                                    <label><input class="form-elem" value="2" name="price" type="radio" {% if app.request.query.get("price") is defined and app.request.query.get("price") == 2 %}checked="checked"{% endif %} /> £200 - £300</label>
                                                </div>
                                                <div class="radio">
                                                    <label><input class="form-elem" value="3" name="price" type="radio" {% if app.request.query.get("price") is defined and app.request.query.get("price") == 3 %}checked="checked"{% endif %} /> £300 - £500</label>
                                                </div>
                                                <div class="radio">
                                                    <label><input class="form-elem" value="5" name="price" type="radio" {% if app.request.query.get("price") is defined and app.request.query.get("price") == 5 %}checked="checked"{% endif %} /> £500 - £700</label>
                                                </div>
                                                <div class="radio">
                                                    <label><input class="form-elem" value="7" name="price" type="radio" {% if app.request.query.get("price") is defined and app.request.query.get("price") == 7 %}checked="checked"{% endif %} /> £700 - £1000</label>
                                                </div>
                                                <div class="radio">
                                                    <label><input class="form-elem" value="" name="price" type="radio" {% if not app.request.query.get("price") is defined %}checked="checked"{% endif %} /> any price</label>
                                                </div>
                                            </div>
                                            <div class="form-group has-feedback">
                                                <label class="control-label">features</label><br />
                                                {% if allEstateFeatures is defined and allEstateFeatures|length > 0 %}
                                                    {% for estateFeature in allEstateFeatures %}
                                                        <div class="checkbox search-filters-feature">
                                                            <label>
                                                                <input class="form-elem" type="checkbox" name="features[]" value="{{ estateFeature.id }}"
                                                                        {% if app.request.query.get("features") is defined %}
                                                                            {% for featureId in app.request.query.get("features") %}
                                                                                {% if estateFeature.id == featureId %}
                                                                                    checked="checked"
                                                                                {% endif %}
                                                                            {% endfor %}
                                                                        {% endif %}
                                                                        />
                                                                {{ estateFeature.name }}
                                                                {#<img class="is-active-{{ estateFeature.isActive }}" src="{{ estateFeature.icon }}" title="{{ estateFeature.name }}"/>#}
                                                            </label>
                                                        </div>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                            <div class="form-group has-feedback">
                                                <label for="search-category" class="control-label">category</label>
                                                <select name="category" id="search-category" class="form-control search-holiday-form-submit">
                                                    <option value="">-- anywhere --</option>
                                                    {% if categories is defined and categories|length > 0 %}
                                                        {% for category in categories %}
                                                            <option {% if app.request.query.get("category") is defined and app.request.query.get("category") == category.id %}selected="selected"{% endif %} value="{{ category.id }}">{{ category.name }}</option>
                                                        {% endfor %}
                                                    {% endif %}
                                                </select>
                                            </div>

                                            <button style="font-size: 23px;" class="btn btn-default btn-block btn-lg" type="submit">search <i class="fa fa-search" aria-hidden="true"></i></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="block clearfix hidden-xs">
                            {% render controller('UTTEstateBundle:Estate:renderWhyUTTSection') %}
                        </div>
                    </div>
                </aside>
                <div class="main col-md-9">

                    <div class="search-results-loading"></div>
                    {#<div class="separator-2"></div>#}

                    <h1>find your perfect holiday cottage</h1>
                    <div class="separator-2"></div>

                    <div id="estateSearchMapAppHandler" ng-controller="estateSearchMapAppCtrl" style="width: 100%; height: 450px;" >
                         <leaflet id="map-marker" layers="map.layers" markers="mapMarkers" center="map.center" defaults="map.defaults"  height="450px" width="100%"></leaflet>
                    </div>

                    <div class="separator"></div>
                    {% if estates is defined and estates|length > 0 %}
                        <div class="text-center">
                            {{ estates|length }} cottages found
                        </div>
                        <h2 class="text-center">browse cottages</h2>
                        <div class="separator"></div>

                        {% for estate in estates %}
                            <div class="image-box style-3-b">
                                <div class="row">
                                    <div class="col-sm-6 col-md-5">
                                        <div class="overlay-container">
                                            {% if estate.photoMain is defined and estate.photoMain %}
                                                <img alt="{{ estate.name }}" src="{{ estate.photoMain.fileName }}" />
                                            {% else %}
                                                <img alt="{{ estate.name }}" src="{{ noImageThumb }}" />
                                            {% endif %}
                                            <div class="overlay-to-top">
                                                <p class="small margin-clear"><em>{{ estate.name }}</em></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-7">
                                        <div class="body">
                                            <h3 class="title"><a title="{{ estate.name }}" href="{{ path('utt_estate_show_estate', { 'estateShortName': estate.shortName }) }}">{{ estate.name }}</a></h3>
                                            <p class="small mb-10">
                                                <i class="fa fa-bed" aria-hidden="true"></i> guests {{ estate.sleeps }}&#160;&#160;
                                                <i class="fa fa-map-marker" aria-hidden="true"></i> {{ estate.locationText }}
                                            </p>
                                            <div class="separator-2"></div>
                                            <p class="mb-10">{{ estate.seoDescription }}</p>
                                            {#
                                            <p class="mb-10">
                                                {% if estate.basePrice is defined %}
                                                    <a title="{{ estate.name }}" href="{{ path('utt_estate_show_estate', { 'estateShortName': estate.shortName }) }}" class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear">
                                                        £{{ estate.basePrice }}
                                                    </a>
                                                {% else %}
                                                    <a title="{{ estate.name }}" href="{{ path('utt_estate_show_estate', { 'estateShortName': estate.shortName }) }}" class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear">
                                                        £{{ estate.lowestPrice|number_format(0) }} to £{{ estate.highestPrice|number_format(0) }}
                                                    </a>
                                                    for 1 week
                                                {% endif %}
                                            </p>
                                            #}

                                            <div class="p-20 bordered clearfix">
                                                {% if estate.basePrice is defined %}
                                                    <span class="product price">£{{ estate.basePrice }}</span>
                                                {% else %}
                                                    <span class="product price">£{{ estate.lowestPrice|number_format(0) }}</span>
                                                    to
                                                    <span class="product price">£{{ estate.highestPrice|number_format(0) }}</span>
                                                    for 7 nights
                                                {% endif %}

                                                <div class="product elements-list pull-right clearfix">
                                                    <a title="{{ estate.name }}" href="{{ path('utt_estate_show_estate', { 'estateShortName': estate.shortName }) }}" class="margin-clear btn btn-default">
                                                        see more
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="separator"></div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <h2 class="text-center">NO PROPERTIES FOUND</h2>
                        <div class="text-center">
                            <p>It looks like everything is booked up, but we’re always adding new places.</p>
                        </div>
                        <div>
                            <h3>Here are a couple of things that might help you find the perfect break:</h3>
                             <ul>
                                 <li>If your dates are flexible, then keep all your criteria in place and just choose a new date from the calendar.</li>
                                 <li>Follow us on <a href="https://www.facebook.com/underthethatch">Facebook</a>, <a href="https://twitter.com/underthethatch">Twitter</a> and <a href="https://www.instagram.com/underthethatch/">Instagram</a>  or sign up for our <a href="/newsletter/archive">newsletter emails</a> and be the first to see our latest additions and special offers.</li>
                             </ul>
                         </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(window).load(function() {
            $('.search-filters').on('change', '.form-elem', function(){
                $('.search-results-loading').addClass('loading');
                $('.search-results-loading').parent().css('opacity', '.4');
                this.form.submit();
            });
            $('.quick-search-form').on('change', '.form-elem', function(){
                $('.search-results-loading').addClass('loading');
                $('.search-results-loading').parent().css('opacity', '.4');
                this.form.submit();
            });
        });

        var $searchUrl = '{{ app.request.uri|raw }}';
    </script>

    {% javascripts
        'bundles/uttestate/libs/lodash.min.js'
        'bundles/uttestate/libs/leaflet.js'
        'bundles/uttestate/libs/leaflet.label.js'
        'bundles/uttestate/libs/leaflet.markercluster.js'
        'bundles/uttestate/libs/angular-leaflet-directive.min.js'
        'bundles/uttestate/js/estateSearchMapApp.js'
        filter='yui_js' %}
        <script type="text/javascript" src="{{ asset_url }}?v5"></script>{% endjavascripts %}
{% endblock %}

{% block css%}
    {% stylesheets
        'bundles/uttestate/css/search.css'
        'bundles/uttestate/css/leaflet.css'
        'bundles/uttestate/css/leaflet.label.css'
        'bundles/uttestate/css/MarkerCluster.css'
        'bundles/uttestate/css/MarkerCluster.Default.css'
    filter='yui_css' %}<link rel="stylesheet" type="text/css" media="all" href="{{ asset_url }}" />{% endstylesheets %}
{% endblock %}