{% extends '::the-project/base.html.twig' %}

{% set pageTitle = estate.name ~ ' - Under the Thatch' %}
{% if estate.defaultCategory %}
    {% if pageTitle|length + estate.defaultCategory.name|length + 3 <= 65 %}
        {% set pageTitle = estate.name ~ ' - Under the Thatch - ' ~ estate.defaultCategory.name|capitalize %}
    {% endif %}
{% endif %}

{% block title %}{{ pageTitle }}{% endblock %}

{% block description %}{{ estate.seoDescription }}{% endblock %}

{% block openGraph %}
    {% if estate.photoMain is defined and estate.photoMain and estatePhotoUploadDir is defined and estatePhotoUploadDir %}
        {% set photoPath = '/' ~ estatePhotoUploadDir ~ '/' ~ estate.photoMain.fileName %}
        {% set photoPathSrc = photoPath | imagine_filter('property_small') %}

        <meta property="og:image" content="{{ photoPathSrc }}"/>
    {% endif %}
    <meta property="og:description" content="{{ estate.seoDescription }}"/>
    <meta property="og:url" content="{{ app.request.uri }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ estate.name }}"/>
{% endblock %}

{% block body %}
    <div class="breadcrumb-container">
        <div class="container">
            <ol class="breadcrumb">
                <li><i class="fa fa-home pr-10"></i><a href="{{ path('utt_index_homepage') }}">homepage</a></li>
                <li class="active">{{ estate.name }}</li>
            </ol>
        </div>
    </div>

    <section class="main-container no-padding">
        {% if latestVisits is defined and latestVisits %}
            <div id="latestVisitsAlert" role="alert" class="alert alert-info alert-dismissible">
                <button aria-label="Close" data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span></button>
                <strong>{{ latestVisits }}</strong> people have looked at this property in the last 24 hours
            </div>
        {% endif %}
        <div class="container">
            <div class="row">
                <aside class="col-md-3">
                    <div class="sidebar">
                        <div class="block clearfix">
                            {#<div class="separator-2"></div>#}
                            {% render controller('UTTEstateBundle:Estate:renderQuickSearchForm', { 'request': app.request }) %}
                        </div>
                        <div class="block clearfix hidden-xs">
                            {% render controller('UTTEstateBundle:Estate:renderWhyUTTSection') %}
                        </div>
                    </div>
                </aside>
                <div class="main col-md-9">
                    {#<div class="separator-3"></div>#}

                    <h1 id="property-page-information"><a href="{{ path('utt_estate_show_estate', { 'estateShortName': estate.shortName }) }}">{{ estate.name }}</a></h1>
                    <p>
                        <i aria-hidden="true" class="fa fa-map-marker"></i> {{ estate.locationText }}<br />
                        <strong>Guests:</strong> {{ estate.sleeps }} &#160;  &#160;  &#160;
                        <strong>Wifi:</strong> {% if estate.isWifiAvailable() %}available{% else %}not available{% endif %} &#160;  &#160;  &#160;
                        <strong>Pets?</strong> {{ estate.getPetsName()|capitalize }}{% if estate.isPetsAllowed %}, fee applies{% endif %}
                    </p>
                    <div class="separator-2"></div>

                    <div class="row property-page-nav">
                        <div class="col-sm-12">
                            <a class="btn btn-default-transparent btn-lg" href="#property-page-information">information</a>
                            <a class="btn btn-default-transparent btn-lg" href="#property-page-booking-calendar">calendar</a>
                            <a class="btn btn-default-transparent btn-lg" href="#property-page-facilities">facilities</a>
                            {#<a class="btn btn-default-transparent btn-lg" href="#property-page-map">map</a>#}
                            <a class="btn btn-default-transparent btn-lg" href="#property-page-in-detail">in detail</a>

                            <a class="btn btn-default-transparent btn-lg" href="#property-page-reviews">
                                reviews
                            </a>
                        </div>
                    </div>

                    <div class="separator-2"></div>

                    {% if estatePhotos is defined and estatePhotos|length > 0 %}
                        {% set estatePhoto = estatePhotos[0] %}
                            {% if estatePhoto.fileName is defined and estatePhoto.fileName and estatePhotoUploadDir is defined and estatePhotoUploadDir %}
                                {% set photoPath = '/' ~ estatePhotoUploadDir ~ '/' ~ estatePhoto.fileName %}

                                <div class="shadow bordered">
                                    <div class="overlay-container">
                                        <img src="{{ photoPath | imagine_filter('property_big') }}" alt="{{ estate.name }}">
                                        <a href="{{ photoPath | imagine_filter('property_big') }}" class="overlay-link popup-img" title="{{ estatePhoto.title }}">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            {% endif %}

                        <div class="space-bottom"></div>
                        <div class="row grid-space-20">
                            <div class="owl-carousel carousel-autoplay">
                                {% for estatePhoto in estatePhotos %}
                                    {% if loop.index == 1 %}
                                    {% else %}
                                        {% if estatePhoto.fileName is defined and estatePhoto.fileName and estatePhotoUploadDir is defined and estatePhotoUploadDir %}
                                            {% set photoPath = '/' ~ estatePhotoUploadDir ~ '/' ~ estatePhoto.fileName %}

                                            <div class="overlay-container">
                                                <img src="{{ photoPath | imagine_filter('property_small') }}" alt="{{ estate.name }}">
                                                <a href="{{ photoPath | imagine_filter('property_big') }}" class="overlay-link small popup-img" title="{{ estatePhoto.title }}">
                                                    <i class="fa fa-plus"></i>
                                                </a>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="space-bottom"></div>
                    {% endif %}
                    <div class="estate-title-more-box">
                        <h2 class="estate-title-more">more about {{ estate.name }}</h2>
                        {% if isFavouriteEstateUser %}
                            <a href="{{ path('utt_estate_favourite_remove', { 'estateId': estate.id }) }}" class="estate-favourite estate-favourite-remove" id="favouriteRemoveButton">
                                remove from favourites <i class="fa fa-heart"></i>
                            </a>
                        {% else %}
                            <a href="{{ path('utt_estate_favourite_add', { 'estateId': estate.id }) }}" class="estate-favourite estate-favourite-add" id="favouriteAddingButton">
                                add to favourites <i class="fa fa-heart"></i>
                            </a>
                        {% endif %}

                    </div>
                    <div class="separator-2"></div>

                    <div class="row">
                        <div class="col-sm-7">
                            <h3>about the property</h3>

                            <p>{{ estate.seoDescription }}</p>
                            <p>{{ estate.textAccommodation|raw }}</p>

                            <!-- Load Facebook SDK for JavaScript -->
                            <div id="fb-root"></div>
                            <script>(function(d, s, id) {
                                    var js, fjs = d.getElementsByTagName(s)[0];
                                    if (d.getElementById(id)) return;
                                    js = d.createElement(s); js.id = id;
                                    js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0&appId=1487270311532113&autoLogAppEvents=1';
                                    fjs.parentNode.insertBefore(js, fjs);
                                }(document, 'script', 'facebook-jssdk'));</script>

                            <!-- Your like button code -->
                            {#
                            <div class="fb-like"
                                 data-href="{{ path('utt_estate_show_estate', { 'estateShortName': estate.shortName }) }}"
                                 data-layout="standard"
                                 data-action="like"
                                 data-show-faces="true"
                                 data-share="true"
                            >
                            </div>
                            #}
                        </div>
                        <div class="col-sm-5">
                                {% if estate.id == 312 %}
                                    <iframe width='100%' height='300' src='https://my.matterport.com/show/?m=zqE3y4JWXon' frameborder='0' allowfullscreen allow='vr'></iframe>
                                {% elseif estate.id == 105 %}
                                    <iframe width='100%' height='300' src='https://my.matterport.com/show/?m=LdcC9Qd8rrN' frameborder='0' allowfullscreen allow='vr'></iframe>
                                {% elseif estate.id == 106 %}
                                    <iframe width='100%' height='300' src='https://my.matterport.com/show/?m=YQXxJ7pHZgU' frameborder='0' allowfullscreen allow='vr'></iframe>
                                {% elseif estate.id == 37 %}
                                    <iframe width='100%' height='300' src='https://my.matterport.com/show/?m=tFD2qohL3bX' frameborder='0' allowfullscreen allow='vr'></iframe>
                                {% elseif estate.id == 82 %}
                                    <iframe width='100%' height='300' src='https://my.matterport.com/show/?m=Tpiy5EqvrZ6' frameborder='0' allowfullscreen allow='vr'></iframe>
                                {% elseif estate.id == 44 %}
                                    <iframe width='100%' height='300' src='https://my.matterport.com/show/?m=bPevkGxWEwS' frameborder='0' allowfullscreen allow='vr'></iframe>
                                {% elseif estate.id == 41 %}
                                    <iframe width='100%' height='300' src='https://my.matterport.com/show/?m=2eprG8ztj3r' frameborder='0' allowfullscreen allow='vr'></iframe>
                                {% elseif estate.id == 13 %}
                                    <iframe width='100%' height='300' src='https://my.matterport.com/show/?m=XbxkdPiLPDU' frameborder='0' allowfullscreen allow='vr'></iframe>
                                {% elseif estate.id == 278 %}
                                    <iframe width='100%' height='300' src='https://my.matterport.com/show/?m=Z6uSBs6DUin' frameborder='0' allowfullscreen allow='vr'></iframe>
                                {% elseif estate.id == 297 %}
                                    <iframe width='100%' height='300' src='https://my.matterport.com/show/?m=4iifgFYWKu4' frameborder='0' allowfullscreen allow='vr'></iframe>
                                {% elseif estate.id == 234 %}
                                    <iframe width='100%' height='300' src='https://my.matterport.com/show/?m=xn46YGQV4kf' frameborder='0' allowfullscreen allow='vr'></iframe>
                                {% elseif estate.id == 294 %}
                                    <iframe width='100%' height='300' src='https://my.matterport.com/show/?m=xBRDm9WCuAd' frameborder='0' allowfullscreen allow='vr'></iframe>
                                {% elseif estate.id == 299 %}
                                    <iframe width='100%' height='300' src='https://my.matterport.com/show/?m=xBRDm9WCuAd' frameborder='0' allowfullscreen allow='vr'></iframe>
                                {% elseif estate.id == 295 %}
                                    <iframe width='100%' height='300' src='https://my.matterport.com/show/?m=YN4outLTPTe' frameborder='0' allowfullscreen allow='vr'></iframe>
                                {% elseif estate.id == 248 %}
                                    <iframe width='100%' height='300' src='https://my.matterport.com/show/?m=Nm8zjGxiAg5' frameborder='0' allowfullscreen allow='vr'></iframe>
                                {% elseif estate.id == 303 %}
                                    <iframe width='100%' height='300' src='https://my.matterport.com/show/?m=YN4outLTPTe' frameborder='0' allowfullscreen allow='vr'></iframe>
                                {% elseif estate.id == 113 %}
                                    <iframe width='100%' height='300' src='https://my.matterport.com/show/?m=9hMVk6YcQwg' frameborder='0' allowfullscreen allow='vr'></iframe>
                                {% elseif estate.id == 300 %}
                                    <iframe width='100%' height='300' src='https://my.matterport.com/show/?m=aEJgufneANk' frameborder='0' allowfullscreen allow='vr'></iframe>
                                {% elseif estate.id == 304 %}
                                    <iframe width='100%' height='300' src='https://my.matterport.com/show/?m=SCANxMHNE5t' frameborder='0' allowfullscreen allow='vr'></iframe>
                                {% elseif estate.id == 4 %}
                                    <iframe width='100%' height='300' src='https://my.matterport.com/show/?m=CvqsgdbdACd' frameborder='0' allowfullscreen allow='vr'></iframe>
                                {% elseif estate.id == 86 %}
                                    <iframe width='100%' height='300' src='https://my.matterport.com/show/?m=MDW2MdHJonb' frameborder='0' allowfullscreen allow='vr'></iframe>
                                {% elseif estate.id == 10 %}
                                    <iframe width='100%' height='300' src='https://my.matterport.com/show/?m=7rjAp6aHFV5' frameborder='0' allowfullscreen allow='vr'></iframe>
                                    {% set is3dYour = true %}
                                {% elseif estate.id == 109 %}
                                    <iframe width='100%' height='300' src='https://my.matterport.com/show/?m=JfVp44dt65w' frameborder='0' allowfullscreen allow='vr'></iframe>
                                    {% set is3dYour = true %}
                                {% elseif estate.id == 320 %}
                                    {# <iframe width='100%' height='300' src='https://my.matterport.com/show/?m=g3iST2EN6P5' frameborder='0' allowfullscreen allow='vr'></iframe>#}
                                    {% set is3dYour = true %}
                                {% elseif estate.id == 61 %}
                                    <iframe width='100%' height='300' src='https://my.matterport.com/show/?m=ZfoEMgkpr4h' frameborder='0' allowfullscreen allow='vr'></iframe>
                            {% endif %}
                        </div>
                        <div class="col-sm-5">
                            <h3>grading</h3>

                            <div class="detail-rate">
                                <div class="name">luxury</div>
                                <div class="value">
                                    {% if estate.starRatingLuxury %}
                                        {% for i in 0..(estate.starRatingLuxury-1) %}<div class="checked"></div>{% endfor %}
                                    {% endif %}

                                    {#
                                    {% for i in 0..4 %}
                                        <div class="{% if (estate.starRatingLuxury > i) %}checked{% else %}no-checked{% endif %}"></div>
                                    {% endfor %}
                                    #}
                                </div>
                            </div>
                            <div class="detail-rate">
                                <div class="name">heritage</div>
                                <div class="value">
                                    {% if estate.starRatingHeritage %}
                                        {% for i in 0..(estate.starRatingHeritage-1) %}<div class="checked"></div>{% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="detail-rate">
                                <div class="name">unique</div>
                                <div class="value">
                                    {% if estate.starRatingUnique %}
                                        {% for i in 0..(estate.starRatingUnique-1) %}<div class="checked"></div>{% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="detail-rate">
                                <div class="name">green</div>
                                <div class="value">
                                    {% if estate.starRatingGreen %}
                                        {% for i in 0..(estate.starRatingGreen-1) %}<div class="checked"></div>{% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="detail-rate">
                                <div class="name">price</div>
                                <div class="value">
                                    {% if estate.starRatingPrice %}
                                        {% for i in 0..(estate.starRatingPrice-1) %}<div class="checked"></div>{% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            <br />

                            <h3>latest review</h3>
                            {% if verifiedReviews is defined and verifiedReviews|length > 0 %}
                                {% set verifiedReview = verifiedReviews[0] %}

                                <blockquote class="margin-clear">
                                    <p>{{ verifiedReview.comment|truncate(200) }}</p>
                                    <footer>
                                        {% if verifiedReview.user %}
                                            {{ verifiedReview.user.firstName|truncate(20)|capitalize }} {{ verifiedReview.user.lastName[:1]|capitalize }},
                                            {% if verifiedReview.user.city and verifiedReview.user.country and verifiedReview.user.country.id != 1 %}
                                                {{ verifiedReview.user.city }} ({{ verifiedReview.user.country.name }}),
                                            {% endif %}
                                        {% endif %}
                                        {{ verifiedReview.createdAt|date('F Y') }}
                                    </footer>
                                </blockquote>
                            {% endif %}
                            <div class="text-center">
                                <a class="btn btn-default-transparent" href="#property-page-reviews">
                                    read more reviews
                                </a>
                            </div>
                            <div class="text-center">
                                <h3>Love this place? Tell everyone!</h3>
                                <ul class="share-buttons">
                                    <li><a href="https://www.book.com/sharer/sharer.php?u={{app.request.uri}}" target="_blank" title="Share on Facebook" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&quote=' + encodeURIComponent(document.URL)); return false;"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i><span class="sr-only">Share on Facebook</span></a></li>
                                    <li><a href="https://twitter.com/intent/tweet?source={{app.request.uri}}&text={{estate.seoDescription}}" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20' + encodeURIComponent(document.URL)); return false;"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i><span class="sr-only">Tweet</span></a></li>
                                    <li><a href="http://pinterest.com/pin/create/button/?url={{app.request.uri }}&description={{estate.seoDescription}}" target="_blank" title="Pin it" onclick="window.open('http://pinterest.com/pin/create/button/?url=' + encodeURIComponent(document.URL) + '&description=' +  encodeURIComponent(document.title)); return false;"><i class="fa fa-pinterest-square fa-2x" aria-hidden="true"></i><span class="sr-only">Pin it</span></a></li>
                                    <li><a href="mailto:?subject={{estate.seoDescription}}&body={{app.request.uri}}" target="_blank" title="Send email" onclick="window.open('mailto:?subject=' + encodeURIComponent(document.title) + '&body=' +  encodeURIComponent(document.URL)); return false;"><i class="fa fa-envelope-square fa-2x" aria-hidden="true"></i><span class="sr-only">Send email</span></a></li>
                                </ul>
                            </div>

                        </div>
                    </div>

                    <div class="separator-2"></div>

                    <div id="property-page-booking-calendar">
                        <h3 class="hidden-sm hidden-md hidden-lg text-center" style="font-size: 25px;">book the property</h3>
                        <h3 class="hidden-xs">book the property</h3>
                        {% include 'UTTEstateBundle:Estate:partial/showEstate/calendar.html.twig' %}
                    </div>

                    <div class="separator"></div>

                    <div class="light-gray-bg row pv-10">
                        <div class="col-xs-12">
                            <h3>good to know</h3>

                            <dl class="dl-horizontal" style="margin-bottom: 0;">
                                <dt>arrival at</dt>
                                <dd>{{ estate.checkInTime|date('H:i') }}</dd>
                                <dt>depart by</dt>
                                <dd>{{ estate.checkOutTime|date('H:i') }}</dd>
                                <dt>guests</dt>
                                <dd>{{ estate.sleeps }}</dd>

                                {% if estate.lowestPrice %}
                                    <dt>7 nights from</dt>
                                    <dd>£{{ estate.lowestPrice|number_format(0, '.', '') }} {% if estate.id == 260 %}(based on 8 staying){% else %}(based on {{ estate.minimumGuests }} staying){% endif %}</dd>
                                {% endif %}

                                {% if estate.highestPrice %}
                                    <dt>7 nights up to</dt>
                                    <dd>£{{ estate.highestPrice|number_format(0, '.', '') }} {% if estate.id == 260 %}(based on 8 staying){% else %}(based on {{ estate.minimumGuests }} staying){% endif %}</dd>
                                {% endif %}

                                <dt>pets</dt>
                                <dd>{{ estate.getPetsName() }}</dd>

                                {% if estateRoomLayout is defined and estateRoomLayout %}
                                    <dt>bed layout</dt>
                                    <dd>{{ estateRoomLayout.getDescription() }}</dd>
                                {% endif %}
                            </dl>
                        </div>
                    </div>

                    <div class="separator"></div>

                    <div class="row" id="property-page-facilities">
                        <div class="col-sm-8 col-xs-12">
                            <h3>facilities at {{ estate.name }}</h3>

                            {% if estateFeaturesArray is defined and estateFeaturesArray %}
                                <div class="row">
                                    {% for estateFeatureItem in estateFeaturesArray %}
                                        {% if estateFeatureItem.estateFeatures %}
                                            <div class="col-sm-6" style="padding-bottom: 10px;">
                                                <strong>{{ estateFeatureItem.estateFeatureCategory.name }}</strong><br />

                                                {% for estateFeature in estateFeatureItem.estateFeatures %}
                                                    <div>
                                                        <i class="fa fa-check"></i> {{ estateFeature.name|lower }}
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-sm-4 col-xs-12">

                        </div>
                    </div>


                    <div class="separator"></div>

                    <div class="row" id="property-page-map">
                        <div class="col-xs-12">
                            <h3>map - location</h3>

                            <div class="map-container">
                                <div id="estateMapAppHandler" ng-controller="estateMapAppCtrl" style="width: 100%; height: 450px;" >
                                    <leaflet id="map-marker" markers="mapMarkers" center="map.center" defaults="map.defaults"  height="450px" width="100%"></leaflet>
                                </div>
                            </div>

                        </div>
                    </div>

                    {% if estate.textTravelInfo %}
                        <div class="separator"></div>
                        <div class="row">
                            <div class="col-xs-12">
                                <h3>travel info</h3>
                                <div>
                                    {{ estate.textTravelInfo|raw }}
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {% if estate.textInDetail %}
                        <div class="separator" id="property-page-in-detail"></div>
                        <div class="row">
                            <div class="col-xs-12">
                                <h3>in detail</h3>
                                <div>
                                    {{ estate.textInDetail|raw }}
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {% if estate.textLocalArea %}
                        <div class="separator"></div>
                        <div class="row">
                            <div class="col-xs-12">
                                <h4>local area</h4>
                                <div>
                                    {{ estate.textLocalArea|raw }}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="container">
            <div class="separator"></div>
            <div class="row" id="property-page-properties-nearby">
                <div class="col-xs-12">
                    <h3>properties nearby</h3>

                    <div class="row">
                        {% set nearByEstatesCouter = 1 %}
                        {% if estate.nearByEstates is defined and estate.nearByEstates|length > 0 %}
                            {% for nearByEstate in estate.nearByEstates %}
                                {% if nearByEstate.isActiveEstate() and nearByEstatesCouter <= 6 %}
                                    {% set nearByEstatesCouter = nearByEstatesCouter + 1 %}
                                    {% include 'UTTEstateBundle:Estate:partial/showEstate/nearByEstateItem.html.twig' %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}

                        {% if estatesNearToEstate is defined and estatesNearToEstate|length > 0 %}
                            {% for nearByEstate in estatesNearToEstate %}
                                {% if nearByEstatesCouter <= 6 %}
                                    {% set nearByEstatesCouter = nearByEstatesCouter + 1 %}
                                    {% include 'UTTEstateBundle:Estate:partial/showEstate/nearByEstateItem.html.twig' %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="pv-30 light-gray-bg clearfix">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div id="property-page-reviews">
                        <h4>customer reviews for {{ estate.name }}</h4>
                        {% if verifiedReviews is defined and verifiedReviews|length > 0 %}
                            {% set verifiedReviewsCount = 1 %}
                            {% for verifiedReview in verifiedReviews %}

                                <div class="testimonial text-center padding-ver-clear{% if verifiedReviewsCount >= 10 %} in-active {% endif %}">
                                    <div class="separator"></div>
                                    <div class="testimonial-body">
                                        <blockquote>
                                            <p>{{ verifiedReview.comment }}</p>
                                        </blockquote>
                                        <div class="testimonial-info-1">-
                                            {% if verifiedReview.user %}
                                                {{ verifiedReview.user.firstName|truncate(20)|capitalize }} {{ verifiedReview.user.lastName[:1]|capitalize }},
                                                {% if verifiedReview.user.city and verifiedReview.user.country and verifiedReview.user.country.id != 1 %}
                                                    {{ verifiedReview.user.city }} ({{ verifiedReview.user.country.name }}),
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                        <div class="testimonial-info-2">{{ verifiedReview.createdAt|date('F Y') }}</div>
                                    </div>
                                </div>
                                {% set verifiedReviewsCount = verifiedReviewsCount + 1 %}
                            {% endfor %}
                            <button class="btn btn-default-transparent more-reviews"  onclick="showAllTestimals()" id="testimonial-show-all">
                                read more reviews
                            </button>
                            <div class="separator"></div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        var $pricingData = '{{ pricingData|raw }}';
        var $calendarData = '{{ calendarData|raw }}';
        var $offersData = '{{ offersData|raw }}';
        var $adminCharge = '{{ adminCharge }}';
        var $sleeps = '{{ sleeps }}';
        var $estateMinimumGuests = '{{ estate.minimumGuests }}';
        var $estateNoticePeriod = '{{ estate.noticePeriod }}';
        var $additionalSleepsPercentIncrease = '{{ additionalSleepsPercentIncrease }}';
        var $estateLat = '{{estate.lat}}';
        var $estateLon = '{{estate.lon}}';

        var showAllTestimals = function() {
            var elements = document.getElementsByClassName('testimonial');
            for (var i = 0; i < elements.length; ++i) {
                elements[i].classList.remove("in-active");
            }
        }
    </script>
{% endblock %}

{% block css %}
    <style>
        .ui-tabs-vertical { width: 55em; }
        .ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; }
        .ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
        .ui-tabs-vertical .ui-tabs-nav li a { display:block; }
        .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
        .ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 40em;}
        .ui-widget-header { background: none !important; }
        .bx-wrapper .finest-icon {
            bottom: 2%;
            position: absolute;
            right: 1%;
            width: 10%;
        }
        .bx-wrapper .budget-icon {
            bottom: 2%;
            position: absolute;
            right: 1%;
            width: 10%;
        }
        /* Container needed to position the overlay. Adjust the width as needed */
        .map-container {
            position: relative;
            width: 100%;
            /*max-width: 640px;*/
        }

        /* Make the image to responsive */
        .map-image {
            width: 100%;
            height: 400px;
        }

        /* The overlay effect (full height and width) - lays on top of the container and over the image */
        .map-overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 400px;
            width: 100%;
            /*max-width: 640px;*/
            opacity: 0;
            transition: .3s ease;
            background-color: rgba(0, 0, 0, 0.25);
            cursor: pointer;
        }

        /* When you mouse over the container, fade in the overlay icon*/
        .map-container:hover .map-overlay {
            opacity: 1;
        }

        /* The icon inside the overlay is positioned in the middle vertically and horizontally */
        .map-icon {
            color: white;
            font-size: 100px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            text-align: center;
        }

        .map-icon:hover {
            color: white;
        }

        /* When you move the mouse over the icon, change color */
        .fa-search:hover {
            color: #eee;
        }

        .map-img-center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
        }

        .testimonial.in-active {
            display: none;
        }

        .property-page-reviews .more-reviews {
            margin-top: 10px;
        }
    </style>

    {% stylesheets
        'bundles/uttindex/bxslider/jquery.bxslider.css'
        'bundles/uttestate/css/pricingCalendar.css'
        'bundles/uttestate/css/showEstate.css'
        'bundles/uttestate/css/leaflet.css'
        filter='yui_css' %}<link rel="stylesheet" type="text/css" media="all" href="{{ asset_url }}?v=abcd3" />{% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {# bxslider.js was changed ! dont load bxslider.min.js #}
    {% javascripts
        'bundles/uttestate/libs/ui-bootstrap-tpls-0.11.0.js'
        'bundles/uttindex/bxslider/jquery.bxslider.js'
        'bundles/uttestate/libs/leaflet.js'
        'bundles/uttestate/libs/angular-leaflet-directive.min.js'
        'bundles/uttestate/js/estateMapApp.js'
        'bundles/uttestate/js/estateCalendarApp.js'
        filter='yui_js' %}<script type="text/javascript" src="{{ asset_url }}?fwacxz37"></script>{% endjavascripts %}
{% endblock %}