{% extends 'SonataAdminBundle:CRUD:edit.html.twig' %}

{% block sonata_pre_fieldsets %}
    {{ block('formactions') }}
    {{ parent() }}
{% endblock sonata_pre_fieldsets %}

{% block formactions %}
    <div class="well well-small form-actions">
        {% if object.id is defined and object.id %}
            <a target="_blank" class="btn btn-success" href="{{ path('utt_index_homepage') }}?salePopupPreview=1">Preview</a>
        {% endif %}
    </div>
    {{ parent() }}
{% endblock formactions %}