{% if object.getPricingCategory() and app.security.isGranted('ROLE_UTT_ESTATE_ADMIN_ESTATE_GENERATE_PRICING') %}
    <a class="btn btn-success btn-sm" href="{{ admin.generateObjectUrl('generate-pricing', object) }}?pricingCategory={{ object.getPricingCategory().getId() }}">Generate pricing from {{ object.getPricingCategory().getName() }}</a>

    {#
    <form style="display: inline-block;" action="{{ admin.generateObjectUrl('generate-pricing', object) }}" method="get">
        <input type="hidden" name="pricingCategory" value="{{ object.getPricingCategory().getId() }}" />

        {#{% render controller('UTTReservationBundle:PricingCategory:renderPricingCategoriesSelectForEstateType', { 'estateType': object.getType() }) %} }}
        <button type="submit" class="btn btn-success btn-sm">Generate pricing from {{ object.getPricingCategory().getName() }}</button>
    </form>
    #}
{% endif %}