{% extends 'UTTAdminBundle:Admin:standard_layout.html.twig' %}
{% block sonata_admin_content %}
    <div class="col-sm-6">
        {% if referers is defined and referers|length > 0 %}
            {% for refererKey, refererBookings in referers %}
                <div class="panel panel-default">
                    <div class="panel-heading">{{ refererKey }} | {{ refererBookings|length }} bookings</div>

                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>bookings</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for refererBooking in refererBookings %}
                                <tr>
                                    <td>
                                        <a href="{{ path('admin_utt_reservation_reservation_show', { 'id': refererBooking }) }}">
                                            {{ refererBooking }}
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="col-sm-6">
        {% if activityLog is defined and activityLog|length > 0 %}
            {% for activityLogItem in activityLog %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="{{ path('admin_utt_reservation_reservation_show', { 'id': activityLogItem.reservation.id }) }}">
                            {{ activityLogItem.reservation.id }}
                        </a>
                        | {{ activityLogItem.detectedReferer }}
                    </div>

                    {#
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>routeName</th>
                            <th>refererUrl</th>
                            <th>createdAt</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for reservationActivityLog in activityLogItem.activityLogs %}
                                <tr>
                                    <td>{{ reservationActivityLog.routeName }}</td>
                                    <td>{{ reservationActivityLog.refererUrl }}</td>
                                    <td>{{ reservationActivityLog.createdAt|date }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    #}
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('sonata_admin_dashboard') }}">Dashboard</a>
    </li>
    <li class="active"><span>Activity log</span></li>
{% endblock %}