{% extends 'UTTAdminBundle:Admin:standard_layout.html.twig' %}
{% block sonata_admin_content %}

    <div class="col-sm-12">
        <div class="body">
            <div id="makeBookingModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title">make a booking</h3>
                        </div>
                        <div class="modal-body">
                            <div role="tabpanel">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active"><a href="#modal_telephone_booking" aria-controls="modal_telephone_booking" role="tab" data-toggle="tab">telephone booking</a></li>
                                    <li role="presentation"><a href="#modal_owner_booking" aria-controls="modal_owner_booking" role="tab" data-toggle="tab">owner booking</a></li>
                                </ul>

                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="modal_telephone_booking">
                                        <form id="modal_telephone_booking_form" role="form">
                                            <input type="hidden" class="formField_estateShortName" name="estateShortName" />
                                            <input type="hidden" class="formField_sleeps" name="sleeps" />

                                            <h4>Telephone booking</h4>
                                            <div class="form-group">
                                                <label>dates selected</label>
                                                <input type="text" class="formField_fromDate" readonly name="fromDate" /> to
                                                <input type="text" class="formField_toDate" readonly name="toDate" />
                                            </div>
                                            <div class="form-group">
                                                <label>guest first name</label>
                                                <input type="text" class="form-control formField_guestFirstName" name="guestFirstName" />
                                            </div>
                                            <div class="form-group">
                                                <label>guest last name</label>
                                                <input type="text" class="form-control formField_guestLastName" name="guestLastName" />
                                            </div>
                                            <div class="form-group">
                                                <label>guest email</label>
                                                <input type="text" class="form-control formField_guestEmail" name="guestEmail" />
                                            </div>
                                            <div class="form-group">
                                                <label>price</label>
                                                <input type="text" class="form-control formField_price" name="price" />
                                            </div>

                                            <button class="btn btn-success submit-form" type="button">Submit</button>
                                        </form>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="modal_owner_booking">
                                        <form id="modal_owner_booking_form" role="form">
                                            <input type="hidden" class="formField_estateShortName" name="estateShortName" />
                                            <input type="hidden" class="formField_sleeps" name="sleeps" />
                                            <input type="hidden" class="formField_blockedStatus" name="blockedStatus" value="owner_booking" />

                                            <h4>Owner booking</h4>
                                            <div class="form-group">
                                                <label>dates selected</label>
                                                <input type="text" class="formField_fromDate" name="fromDate" /> to
                                                <input type="text" class="formField_toDate" name="toDate" />
                                            </div>
                                            <div class="form-group">
                                                <label>reason</label>
                                                <input type="text" class="form-control formField_reason" name="reason" />
                                            </div>

                                            <button class="btn btn-success submit-form" type="button">Submit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            {#
                            <form name="makeBookingForm" role="form">
                                <div class="alert alert-danger" ng-show="isActiveForm('telephone_booking') && isRequiredError">All fields are required. Make sure that user data are correct.</div>
                            </form>
                            #}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>

            {% include 'UTTEstateBundle:Estate:partial/allAvailability/allCalendarsApp.html.twig' %}

            <div class="break10">&nbsp</div><div class="break10">&nbsp</div>
        </div>
    </div>

    {% stylesheets
        'bundles/uttestate/css/pricingCalendar.css'
        'bundles/uttestate/css/allCalendars.css'
        'bundles/uttestate/css/allCalendarsAdmin.css'
    filter='yui_css' %}<link rel="stylesheet" type="text/css" media="all" href="{{ asset_url }}" />{% endstylesheets %}

    {% javascripts
        'bundles/uttestate/libs/ui-bootstrap-tpls-0.11.0.js'
        'bundles/uttestate/js/allCalendarsApp.js'
        'bundles/uttestate/js/allAvailabilityAdmin.js'
    filter='yui_js' %}<script type="text/javascript" src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('sonata_admin_dashboard') }}">Dashboard</a>
    </li>
    <li class="active"><span>All availability</span></li>
{% endblock %}