{% extends 'SonataBlockBundle:Block:block_base.html.twig' %}

{% block block %}
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">upcoming bookings</h3>
        </div>
        <div class="box-body" style="overflow: auto;">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>property</th>
                    <th>arrival</th>
                    <th style="text-align: center;">show</th>
                </tr>
                </thead>
                {% if reservations is defined and reservations|length > 0 %}
                    <tbody>
                    {% for reservation in reservations %}
                        <tr>
                            <td>{{ reservation.getEstateDataDecoded().name }}</td>
                            <td>{{ reservation.fromDate|date('l d-M-Y') }}</td>
                            <td style="text-align: center;"><a href="{{ path('admin_utt_reservation_reservation_show', { 'id': reservation.id }) }}" class="btn btn-sm btn-default"><i class="glyphicon glyphicon-zoom-in"></i> show</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                {% endif %}
            </table>
        </div>
    </div>
{% endblock %}