{% extends 'SonataBlockBundle:Block:block_base.html.twig' %}

{% block block %}
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">lately updated reservations</h3>
        </div>
        <div class="box-body" style="overflow: auto;">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th style="width: 60px;">ID</th>
                    <th>accommodation</th>
                    <th>arrival</th>
                    <th>departing</th>
                    <th>customer</th>
                    <th>total price</th>
                    <th>to pay</th>
                    <th>status</th>
                    <th style="text-align: center;">show booking</th>
                </tr>
                </thead>
                {% if reservations is defined and reservations|length > 0 %}
                    <tbody>
                    {% for reservation in reservations %}
                        <tr>
                            <td>
                                <a href="{{ path('admin_utt_reservation_reservation_show', { 'id': reservation.id }) }}">
                                    {{ reservation.id|number_format(0, ' ', ' ') }}
                                </a>
                            </td>
                            <td>{{ reservation.getEstateDataDecoded().name }}</td>
                            <td>{{ reservation.fromDate|date('l d-M-Y') }}</td>
                            <td>{{ reservation.toDate|date('l d-M-Y') }}</td>
                            <td>{{ reservation.getUserDataDecoded().firstName|truncate(20) }} {{ reservation.getUserDataDecoded().lastName|truncate(20) }}</td>
                            <td>{{ reservation.totalPrice|number_format(2) }}</td>
                            <td>{{ (reservation.totalPrice - reservation.paid)|number_format(2) }}</td>
                            <td>
                                <span style="color: {{ reservation.referredFlag|referred_flag_color }}">
                                    {{ reservation.getStatusName() }}
                                </span>
                            </td>
                            <td style="text-align: center;"><a href="{{ path('admin_utt_reservation_reservation_show', { 'id': reservation.id }) }}" class="btn btn-sm btn-default"><i class="glyphicon glyphicon-zoom-in"></i> show</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                {% endif %}
            </table>
        </div>
    </div>
{% endblock %}