{% extends 'UTTAdminBundle:Admin:standard_layout.html.twig' %}
{% block sonata_admin_content %}
    <div class="col-sm-12 text-center not-to-print">
        <input class="btn btn-success btn-lg" type="button" onClick="window.print()" value="print"/><br /><br />
    </div>

    <div class="col-sm-6 not-to-print">
        {% if pricingCategoriesFlexible is defined and pricingCategoriesFlexible and estates is defined and estates %}
            {% for pricingCategory in pricingCategoriesFlexible %}
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <strong>{{ pricingCategory.name }}</strong>

                        {% set minPrice = 0 %}
                        {% set maxPrice = 0 %}

                        {% for price in pricingCategory.pricesFlexible %}
                            {% if price.year == ("now"|date('Y')) %}
                                {% set weekPrice = price.priceStandingCharge + 5 * price.priceSundayThursday + 2 * price.priceFridaySaturday %}

                                {% if minPrice == 0 %}
                                    {% set minPrice = weekPrice %}
                                {% else %}
                                    {% if weekPrice < minPrice %}
                                        {% set minPrice = weekPrice %}
                                    {% endif %}
                                {% endif %}

                                {% if weekPrice > maxPrice %}
                                    {% set maxPrice = weekPrice %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}

                        <br />
                        £{{ minPrice }} - £{{ maxPrice }} <br />for a week in {{ ("now"|date('Y')) }} year
                    </div>

                    <table class="table table-hover">
                        <tbody>
                        {% set isEstate = false %}
                        {% for estate in estates %}
                            {% if estate.pricingCategory.id == pricingCategory.id %}
                                {% set isEstate = true %}
                                <tr>
                                    <td>
                                        <a title="{{ estate.name }}" href="{{ path('admin_utt_estate_estate_edit', { 'id': estate.id }) }}">{{ estate.name }}</a>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}

                        {% if isEstate == false %}
                            <tr>
                                <td>
                                    <i>no estates</i>
                                </td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="col-sm-6 not-to-print">
        {% if pricingCategoriesStandard is defined and pricingCategoriesStandard and estates is defined and estates %}
            {% for pricingCategory in pricingCategoriesStandard %}
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <strong>{{ pricingCategory.name }}</strong>

                        {% set minPrice = 0 %}
                        {% set maxPrice = 0 %}

                        {% for price in pricingCategory.pricesStandard %}
                            {% if price.year == ("now"|date('Y')) %}
                                {% set weekPrice = price.price7Nights %}

                                {% if minPrice == 0 %}
                                    {% set minPrice = weekPrice %}
                                {% else %}
                                    {% if weekPrice < minPrice %}
                                        {% set minPrice = weekPrice %}
                                    {% endif %}
                                {% endif %}

                                {% if weekPrice > maxPrice %}
                                    {% set maxPrice = weekPrice %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}

                        <br />
                        £{{ minPrice }} - £{{ maxPrice }} <br />for a week in {{ ("now"|date('Y')) }} year
                    </div>

                    <table class="table table-hover">
                        <tbody>
                        {% set isEstate = false %}
                        {% for estate in estates %}
                            {% if estate.pricingCategory.id == pricingCategory.id %}
                                {% set isEstate = true %}
                                <tr>
                                    <td>
                                        <a title="{{ estate.name }}" href="{{ path('admin_utt_estate_estate_edit', { 'id': estate.id }) }}">{{ estate.name }}</a>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}

                        {% if isEstate == false %}
                            <tr>
                                <td>
                                    <i>no estates</i>
                                </td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <div class="to-print">
        {% if pricingCategoriesFlexible is defined and pricingCategoriesFlexible and estates is defined and estates %}
            {% for pricingCategory in pricingCategoriesFlexible %}
                <div style="margin-bottom: 10px;">
                    <div>
                        <strong>{{ pricingCategory.name }}</strong>

                        {% set minPrice = 0 %}
                        {% set maxPrice = 0 %}

                        {% for price in pricingCategory.pricesFlexible %}
                            {% if price.year == ("now"|date('Y')) %}
                                {% set weekPrice = price.priceStandingCharge + 5 * price.priceSundayThursday + 2 * price.priceFridaySaturday %}

                                {% if minPrice == 0 %}
                                    {% set minPrice = weekPrice %}
                                {% else %}
                                    {% if weekPrice < minPrice %}
                                        {% set minPrice = weekPrice %}
                                    {% endif %}
                                {% endif %}

                                {% if weekPrice > maxPrice %}
                                    {% set maxPrice = weekPrice %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}

                        £{{ minPrice }} - £{{ maxPrice }} for a week in {{ ("now"|date('Y')) }} year
                    </div>

                    {% set isEstate = false %}
                    {% for estate in estates %}
                        {% if estate.pricingCategory.id == pricingCategory.id %}
                            {% set isEstate = true %}
                            <div>
                                {{ estate.name }} - <strong>{{ pricingCategory.name }}</strong>
                            </div>
                        {% endif %}
                    {% endfor %}

                    {% if isEstate == false %}
                        <div>
                            <i>no estates</i>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}

        {% if pricingCategoriesStandard is defined and pricingCategoriesStandard and estates is defined and estates %}
            {% for pricingCategory in pricingCategoriesStandard %}
                <div style="margin-bottom: 10px;">
                    <div>
                        <strong>{{ pricingCategory.name }}</strong>

                        {% set minPrice = 0 %}
                        {% set maxPrice = 0 %}

                        {% for price in pricingCategory.pricesStandard %}
                            {% if price.year == ("now"|date('Y')) %}
                                {% set weekPrice = price.price7Nights %}

                                {% if minPrice == 0 %}
                                    {% set minPrice = weekPrice %}
                                {% else %}
                                    {% if weekPrice < minPrice %}
                                        {% set minPrice = weekPrice %}
                                    {% endif %}
                                {% endif %}

                                {% if weekPrice > maxPrice %}
                                    {% set maxPrice = weekPrice %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}

                        £{{ minPrice }} - £{{ maxPrice }} for a week in {{ ("now"|date('Y')) }} year
                    </div>

                    {% set isEstate = false %}
                    {% for estate in estates %}
                        {% if estate.pricingCategory.id == pricingCategory.id %}
                            {% set isEstate = true %}
                            <div>
                                {{ estate.name }} - <strong>{{ pricingCategory.name }}</strong>
                            </div>
                        {% endif %}
                    {% endfor %}

                    {% if isEstate == false %}
                        <div>
                            <i>no estates</i>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <style>
        .to-print { display: none; }

        @media print {
            .to-print { display: block; }
            .not-to-print { display: none; }
        }
    </style>
{% endblock %}
