<div class="box">
    <div class="box-body text-center">
        <div class="row">
            <div class="col-sm-6">
                <h3>
                    sales today:
                    {% if income is defined and income %}
                        {{ income|number_format(2) }}
                    {% else %}
                        {{ 0|number_format(2) }}
                    {% endif %}
                </h3>
                <div>
                    sales {{ 'now'|date('F') }} {{ 'now'|date('Y') }}:
                    {% if currentMonthSales is defined and currentMonthSales %}
                        <strong>{{ currentMonthSales|number_format(2) }}</strong>
                    {% else %}
                        {{ 0|number_format(2) }}
                    {% endif %}
                    <br />
                    sales {{ 'now'|date('F') }} last year by this day:
                    {% if lastYearMonthSalesUntilToday is defined and lastYearMonthSalesUntilToday %}
                        <strong>{{ lastYearMonthSalesUntilToday|number_format(2) }}</strong>
                    {% else %}
                        {{ 0|number_format(2) }}
                    {% endif %}
                    <br />
                    sales {{ 'now'|date('F') }} last year:
                    {% if lastYearMonthSales is defined and lastYearMonthSales %}
                        <strong>{{ lastYearMonthSales|number_format(2) }}</strong>
                    {% else %}
                        {{ 0|number_format(2) }}
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-6">
                <h3>
                    UTT income today:
                    {% if uttIncome is defined and uttIncome %}
                        {{ uttIncome|number_format(2) }}
                    {% else %}
                        {{ 0|number_format(2) }}
                    {% endif %}
                </h3>
                <div>
                    UTT income {{ 'now'|date('F') }} {{ 'now'|date('Y') }}:
                    {% if currentMonthUttIncome is defined and currentMonthUttIncome %}
                        <strong>{{ currentMonthUttIncome|number_format(2) }}</strong>
                    {% else %}
                        {{ 0|number_format(2) }}
                    {% endif %}
                    <br />
                    UTT income {{ 'now'|date('F') }} last year by this day:
                    {% if lastYearMonthUttIncomeUntilToday is defined and lastYearMonthUttIncomeUntilToday %}
                        <strong>{{ lastYearMonthUttIncomeUntilToday|number_format(2) }}</strong>
                    {% else %}
                        {{ 0|number_format(2) }}
                    {% endif %}
                    <br />
                    UTT income {{ 'now'|date('F') }} last year:
                    {% if lastYearMonthUttIncome is defined and lastYearMonthUttIncome %}
                        <strong>{{ lastYearMonthUttIncome|number_format(2) }}</strong>
                    {% else %}
                        {{ 0|number_format(2) }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>