<div class="box">
    <div class="box-body text-center mostUsedBlock">
        {% if app.security.isGranted('ROLE_UTT_ESTATE_ADMIN_ESTATE_LIST') %}
            <a href="{{ path('admin_utt_estate_estate_list') }}" class="btn btn-success btn-lg">calendars</a>
        {% endif %}

        {% if app.security.isGranted('ROLE_UTT_ADMIN_SALES') %}
            <a href="{{ path('utt_admin_sales') }}" class="btn btn-success btn-lg">sales</a>
        {% endif %}

        {% if app.security.isGranted('ROLE_UTT_ADMIN_ALL_AVAILABILITY') %}
            <a href="{{ path('utt_admin_all_availability') }}" class="btn btn-success btn-lg">all availability</a>
        {% endif %}

        {% if app.security.isGranted('ROLE_UTT_ADMIN_PRICING_CATEGORIES') %}
            <a href="{{ path('utt_admin_pricing_categories') }}" class="btn btn-success btn-lg">pricing categories</a>
        {% endif %}

        {% if app.security.isGranted('ROLE_UTT_RESERVATION_ADMIN_PRICINGCATEGORY_LIST') %}
            <a href="{{ path('admin_utt_reservation_pricingcategory_list') }}" class="btn btn-success btn-lg">pricing</a>
        {% endif %}

        {% if app.security.isGranted('ROLE_UTT_ESTATE_ADMIN_ESTATE_LIST') %}
            <a href="{{ path('admin_utt_estate_estate_list') }}" class="btn btn-success btn-lg">properties</a>
        {% endif %}

        {% if estates is defined and estates|length > 0 %}
            {% if app.security.isGranted('ROLE_UTT_ESTATE_ADMIN_ESTATE_EDIT') %}
                <div id="propertyRedirectSelect">
                    <select class="form-control">
                        <option value=""> -- select property to edit -- </option>
                        {% for estate in estates %}
                            <option value="{{ estate.id }}">{{ estate.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            {% endif %}

            {% if app.security.isGranted('ROLE_UTT_ESTATE_ADMIN_ESTATE_CALENDAR') %}
                <div id="propertyCalendarRedirectSelect">
                    <select class="form-control">
                        <option value=""> -- select property to show calendar -- </option>
                        {% for estate in estates %}
                            <option value="{{ estate.id }}">{{ estate.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            {% endif %}

            {% if app.security.isGranted('ROLE_UTT_ESTATE_ADMIN_ESTATE_PHOTOS') %}
                <div id="propertyPhotosRedirectSelect">
                    <select class="form-control">
                        <option value=""> -- select property to manage photos -- </option>
                        {% for estate in estates %}
                            <option value="{{ estate.id }}">{{ estate.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            {% endif %}
        {% endif %}
    </div>
</div>