{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/bundles/uttadmin/css/admin.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('/bundles/uttestate/css/estatePhotos.css') }}" type="text/css" media="all" />

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    <script src="{{ asset('/bundles/uttadmin/js/estatePhotos.js') }}" type="text/javascript"></script>
    <script src="{{ asset('/bundles/uttadmin/js/estateFeatureIcon.js') }}" type="text/javascript"></script>
    <script src="{{ asset('/bundles/uttadmin/js/charityDonationImage.js') }}" type="text/javascript"></script>
    <script src="{{ asset('/bundles/uttadmin/js/estateCategoryImage.js') }}" type="text/javascript"></script>
    <script src="{{ asset('/bundles/uttadmin/js/homeBannerImage.js') }}" type="text/javascript"></script>
    <script src="{{ asset('/bundles/uttadmin/js/homeBannersSortOrder.js') }}"></script>
    <script src="{{ asset('/bundles/uttadmin/js/offerImage.js') }}" type="text/javascript"></script>
    <script src="{{ asset('/bundles/uttadmin/js/weekPriceCalculators.js') }}" type="text/javascript"></script>
    <script src="{{ asset('/bundles/uttadmin/js/pricingCategoryToolkit.js') }}" type="text/javascript"></script>
    <script src="{{ asset('/bundles/uttadmin/js/pricingCategoryYearLine.js') }}" type="text/javascript"></script>
    <script src="{{ asset('/bundles/uttadmin/js/selectPricingCategory.js') }}" type="text/javascript"></script>
    <script src="{{ asset('/bundles/uttadmin/js/spectrum.colorPicker.js') }}" type="text/javascript"></script>
    <script src="{{ asset('/bundles/uttadmin/js/discountCodeEstatesSelectAll.js') }}" type="text/javascript"></script>
    <script src="{{ asset('/bundles/uttadmin/js/admin.js') }}" type="text/javascript"></script>
    <script src="{{ asset('/bundles/uttadmin/js/jquery.imagedrag.js') }}" type="text/javascript"></script>
    <script src="{{ asset('/bundles/uttadmin/js/jquery.cookie.js') }}" type="text/javascript"></script>
    <script src="{{ asset('/bundles/uttadmin/js/Chart.js') }}" type="text/javascript"></script>

    <script src="{{ asset('/bundles/uttestate/libs/angular.min.js') }}"></script>
    <script src="{{ asset('/bundles/uttestate/libs/angular-ui.js') }}"></script>
    <script src="{{ asset('/bundles/uttestate/libs/angular-route.min.js') }}"></script>

    <script src="{{ asset('/bundles/uttestate/libs/jquery.knob.js') }}"></script>
    <script src="{{ asset('/bundles/uttestate/libs/jquery.ui.widget.js') }}"></script>
    <script src="{{ asset('/bundles/uttestate/libs/jquery.iframe-transport.js') }}"></script>
    <script src="{{ asset('/bundles/uttestate/libs/jquery.fileupload.js') }}"></script>
{% endblock %}

{% block side_bar_after_nav %}
    <p class="text-center small" style="border-top: 1px solid #444444; padding: 5px; font-size: 12px !important; margin: 0; color: #bbbfa7;">
        © 2001-2021 Under the Thatch Ltd. all rights reserved.<br /><br />
        {#Bwthyn Fforchlas, Pontycymer, Penybont-ar-Ogwr, Cymru CF32 8HS#}<br />
    </p>
{% endblock %}

{% block footer %}
    {#
    <div class="pull-right clearfix">
        <span class="label">Vante.pl</span>
    </div>
    #}
{% endblock %}

{% block logo %}
    <a class="logo" href="{{ url('sonata_admin_dashboard') }}">
        <img src="{{ asset('/bundles/uttadmin/images/admin-logo.png') }}" alt="{{ admin_pool.title }}">
    </a>
{% endblock %}

{% block sonata_page_content_header %}
    {% render(controller('UTTAdminBundle:Admin:renderTodayIncomeBlock')) %}
    {% render(controller('UTTAdminBundle:Admin:renderMostUsedBlock')) %}

    {{ parent() }}
{% endblock sonata_page_content_header %}

{% block sonata_page_content %}
    {{ parent() }}

{#
    <div class="footerImage">
        <a href="mailto:spot@underthethatch.co.uk">email: spot@underthethatch.co.uk</a>
    </div>
#}
{% endblock sonata_page_content %}

{% block sonata_sidebar_search %}
    {% if app.security.token and is_granted('ROLE_SUPER_ADMIN') %}
        <form action="{{ url('utt_admin_search_reservation') }}" method="GET" class="sidebar-form" role="search">
            <div class="input-group custom-search-form">
                <input type="text" name="q" value="{{ app.request.get('q') }}" class="form-control" placeholder="search booking{#{{ 'search_placeholder'|trans({}, 'SonataAdminBundle') }}#}">
                <span class="input-group-btn">
                    <button class="btn btn-flat" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
    {% endif %}
{% endblock sonata_sidebar_search %}

{% block side_bar_before_nav %}
    <ul class="sidebar-menu">
        <li class="treeview">
            <a href="#">
                <i class="fa fa-folder"></i>
                <span>reports & finance</span>
                <i class="fa pull-right fa-angle-left"></i>
            </a>
            <ul class="treeview-menu">
                {% if app.security.isGranted('ROLE_UTT_ADMIN_SALES') %}
                    <li><a href="{{ path('utt_admin_sales') }}"><i class="fa fa-angle-double-right"></i> sales</a></li>
                {% endif %}
                {% if app.security.isGranted('ROLE_UTT_ADMIN_ACCOUNTS') %}
                    <li><a href="{{ path('utt_admin_accounts') }}"><i class="fa fa-angle-double-right"></i> accounts</a></li>
                {% endif %}
                {% if app.security.isGranted('ROLE_UTT_ADMIN_STATISTICS') %}
                    <li><a href="{{ path('utt_admin_statistics') }}"><i class="fa fa-angle-double-right"></i> statistics</a></li>
                {% endif %}
                {% if app.security.isGranted('ROLE_UTT_ADMIN_STATISTICS') %}
                    <li><a href="{{ path('utt_admin_estates_visits') }}"><i class="fa fa-angle-double-right"></i> property page views</a></li>
                {% endif %}
                {% if app.security.isGranted('ROLE_UTT_ADMIN_ANNUAL_REPORT') %}
                    <li><a href="{{ path('utt_admin_annual_report') }}"><i class="fa fa-angle-double-right"></i> annual report</a></li>
                {% endif %}
                {% if app.security.isGranted('ROLE_UTT_ADMIN_OWNER_STATEMENTS') %}
                    <li><a href="{{ path('utt_admin_owner_statements') }}"><i class="fa fa-angle-double-right"></i> owner statements</a></li>
                {% endif %}
                {% if app.security.isGranted('ROLE_UTT_ADMIN_CLEANING_ROTA') or app.security.isGranted('ROLE_UTT_ADMIN_OWNER_STATEMENTS') %}
                    <li><a href="{{ path('utt_admin_cleaning_rota') }}"><i class="fa fa-angle-double-right"></i> cleaning rota</a></li>
                {% endif %}
                {#
                {% if app.security.isGranted('ROLE_UTT_ADMIN_ACTIVITY_LOG') %}
                    <li><a href="{{ path('utt_admin_activity_log') }}"><i class="fa fa-angle-double-right"></i> activity log</a></li>
                {% endif %}
                {% if app.security.isGranted('ROLE_UTT_ADMIN_ANALYTICS_REPORT_USER') %}
                    <li><a href="{{ path('utt_admin_analytics_report_user') }}"><i class="fa fa-angle-double-right"></i> analytics reports for users</a></li>
                {% endif %}
                #}
                {% if app.security.isGranted('ROLE_UTT_ADMIN_ANALYTICS_REPORT_REFERER') %}
                    <li><a href="{{ path('utt_admin_analytics_report_referer') }}"><i class="fa fa-angle-double-right"></i> analytics reports for referer</a></li>
                {% endif %}
            </ul>
        </li>
    </ul>
{% endblock %}
