<div class="text-container">
    <div class="overflow-auto col-xs-12">
        <h2 class="background-heart-branch-contain font-tab-main-titles">
            CHARITY <span class="colorSpecjal">DONATIONS</span>
        </h2>
    </div>
    <div class="about-us-information-field col-xs-12 text-center">
        <div class="donation-persuasion">
            <a href="http://www.careinternational.org.uk" target="_blank">
                <img alt="CARE International" src="/images/care_rgb_logo.svg" style="width: 100px;">
            </a>

            <div class="text-left" style="width: 40%;">
                UTT is proud to partner with <a href="https://www.lendwithcare.org/" target="_blank" rel="nofollow">Lendwithcare</a> to help lift some of the world's poorest out of poverty by providing interest-free loans to help them start micro-businesses.<br /><br />
                We will match your donation - so <strong>your £2 becomes a £4 donation</strong> and <strong>your £5 becomes a £10 donation</strong> and 100% of your donation goes directly to the people that need it - we pay administration costs so that the people that need the money receive 100% of what you donate.<br /><br />
                Thank you for helping us to help some of the world's poorest help themselves!<br /><br />
                <a href="{{ path('utt_index_charity_donations') }}">See who we've helped so far</a>
            </div>
        </div>
    </div>
    <div class="break5">&nbsp</div>
    <div class="overflow-auto col-xs-12">
        <h2 class="background-heart-branch-contain font-tab-main-titles">
            ABOUT <span class="colorSpecjal">US</span>
        </h2>
    </div>
    <div class="about-us-information-field col-xs-12">
        {% if abouts is defined and abouts|length > 0 %}
            {% for about in abouts %}
                <div class="handler">
                    <div class="title">{{ about.title }}</div>
                    <div class="content">
                        {{ about.content|raw }}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>