<style>
@media (min-width: 800px) {
    #my-secound-search-panel {
        display: none;
    }
}
#my-secound-search-panel {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}
#my-secound-search-panel .search-panel form {width: 99%;}
#my-secound-search-panel .search-panel .col-xs-1,
#my-secound-search-panel .search-panel .col-xs-2,
#my-secound-search-panel .search-panel .col-xs-3,
#my-secound-search-panel .search-panel .col-xs-4,
#my-secound-search-panel .search-panel .col-xs-5,
#my-secound-search-panel .search-panel .col-xs-6,
#my-secound-search-panel .search-panel .col-xs-12
{
    padding-right: 5px;
    padding-left: 5px;
}
</style>
<div id="my-secound-search-panel">
    {% include 'UTTIndexBundle:Index:partial/common/separatorHeart.html.twig' with {'backgroundType': 'white'} only %}
    <div class="background-heart-branch-contain font-tab-main-titles">
        <div>YOUR <span class="colorSpecjal">UTT SEARCH</span></div>
    </div>
    <div class="search-panel text-container overflow-auto">
        <form role="search" action="{{ path('utt_estate_search') }}" method="get">
            <div class="fields">
                <div class="col-xs-12 overflow-auto break5">
                    <div class="col-xs-6">
                        <select name="location" class="form-control">
                            <option value="">-- anywhere --</option>
                            {% if locations is defined and locations|length > 0 %}
                                {% for location in locations %}
                                    <option value="{{ location.id }}">{{ location.name|lower }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                    <div class="col-xs-6">
                        <select name="sleeps" class="form-control">
                            {% if allSleeps is defined and allSleeps|length > 0 %}
                                {% for sleepsItem in allSleeps %}
                                    <option value="{{ sleepsItem.id }}">{{ sleepsItem.name }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 overflow-auto break5">
                    <div class="col-xs-6">
                        <input name="dateFrom" type="text" placeholder="arrive" class="search-panel-from-date form-control background-calendar-icon dashboard">
                    </div>
                    <div class="col-xs-6">
                        <input name="dateTo" type="text" placeholder="depart" class="search-panel-to-date form-control background-calendar-icon dashboard">
                    </div>
                </div>
                <div class="col-xs-12 overflow-auto">
                    <div class="col-xs-12">
                        <div class="float-right">
                            <button type="submit" class="btn btn-search">search</button>
                        </div>
                        <label class="checkbox-inline no-date-checkbox">
                            <input class="search-panel-no-date" type="checkbox" value="option1" />search without dates
                        </label>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="break15">&nbsp</div>
</div>