<style>
    .recommended-ideas .idea-item {
        float: left;  margin: 1%;  position: relative;  width: 18%;
    }
    .recommended-ideas .idea-item span {
        color: white;
        cursor: pointer;
        right: 0;
        width: auto;

        background: rgba(107, 97, 62, 0.85) none repeat scroll 0 0;
        float: right;
        padding: 5px 10px;
    }
    @media (max-width: 768px) {
        .recommended-ideas .idea-item { width: 23%; }
        .recommended-ideas .idea-item span { font-size: 12px; }
    }
    @media (max-width: 551px) {
        .recommended-ideas .idea-item { width: 31%; }
        .recommended-ideas .idea-item span { font-size: 12px; }
    }
    @media (max-width: 350px) {
        .recommended-ideas .idea-item { width: 48%; }
        .recommended-ideas .idea-item span { font-size: 12px; }
    }
    .recommended-ideas .idea-item img {
        width: 100%;
    }
</style>
<div class="overflow-auto col-xs-12">
    <h1 class="background-heart-branch-contain font-tab-main-titles">
        HOLIDAY <span class="colorSpecjal">IDEAS</span>
    </h1>
    <div class="recommended-ideas">
        {% if categories is defined and categories|length > 0 %}
            {% for category in categories %}
                <div class="idea-item">
                    {% if category.image is defined and category.image and estateCategoryUploadDir is defined and estateCategoryUploadDir %}
                        {% set photoPath = '/' ~ estateCategoryUploadDir ~ '/' ~ category.image %}
                        {% set photoPathSrc = photoPath | imagine_filter('homepage_estate_category_thumb') %}
                    {% else %}
                        {% set photoPath = '/bundles/uttindex/images/placeholder.png' %}
                        {% set photoPathSrc = photoPath | imagine_filter('homepage_estate_category_thumb') %}
                    {% endif %}

                    <a title="{{ category.name }}" href="{{ path('utt_estate_category', { 'slug': category.slug }) }}">
                        <img src="{{ photoPathSrc }}" alt="{{ category.name }}">
                    </a>
                    <span>{{ category.name }}</span>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>

<div class="overflow-auto col-xs-12">
    <div id="slider-recommended-places">
        <div class="slider-recommended-head overflow-auto">
            <div class="tabs overflow-auto font-tab-main-titles">
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="active tab btn-back" contentId="#homePageTab-lateAvailability">
                        <div>LATE AVAILABILITY</div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="tab btn-back" contentId="#recommendedPlaceTab-1">
                        <div>BEST OFFERS</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="margin-0-auto contain set-controls-direction-arrows-board-horizontal">
            <div id="recommendedPlaceTab-1">
                {% if offers is defined and offers and offers|length > 0 %}
                    {% for offer in offers %}
                        {% include 'UTTEstateBundle:Offer:listItem.html.twig' with { 'offer': offer, 'adminCharge': adminCharge } only %}
                    {% endfor %}
                {% endif %}
            </div>
            <div class="clearfix"></div>
            <div id="homePageTab-lateAvailability">
                {% if lateAvailabilityOffers is defined and lateAvailabilityOffers and lateAvailabilityOffers|length > 0 %}
                    {% for offer in lateAvailabilityOffers %}
                        {% include 'UTTEstateBundle:Offer:listItem.html.twig' with { 'offer': offer, 'adminCharge': adminCharge } only %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>