<div class="text-container overflow-auto">
    {% set tempWidth = 295 %}
    {% set tempHeight = 300 %}
    <div id="slider-recommended-ideas">
        <div class="slider-recommended-head overflow-auto">
            <div class="tabs overflow-auto font-tab-main-titles">
                <div class="{#col-xs-12#}">
                    <div class="no-background-color background-heart-branch-contain tab">
                        <div class="title1">HOLIDAY <span class="colorSpecjal">IDEAS</span></div>
                        <div class="title2">HOLIDAY</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contain set-controls-direction-arrows-board-vertical">
            <div class="slider-recommended-ideas">
                {% if categories is defined and categories|length > 0 %}
                    {% for category in categories %}
                        <div class="slide">
                            {% if category.image is defined and category.image and estateCategoryUploadDir is defined and estateCategoryUploadDir %}
                                {% set photoPath = '/' ~ estateCategoryUploadDir ~ '/' ~ category.image %}
                                {% set photoPathSrc = photoPath | imagine_filter('homepage_estate_category_thumb') %}
                            {% else %}
                                {% set photoPath = '/bundles/uttindex/images/placeholder.png' %}
                                {% set photoPathSrc = photoPath | imagine_filter('homepage_estate_category_placeholder') %}
                            {% endif %}
                                
                            {% if loop.index < 4 %}
                                <img title="<div>{{ category.name }}</div>" src="{{ photoPathSrc }}" alt="{{ category.name }}">
                            {% else %}
                                <img class="lazy" title="<div>{{ category.name }}</div>" data-src="{{ photoPathSrc }}" alt="{{ category.name }}" src="/bundles/uttestate/images/icons/whiteblank.png">
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <div id="slider-recommended-places">
        <div class="slider-recommended-head overflow-auto">
            <div class="tabs overflow-auto font-tab-main-titles">
                <div class="col-xs-6">
                    <div class="active tab btn-back" contentId="#recommendedPlaceTab-1">
                        <div>BEST OFFERS</div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="tab btn-back" contentId="#recommendedPlaceTab-2">
                        <div>PICK - TURES</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="margin-0-auto contain set-controls-direction-arrows-board-horizontal">
            <div id="recommendedPlaceTab-1">
                {% if offers is defined and offers and offers|length > 0 %}
                    {% for offer in offers %}
                        {% include 'UTTEstateBundle:Offer:listItem.html.twig' with { 'offer': offer } only %}
                    {% endfor %}
                {% endif %}
            </div>
            <div id="recommendedPlaceTab-2">
                <div class="slider-recommended-places">
                    {% if latestPhotos is defined and latestPhotos|length > 0 %}
                        {% set i = 1 %}
                        {% set counter = 0 %}

                        {% for photo in latestPhotos %}
                            {% set counter = counter + 1 %}
                            {% if i == 1 %}<div class="slide">{% endif %}
                            {% if i == 1 %}<div class="position-relative">{% else %}<div class="break5"> </div><div class="position-relative">{% endif %}

                                {% if photo.fileName is defined and photo.fileName and estatePhotoUploadDir is defined and estatePhotoUploadDir %}
                                    {% set photoPath = '/' ~ estatePhotoUploadDir ~ '/' ~ photo.fileName %}
                                    {% set photoPathSrc = photoPath | imagine_filter('homepage_estate_latest_photo_thumb') %}
                                {% else %}
                                    {% set photoPath = '/bundles/uttindex/images/placeholder.png' %}
                                    {% set photoPathSrc = photoPath | imagine_filter('homepage_estate_latest_photo_thumb') %}
                                {% endif %}
                                <a href="{{ path('utt_estate_show_estate', { 'estateShortName': photo.estateShortName }) }}">
                                    <div class="onHover">
                                        <div>
                                            <strong>{{ photo.estateName }}</strong><br />
                                            sleeps {{ photo.estateSleeps }}
                                        </div>
                                    </div>
                                </a>
                                <a href="{{ path('utt_estate_show_estate', { 'estateShortName': photo.estateShortName }) }}">
                                    {% if loop.index < 4 %}
                                        <img title="{{ photo.estateName }}" src="{{ photoPathSrc }}" alt="{{ photo.estateName }}">
                                    {% else %}
                                        <img class="lazy" title="{{ photo.estateName }}" data-src="{{ photoPathSrc }}" alt="{{ photo.estateName }}" src="/bundles/uttestate/images/icons/whiteblank.png">
                                    {% endif %}
                                </a>

                            </div>{% if i == 3 or counter == latestPhotos|length %} {% set i = 1 %} </div>{% else %} {% set i = i + 1 %} {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>