<div class="overflow-auto col-xs-12">
    <h2 class="background-heart-branch-contain font-tab-main-titles">
        OUR NEW <span class="colorSpecjal">BABIES</span>
    </h2>
    <div id="our-new-babies">
        {% if justLaunchedEstates is defined and justLaunchedEstates|length > 0 %}
            {% for estate in justLaunchedEstates %}
                {% if estate.photoMain is defined and estate.photoMain and estatePhotoUploadDir is defined and estatePhotoUploadDir %}
                    {% set photoPath = '/' ~ estatePhotoUploadDir ~ '/' ~ estate.photoMain.fileName %}
                    {% set photoPathSrc = photoPath | imagine_filter('homepage_estate_just_launched_thumb') %}
                {% else %}
                    {% set photoPath = '/bundles/uttindex/images/placeholder.png' %}
                    {% set photoPathSrc = photoPath | imagine_filter('homepage_estate_just_launched_thumb') %}
                {% endif %}
                <a href="{{ path('utt_estate_show_estate', { 'estateShortName': estate.shortName }) }}">
                    <img title="{{ estate.name }}" src="{{ photoPathSrc }}" alt="{{ estate.name }}">
                </a>
            {% endfor %}
        {% endif %}
    </div>
</div>