<div>
    {% if homeBanners is defined and homeBanners|length > 0 %}
        <ul>
            {% set homeBanner = random(homeBanners) %}
            <li>
                {% if homeBanner.url %}<a href="{{ homeBanner.url }}">{% endif %}
                    <img src="{{ homeBanner.fullSrc }}{# render controller('UTTIndexBundle:Index:renderHomeBannerSrc', { 'id': homeBanner.id }) #}" alt="{{homeBanner.title}}"/>
                    <div>
                        <img alt="The finest European holiday cottages" src='/bundles/uttindex/images/logos/with-text-1.png' />
                        <div >Under the Thatch</div>
                        <div >holiday homes you'll <span class='specjal'>love</span></div>
                    </div>
                {% if homeBanner.url %}</a>{% endif %}
            </li>
        </ul>
    {% endif %}
</div>