<div class="text-container overflow-auto">
    <div>
        <div class="col-xs-6" id="social-widget-facebook">
            <div class="social-widget-header margin-clear background-heart-branch-contain font-tab-main-titles">
                FACEBOOK <img src="{{ asset('/bundles/uttindex/images/socialMedia/fb-icon-middle.png') }}"/>
            </div>
            <div class="social-widget-content">
                {% if loaded is defined and loaded %}
                    <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Funderthethatch&amp;width=360&amp;height=558&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=true&amp;show_border=false&amp;appId=1438518396380513" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:360px; height:558px;" allowTransparency="true"></iframe>
                {% else %}
                    <img class="social-widget-content-loader" src="{{ asset('/bundles/uttestate/images/icons/search-loader.gif') }}" />
                {% endif %}
            </div>
        </div>
        <div class="col-xs-6" id="social-widget-twitter">
            <div class="social-widget-header margin-clear background-heart-branch-contain font-tab-main-titles">
                TWITTER <img src="{{ asset('/bundles/uttindex/images/socialMedia/tweeter-icon-middle.png') }}"/>
            </div>
            <div class="social-widget-content">
                {% if loaded is defined and loaded %}
                    <a class="twitter-timeline" href="https://twitter.com/underthethatch" data-widget-id="595919157868257282">@underthethatch </a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                {% else %}
                    <img class="social-widget-content-loader" src="{{ asset('/bundles/uttestate/images/icons/search-loader.gif') }}" />
                {% endif %}
            </div>
        </div>
    </div>
</div>
<br />
<div class="text-container overflow-auto">
    <div>
        <div class="col-xs-12" id="social-widget-pinterest">
            <div class="social-widget-header margin-clear background-heart-branch-contain font-tab-main-titles">
                PINTEREST <img src="{{ asset('/bundles/uttindex/images/socialMedia/pinterest-icon-middle.png') }}"/>
            </div>
            <div class="social-widget-content">
                {% if loaded is defined and loaded %}
                    <a data-pin-do="embedUser" href="http://pl.pinterest.com/underthethatch/" data-pin-scale-width="115" data-pin-scale-height="120" data-pin-board-width="900"></a>
                    <!-- Please call pinit.js only once per page -->
                    <script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script>
                {% else %}
                    <img class="social-widget-content-loader" src="{{ asset('/bundles/uttestate/images/icons/search-loader.gif') }}" />
                {% endif %}
            </div>
        </div>
    </div>
</div>