{% if user is defined and user %}
    <li class="dropdown">
        <a href="" class="dropdown-toggle" data-toggle="dropdown">My UTT{#<div class="menu-my-utt"></div>#}</a>
        <ul class="dropdown-menu">
            <li>
                <div style="padding: 5px; text-align: center;">
                    <i>logged as<br />{{ user.username }}</i>
                </div>
            </li>
            <li>
                <a href="{{ path('utt_estate_favourites') }}">
                    favourites
                </a>
            </li>
            <li>
                <a href="{{ path('fos_user_profile_show') }}">
                    my dashboard
                </a>
            </li>
            <li>
                <a href="{{ path('fos_user_profile_edit') }}">
                    settings
                </a>
            </li>
            <li>
                <a href="{{ path('fos_user_security_logout') }}">
                    sign out
                </a>
            </li>
        </ul>
    </li>
{% else %}
    <li><a href="{{ path('fos_user_security_login') }}">Sign In</a></li>
{% endif %}
