{% if reservations is defined and reservations %}
    {% for reservation in reservations %}
        <a {% if reservation.isCancelled() %}style="text-decoration: line-through;"{% endif %} href="{{ path('admin_utt_reservation_reservation_show', { 'id': reservation.getId() }) }}">{{ reservation.getId() }}</a>
    {% endfor %}
{% endif %}