{% if vouchers is defined and vouchers and vouchers|length > 0 %}
    {% include 'UTTUserBundle:User:voucherList.html.twig' with { 'vouchers': vouchers } only %}
{% else %}
    <div class="alert alert-info">We are sorry because you have no vouchers in UTT ;(</div>
{% endif %}