{% if reservations is defined and reservations and reservations|length > 0 %}
    {% include 'UTTUserBundle:User:reservationList.html.twig' with { 'reservations': reservations } only %}
{% else %}
    <div class="alert alert-info">We are sorry because you have no reservations in UTT ;(</div>
{% endif %}
