{% if reservation is defined and reservation %}
    <div class="reservation-list-item">
        <div class="cancel-div">
            <a class="btn btn-default-transparent" href="{{ path('utt_user_reservation_manage', { 'reservationId': reservation.id }) }}">manage</a>
        </div>
        <div class="content overflow-auto">
            <div class="property">
                <div class="img">
                    {% set estatePhoto = reservation.estate.getRandomPhoto() %}

                    {% if estatePhoto and estatePhoto.fileName is defined and estatePhoto.fileName and estatePhoto.getUploadDir() is defined and estatePhoto.getUploadDir() %}
                        {% set photoPath = '/' ~ estatePhoto.getUploadDir() ~ '/' ~ estatePhoto.fileName %}
                        {% set photoPathSrc = photoPath | imagine_filter('reservation_list_estate_image_thumb') %}
                    {% else %}
                        {% set photoPath = '/bundles/uttindex/images/placeholder.png' %}
                        {% set photoPathSrc = photoPath | imagine_filter('reservation_list_estate_image_thumb') %}
                    {% endif %}
                    <a href="{{ path('utt_estate_show_estate', { 'estateShortName': reservation.estate.shortName }) }}">
                        <img title="{{ reservation.estate.name }}" src="{{ photoPathSrc }}" alt="{{ reservation.estate.name }}">
                    </a>
                </div>
                <div class="det">
                    <a class="title" href="{{ path('utt_estate_show_estate', { 'estateShortName': reservation.estate.shortName }) }}">
                        {{ reservation.estate.name }}
                    </a>
                    <div class="utt-color">{{ reservation.estate.locationText }}</div>
                    <div class="price">{{ reservation.totalPrice }}</div>
                </div>
            </div>
            <div class="details">
                <div class="status">
                    {{ reservation.getStatusNameForUser() }}
                </div>
                <div class="overflow-auto">
                    <div class="titles utt-color">arrival date</div>
                    <div class="text">{{ reservation.fromDate|date('l, j F Y') }}</div>
                </div>
                <div class="overflow-auto">
                    <div class="titles utt-color">departure date</div>
                    <div class="text">{{ reservation.toDate|date('l, j F Y') }}</div>
                </div>
            </div>
        </div>
    </div>
{% endif %}