{% if reservations is defined and reservations and reservations|length > 0 %}
    {% for reservation in reservations %}
        {% include 'UTTUserBundle:User:reservationListItem.html.twig' with { 'reservation': reservation } only %}
    {% endfor %}
{% endif %}