{% extends '::the-project/base.html.twig' %}

{% block title %}
    Manage booking - Under the Thatch - find the greatest holiday cottages in Wales.
{% endblock %}

{% block body %}
    <div class="breadcrumb-container">
        <div class="container">
            <ol class="breadcrumb">
                <li><i class="fa fa-home pr-10"></i><a href="{{ path('utt_index_homepage') }}">homepage</a></li>
                <li><a href="{{ path('fos_user_profile_show') }}">my profile</a></li>
                <li class="active">manage booking #{{ reservation.id }}</li>
            </ol>
        </div>
    </div>

    <section class="main-container">
        <div class="container">
            <div class="row">
                <div class="main col-md-12">
                    <h3 class="title">my booking #{{ reservation.id }}</h3>
                    <div class="separator-2"></div>
                    <div>
                        <div id="reservation-edit">
                            <div>
                                <div class="body overflow-auto text-container">
                                    <div class="col-xs-12">
                                    {% for flashMessage in app.session.flashbag.get('success') %}
                                        <div class="alert alert-success">{{ flashMessage }}</div>
                                    {% endfor %}
                                    {% for flashMessage in app.session.flashbag.get('error') %}
                                        <div class="alert alert-danger">{{ flashMessage }}</div>
                                    {% endfor %}

                                    <h3 id="property-page-information"><a href="{{ path('utt_estate_show_estate', { 'estateShortName': reservation.estate.shortName }) }}"><strong>{{ reservation.estate.name }}</strong></a></h3>
                                    <p><i aria-hidden="true" class="fa fa-map-marker"></i> {{ reservation.estate.locationText }}</p>
                                    <div class="separator-2"></div>


                                    <div id="reservationManageAppHandler" ng-controller="reservationManageAppCtrl">
                                    <input ng-model="reservationId" ng-init="setReservationId('{{ reservation.id }}')" type="hidden" />
                                    <form name="reservationManageForm" class="text-container overflow-auto col-xs-12 break10">
                                        <div class="col-hs-12 col-sm-6">
                                            <div class="row">
                                                <div class="col-sm-12 filterItem">
                                                    {% if isAllowedToEdit is defined and isAllowedToEdit %}
                                                        <button ng-click="toggleEditMode('filterSleeps')" class="btn btn-sm" ng-class="{'btn-default': editModes.filterSleeps, 'btn-default-transparent': !editModes.filterSleeps}"><span class="glyphicon glyphicon-pencil"></span></button>
                                                    {% endif %}
                                                    <label for="filterSleepsAdults" class="utt-color">no. of adults</label>&#160;<span>{{ reservation.sleepsAdults }}</span>&#160;&#160;
                                                    <select ng-show="editModes.filterSleeps" id="filterSleepsAdults" class="form-control" ng-init="initFilterSleeps({{ reservation.estate.sleeps }}, {{ reservation.sleeps }}, {{ reservation.sleepsChildren }})" ng-model="sleepsAdults" ng-change="setSleepsAdults(sleepsAdults)" ng-options="choice.id for choice in sleepsAdultsChoices" required></select>

                                                    <label for="filterSleepsChildren" class="utt-color">no. of children</label>&#160;<span>{{ reservation.sleepsChildren }}</span>
                                                    <select ng-show="editModes.filterSleeps" id="filterSleepsChildren" class="form-control" ng-model="sleepsChildren" ng-change="setSleepsChildren(sleepsChildren)" ng-options="choice.id for choice in sleepsChildrenChoices" required></select>
                                                </div>
                                                <div class="col-sm-6 filterItem">
                                                    <label for="filterInfants" class="utt-color">infants</label>&#160;<span>{{ reservation.infants }}</span>
                                                    {% if isAllowedToEdit is defined and isAllowedToEdit %}
                                                        <button ng-click="toggleEditMode('filterInfants')" class="btn btn-sm btn-default-transparent" ng-class="{'btn-default': editModes.filterInfants, 'btn-default-transparent': !editModes.filterInfants}"><span class="glyphicon glyphicon-pencil"></span></button>
                                                    {% endif %}
                                                    <select ng-show="editModes.filterInfants" id="filterInfants" class="form-control" ng-init="initFilterInfants({{ reservation.estate.getMaxInfantsTotal() }}, {{ reservation.infants }})" ng-model="infants" ng-change="setInfants(infants)" ng-options="choice.id for choice in infantsChoices" required></select>
                                                </div>
                                                <div class="col-sm-6 filterItem">
                                                    <label for="filterPets" class="utt-color">pets</label>&#160;<span>{{ reservation.pets }}</span>
                                                    {% if isAllowedToEdit is defined and isAllowedToEdit %}
                                                        <button ng-click="toggleEditMode('filterPets')" class="btn btn-sm btn-default-transparent" ng-class="{'btn-default': editModes.filterPets, 'btn-default-transparent': !editModes.filterPets}"><span class="glyphicon glyphicon-pencil"></span></button>
                                                    {% endif %}
                                                    <select ng-show="editModes.filterPets" id="filterPets" class="form-control" ng-init="initFilterPets({{ reservation.estate.getMaxPetsTotal() }}, {{ reservation.pets }})" ng-model="pets" ng-change="setPets(pets)" ng-options="choice.id for choice in petsChoices" required></select>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-6 calendar-card">
                                                    <div class="utt-color text-center break5">arrival date</div>
                                                    <div class="card">
                                                        <div class="date-day">{{ reservation.fromDate|date('j') }}</div>
                                                        <div class="date-month">{{ reservation.fromDate|date('F') }}</div>
                                                        <div class="date-year">{{ reservation.fromDate|date('Y') }}</div>
                                                        <div class="utt-color day-of-week"><b>{{ reservation.fromDate|date('l') }}</b></div>
                                                    </div>
                                                    <div class="card-time break5">
                                                        arrival from {{ reservation.estate.checkInTime|date('H:i') }}
                                                        {% if isAllowedToEdit is defined and isAllowedToEdit %}
                                                            <div>
                                                                <button ng-click="toggleEditMode('filterFromDate')" class="btn btn-sm btn-default-transparent" ng-class="{'btn-main-page': editModes.filterFromDate}">change date <span class="glyphicon glyphicon-pencil"></span></button>
                                                            </div>
                                                        {% endif %}
                                                    </div>

                                                    <input ng-show="editModes.filterFromDate" id="filterFromDate" type="text" placeholder="arrive" class="form-control" ng-model="fromDate" datepicker ng-init="initFilterFromDate('{{ reservation.fromDate|date('Y-m-d') }}')" ng-change="setFromDate(fromDate)" required />
                                                </div>
                                                <div class="col-xs-6 calendar-card">
                                                    <div class="utt-color text-center break5">departure date</div>
                                                    <div class="card">
                                                        <div class="date-day">{{ reservation.toDate|date('j') }}</div>
                                                        <div class="date-month">{{ reservation.toDate|date('F') }}</div>
                                                        <div class="date-year">{{ reservation.toDate|date('Y') }}</div>
                                                        <div class="utt-color day-of-week"><b>{{ reservation.toDate|date('l') }}</b></div>
                                                    </div>
                                                    <div class="card-time break5">
                                                        depart by {{ reservation.estate.checkOutTime|date('H:i') }}
                                                        {% if isAllowedToEdit is defined and isAllowedToEdit %}
                                                            <div>
                                                                <button ng-click="toggleEditMode('filterToDate')" class="btn btn-sm btn-default-transparent" ng-class="{'btn-main-page': editModes.filterToDate}">change date <span class="glyphicon glyphicon-pencil"></span></button>
                                                            </div>
                                                        {% endif %}
                                                    </div>

                                                    <input ng-show="editModes.filterToDate" id="filterToDate" type="text" placeholder="arrive" class="form-control" ng-model="toDate" datepicker ng-init="initFilterToDate('{{ reservation.toDate|date('Y-m-d') }}')" ng-change="setToDate(toDate)" required />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="filterItem">
                                                    <b><span class="utt-color">number of nights</span>&#160;{{ reservation.getNumberOfNights() }}</b>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-hs-12 col-sm-6">
                                            <div class="userDataItem">
                                                <label for="userDataFirstName" class="utt-color">your first name</label>
                                                {{ reservation.getUserDataDecoded().firstName|truncate(20) }}
                                                {% if isAllowedToEdit is defined and isAllowedToEdit %}
                                                    <button ng-click="toggleEditMode('userDataFirstName')" class="btn btn-sm btn-default-transparent" ng-class="{'btn-main-page': editModes.userDataFirstName}"><span class="glyphicon glyphicon-pencil"></span></button>
                                                {% endif %}
                                                <input ng-show="editModes.userDataFirstName" id="userDataFirstName" ng-init="initUserData('{{ reservation.getUserDataEscaped }}')" ng-change="changeUserFirstName(userData.firstName)" ng-model="userData.firstName"  class="form-control" type="text" required />
                                            </div>
                                            <div class="userDataItem">
                                                <label for="userDataLastName" class="utt-color">your last name</label>
                                                {{ reservation.getUserDataDecoded().lastName|truncate(20) }}
                                                {% if isAllowedToEdit is defined and isAllowedToEdit %}
                                                    <button ng-click="toggleEditMode('userDataLastName')" class="btn btn-sm btn-default-transparent" ng-class="{'btn-main-page': editModes.userDataLastName}"><span class="glyphicon glyphicon-pencil"></span></button>
                                                {% endif %}
                                                <input ng-show="editModes.userDataLastName" id="userDataLastName" ng-change="changeUserLastName(userData.lastName)" ng-model="userData.lastName" class="form-control" type="text" required />
                                            </div>
                                            <div class="userDataItem">
                                                <label for="userDataEmail" class="utt-color">your email address</label>
                                                {{ reservation.getUserDataDecoded().email }}
                                                {% if isAllowedToEdit is defined and isAllowedToEdit %}
                                                    <button ng-click="toggleEditMode('userDataEmail')" class="btn btn-sm btn-default-transparent" ng-class="{'btn-main-page': editModes.userDataEmail}"><span class="glyphicon glyphicon-pencil"></span></button>
                                                {% endif %}
                                                <input ng-show="editModes.userDataEmail" id="userDataEmail" class="form-control" type="email" ng-change="changeUserEmail(userData.email)" ng-model="userData.email" required />
                                            </div>
                                            <div class="userDataItem">
                                                <label for="userDataPhone" class="utt-color">phone number</label>
                                                {{ reservation.getUserDataDecoded().phone }}
                                                {% if isAllowedToEdit is defined and isAllowedToEdit %}
                                                    <button ng-click="toggleEditMode('userDataPhone')" class="btn btn-sm btn-default-transparent" ng-class="{'btn-main-page': editModes.userDataPhone}"><span class="glyphicon glyphicon-pencil"></span></button>
                                                {% endif %}
                                                <input ng-show="editModes.userDataPhone" id="userDataPhone" class="form-control" type="text" ng-change="changeUserPhone(userData.phone)" ng-model="userData.phone" required />
                                            </div>
                                            <div class="userDataItem">
                                                <label for="userDataAddress" class="utt-color">address</label>
                                                {{ reservation.getUserDataDecoded().address }}
                                                {% if isAllowedToEdit is defined and isAllowedToEdit %}
                                                    <button ng-click="toggleEditMode('userDataAddress')" class="btn btn-sm btn-default-transparent" ng-class="{'btn-main-page': editModes.userDataAddress}"><span class="glyphicon glyphicon-pencil"></span></button>
                                                {% endif %}
                                                <input ng-show="editModes.userDataAddress" id="userDataAddress" class="form-control" type="text" ng-change="changeUserAddress(userData.address)" ng-model="userData.address" required />
                                            </div>
                                            <div class="userDataItem">
                                                <label for="userDataCity" class="utt-color">city</label>
                                                {{ reservation.getUserDataDecoded().city }}
                                                {% if isAllowedToEdit is defined and isAllowedToEdit %}
                                                    <button ng-click="toggleEditMode('userDataCity')" class="btn btn-sm btn-default-transparent" ng-class="{'btn-main-page': editModes.userDataCity}"><span class="glyphicon glyphicon-pencil"></span></button>
                                                {% endif %}
                                                <input ng-show="editModes.userDataCity" id="userDataCity" class="form-control" type="text" ng-change="changeUserCity(userData.city)" ng-model="userData.city" required />
                                            </div>
                                            <div class="userDataItem">
                                                <label for="userDataPostcode" class="utt-color">post code</label>
                                                {{ reservation.getUserDataDecoded().postcode }}
                                                {% if isAllowedToEdit is defined and isAllowedToEdit %}
                                                    <button ng-click="toggleEditMode('userDataPostcode')" class="btn btn-sm btn-default-transparent" ng-class="{'btn-main-page': editModes.userDataPostcode}"><span class="glyphicon glyphicon-pencil"></span></button>
                                                {% endif %}
                                                <input ng-show="editModes.userDataPostcode" id="userDataPostcode" class="form-control" type="text" ng-change="changeUserPostcode(userData.postcode)" ng-model="userData.postcode" />
                                            </div>
                                            <div class="userDataItem">
                                                <label for="userDataCountry" class="utt-color">country</label>
                                                {{ reservation.getUserDataDecoded().country }}
                                                {% if isAllowedToEdit is defined and isAllowedToEdit %}
                                                    <button ng-click="toggleEditMode('userDataCountry')" class="btn btn-sm btn-default-transparent" ng-class="{'btn-main-page': editModes.userDataCountry}"><span class="glyphicon glyphicon-pencil"></span></button>
                                                {% endif %}
                                                <select ng-show="editModes.userDataCountry" id="userDataCountry" class="form-control" ng-init="initCountryChoices()" ng-model="userDataCountry" ng-change="changeUserCountry(userDataCountry)" ng-options="choice.name for choice in countryChoices" required></select>
                                            </div>
                                        </div>
                                    </form>

                                    <div class="break10">&nbsp</div>
                                    <div class="row">
                                        <div class="col-xs-12 res-summary">
                                            <div {% if isAllowedToEdit is defined and isAllowedToEdit %}class="col-xs-6 text-right"{% else %}class="col-xs-12 text-center"{% endif %} {#ng-class="{'col-lg-6 text-right': isEditMode(), 'col-lg-12 text-center': !isEditMode()}"#}>
                                                <div class="price-new">
                                                    <div class="title utt-color">reservation price:</div>
                                                    <div class="value">{{ ''|currency_info }}{{ reservation.totalPrice|number_format(2)}}</div>
                                                </div>
                                                <div class="staff break5">
                                                    <div>base price: {{ ''|currency_info }}<span>{{ reservation.getPriceDecoded().basePrice|number_format(2) }}</span></div>
                                                    <div>additional guests: {{ ''|currency_info }}<span>{{ reservation.getPriceDecoded().additionalSleepsPrice|number_format(2) }}</span></div>
                                                    <div>booking fee: {{ ''|currency_info }}<span>{{ reservation.getPriceDecoded().adminCharge|number_format(2) }}</span></div>
                                                    <div>booking Protect fee: {{ ''|currency_info }}<span>{{ reservation.getPriceDecoded().bookingProtectCharge|number_format(2) }}</span></div>
                                                    <div>charity donation: {{ ''|currency_info }}<span>{{ reservation.getPriceDecoded().charityCharge|number_format(2) }}</span></div>
                                                    <div>pets: {{ ''|currency_info }}<span>{{ reservation.getPriceDecoded().petsPrice|number_format(2) }}</span></div>
                                                    <div>discount: <span>-{{ ''|currency_info }}{{ reservation.getDiscountPriceDecoded().total|number_format(2) }}</span></div>
                                                </div>
                                            </div>
                                            {% if isAllowedToEdit is defined and isAllowedToEdit %}
                                                <div class="col-xs-6 text-left" {#ng-show="isEditMode()"#}>
                                                    <div class="price-new">
                                                        <div class="title utt-color">reservation new price:</div>
                                                        <div class="value">
                                                            {{ ''|currency_info }}<span ng-init="initNewReservationPrice('{{ reservation.price }}')">{{ '{{totalPrice()|number:2}}' }}</span>
                                                        </div>
                                                    </div>
                                                    <div class="staff break5">
                                                        <div>
                                                            base price: {{ ''|currency_info }}<span>{{ '{{basePrice()|number:2}}' }}</span>
                                                        </div>
                                                        <div ng-if="additionalSleepsPrice()">
                                                            additional guests: {{ ''|currency_info }}<span>{{ '{{additionalSleepsPrice()|number:2}}' }}</span>
                                                        </div>
                                                        <div ng-if="adminCharge()">
                                                            booking fee: {{ ''|currency_info }}<span>{{ '{{adminCharge()|number:2}}' }}</span>
                                                        </div>
                                                        <div ng-if="creditCardCharge()">
                                                            credit card fee: {{ ''|currency_info }}<span>{{ '{{creditCardCharge()|number:2}}' }}</span>
                                                        </div>
                                                        <div ng-if="bookingProtectCharge()">
                                                            booking Protect fee: {{ ''|currency_info }}<span>{{ '{{bookingProtectCharge()|number:2}}' }}</span>
                                                        </div>
                                                        <div ng-if="charityCharge()">
                                                            charity donation: {{ ''|currency_info }}<span>{{ '{{charityCharge()|number:2}}' }}</span>
                                                        </div>
                                                        <div ng-if="petsPrice()">
                                                            pets: {{ ''|currency_info }}<span>{{ '{{petsPrice()|number:2}}' }}</span>
                                                        </div>
                                                    </div>
                                                    <div class="btns break10" ng-show="isEditMode() && isPriceValid == true">
                                                        <button ng-disabled="!isFormValid()" ng-click="changeHoliday()" class="btn btn-default">accept</button>
                                                        <button ng-click="editModeCancel()" class="btn btn-default-transparent">cancel</button>
                                                    </div>
                                                    <div class="btns break10" ng-show="isPriceValid == false">
                                                        <div class="alert alert-danger">Invalid data. You can't book for selected parameters.</div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    </div>

                                    {% if reservation.paid == reservation.totalPrice %}
                                        <h4>arrival instructions</h4>
                                        <div class="separator-2"></div>
                                        <div>
                                            {% render(controller('UTTReservationBundle:ArrivalInstruction:renderArrivalInstructionForWeb', { 'reservation': reservation })) %}
                                        </div>
                                    {% endif %}

                                    <h4>payment information</h4>
                                    <div class="separator-2"></div>
                                    <div>
                                        <table class="table table-striped" style="border-bottom: 0;">
                                            <tr>
                                                <td><strong>reservation status</strong></td>
                                                <td><strong>{{ reservation.getStatusNameForUser() }}</strong></td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    {% if reservation.paid == reservation.totalPrice %}
                                                        <div>reservation paid</div>
                                                    {% else %}
                                                        {% if isFullPaymentRequired is defined and isFullPaymentRequired %}
                                                            <strong>full payment is required</strong>
                                                        {% else %}
                                                            <strong>deposit payment is required</strong>
                                                        {% endif %}

                                                        {% if reservation.paid >= reservation.deposit %}
                                                            <div>deposit paid</div>
                                                        {% else %}
                                                            <div>reservation not paid</div>
                                                            <div>deposit not paid</div>
                                                        {% endif %}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><strong>total price</strong></td>
                                                <td>{{ ''|currency_info }}{{ reservation.totalPrice|number_format(2) }}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>deposit</strong></td>
                                                <td>{{ ''|currency_info }}{{ reservation.deposit|number_format(2) }}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>balance Due Date</strong></td>
                                                <td>{{ reservation.balanceDueDate|date }}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>paid</strong></td>
                                                <td>{{ ''|currency_info }}{{ reservation.paid|number_format(2) }}</td>
                                            </tr>
                                            <tr>
                                                <td><strong>to pay</strong></td>
                                                <td>{{ ''|currency_info }}{{ (reservation.totalPrice - reservation.paid)|number_format(2) }}</td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" class="text-center">
                                                    {% if isAllowedResendConfirmationMail is defined and isAllowedResendConfirmationMail %}
                                                        <a class="btn btn-info" href="{{ path('utt_reservation_resend_confirmation_mail', { 'reservationId': reservation.id }) }}">Resend confirmation mail</a>
                                                    {% endif %}
                                                    {% if isAllowedResendArrivalInstructionMail is defined and isAllowedResendArrivalInstructionMail %}
                                                        <a class="btn btn-info" href="{{ path('utt_reservation_resend_arrival_instruction_mail', { 'reservationId': reservation.id }) }}">Resend arrival instruction</a>
                                                    {% endif %}
                                                </td>
                                            </tr>

                                            {% if isAllowedToPay is defined and isAllowedToPay %}
                                                <tr>
                                                    <td colspan="2" class="text-center">
                                                        <strong>voucher payment</strong>
                                                        <form style="width: 100%; text-align: center; margin-top: 5px;" method="post" action="{{ path('utt_reservation_voucher_payment', { 'reservationId': reservation.id }) }}">
                                                            <input style="width: 50%; display: inline-block;" type="text" class="form-control" name="voucherCode" />&#160;
                                                            <input type="submit" class="btn btn-default btn-sm pay-button" value="pay with voucher" />
                                                        </form>
                                                    </td>
                                                </tr>
                                                <tr><td colspan="2"></td></tr>
                                                <tr>
                                                    <td colspan="2" class="text-center">
                                                        <h3 class="utt-color"> Please note that we do not take American Express cards.</h3>
                                                        <p><img src="{{ asset('images/logos/payments_logos.png') }}" style="display: block; margin: 0 auto;"></p>
                                                    </td>
                                                </tr>
                                                <tr><td colspan="2"></td></tr>
                                                <tr id="reservationPaymentAppHandler" ng-controller="reservationPaymentAppCtrl">
                                                    {% if isWorldPay %}
                                                        <td class="text-center" colspan="2">
                                                            <strong>pay with Card and <a href="https://www.lendwithcare.org/" target="_blank" rel="nofollow">donation</a> for charity</strong>
                                                            {% render controller('UTTReservationBundle:Payment:renderPayFormReservation', { 'reservation': reservation, 'charityCharge': 2 }) %}
                                                            {% render controller('UTTReservationBundle:Payment:renderPayFormReservation', { 'reservation': reservation, 'charityCharge': 5 }) %}

                                                            <br />
                                                            <strong><input type="checkbox" ng-model="paymentDebitAllowed" /> pay without charity contribution using Card</strong>
                                                            {% render controller('UTTReservationBundle:Payment:renderPayFormReservation', { 'reservation': reservation }) %}
                                                        </td>

                                                    {% else %}
                                                        <td class="text-center">
                                                            <strong>pay with Debit Card and <a href="https://www.lendwithcare.org/" target="_blank" rel="nofollow">donation</a> for charity</strong>

                                                            {% render controller('UTTReservationBundle:Reservation:renderSmartPayFormForReservation', { 'reservation': reservation, 'charityCharge': 2 }) %}
                                                            {% render controller('UTTReservationBundle:Reservation:renderSmartPayFormForReservation', { 'reservation': reservation, 'charityCharge': 5 }) %}

                                                            <br />
                                                            <strong><input type="checkbox" ng-model="paymentDebitAllowed" /> pay without charity contribution using Debit Card</strong>
                                                            {% render controller('UTTReservationBundle:Reservation:renderSmartPayFormForReservation', { 'reservation': reservation }) %}

                                                        </td>
                                                        <td class="text-center">
                                                            <strong>pay with Credit Card and <a href="https://www.lendwithcare.org/" target="_blank" rel="nofollow">donation</a> for charity</strong>
                                                            {% render controller('UTTReservationBundle:Reservation:renderSmartPayFormForReservation', { 'reservation': reservation, 'applyCreditCardCharge': true, 'charityCharge': 2 }) %}
                                                            {% render controller('UTTReservationBundle:Reservation:renderSmartPayFormForReservation', { 'reservation': reservation, 'applyCreditCardCharge': true, 'charityCharge': 5 }) %}

                                                            <br />
                                                            <strong><input type="checkbox" ng-model="paymentDebitAllowed" /> pay without charity contribution using Credit Card</strong>

                                                            {% render controller('UTTReservationBundle:Reservation:renderSmartPayFormForReservation', { 'reservation': reservation, 'applyCreditCardCharge': true }) %}
                                                        </td>
                                                    {% endif %}

                                                </tr>
                                                <tr>
                                                    <td colspan="2" class="text-center">
                                                        <div class="separator"></div>
                                                        <div class="donation-persuasion">
                                                            <a href="http://www.careinternational.org.uk" target="_blank">
                                                                <img alt="CARE International" src="/images/care_rgb_logo.svg" style="width: 100px; margin: auto;">
                                                            </a>

                                                            <div>
                                                                UTT is proud to partner with <a href="https://www.lendwithcare.org/" target="_blank" rel="nofollow">Lendwithcare</a> to help lift some of the world's poorest out of poverty by providing interest-free loans to help them start micro-businesses.<br /><br />
                                                                * We will match your donation - so <strong>your £2 becomes a £4 donation</strong> and <strong>your £5 becomes a £10 donation</strong> and 100% of your donation goes directly to the people that need it - we pay administration costs so that the people that need the money receive 100% of what you donate.<br /><br />
                                                                Thank you for helping us to help some of the world's poorest help themselves!<br /><br />
                                                                <a href="{{ path('utt_index_charity_donations') }}">See who we've helped so far</a>
                                                            </div>
                                                        </div>
                                                        <div class="separator"></div>
                                                    </td>
                                                </tr>
                                            {% endif %}
                                        </table>

                                        <div class="break10">
                                            <strong>transactions history</strong>
                                            {% if reservation.paymentTransactions|length > 0 %}
                                                <table class="table">
                                                    <thead>
                                                    <tr>
                                                        <th>created at</th>
                                                        <th>amount</th>
                                                        <th>status</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for paymentTransaction in reservation.paymentTransactions %}
                                                        {% if paymentTransaction.status != constant('UTT\\ReservationBundle\\Entity\\PaymentTransaction::STATUS_PREPARED') %}
                                                            <tr>
                                                                <td>{{ paymentTransaction.createdAt|date }}</td>
                                                                <td>{{ paymentTransaction.amount|number_format(2) }}</td>
                                                                <td>{{ paymentTransaction.getStatusName() }}</td>
                                                            </tr>
                                                        {% endif %}
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            {% else %}
                                                <i>no transactions</i>
                                            {% endif %}
                                        </div>
                                        <div id="reservationCancelAppHandler" ng-controller="reservationCancelAppCtrl" class="text-center">
                                            {% if isAllowedCancel is defined and isAllowedCancel %}
                                                <label>are you sure? <input type="checkbox" ng-model="cancelAllowed" /></label>&#160;
                                                <a ng-disabled="!cancelAllowed" href="{{ path('utt_reservation_cancel', { 'reservationId': reservation.id }) }}" class="btn btn-danger">Cancel reservation</a>
                                            {% endif %}
                                        </div>
                                    </div>

                                    {% if isAllowedToEdit is defined and isAllowedToEdit %}
                                        <h4>guest note</h4>
                                        <div class="reservation-guest-note">
                                            <form style="margin-top: 0;" method="post" action="{{ path('utt_user_reservation_guest_note', {'reservationId': reservation.id}) }}">
                                                <textarea name="historyCommentText" class="form-control"></textarea>

                                                <button class="btn btn-sm btn-success" type="submit" name="submitToAgent" value="true">question to UTT</button>
                                                <button class="btn btn-sm btn-success" type="submit" name="submitToOwner" value="true">question to owner</button>
                                                <button class="btn btn-sm btn-success" type="submit" name="submitHousekeeping" value="true">comment to housekeeper</button>
                                            </form>
                                        </div>
                                    {% endif %}

                                    {% if reservation.historyEntries|length > 0 %}
                                        <h4>notifications</h4>
                                        <div>
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th>created at</th>
                                                    <th>comment</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for historyEntry in reservation.historyEntries %}
                                                    {% if historyEntry.isAllowedForUserManagePage() %}
                                                        <tr>
                                                            <td>{{ historyEntry.createdAt|date }}</td>
                                                            <td>{{ historyEntry.comment }}</td>
                                                        </tr>
                                                    {% endif %}
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    {% endif %}
                                    </div>
                                </div>
                            </div>

                            <h4>your review</h4>
                            <div class="separator-2"></div>
                            <div class="row">
                                <div class="col-xs-12">
                                    {% if userReview is defined and userReview %}
                                        {% if userReview.isVerified %}
                                            <span class="label label-success">verified</span>
                                        {% else %}
                                            <span class="label label-warning">your review is waiting for verification</span>
                                        {% endif %}
                                        <blockquote>
                                            <p>{{ userReview.comment }}</p>
                                        </blockquote>
                                    {% else %}
                                        {% if reviewForm is defined and reviewForm %}
                                            <div class="client-comment">
                                                <strong>You are now able to comment* your past holiday. Please write about your experience with our cottage.</strong> <i>*all reviews will be moderated</i>
                                                <div class="break10">&nbsp</div>
                                                {{ form_start(reviewForm) }}
                                                {{ form_errors(reviewForm) }}

                                                <div>
                                                    {{ form_label(reviewForm.comment) }}
                                                    {{ form_errors(reviewForm.comment) }}
                                                    {{ form_widget(reviewForm.comment) }}
                                                </div>

                                                <div class="btns break10">
                                                    <button type="submit" class="btn btn-default">save</button>
                                                </div>

                                                {{ form_end(reviewForm) }}
                                            </div>
                                        {% else %}
                                            <strong>you may submit a review after your holiday</strong>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <style>
        .pay-button { margin: 1px; }

        #reservation-edit .filterItem button.btn-sm, #reservation-edit .userDataItem button.btn-sm {
            float: right;
            width: 24px;
        }

        .reservation-guest-note .btn-sm{
            margin: 5px 5px;
        }
    </style>
{% endblock %}

{% block css %}
    {% stylesheets
        'bundles/uttuser/css/User/reservationManage.css'
    filter='yui_css' %}<link rel="stylesheet" type="text/css" media="all" href="{{ asset_url }}" />{% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        'bundles/uttuser/js/reservationManageApp.js'
        'bundles/uttuser/js/reservationCancelApp.js'
        'bundles/uttuser/js/reservationPaymentApp.js'
    filter='yui_js' %}<script type="text/javascript" src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}