{% extends '::the-project/base.html.twig' %}

{% block title %}
    My reservations - Under the Thatch - find the greatest holiday cottages in Wales.
{% endblock %}

{% block body %}
    <div class="breadcrumb-container">
        <div class="container">
            <ol class="breadcrumb">
                <li><i class="fa fa-home pr-10"></i><a href="{{ path('utt_index_homepage') }}">homepage</a></li>
                <li><a href="{{ path('fos_user_profile_show') }}">my profile</a></li>
                <li class="active">my reservations</li>
            </ol>
        </div>
    </div>

    <section class="main-container">
        <div class="container">
            <div class="row">
                <div class="main col-md-12">
                    <h3 class="title">my reservations</h3>
                    <div>
                        <div class="reservation-list">
                            {% if reservations is defined and reservations and reservations|length > 0 %}
                                {% include 'UTTUserBundle:User:reservationList.html.twig' with { 'reservations': reservations } only %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('/bundles/uttuser/css/User/reservations.css') }}">
    <link rel="stylesheet" href="{{ asset('/bundles/uttuser/css/User/reservationListItem.css') }}">
{% endblock %}