{% if voucher is defined and voucher %}
    <div class="reservation-list-item">
        <div class="cancel-div">
            <a class="btn btn-default-transparent" href="{{ path('utt_user_voucher_manage', { 'voucherId': voucher.id }) }}">manage</a>
        </div>
        <div class="content overflow-auto">
            <div class="property">
                <div class="img">
                    {{ render(controller('UTTReservationBundle:Voucher:renderVoucher')) }}
                </div>
                <div class="det">
                    <a class="title" href="{{ path('utt_user_voucher_manage', { 'voucherId': voucher.id }) }}">
                        UTT Voucher - £{{ voucher.value }}
                    </a>
                    <div class="utt-color">{{ voucher.name }}</div>
                    <div class="price">{{ voucher.totalPrice }}</div>
                </div>
            </div>
            <div class="details">
                <div class="status">
                    {{ voucher.getStatusName() }}
                </div>
                <div class="overflow-auto">
                    <div class="titles utt-color">created at</div>
                    <div class="text">{{ voucher.createdAt|date('l, j F Y') }}</div>
                </div>
                <div class="overflow-auto">
                    <div class="titles utt-color">expires on</div>
                    <div class="text">{{ voucher.expiresAt|date('l, j F Y') }}</div>
                </div>
            </div>
        </div>
    </div>
{% endif %}