{% if vouchers is defined and vouchers and vouchers|length > 0 %}
    {% for voucher in vouchers %}
        {% include 'UTTUserBundle:User:voucherListItem.html.twig' with { 'voucher': voucher } only %}
    {% endfor %}
{% endif %}