{% extends '::base.html.twig' %}

{% block body %}
    <style>
        .pay-button { margin: 1px; }
    </style>
    <div id="reservation-edit">
        <div class="background-color-lightGray padding-top-30">
            <div class="body overflow-auto text-container">
                <div class="col-xs-12">
                    <div class="background-heart-branch-contain font-tab-main-titles">
                        <div>MY VOUCHER - <span class="colorSpecjal"><b>MANAGE</b></span></div>
                    </div>
                    <div class="break5"> </div>
                    {% for flashMessage in app.session.flashbag.get('success') %}
                        <div class="alert alert-success">{{ flashMessage }}</div>
                    {% endfor %}
                    {% for flashMessage in app.session.flashbag.get('error') %}
                        <div class="alert alert-danger">{{ flashMessage }}</div>
                    {% endfor %}

                    <div>
                        {{ render(controller('UTTReservationBundle:Voucher:renderVoucher', { 'voucherValue': voucher.getValueName(), 'voucherName': voucher.name, 'expiresAt': voucher.expiresAt })) }}
                    </div>

                    <div class="break10">&nbsp</div>

                    <div class="row">
                        <div class="col-hs-12 col-sm-1"></div>
                        <div class="col-hs-12 col-sm-5">
                            <div class="userDataItem">
                                <label class="colorSpecjal">Your first name:</label>
                                {{ voucher.getUserDataDecoded().firstName|truncate(20) }}
                            </div>
                            <div class="userDataItem">
                                <label class="colorSpecjal">Your last name:</label>
                                {{ voucher.getUserDataDecoded().lastName|truncate(20) }}
                            </div>
                            <div class="userDataItem">
                                <label class="colorSpecjal">Your email address:</label>
                                {{ voucher.getUserDataDecoded().email }}
                            </div>
                            <div class="userDataItem">
                                <label class="colorSpecjal">Phone number:</label>
                                {{ voucher.getUserDataDecoded().phone }}
                            </div>
                        </div>
                        <div class="col-hs-12 col-sm-5">
                            <div class="userDataItem">
                                <label class="colorSpecjal">Address:</label>
                                {{ voucher.getUserDataDecoded().address }}
                            </div>
                            <div class="userDataItem">
                                <label class="colorSpecjal">City:</label>
                                {{ voucher.getUserDataDecoded().city }}
                            </div>
                            <div class="userDataItem">
                                <label class="colorSpecjal">Post code:</label>
                                {{ voucher.getUserDataDecoded().postcode }}
                            </div>
                            <div class="userDataItem">
                                <label class="colorSpecjal">Country:</label>
                                {{ voucher.getUserDataDecoded().country }}
                            </div>
                        </div>
                        <div class="col-hs-12 col-sm-1"></div>
                    </div>

                    <div class="break10">&nbsp</div>

                    <div class="row">
                        <div class="col-xs-12 res-summary">
                            <div class="col-xs-12 text-center">
                                <div class="price-new">
                                    <div class="title colorSpecjal">Voucher price:</div>
                                    <div class="value">{{ ''|currency_info }}{{ voucher.totalPrice|number_format(2)}}</div>
                                </div>
                                <div class="staff break5">
                                    <div>Base price: {{ ''|currency_info }}<span>{{ voucher.getPriceDecoded().basePrice|number_format(2) }}</span></div>
                                    <div>Credit card fee: {{ ''|currency_info }}<span>{{ voucher.getPriceDecoded().creditCardCharge|number_format(2) }}</span></div>
                                    <div>Charity donation: {{ ''|currency_info }}<span>{{ voucher.getPriceDecoded().charityCharge|number_format(2) }}</span></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="break10">&nbsp</div>

                    <div class="background-heart-branch-contain font-tab-main-titles">
                        <div>DISCOUNT CODE <span class="colorSpecjal">INFORMATION</span></div>
                    </div>
                    <div class="break5"> </div>
                    <div class="text-container overflow-auto col-xs-12 break10">
                        {% if voucher.paid == voucher.totalPrice and voucher.discountCode %}
                            <div class="row">
                                <div class="col-xs-12 res-summary">
                                    <div class="col-xs-12 text-center">
                                        <div class="price-new">
                                            <div class="title colorSpecjal">Your voucher code is:</div>
                                            <div class="value">{{ voucher.discountCode.code }}</div>
                                        </div>

                                        {% if voucher.isAllowedToPdf() %}
                                            <div class="break5">
                                                <a target="_blank" class="btn btn-success" href="{{ path('utt_voucher_pdf', { 'voucherId': voucher.id, 'pin': voucher.pin }) }}">Download PDF</a>
                                            </div>
                                        {% endif %}

                                        {% if not voucher.discountCode.isActive %}
                                            <div class="staff break5">
                                                <div>Voucher has been already used.</div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            Voucher is not paid, so you can't use your discount code.
                        {% endif %}
                    </div>

                    <div class="break10">&nbsp</div>
                    <div class="break10">&nbsp</div>

                    <div class="background-heart-branch-contain font-tab-main-titles">
                        <div>PAYMENT <span class="colorSpecjal">INFORMATION</span></div>
                    </div>
                    <div class="break5"> </div>
                    <div class="text-container overflow-auto col-xs-12 break10">
                        <table class="table table-striped">
                                <tr>
                                    <td><strong>Voucher status</strong></td>
                                    <td><strong>{{ voucher.getStatusName() }}</strong></td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        {% if voucher.paid == voucher.totalPrice %}
                                            <div>Voucher paid</div>
                                        {% else %}
                                            <strong>Full payment is required</strong>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Total price</strong></td>
                                    <td>{{ ''|currency_info }}{{ voucher.totalPrice|number_format(2) }}</td>
                                </tr>
                                <tr>
                                    <td><strong>Paid</strong></td>
                                    <td>{{ ''|currency_info }}{{ voucher.paid|number_format(2) }}</td>
                                </tr>
                                <tr>
                                    <td><strong>To pay</strong></td>
                                    <td>{{ ''|currency_info }}{{ (voucher.totalPrice - voucher.paid)|number_format(2) }}</td>
                                </tr>
                                {% if isAllowedToPay is defined and isAllowedToPay %}
                                <tr>
                                    {% if isWorldPay %}
                                    <td class="text-center" colspan="2">
                                        <strong>Pay without charity contribution using Card</strong>

                                        {% render controller('UTTReservationBundle:PaymentVoucher:renderPayForm', { 'voucher': voucher }) %}

                                        <br />
                                        <strong>Pay with Card and donation for charity</strong>

                                        {% render controller('UTTReservationBundle:PaymentVoucher:renderPayForm', { 'voucher': voucher, 'charityCharge': 2 }) %}
                                        {% render controller('UTTReservationBundle:PaymentVoucher:renderPayForm', { 'voucher': voucher, 'charityCharge': 5 }) %}
                                    </td>
                                    {% else %}
                                    <td class="text-center">
                                        <strong>Pay without charity contribution using Debit Card</strong>

                                        {% render controller('UTTReservationBundle:Voucher:renderSmartPayFormForVoucher', { 'voucher': voucher }) %}

                                        <br />
                                        <strong>Pay with Debit Card and donation for charity</strong>

                                        {% render controller('UTTReservationBundle:Voucher:renderSmartPayFormForVoucher', { 'voucher': voucher, 'charityCharge': 2 }) %}
                                        {% render controller('UTTReservationBundle:Voucher:renderSmartPayFormForVoucher', { 'voucher': voucher, 'charityCharge': 5 }) %}
                                    </td>
                                    <td class="text-center">
                                        <strong>Pay without charity contribution using Credit Card</strong>

                                        {% render controller('UTTReservationBundle:Voucher:renderSmartPayFormForVoucher', { 'voucher': voucher, 'applyCreditCardCharge': true }) %}

                                        <br />
                                        <strong>Pay with Credit Card and donation for charity</strong>
                                        {% render controller('UTTReservationBundle:Voucher:renderSmartPayFormForVoucher', { 'voucher': voucher, 'applyCreditCardCharge': true, 'charityCharge': 2 }) %}
                                        {% render controller('UTTReservationBundle:Voucher:renderSmartPayFormForVoucher', { 'voucher': voucher, 'applyCreditCardCharge': true, 'charityCharge': 5 }) %}
                                    </td>
                                    {% endif %}
                                </tr>
                                    <tr>
                                        <td colspan="2" class="text-center">
                                            <div class="donation-persuasion">
                                                <a href="http://www.careinternational.org.uk" target="_blank">
                                                    <img alt="CARE International" src="/images/care_rgb_logo.svg" style="width: 100px;">
                                                </a>

                                                <div class="text-left" style="width: 40%;">
                                                    UTT is proud to partner with <a href="https://www.lendwithcare.org/" target="_blank" rel="nofollow">Lendwithcare</a> to help lift some of the world's poorest out of poverty by providing interest-free loans to help them start micro-businesses.<br /><br />
                                                    * We will match your donation - so <strong>your £2 becomes a £4 donation</strong> and <strong>your £5 becomes a £10 donation</strong> and 100% of your donation goes directly to the people that need it - we pay administration costs so that the people that need the money receive 100% of what you donate.<br /><br />
                                                    Thank you for helping us to help some of the world's poorest help themselves!<br /><br />
                                                    <a href="{{ path('utt_index_charity_donations') }}">See who we've helped so far</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endif %}
                                <tr>
                                    <td colspan="2" class="text-center">
                                        <br />
                                        {#
                                        {% if isAllowedResendConfirmationMail is defined and isAllowedResendConfirmationMail %}
                                            <a class="btn btn-info" href="{{ path('utt_reservation_resend_confirmation_mail', { 'reservationId': reservation.id }) }}">Resend confirmation mail</a>
                                        {% endif %}
                                        #}
                                    </td>
                                </tr>
                        </table>


                        <div class="break10">
                            <strong>Transactions history</strong>
                            {% if voucher.voucherPaymentTransactions|length > 0 %}
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Created at</th>
                                            <th>Amount</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for voucherPaymentTransaction in voucher.voucherPaymentTransactions %}
                                            {% if voucherPaymentTransaction.status != constant('UTT\\ReservationBundle\\Entity\\VoucherPaymentTransaction::STATUS_PREPARED') %}
                                                <tr>
                                                    <td>
                                                        {{ voucherPaymentTransaction.createdAt|date }}
                                                    </td>
                                                    <td>
                                                        {{ voucherPaymentTransaction.amount|number_format(2) }}
                                                    </td>
                                                    <td>
                                                        {{ voucherPaymentTransaction.getStatusName() }}
                                                    </td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <i>No transactions.</i>
                            {% endif %}
                        </div>
                    </div>

                    {% if voucher.voucherHistoryEntries|length > 0 %}
                        <div class="background-heart-branch-contain font-tab-main-titles">
                            <div>NOTIFICATIONS <span class="colorSpecjal"></span></div>
                        </div>
                        <div class="break5"> </div>
                        <div class="text-container overflow-auto col-xs-12 break10">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Created at</th>
                                    <th>Comment</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for voucherHistoryEntry in voucher.voucherHistoryEntries %}
                                        {% if voucherHistoryEntry.isAllowedForUserManagePage() %}
                                            <tr>
                                                <td>
                                                    {{ voucherHistoryEntry.createdAt|date }}
                                                </td>
                                                <td>
                                                    {{ voucherHistoryEntry.comment }}
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                    <div class="break10">&nbsp</div>
                    <div class="break10">&nbsp</div>
                </div>
            </div>
            <div class="break10"> </div>
        </div>
    </div>

{% endblock %}

{% block css %}
    {% stylesheets
        'bundles/uttuser/css/User/reservationManage.css'
    filter='yui_css' %}<link rel="stylesheet" type="text/css" media="all" href="{{ asset_url }}" />{% endstylesheets %}
{% endblock %}