<div class="breadcrumb-container">
    <div class="container">
        <ol class="breadcrumb">
            <li><i class="fa fa-home pr-10"></i><a href="{{ path('utt_index_homepage') }}">homepage</a></li>
            <li class="active">change your password</li>
        </ol>
    </div>
</div>

<div class="main-container dark-translucent-bg" {#style="background-image:url('http://underthethatch.co.uk/media/cache/home_banner/rc/k4L6G6sQ/uploads/homeBannerImages/543fff270ba2a.jpg');"#}>
    <div class="container">
        <div class="row">
            <div class="main {#object-non-visible#}" {#data-animation-effect="fadeInUpSmall" data-effect-delay="100"#}>
                <div class="form-block center-block p-30 light-gray-bg border-clear">
                    <h2 class="title">change your password</h2>

                    <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password" role="form">
                        {{ form_widget(form) }}
                        <div class="form-group">
                            <input type="submit" class="btn btn-default" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle')|upper }}" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% include '::the-project/advantages.html.twig' %}