{% if admin.isGranted('ROLE_UTT_INDEX_ADMIN_HOMEBANNER_SORT', object) and admin.hasRoute('sort') %}
    <a href="{{ admin.generateObjectUrl('sort', object) }}" class="btn btn-sm btn-default" title="Sort">
        <i class="glyphicon glyphicon-sort"></i>
        sort
    </a>
{% endif %}