{% extends 'SonataAdminBundle:CRUD:base_show.html.twig' %}

{% block tab_menu_navbar_header %}
    <div class="navbar-header">
        <span class="navbar-brand">sort home banners</span>
    </div>
{% endblock %}

{% block show %}
    <form action="{{ app.request.uri }}" method="POST">
        <div class="panel panel-default" id="homeBannersSortOrderHandler">
            <div class="panel-heading">sort home banners</div>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th width="70px" class="text-center">sort</th>
                    <th width="300px">preview</th>
                    <th>title</th>
                </tr>
                </thead>
                <tbody id="homeBannerSortable">
                {% if homeBanners is defined and homeBanners|length > 0 %}
                    {% for homeBanner in homeBanners %}
                        <tr style="cursor: pointer">
                            <td class="text-center"><i class="glyphicon glyphicon-sort"></i></td>
                            <td>
                                <input type="hidden" value="{{ homeBanner.id }}" name="homeBannerSortArray[]" />
                                <img src="{{ homeBanner.fullSrc }}" title="{{ homeBanner.title }}"/>
                            </td>
                            <td>{{ homeBanner.title }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
        <button class="btn btn-success" type="submit">
            <i class="fa fa-save"></i> save sort order
        </button>
    </form>
{% endblock %}