@import "estatePhotos.css";
@import "estateFeatureIcon.css";
@import "charityDonationImage.css";
@import "estateCategoryImage.css";
@import "homeBannerImage.css";
@import "homeBannersSortOrder.css";
@import "offerImage.css";
@import "spectrum.colorPicker.css";

/* FONTS */
/*@font-face
{
    font-family: LoveYaLikeASister;
    src: url(/bundles/uttindex/fonts/LoveYaLikeASister.ttf);
}
@font-face
{
    font-family: LoveYaLikeASisterSolid;
    src: url(/bundles/uttindex/fonts/LoveYaLikeASisterSolid.ttf);
}*/
/*@font-face
{
    font-family: OpenSans;
    src: url(/bundles/uttindex/fonts/OpenSans-Regular.ttf);
}*/

* {
    font-size: 100% !important;
}
.skin-black .logo, .skin-black .logo:hover {background: none repeat scroll 0 0 #888C73;}
.skin-black .sidebar a {color:white;}
.skin-black .left-side {background: none repeat scroll 0 0 #888C73;}
.skin-black .sidebar > .sidebar-menu > li > a:hover, .skin-black .sidebar > .sidebar-menu > li.active > a {background: none repeat scroll 0 0 #888C73;color:white;}
.skin-black .sidebar > .sidebar-menu > li > .treeview-menu {background: none repeat scroll 0 0 #DCDCD2;}

.skin-black .sidebar-form input[type="text"], .skin-black .sidebar-form input[type="text"] + .input-group-btn .btn ,
.skin-black .sidebar-form input[type="text"]:focus, .skin-black .sidebar-form input[type="text"]:focus + .input-group-btn .btn {background-color: #DCDCD2;border: 0 none;color:rgb(70,70,70);}

.skin-black .sidebar > .sidebar-menu > li {border-top:none;}

.sidebar .sidebar-menu .treeview-menu > li > a {color:rgb(70,70,70);}
.skin-black .treeview-menu > li > a {
    color:rgb(70,70,70);
}
.skin-black .treeview-menu > li.active > a, .skin-black .treeview-menu > li > a:hover {
    color:rgb(70,70,70);
}


.skin-black .sidebar > .sidebar-menu > li:first-of-type, .skin-black .sidebar > .sidebar-menu > li:first-of-type > a {border-top: none;}
.skin-black .sidebar > .sidebar-menu > li > .treeview-menu {margin: 0;}

h3, .h3 {
    font-size: 24px !important;
}

body > .header .logo { padding: 0px; border-bottom: 1px solid #EEEEEE; background: white; height: 71px; width: 320px; }
body > .header .logo > img { height: 71px; width: 320px; max-width: 320px; }
.logo img { padding-bottom: 0; }
body > .header .navbar { height: 71px; margin-left: 320px; padding-top: 14px; }
body.fixed .wrapper { margin-top: 71px; }
.left-side { top: 71px; }

.btn-lg { font-size: 18px !important; }

.sidebar-menu .treeview > a,
.sidebar-menu .treeview > a:hover { background: url('../images/icon_olive.gif') no-repeat 5px center !important; }
.sidebar-menu .treeview > a > i.fa-folder:before { content: "" !important; }

.btn.btn-success { background-color: #898d74; border-color: #797D66; }
.btn.btn-success:hover,
.btn.btn-success:active,
.btn.btn-success.active
{ background-color: #871b09; border-color: #641507; }
/*{ background-color: #565451; border-color: #373634; }*/

.footerImage { position: relative; background: url('../images/footer.png') repeat-x; height: 150px; }
.footerImage a { bottom: 14px; color: #888; font-size: 22px !important; position: absolute; right: 13%; }

.mostUsedBlock .btn { font-size: 22px !important; }
.mostUsedBlock #propertyRedirectSelect { max-width: 440px; margin: auto; margin-top: 4px; }
.mostUsedBlock #propertyCalendarRedirectSelect { max-width: 440px; margin: auto; margin-top: 4px; }
.mostUsedBlock #propertyPhotosRedirectSelect { max-width: 440px; margin: auto; margin-top: 4px; }

#editFormTabs,
#editFormTabs ul { background: none; border: none; }

#requoteLoaderContainer {
    background-color:rgba(0,0,0,0.2);
    width: 100%;
    height: 100%;
    position: absolute;;
    top: 0;
    left: 0;
}

#requoteLoader {
    font-size: 20px;
    margin: 5em auto;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load4 1.3s infinite linear;
    animation: load4 1.3s infinite linear;
}
@-webkit-keyframes load4 {
    0%,
    100% {
        box-shadow: 0em -3em 0em 0.2em #ffffff, 2em -2em 0 0em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 0em #ffffff;
    }
    12.5% {
        box-shadow: 0em -3em 0em 0em #ffffff, 2em -2em 0 0.2em #ffffff, 3em 0em 0 0em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
    }
    25% {
        box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 0em #ffffff, 3em 0em 0 0.2em #ffffff, 2em 2em 0 0em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
    }
    37.5% {
        box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 0em #ffffff, 2em 2em 0 0.2em #ffffff, 0em 3em 0 0em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
    }
    50% {
        box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 0em #ffffff, 0em 3em 0 0.2em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
    }
    62.5% {
        box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 0em #ffffff, -2em 2em 0 0.2em #ffffff, -3em 0em 0 0em #ffffff, -2em -2em 0 -0.5em #ffffff;
    }
    75% {
        box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 0.2em #ffffff, -2em -2em 0 0em #ffffff;
    }
    87.5% {
        box-shadow: 0em -3em 0em 0em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 0em #ffffff, -2em -2em 0 0.2em #ffffff;
    }
}
@keyframes load4 {
    0%,
    100% {
        box-shadow: 0em -3em 0em 0.2em #ffffff, 2em -2em 0 0em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 0em #ffffff;
    }
    12.5% {
        box-shadow: 0em -3em 0em 0em #ffffff, 2em -2em 0 0.2em #ffffff, 3em 0em 0 0em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
    }
    25% {
        box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 0em #ffffff, 3em 0em 0 0.2em #ffffff, 2em 2em 0 0em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
    }
    37.5% {
        box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 0em #ffffff, 2em 2em 0 0.2em #ffffff, 0em 3em 0 0em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
    }
    50% {
        box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 0em #ffffff, 0em 3em 0 0.2em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
    }
    62.5% {
        box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 0em #ffffff, -2em 2em 0 0.2em #ffffff, -3em 0em 0 0em #ffffff, -2em -2em 0 -0.5em #ffffff;
    }
    75% {
        box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 0.2em #ffffff, -2em -2em 0 0em #ffffff;
    }
    87.5% {
        box-shadow: 0em -3em 0em 0em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 0em #ffffff, -2em -2em 0 0.2em #ffffff;
    }
}

.referredFlagHandler {
    display: inline-block;
    margin: 0px 8px;
}