#estatePhotosPreviews {}

#estatePhotosPreviews > div {
    display: inline-block;
    position: relative;
}

#estatePhotosPreviews > div > button[type=button]{
    position: absolute;
    bottom: 77px;
}

#estatePhotosPreviews > div > button[type=button].removePhoto{
    right: 7px;
}

#estatePhotosPreviews > div > button[type=button].rotateLeft{
    bottom: 108px;
    left: 7px;
}

#estatePhotosPreviews > div > button[type=button].rotateRight{
    bottom: 108px;
    right: 7px;
}

#estatePhotosPreviews > div > button[type=button].setAsHighlightedPhoto{
    left: 7px;
}

#estatePhotosPreviews > div > button[type=button].setAsMainPhoto{
    left: 7px;
    top: 7px;
    bottom: inherit;
}

#estatePhotosPreviews > div > button[type=button].savePhotoTitle{
    bottom: 0;
    font-size: 11px !important;
    right: 0;
}

#estatePhotosPreviews img {
    border: 1px solid silver;
    margin: 7px;
    max-height: 240px;
    max-width: 240px;
    padding: 5px;
}

#estatePhotosPreviews textarea {
    border: 1px solid silver;
    display: block;
    height: 61px;
    max-height: 61px;
    min-height: 61px;
    width: 100%;
    max-width: 240px;
    min-width: 240px;
    margin: 5px;
    padding: 6px;
    font-size: 11px !important;
}