#homeBannerImagePreviewAdminImg {
    max-width: 1280px;
}

.imageWrap {
    width: 1280px;
    height: 460px;
    overflow: hidden;
    margin: auto;
    cursor: -webkit-grab;
    border: solid 2px red;
    position: relative;
}

.logoPreview {
    position: absolute;
    left: 15%;
    bottom: 0;
    top: 3%;
}

div.utt-name {
    font-family: 'Open Sans', sans-serif;
    color: #861b09;
    line-height: 80%;
    font-size: 30px !important;
}

div.utt-subname {
    font-family: 'Open Sans', sans-serif;
    color: #6a623e;
    font-size: 21px !important;
}


















.float-right{float:right}
.btn-search,
.btn-search:active
{
    /*
    border-color: rgb(135, 27, 9);
    */
    border: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 1px;

    width: 99%;
    color: white;

    background: url(/bundles/uttindex/images/search-btn-part.png) no-repeat scroll 0px 0px rgb(135, 27, 9);
    background-position:right center;
    background-size: contain;
    padding-left: 12px;
    padding-right: 40px;
}
.btn-search:focus,
.btn-search:active,
.btn-search:hover {
    color: rgb(88, 18, 6);
}
.padding0 {padding: 0px;}
.overflow-auto {overflow: auto;}

#main-slider-handler .form-control {
    width: 100% !important;
}

/* SEARCH FORM */
#main-slider-handler .navbar-form {padding: 0 10px 0 5px;}
#main-slider-handler .navbar-form button {width: 120px;}
#main-slider-handler .navbar-form .fields {margin-right: 135px;}

#main-slider-handler .slider-search-panel {
    bottom: 21%;
    right: 15%;
    position: absolute;
    z-index: 55;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid rgb(0, 0, 0);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
@media (min-width: 1240px) {
    #main-slider-handler .slider-search-panel {
        width: 890px;
    }
}
@media (min-width: 800px) and (max-width: 1239px) {
    #main-slider-handler .slider-search-panel {
        width: 70%;
    }
}
@media (max-width: 799px) {
    #main-slider-handler .slider-search-panel {
        display: none;
    }
}

#main-slider-handler .slider-search-panel .no-date-checkbox {
    color: #FFFFFF;
    font-size: 15px;
    line-height: 19px;
    vertical-align: 2px;
}
#main-slider-handler .slider-search-panel .form-control {
    padding: 6px 10px;
}
#main-slider-handler .slider-search-panel select.form-control {
    padding: 6px 5px;
}
#main-slider-handler .slider-search-panel .col-xs-1,
#main-slider-handler .slider-search-panel .col-xs-2,
#main-slider-handler .slider-search-panel .col-xs-3,
#main-slider-handler .slider-search-panel .col-xs-4,
#main-slider-handler .slider-search-panel .col-xs-5,
#main-slider-handler .slider-search-panel .col-xs-6,
#main-slider-handler .slider-search-panel .col-xs-12
{
    padding-right: 5px;
    padding-left: 5px;
}
#search-no-date {margin-top: 2px;}
/* END - SEARCH FORM */