{% extends 'SonataAdminBundle:CRUD:base_show.html.twig' %}

{% block show %}
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Holiday Cancellation</h3>
        </div>
        <div class="box-body">
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <td>accommodation</td>
                        <td>{{ object.getEstateDataDecoded().name }}</td>
                    </tr>
                    <tr>
                        <td>arrival date</td>
                        <td>{{ object.fromDate|date }}</td>
                    </tr>
                    <tr>
                        <td>departing date</td>
                        <td>{{ object.toDate|date }}</td>
                    </tr>
                    <tr>
                        <td>guests</td>
                        <td>{{ object.sleeps }}</td>
                    </tr>
                    <tr>
                        <td>total price</td>
                        <td>{{ object.totalPrice }}</td>
                    </tr>
                    <tr>
                        <td>paid</td>
                        <td>{{ object.paid }}</td>
                    </tr>
                </tbody>
            </table>

            <br /><br /><br />

            <form class="form-inline" method="post" action="{{ app.request.uri }}">
                <input type="hidden" name="formName" value="cancelForm" />

                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <td><button class="btn btn-success btn-xs btn-block" type="submit" name="noRefund" value="true">No refund</button></td>
                            <td>Cancellation with NO REFUND</td>
                        </tr>
                        <tr>
                            <td><button class="btn btn-success btn-xs btn-block" type="submit" name="customer" value="true">Customer</button></td>
                            <td>
                                The customer has asked you to cancel. Refund:
                                {% if customerRefund is defined %}
                                    {{ customerRefund|number_format(2) }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td><button class="btn btn-success btn-xs btn-block" type="submit" name="byUs" value="true">By us</button></td>
                            <td>
                                You cannot provide the holiday. Refund:
                                {% if object.getPaid() %}
                                    {{ object.getPaid()|number_format(2) }}
                                {% else %}
                                    {{ 0|number_format(2) }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td><button class="btn btn-success btn-xs btn-block" type="submit" name="fullRefund" value="true">Full refund</button></td>
                            <td>
                                You want to give a full refund. Refund:
                                {% if object.getPaid() %}
                                    {{ object.getPaid()|number_format(2) }}
                                {% else %}
                                    {{ 0|number_format(2) }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td><button class="btn btn-success btn-xs btn-block" type="submit" name="refundOther" value="true">Refund other</button></td>
                            <td>You want to give an alternatve refund.</td>
                        </tr>
                        <tr>
                            <td><button class="btn btn-success btn-xs btn-block" type="submit" name="notPaid" value="true">Cancel not paid</button></td>
                            <td>Issue standard non payment notice.</td>
                        </tr>
                    </tbody>
                </table>
            </form>
            <br />
            <div class="text-center">
                <a class="btn btn-success btn-sm" href="{{ admin.generateObjectUrl('show', object) }}">Exit</a>
            </div>
        </div>
    </div>
{% endblock %}