{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {{ object.getUserDataDecoded().firstName|truncate(20) }} {{ object.getUserDataDecoded().lastName|truncate(20) }}
{% endblock %}