{% extends 'SonataAdminBundle:CRUD:base_show.html.twig' %}

{% block show %}
    {% set reservation = object %}
    <div class="sonata-ba-view" style="position: relative" id="reservationRequoteAppHandler" ng-controller="reservationRequoteAppCtrl">
        <div class="alert alert-success" ng-show="responseMessageSuccess">{{ '{{ responseMessageSuccess }}' }}</div>
        <div class="alert alert-danger" ng-show="responseMessageError">{{ '{{ responseMessageError }}' }}</div>

        <input ng-model="reservationId" ng-init="setReservationId('{{ reservation.id }}')" type="hidden" />
        <table class="table table-striped">
            <thead>
                <tr>
                    <th width="30%"></th>
                    <th width="35%">Current</th>
                    <th width="35%">Proposed</th>
                </tr>
            </thead>
            <tbody>
                <tr {% if reservation.isBlocked() %}ng-show="false"{% endif %}>
                    <td>Accommodation</td>
                    <td>{{ reservation.getEstateDataDecoded().name }}</td>
                    <td>
                        <select class="form-control" ng-init="initFilterEstate('{{ reservation.estate.shortName }}')" ng-model="estate" ng-change="setEstate(estate)" ng-options="estate.name for estate in estateChoices"></select>
                    </td>
                </tr>
                {#
                <tr>
                    <td>Pricing Type</td>
                    <td></td>
                    <td></td>
                </tr>
                #}
                <tr>
                    <td>Arrival Date</td>
                    <td>{{ reservation.fromDate|date('l, j F Y') }}</td>
                    <td>
                        <input type="text" placeholder="arrive" class="form-control" ng-model="fromDate" datepicker data-date-format="YYYY-MM-DD" ng-init="initFilterFromDate('{{ reservation.fromDate|date('Y-m-d') }}')" ng-change="setFromDate(fromDate)" />
                    </td>
                </tr>
                <tr>
                    <td>Departure Date</td>
                    <td>{{ reservation.toDate|date('l, j F Y') }}</td>
                    <td>
                        <input type="text" placeholder="arrive" class="form-control" ng-model="toDate" datepicker data-date-format="YYYY-MM-DD" ng-init="initFilterToDate('{{ reservation.toDate|date('Y-m-d') }}')" ng-change="setToDate(toDate)" />
                    </td>
                </tr>
                <tr>
                    <td>Guests</td>
                    <td>
                        Guests (incl children): {{ reservation.sleeps }}<br />
                        Number of children: {{ reservation.sleepsChildren }}
                    </td>
                    <td>
                        Guests (incl children) <b>{{ '{{ sleeps.id }}' }}</b>
                        <select class="form-control" ng-init="initFilterSleeps({{ reservation.estate.sleeps }}, {{ reservation.sleeps }})" ng-model="sleeps" ng-change="setSleeps(sleeps)" ng-options="choice.id for choice in sleepsChoices"></select>
                        <br />
                        No. of children <b>{{ '{{ sleepsChildren.id }}' }}</b>
                        <select class="form-control" ng-init="initFilterSleepsChildren({{ reservation.sleeps }}, {{ reservation.sleepsChildren }})" ng-model="sleepsChildren" ng-change="setSleepsChildren(sleepsChildren)" ng-options="choice.id for choice in sleepsChildrenChoices"></select>
                    </td>
                </tr>
                <tr {% if reservation.isBlocked() %}ng-show="false"{% endif %}>
                    <td>Pets</td>
                    <td>{{ reservation.pets }} dogs/pets</td>
                    <td>
                        <select class="form-control" ng-init="initFilterPets({{ reservation.estate.getMaxPetsTotal() }}, {{ reservation.pets }})" ng-model="pets" ng-change="setPets(pets)" ng-options="choice.id for choice in petsChoices"></select>
                    </td>
                </tr>
                <tr {% if reservation.isBlocked() %}ng-show="false"{% endif %}>
                    <td>Infants</td>
                    <td>{{ reservation.infants }} infants</td>
                    <td>
                        <select class="form-control" ng-init="initFilterInfants({{ reservation.estate.getMaxInfantsTotal() }}, {{ reservation.infants }})" ng-model="infants" ng-change="setInfants(infants)" ng-options="choice.id for choice in infantsChoices"></select>
                    </td>
                </tr>
                <tr {% if reservation.isBlocked() %}ng-show="false"{% endif %}>
                    <td>Base price</td>
                    <td>£{{ reservation.getPriceDecoded().basePrice }}</td>
                    <td>£<input ng-model="basePrice" ng-change="setBasePrice(basePrice)" ng-init="initPrice('{{ reservation.price }}')" type="text" /></td>
                </tr>
                <tr {% if reservation.isBlocked() %}ng-show="false"{% endif %}>
                    <td>Price for extra guests</td>
                    <td>£{{ reservation.getPriceDecoded().additionalSleepsPrice }}</td>
                    <td>£<input ng-model="additionalSleepsPrice" ng-change="setAdditionalSleepsPrice(additionalSleepsPrice)" type="text" /></td>
                </tr>
                <tr {% if reservation.isBlocked() %}ng-show="false"{% endif %}>
                    <td>Booking fee</td>
                    <td>£{{ reservation.getPriceDecoded().adminCharge }}</td>
                    <td>£<input ng-model="adminCharge" ng-change="setAdminCharge(adminCharge)" type="text" /></td>
                </tr>
                <tr {% if reservation.isBlocked() %}ng-show="false"{% endif %}>
                    <td>Credit card fee</td>
                    <td>£{{ reservation.getPriceDecoded().creditCardCharge }}</td>
                    <td>£<input ng-model="creditCardCharge" ng-change="setCreditCardCharge(creditCardCharge)" type="text" readonly /></td>
                </tr>
                <tr {% if reservation.isBlocked() %}ng-show="false"{% endif %}>
                    <td>Booking Protect fee</td>
                    <td>£{{ reservation.getPriceDecoded().bookingProtectCharge }}</td>
                    <td>£<input ng-model="bookingProtectCharge" ng-change="setBookingProtectCharge(bookingProtectCharge)" type="text" /></td>
                </tr>
                <tr {% if reservation.isBlocked() %}ng-show="false"{% endif %}>
                    <td>Charity donation</td>
                    <td>£{{ reservation.getPriceDecoded().charityCharge }}</td>
                    <td>£<input ng-model="charityCharge" ng-change="setCharityCharge(charityCharge)" type="text" readonly /></td>
                </tr>
                <tr {% if reservation.isBlocked() %}ng-show="false"{% endif %}>
                    <td>Pets price</td>
                    <td>£{{ reservation.getPriceDecoded().petsPrice }}</td>
                    <td>£<input ng-model="petsPrice" ng-change="setPetsPrice(petsPrice)" type="text" /></td>
                </tr>
                {#
                <tr>
                    <td>Prices total</td>
                    <td>
                        <strong>{{ reservation.getPriceDecoded().total }}</strong>
                    </td>
                    <td></td>
                </tr>
                #}
                <tr {% if reservation.isBlocked() %}ng-show="false"{% endif %}>
                    <td>Discount</td>
                    <td>£{{ reservation.getDiscountPriceDecoded().discountCodePrice }}</td>
                    <td>
                        £<input ng-model="discountCodePrice" ng-change="setDiscountCodePrice(discountCodePrice)" ng-init="initDiscountPrice('{{ reservation.discountPrice }}')" type="text" />
                    </td>
                </tr>
                {#
                <tr>
                    <td>Discounts total</td>
                    <td>
                        <strong>{{ reservation.getDiscountPriceDecoded().total }}</strong>
                    </td>
                    <td></td>
                </tr>
                #}
                <tr>
                    <td>
                        <strong>Total price</strong>
                    </td>
                    <td>
                        <strong>£{{ reservation.totalPrice }}</strong>
                    </td>
                    <td>£{{ '{{ totalPrice() }}' }}</td>
                </tr>
                {#
                <tr>
                    <td>Price Per night</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Balance To Pay</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Difference</td>
                    <td></td>
                    <td></td>
                </tr>
                #}
                <tr>
                    <td></td>
                    <td></td>
                    <td>
                        <form id="reservationRequoteForm" method="post" action="{{ app.request.uri }}">
                            <select ng-model="requoteSendHistoryEmail" ng-change="setRequoteSendHistoryEmail(requoteSendHistoryEmail)" ng-options="choice.label for choice in requoteSendHistoryEmailChoices"></select>

                            <button type="button" ng-click="requoteSubmit()" class="btn btn-success" ng-disabled="!allowUpdate">Change</button>
                            <a class="btn btn-success" href="{{ app.request.uri }}">Reset</a>
                            <a class="btn btn-success" href="{{ path('admin_utt_reservation_reservation_show', { 'id': reservation.id }) }}">Exit</a>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>

        <div id="requoteLoaderContainer" ng-show="showRequoteLoader">
            <div id="requoteLoader"></div>
        </div>
    </div>

    <script src="{{ asset('/bundles/uttadmin/js/reservationRequoteApp.js') }}"></script>
{% endblock %}