{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
    <div>
        <strong>Discount code price:</strong> £{{ object.getDiscountPriceDecoded().discountCodePrice|number_format(2) }}
    </div>
    <div>
        <strong>Discount code:</strong> {{ object.getDiscountPriceDecoded().discountCode }}
    </div>
    <div>
        <strong>Total discount:</strong> £{{ object.getDiscountPriceDecoded().total|number_format(2) }}
    </div>
{% endblock %}