{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
    <form method="post" action="{{ app.request.uri }}">
        <input type="hidden" name="formName" value="referredFlagChange" />

        <div class="referredFlagHandler">
            <input type="radio" name="referredFlag" id="referredFlagSubmitClear" value="submitClear" {% if not object.referredFlag %}checked{% endif %} />
            <label for="referredFlagSubmitClear">
                <button class="btn btn-xs btn-success {% if not object.referredFlag %}active{% endif %}" type="button">No referred flag</button>
            </label>
        </div>

        <div class="referredFlagHandler">
            <input type="radio" name="referredFlag" id="referredFlagSubmitAdmin" value="submitAdmin" {% if object.referredFlag == constant('UTT\\ReservationBundle\\Entity\\Reservation::REFERRED_FLAG_ADMIN') %}checked{% endif %} />
            <label for="referredFlagSubmitAdmin">
                <button class="btn btn-xs btn-success {% if object.referredFlag == constant('UTT\\ReservationBundle\\Entity\\Reservation::REFERRED_FLAG_ADMIN') %}active{% endif %}" type="button">Admin</button>
            </label>
        </div>

        <div class="referredFlagHandler">
            <input type="radio" name="referredFlag" id="referredFlagSubmitLandlord" value="submitLandlord" {% if object.referredFlag == constant('UTT\\ReservationBundle\\Entity\\Reservation::REFERRED_FLAG_LANDLORD') %}checked{% endif %} />
            <label for="referredFlagSubmitLandlord">
                <button class="btn btn-xs btn-success {% if object.referredFlag == constant('UTT\\ReservationBundle\\Entity\\Reservation::REFERRED_FLAG_LANDLORD') %}active{% endif %}" type="button">Landlord</button>
            </label>
        </div>

        {#
        <div class="referredFlagHandler">
            <input type="radio" name="referredFlag" id="referredFlagSubmitSpot" value="submitSpot" {% if object.referredFlag == constant('UTT\\ReservationBundle\\Entity\\Reservation::REFERRED_FLAG_SPOT') %}checked{% endif %} />
            <label for="referredFlagSubmitSpot">
                <button class="btn btn-xs btn-success {% if object.referredFlag == constant('UTT\\ReservationBundle\\Entity\\Reservation::REFERRED_FLAG_SPOT') %}active{% endif %}" type="button">Spot</button>
            </label>
        </div>
        #}

        <div class="referredFlagHandler">
            <input type="radio" name="referredFlag" id="referredFlagSubmitGreg" value="submitGreg" {% if object.referredFlag == constant('UTT\\ReservationBundle\\Entity\\Reservation::REFERRED_FLAG_GREG') %}checked{% endif %} />
            <label for="referredFlagSubmitGreg">
                <button class="btn btn-xs btn-success {% if object.referredFlag == constant('UTT\\ReservationBundle\\Entity\\Reservation::REFERRED_FLAG_GREG') %}active{% endif %}" type="button">Greg</button>
            </label>
        </div>

        <div class="referredFlagHandler">
            <input type="radio" name="referredFlag" id="referredFlagSubmitBethan" value="submitBethan" {% if object.referredFlag == constant('UTT\\ReservationBundle\\Entity\\Reservation::REFERRED_FLAG_BETHAN') %}checked{% endif %} />
            <label for="referredFlagSubmitBethan">
                <button class="btn btn-xs btn-success {% if object.referredFlag == constant('UTT\\ReservationBundle\\Entity\\Reservation::REFERRED_FLAG_BETHAN') %}active{% endif %}" type="button">Bethan</button>
            </label>
        </div>

        <div class="referredFlagHandler">
            <input type="radio" name="referredFlag" id="referredFlagSubmitKatie" value="submitKatie" {% if object.referredFlag == constant('UTT\\ReservationBundle\\Entity\\Reservation::REFERRED_FLAG_KATIE') %}checked{% endif %} />
            <label for="referredFlagSubmitKatie">
                <button class="btn btn-xs btn-success {% if object.referredFlag == constant('UTT\\ReservationBundle\\Entity\\Reservation::REFERRED_FLAG_KATIE') %}active{% endif %}" type="button">Katie</button>
            </label>
        </div>

        <br /><br />

        <label for="bookingNewHistoryComment">history comment</label>
        <textarea id="bookingNewHistoryComment" name="historyCommentText" class="form-control"></textarea>

        <button class="btn btn-xs btn-success" type="submit" name="submitEmail" value="true">Send to Guest</button>
        <button class="btn btn-xs btn-success" type="submit" name="submitAdd" value="true">Add</button>
        <button class="btn btn-xs btn-success" type="submit" name="submitHousekeeping" value="true">Housekeeping</button>
        <button class="btn btn-xs btn-success" type="submit" name="submitInternal" value="true">Internal</button>
    </form>
{% endblock %}
