{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
    <a href="{{ path('admin_utt_estate_estate_edit', { 'id': object.getEstate().getId() }) }}" style="font-size: 120% !important;">{{ object.getEstate().getName() }}</a>
{% endblock %}