{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
    {% if object.isCancelled() %}
        <a class="btn btn-success btn-xs" href="{{ admin.generateObjectUrl('reinstate', object) }}">Reinstate Holiday</a>
    {% else %}
        <a class="btn btn-success btn-xs" href="{{ path('utt_reservation_resend_confirmation_mail', { 'reservationId': object.id }) }}">Resend confirmation</a>
        <a id="resendArrivalInstructionMailButton" class="btn btn-success btn-xs" href="{{ path('utt_reservation_resend_arrival_instruction_mail_force', { 'reservationId': object.id }) }}">Resend arrival instruction</a>
        <a class="btn btn-success btn-xs" href="{{ admin.generateObjectUrl('cancel', object) }}">Cancel booking</a>
    {% endif %}

    <a class="btn btn-success btn-xs" href="{{ admin.generateObjectUrl('requote', object) }}">Requote</a>
{% endblock %}