{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
    {% if object.getHistoryEntries() %}
        <ul class="sonata-ba-show-one-to-many">
            {% for historyEntry in object.getHistoryEntries() %}
                {% if not historyEntry.isNotAllowedForOwner() %}
                    <li>{{ historyEntry }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}