{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
    <a class="btn btn-success btn-xs" href="{{ admin.generateObjectUrl('requote', object) }}">Change Holiday details and requote</a>
{% endblock %}