{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
    <style>
        .sonata-ba-view {
            overflow: auto;
        }
        .table.table-bordered:not(:last-child) {
            display: inline-table;
            width: 49%;
        }
        .table.table-bordered:first-child {
            width: 100%;
        }

        .table.table-bordered thead {
            background: #444;
        }
        .table.table-bordered:first-child thead {
            background: #7e1c0a;
        }

        .table.table-bordered thead * {
            color: white;
        }
    </style>
    <strong>{{ object.getStatusName() }}</strong>
{% endblock %}