{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
    {% render(controller('UTTUserBundle:User:renderUserReservations', { 'user': object.getUser() })) %}
{% endblock %}