{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
    {{ object.getSleeps() }}<br />
    Adults: {{ object.getSleepsAdults() }}, Children: {{ object.getSleepsChildren() }}
{% endblock %}