{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
    <table class="table">
        <tbody>
            <tr>
                <td style="width: 20%; min-width: 100px;"><strong>First name:</strong></td>
                <td>
                    {{ object.getUserDataDecoded().firstName|truncate(20) }}
                </td>
            </tr>
            <tr>
                <td><strong>Last name:</strong></td>
                <td>
                    {{ object.getUserDataDecoded().lastName|truncate(20) }}
                </td>
            </tr>
            <tr>
                <td><strong>Email</strong></td>
                <td>
                    {{ object.getUserDataDecoded().email }}
                </td>
            </tr>
            <tr>
                <td><strong>Phone</strong></td>
                <td>
                    {{ object.getUserDataDecoded().phone }}
                </td>
            </tr>
            <tr>
                <td><strong>Address</strong></td>
                <td>
                    {{ object.getUserDataDecoded().address }}
                </td>
            </tr>
            <tr>
                <td><strong>Postcode</strong></td>
                <td>
                    {{ object.getUserDataDecoded().postcode }}
                </td>
            </tr>
            <tr>
                <td><strong>City</strong></td>
                <td>
                    {{ object.getUserDataDecoded().city }}
                </td>
            </tr>
            <tr>
                <td><strong>Country</strong></td>
                <td>
                    {{ object.getUserDataDecoded().country }}
                </td>
            </tr>
        </tbody>
    </table>

    <div id="reservationUserManageAppHandler" ng-controller="reservationUserManageAppCtrl">
        <button type="button" ng-show="!editMode" ng-click="toggleEditMode()" class="btn btn-primary btn-xs">Change customer details</button>
        <form ng-show="editMode" method="post" action="{{ app.request.uri }}">
            <input type="hidden" name="formName" value="userDataForm" />
            <div>
                <label for="userDataFirstName">First name:</label>
                <input id="userDataFirstName" ng-init="initUserData('{{ object.getUserDataEscaped() }}')" ng-change="changeUserFirstName(userData.firstName)" ng-model="userData.firstName" name="firstName" class="form-control" type="text" />
            </div>
            <div>
                <label for="userDataLastName">Last name:</label>
                <input id="userDataLastName" ng-change="changeUserLastName(userData.lastName)" ng-model="userData.lastName" name="lastName" class="form-control" type="text" />
            </div>
            <div>
                <label for="userDataEmail">Email address:</label>
                <input id="userDataEmail" class="form-control" type="text" ng-change="changeUserEmail(userData.email)" ng-model="userData.email" name="email" />
            </div>
            <div>
                <label for="userDataPhone">Phone number:</label>
                <input id="userDataPhone" class="form-control" type="text" ng-change="changeUserPhone(userData.phone)" ng-model="userData.phone" name="phone" />
            </div>
            <div>
                <label for="userDataAddress">Address:</label>
                <input id="userDataAddress" class="form-control" type="text" ng-change="changeUserAddress(userData.address)" ng-model="userData.address" name="address" />
            </div>
            <div>
                <label for="userDataCity">City:</label>
                <input id="userDataCity" class="form-control" type="text" ng-change="changeUserCity(userData.city)" ng-model="userData.city" name="city" />
            </div>
            <div>
                <label for="userDataPostcode">Post code:</label>
                <input id="userDataPostcode" class="form-control" type="text" ng-change="changeUserPostcode(userData.postcode)" ng-model="userData.postcode" name="postcode" />
            </div>
            <div>
                <label for="userDataCountry">Country:</label>
                <input id="userDataCountry" class="form-control" type="text" ng-change="changeUserCountry(userData.country)" ng-model="userData.country" name="country" />
            </div>

            <button type="submit" class="btn btn-sm btn-success">Save</button>
            <button type="button" class="btn btn-xs btn-default" ng-click="toggleEditMode()">Cancel</button>
        </form>
    </div>

    <script src="{{ asset('/bundles/uttadmin/js/reservationUserManageApp.js') }}"></script>
{% endblock %}