{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
    <strong style="color: #800901">£{{ (object.totalPrice - object.paid)|number_format(2) }}</strong>
{% endblock %}