{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
    {% if not object.isCancelled() %}
        <a class="btn btn-success btn-xs" href="{{ admin.generateObjectUrl('cancel', object) }}">Cancel booking</a>
    {% endif %}
{% endblock %}