{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
    <div>
        <form class="form-inline" method="post" action="{{ app.request.uri }}">
            <input type="hidden" name="formName" value="updatePaymentForm" />

            <input type="number" step="any" name="value" class="form-control" /><br />
            <button class="btn btn-success btn-xs" type="submit" name="addPayment" value="true"><span class="glyphicon glyphicon-plus"></span> add</button>
            <button class="btn btn-success btn-xs" type="submit" name="refundPayment" value="true"><span class="glyphicon glyphicon-minus"></span> refund</button>
        </form>
    </div>
    <br /><br />
    <div>
        <form class="form-inline" method="post" action="{{ path('utt_reservation_voucher_payment', { 'reservationId': object.id }) }}">
            <input type="text" class="form-control" name="voucherCode" /><br />
            <input type="submit" class="btn btn-success btn-xs" value="pay with voucher" />
        </form>
    </div>
    {% if object.isAllowedForBookingProtection() %}
        <br /><br />
        <div>
            <form class="form-inline" method="post" action="{{ app.request.uri }}">
                <input type="hidden" name="formName" value="addBookingProtectForm" />

                <input type="checkbox" required="required" />
                <button class="btn btn-success btn-xs" type="submit"><span class="glyphicon glyphicon-briefcase"></span> add booking protect</button>
            </form>
        </div>
    {% endif %}

    {% if object.isAllowedToPay %}
        <br /><br />
        <div>
            <form class="form-inline" method="post" action="{{ app.request.uri }}">
                <input type="hidden" name="formName" value="holdForPaymentForm" />

                <input type="checkbox" required="required" id="holdForPaymentVerification" /> <label for="holdForPaymentVerification">Hold for payment</label><br />

                <textarea class="form-control" name="reason" required="required"></textarea><br />
                <button class="btn btn-success btn-xs" type="submit" name="hold24" value="true"><span class="glyphicon glyphicon-briefcase"></span> Hold 24 hours</button>
                <button class="btn btn-success btn-xs" type="submit" name="hold48" value="true"><span class="glyphicon glyphicon-briefcase"></span> Hold 48 hours</button>

                {% if object.isHoldingForPayment %}
                    <br />
                    <i>System is currently waiting for payment until {{ object.holdingForPaymentUntilDate|date }}</i>
                {% endif %}
            </form>
        </div>
    {% endif %}
{% endblock %}