{% if pricingCategories is defined and pricingCategories %}
    <select class="form-control" name="pricingCategory">
        {% for pricingCategory in pricingCategories %}
            <option value="{{ pricingCategory.id }}">{{ pricingCategory.name }}</option>
        {% endfor %}
    </select>
{% endif %}