.pricingCalendar {

}

.pricingCalendar .estateName {
    margin-bottom: 0;
    margin-top: 15px;
}

.pricingCalendar .estateName img {
    border: 1px solid black;
    margin: auto;
    margin-bottom: 7px;
    width: 160px;
}

.pricingCalendar .estateName a {
    color: #333;
}
.pricingCalendar .estateName a:active,
.pricingCalendar .estateName a:hover {
    color: #6b613e;
}

.pricingCalendar .monthContainer {
    margin-bottom: 10px;
}

.pricingCalendar .monthContainer button.btn {
    display: inline-block;
    /*width: 5%;*/
    background: none repeat scroll 0 0 #DCDBCB;
}
.pricingCalendar .monthContainer button.btn.active {
    background: none repeat scroll 0 0 #666666;
    color: #ffffff;
}

.pricingCalendar .monthContainer .monthHandler {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    width: 100%;
    margin-left: 1px;
    margin-right: 1px;
}

.pricingCalendar .monthContainer .monthHandler .month-loader {
    display: none;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
    height: 30px;
    position: absolute;
    width: 100%;
}

.pricingCalendar .month {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    height: auto;
    float: none;
    margin: 0;
}

.pricingCalendar .month .day {
    width: 36px;
}
.pricingCalendar .month .monthName {
    border-bottom: 1px solid #333333;
    border-right: 1px solid #333333;
    color: #444444;
    float: left;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    text-align: center;
}