.pricingCalendar {
    overflow: auto;
    width: 100%;
}

.pricingCalendar .month {
    float: left;
    width: 32%;
    min-width: 280px;
    height: 270px;
    margin: 5px 10px 5px 0;
    overflow: hidden;
    text-align: center;
    background-color: #f2f2f2;
    padding-left: 15px;
    padding-right: 10px;
}

.pricingCalendar .month > label {
    padding: 10px;
    display: block;
    font-size: 21px !important;
    font-weight: normal;
}

.pricingCalendar .month .day,
.pricingCalendar .month .emptyDay,
.pricingCalendar .month .dayName {
    float: left;
    width: 14%;
    border-bottom: solid 1px #d4d4d4;
    border-right: solid 1px #d4d4d4;
    text-align: center;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    color: silver;
    background-color: #f2f2f2;

}

.pricingCalendar .month .dayName {
    border-bottom: 1px solid #444444;
    border-right: medium none;
    color: #444444;
    font-size: 12px;
    cursor: default;
}

.calendarNights {
    margin-top: 10px;
}

.calendarNightsButtons,
.calendarSleepsButtons {
    display: block;
}

.calendarNights .calendarNightsSelect,
.calendarNights .calendarSleepsSelect {
    display: none;
}

@media (max-width: 767px) {
    .calendarNights {
        width: 100%;
    }

    .calendarNights .calendarNightsSelect,
    .calendarNights .calendarSleepsSelect {
        display: block;
    }

    .calendarNightsButtons,
    .calendarSleepsButtons {
        display: none;
    }
}

/*
.calendarNights .btn,
.calendarTypeButton {
    background: none repeat scroll 0 0 #DCDBCB;
    border-left: 2px solid #FFFFFF;
}
.calendarNights .btn:first-of-type {
    border-left: 0px;
}

.calendarNights .btn.active,
.calendarTypeButton.active {
    background: none repeat scroll 0 0 #666666;
    color: #ffffff;
}
*/
#calendarLegend {
    overflow: auto;
    margin-top: 10px;
    display: inline-block;
    width: 100%;
}

#calendarLegend > div {
    float: right;
    display: inline-block;
    padding: 3px 6px;
    margin-right: 7px;
    border-radius: 3px;
}

@media (max-width: 767px) {
    #calendarLegend > div {
        margin: 1px;
        width: 49%;
    }
}

#calendarLegend .notAvailable,
.pricingCalendar .month .day.isPastDate {
    color: silver;
    background-color: #f7f7f7;
}

.pricingCalendar .month .emptyDay {
    border-right: none;
}

#calendarLegend .available,
.pricingCalendar .month .day.available {
    background-color: #b1bd7d;
    color: black;
}

#calendarLegend .availableOffer,
.pricingCalendar .month .day.available.availableOffer,
.pricingCalendar .month .day.available.availableOffer.booked.bookedStart,
.pricingCalendar .month .day.available.availableOffer.booked.bookedEnd {
    background-color: #FFA705;
    color: black;
}

#calendarLegend .booked,
#calendarLegend .reserved,
.pricingCalendar .month .day.booked {
    background-color: #7E1C0A;
    color: white;
}

.pricingCalendar .month .day.booked.blocked {
    background-color: #3f4537;
    color: white;
}

.pricingCalendar .month .day.booked.isPastDate {
    background-color: #ededed;
    color: #777777;
}

#calendarLegend .reserved,
.pricingCalendar .month .day.booked.reserved {
    background-color: #d0a9a4;
}

.pricingCalendar .month .day.booked.available {
    background-color: #b1bd7d;
}
.pricingCalendar .month .day.booked.available.isPastDate {
    background-color: #f7f7f7;
    color: #777777;
}

.pricingCalendar .month .day.available.booked.bookedStart {
    background-image: url('/bundles/uttestate/images/icons/day-half-booked2.png');
}

.pricingCalendar .month .day.available.booked.bookedEnd {
    background-image: url('/bundles/uttestate/images/icons/day-half-booked1.png');
}

.pricingCalendar .month .day.available.booked.bookedStart.isPastDate {
    background-size: 100%;
    background-image: url('/bundles/uttestate/images/icons/day-half-past2.png');
}

.pricingCalendar .month .day.available.booked.bookedEnd.isPastDate {
    background-size: 100%;
    background-image: url('/bundles/uttestate/images/icons/day-half-past1.png');
}

.pricingCalendar .month .day.available.reserved.reservedStart {
    background-size: 100%;
    background-image: url('/bundles/uttestate/images/icons/day-half-reserved2.png');
}

.pricingCalendar .month .day.available.reserved.reservedEnd {
    background-size: 100%;
    background-image: url('/bundles/uttestate/images/icons/day-half-reserved1.png');
}

.pricingCalendar .month .day.booked.reserved.bookedStart.bookedEnd.reservedEnd {
    background: url('/bundles/uttestate/images/icons/day-half-reserved1.png') 100% #7E1C0A;
    background-size: 100%;
}

.pricingCalendar .month .day.booked.reserved.bookedStart.bookedEnd.reservedStart {
    background: url('/bundles/uttestate/images/icons/day-half-reserved2.png') 100% #7E1C0A;
    background-size: 100%;
}

.pricingCalendar .month .day.booked.reserved.bookedStart.bookedEnd.reservedStart.reservedEnd {
    background: url('/bundles/uttestate/images/icons/day-reserved-break.png') 100% #d4d4d4;
    background-size: 100%;
}

.pricingCalendar .month .day.booked.bookedStart.bookedEnd:not(.reserved) {
    background-size: 100%;
}

.pricingCalendar .month .day.booked.bookedStart.bookedEnd.isPastDate:not(.reserved) {
    background: url('/bundles/uttestate/images/icons/day-past-break.png') 100% #d4d4d4;
    background-size: 100%;
}

.pricingCalendar .month .day.available.blocked.blockedStart {
    background-size: 100%;
    background-image: url('/bundles/uttestate/images/icons/day-half-blocked2.png');
}

.pricingCalendar .month .day.available.blocked.blockedEnd {
    background-size: 100%;
    background-image: url('/bundles/uttestate/images/icons/day-half-blocked1.png');
}

.pricingCalendar .month .day.booked.bookedStart.bookedEnd.blocked.blockedEnd {
    background: url('/bundles/uttestate/images/icons/day-half-blocked1.png') 100% #7E1C0A;
    background-size: 100%;
}

.pricingCalendar .month .day.booked.bookedStart.bookedEnd.blocked.blockedStart {
    background: url('/bundles/uttestate/images/icons/day-half-blocked2.png') 100% #7E1C0A;
    background-size: 100%;
}

.pricingCalendar .month .day.booked.reserved.bookedStart.bookedEnd.reservedEnd.blocked.blockedStart {
    background: url('/bundles/uttestate/images/icons/day-half-blocked2.png') 100% #d0a9a4;
    background-size: 100%;
}
.pricingCalendar .month .day.booked.reserved.bookedStart.bookedEnd.reservedStart.blocked.blockedEnd {
    background: url('/bundles/uttestate/images/icons/day-half-blocked1.png') 100% #d0a9a4;
    background-size: 100%;
}

.pricingCalendar .month .day.booked.bookedStart.bookedEnd.blocked.blockedStart.blockedEnd {
    background: url('/bundles/uttestate/images/icons/day-booked-blocked-break.png') 100% #d4d4d4;
    background-size: 100%;
}

.pricingCalendar .month .day.booked.bookedStart.bookedEnd.blocked.blockedStart.blockedEnd.isPastDate,
.pricingCalendar .month .day.booked.bookedStart.bookedEnd.blocked.blockedStart.isPastDate,
.pricingCalendar .month .day.booked.bookedStart.bookedEnd.blocked.blockedEnd.isPastDate {
    background: url('/bundles/uttestate/images/icons/day-past-break.png') 100% #d4d4d4;
    background-size: 100%;
}

.pricingCalendar .month .day.availableOffer.isPastDate {
    background: #f7f7f7 !important;
    color: silver;
}

.pricingCalendar .month .day.available.selected {
    background-color: #121212 !important;
    color: white;
}

.pricingCalendar .month .day.available.selectedEnd:not(.booked):not(.availableOffer) {
    background: url('/bundles/uttestate/images/icons/day-half-selected1.png') 100% #b1bd7d !important;
    background-size: 100%;
}
.pricingCalendar .month .day.available.selectedStart:not(.booked):not(.availableOffer) {
    background: url('/bundles/uttestate/images/icons/day-half-selected2.png') 100% #b1bd7d !important;
    background-size: 100%;
}

@media print {
    .pricingCalendar .month {
        background-color: #f2f2f2 !important;
    }

    .pricingCalendar .month .day,
    .pricingCalendar .month .emptyDay,
    .pricingCalendar .month .dayName {
        color: silver !important;
        background-color: #f2f2f2 !important;
    }

    .pricingCalendar .month .dayName {
        color: #444444 !important;
    }

    /*
    .calendarNights .btn,
    .calendarTypeButton {
        background: none repeat scroll 0 0 #DCDBCB !important;
    }
    .calendarNights .btn.active,
    .calendarTypeButton.active {
        background: none repeat scroll 0 0 #666666 !important;
        color: #ffffff !important;
    }
    */

    #calendarLegend .notAvailable,
    .pricingCalendar .month .day.isPastDate {
        color: silver !important;
        background-color: #f7f7f7 !important;
    }

    #calendarLegend .available,
    .pricingCalendar .month .day.available {
        background-color: #b1bd7d !important;
        color: black !important;
    }

    #calendarLegend .availableOffer,
    .pricingCalendar .month .day.available.availableOffer,
    .pricingCalendar .month .day.available.availableOffer.booked.bookedStart,
    .pricingCalendar .month .day.available.availableOffer.booked.bookedEnd {
        background-color: #FFA705 !important;
        color: black !important;
    }

    #calendarLegend .booked,
    #calendarLegend .reserved,
    .pricingCalendar .month .day.booked {
        background-color: #7E1C0A !important;
        color: white !important;
    }

    .pricingCalendar .month .day.booked.blocked {
        background-color: #3f4537 !important;
        color: white !important;
    }

    .pricingCalendar .month .day.booked.isPastDate {
        background-color: #ededed !important;
        color: #777777 !important;
    }

    #calendarLegend .reserved,
    .pricingCalendar .month .day.booked.reserved {
        background-color: #d0a9a4 !important;
    }

    .pricingCalendar .month .day.booked.available {
        background-color: #b1bd7d !important;
    }
    .pricingCalendar .month .day.booked.available.isPastDate {
        background-color: #f7f7f7 !important;
        color: #777777 !important;
    }

    .pricingCalendar .month .day.available.booked.bookedStart {
        background-image: url('/bundles/uttestate/images/icons/day-half-booked2.png') !important;
    }

    .pricingCalendar .month .day.available.booked.bookedEnd {
        background-image: url('/bundles/uttestate/images/icons/day-half-booked1.png') !important;
    }

    .pricingCalendar .month .day.available.booked.bookedStart.isPastDate {
        background-image: url('/bundles/uttestate/images/icons/day-half-past2.png') !important;
    }

    .pricingCalendar .month .day.available.booked.bookedEnd.isPastDate {
        background-image: url('/bundles/uttestate/images/icons/day-half-past1.png') !important;
    }

    .pricingCalendar .month .day.available.reserved.reservedStart {
        background-image: url('/bundles/uttestate/images/icons/day-half-reserved2.png') !important;
    }

    .pricingCalendar .month .day.available.reserved.reservedEnd {
        background-image: url('/bundles/uttestate/images/icons/day-half-reserved1.png') !important;
    }

    .pricingCalendar .month .day.booked.reserved.bookedStart.bookedEnd.reservedEnd {
        background: url('/bundles/uttestate/images/icons/day-half-reserved1.png') 100% #7E1C0A !important;
    }

    .pricingCalendar .month .day.booked.reserved.bookedStart.bookedEnd.reservedStart {
        background: url('/bundles/uttestate/images/icons/day-half-reserved2.png') 100% #7E1C0A !important;
    }

    .pricingCalendar .month .day.booked.reserved.bookedStart.bookedEnd.reservedStart.reservedEnd {
        background: url('/bundles/uttestate/images/icons/day-reserved-break.png') 100% #d4d4d4 !important;
    }

    .pricingCalendar .month .day.booked.bookedStart.bookedEnd:not(.reserved) {
        background: url('/bundles/uttestate/images/icons/day-booked-break.png') 100% #d4d4d4 !important;
    }

    .pricingCalendar .month .day.booked.bookedStart.bookedEnd.isPastDate:not(.reserved) {
        background: url('/bundles/uttestate/images/icons/day-past-break.png') 100% #d4d4d4 !important;
    }

    .pricingCalendar .month .day.available.blocked.blockedStart {
        background-image: url('/bundles/uttestate/images/icons/day-half-blocked2.png') !important;
    }

    .pricingCalendar .month .day.available.blocked.blockedEnd {
        background-image: url('/bundles/uttestate/images/icons/day-half-blocked1.png') !important;
    }

    .pricingCalendar .month .day.booked.bookedStart.bookedEnd.blocked.blockedEnd {
        background: url('/bundles/uttestate/images/icons/day-half-blocked1.png') 100% #7E1C0A !important;
    }

    .pricingCalendar .month .day.booked.bookedStart.bookedEnd.blocked.blockedStart {
        background: url('/bundles/uttestate/images/icons/day-half-blocked2.png') 100% #7E1C0A !important;
    }

    .pricingCalendar .month .day.booked.reserved.bookedStart.bookedEnd.reservedEnd.blocked.blockedStart {
        background: url('/bundles/uttestate/images/icons/day-half-blocked2.png') 100% #d0a9a4 !important;
    }
    .pricingCalendar .month .day.booked.reserved.bookedStart.bookedEnd.reservedStart.blocked.blockedEnd {
        background: url('/bundles/uttestate/images/icons/day-half-blocked1.png') 100% #d0a9a4 !important;
    }

    .pricingCalendar .month .day.booked.bookedStart.bookedEnd.blocked.blockedStart.blockedEnd {
        background: url('/bundles/uttestate/images/icons/day-booked-blocked-break.png') 100% #d4d4d4 !important;
    }

    .pricingCalendar .month .day.booked.bookedStart.bookedEnd.blocked.blockedStart.blockedEnd.isPastDate,
    .pricingCalendar .month .day.booked.bookedStart.bookedEnd.blocked.blockedStart.isPastDate,
    .pricingCalendar .month .day.booked.bookedStart.bookedEnd.blocked.blockedEnd.isPastDate {
        background: url('/bundles/uttestate/images/icons/day-past-break.png') 100% #d4d4d4 !important;
    }

    .pricingCalendar .month .day.availableOffer.isPastDate {
        background: #f7f7f7 !important;
        color: silver;
    }

    .pricingCalendar .month .day.available.selected {
        background-color: #121212 !important;
        color: white;
    }

    .pricingCalendar .month .day.available.selectedEnd:not(.booked):not(.availableOffer) {
        background: url('/bundles/uttestate/images/icons/day-half-selected1.png') 100% #b1bd7d !important;
    }
    .pricingCalendar .month .day.available.selectedStart:not(.booked):not(.availableOffer) {
        background: url('/bundles/uttestate/images/icons/day-half-selected2.png') 100% #b1bd7d !important;
    }
}