/*
    Document   : search
    Created on : 2014-01-21, 22:15:55
    Author     : sbtm
    Description:
        Purpose of the stylesheet follows.
*/

#search-holiday-form {padding-top: 30px}
#search-holiday-form .filter {padding: 7px 0;}
#search-holiday-form .filter-border {border-bottom: 1px solid rgb(204, 204, 204);}
#search-holiday-form .filter .filter-title {line-height: 30px; font-size: 20px;}
#search-holiday-form .filter .filter-title.no-padding {padding: 0;}
#search-holiday-form .filter .filter-handler label {font-weight: normal; margin-right: 20px;}
#search-holiday-form .filter .filter-handler .feature, #search-holiday-form .filter .filter-handler .feature-active{display: inline-block; cursor: pointer;margin: 7px 2px;}
#search-holiday-form .filter .filter-handler .feature img {opacity:0.4;filter:alpha(opacity=40);}
#search-holiday-form .filter .filter-handler .feature:hover img,
#search-holiday-form .filter .filter-handler .feature img.is-active-true {opacity:1.0;filter:alpha(opacity=100);}

#search-holiday-form .filter .main-filter-1 {float: left; width: 25%; padding-left: 5px; padding-bottom: 5px;}
@media (min-width: 800px) {
    #search-holiday-form .filter .filter-title {width: 200px; float: left; font-size: 20px;}
    #search-holiday-form .filter .filter-handler {margin-left: 200px;}
    #search-holiday-form .filter .main-filter-1 {width: 22%;}
    #search-holiday-form .filter .main-filter-1:nth-child(1) {width: 34%;}
}
@media (min-width: 700px) and (max-width: 799px) {
    #search-holiday-form .filter .filter-title {width: 130px; float: left; font-size: 15px;}
    #search-holiday-form .filter .filter-handler {margin-left: 130px;}
}
@media (min-width: 500px) and (max-width: 699px) {
    #search-holiday-form .filter .filter-title {width: 130px; float: left; font-size: 15px;}
    #search-holiday-form .filter .filter-handler {margin-left: 130px;}
    #search-holiday-form .filter .main-filter-1 {width: 50%;}
}
@media (max-width: 499px) {
    #search-holiday-form .filter .main-filter-1 {width: 50%;}
}

#search-holiday-form .filter .price-handler {margin-top: 5px;}
#search-holiday-form .filter .price-handler .price-val {width: 60px; text-align: center;}
#search-holiday-form .filter .price-handler .price-val input {width: 50px; border: none;}
#search-holiday-form .filter .price-handler .price-slider {margin-left:80px; margin-right: 80px; padding-top: 1px;}

#search-result-details .found-count {width: 75px; float: right;}
#search-result-details .found-filters {margin-right: 80px;}

#search-holiday-form .filter .col-xs-1,
#search-holiday-form .filter .col-xs-2,
#search-holiday-form .filter .col-xs-3,
#search-holiday-form .filter .col-xs-4,
#search-holiday-form .filter .col-xs-5,
#search-holiday-form .filter .col-xs-6,
#search-holiday-form .filter .col-xs-12
{
    padding-right: 5px;
    padding-left: 5px;
}
#search-holiday-form .filter .filter-handler .additional-select {display: inline-block; margin: 11px 0;}
#search-holiday-form .results-type div {margin-right: 50px;opacity:0.4;filter:alpha(opacity=40);cursor: pointer; font-size: 20px;}
#search-holiday-form .results-type div:hover, #search-holiday-form .results-type div.active {opacity:1.0;filter:alpha(opacity=100);}

#search-holiday-form .btn-main-page {
    display: block;
    margin: 10px auto;
    max-width: 300px;
}

#active-filters-handler .conteiner .active-filter {
    border: medium none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #FFFFFF;
    margin: 1px;
    margin-right: 5px;
    float:left;
    height: 21px;
    font-size: 15px;
    line-height: 19px;
    background-color: rgb(165, 84, 71);
}
#active-filters-handler .conteiner .active-filter:hover, #active-filters-handler .conteiner .active-filter:hover .close-filter{background-color: #871B09;}
#active-filters-handler .conteiner .active-filter .text {padding: 0px 10px 0px 15px; float: left;}
#active-filters-handler .conteiner .active-filter .close-filter {
    background: url("/bundles/uttestate/images/icons/active-filter-close.png") no-repeat scroll right center  / contain rgb(165, 84, 71);
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-top-right-radius: 5px; 
    -khtml-border-radius-bottomright: 5px;
    -khtml-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-topright: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    float: left;
    height: 100%;
    width: 25px;
    cursor: pointer;
}
#active-filters-handler .clear-all-filters {
    border: medium none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #FFFFFF;
    margin: 1px;
    float:left;
    height: 21px;
    font-size: 15px;
    line-height: 19px;
    background-color: #871B09;
    margin: 1px 20px 1px 1px;
    padding: 0px 19px;
    cursor: pointer;
}


#search-result-handler {
    position: relative;
    min-height: 200px;
}

#search-result-handler .alert {
    margin-top: 70px;
}

@media (min-width: 800px) {
    #search-result-handler .single-result {
        display: inline-block;
		vertical-align: top;
        padding: 5px;
        width: 25%;
    }
    .more-results {width: 500px; margin: 0 auto;}
}
@media (min-width: 550px) and (max-width: 799px) {
    #search-result-handler .single-result {
        display: inline-block;
		vertical-align: top;
        padding: 5px;
        width: 33.333%;
    }
    .more-results {width: 250px; margin: 0 auto;}
}
@media (max-width: 549px) {
    #search-result-handler .single-result {
        padding: 10px 10px;
    }
    .more-results {width: 250px; margin: 0 auto;}
}

#search-result-handler .single-result .details {background-color: rgb(238, 238, 238);}
#search-result-handler .single-result .details-price {
    padding: 3px 0;
    background-color: rgb(146, 146, 146);
    color: white;
}
#search-result-handler .single-result .details-price .price {font-size: 20px;}
#search-result-handler .single-result .details-price span {font-size: 16px;}
#search-result-handler .single-result .details-price .currency {font-size: 14px;}
#search-result-handler .single-result .details-special-price {
    background-color: #871b09;
    color: white;
    padding: 4px;
    text-align: center;
}
#search-result-handler .single-result .details-address {
    cursor: pointer;
    padding: 5px 10px;
}

#search-result-handler .single-result img {
    width: 100%;
}

#search-result-handler .single-result .result-image {
    position: relative;
}

#search-result-handler .single-result .budget-icon {
    bottom: 0;
    position: absolute;
    right: 0;
    width: 19%;
}

#search-result-handler .single-result .finest-icon {
    bottom: 0;
    position: absolute;
    right: 0;
    width: 19%;
}

#search-result-handler .slider
{
    -webkit-padding-start: 0px;
    padding:0;
    margin:0;
    height: inherit;
}

#search-result-handler .slider li {
    height: inherit;
    display: list-item;
    list-style: none outside none;
}
#search-result-handler .slider img {margin:0 auto;}

#search-result-handler .bx-wrapper .bx-viewport {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: solid #fff 0px;
    background: #fff;
}
#search-result-handler .bx-wrapper .bx-pager {bottom: 0px; top: 100%;}

/* caption */
#search-result-handler .bx-wrapper .bx-caption {
    background: none repeat scroll 0 0 rgba(146, 90, 79, 0.7);
    bottom: 0;
    color: #FFFFFF;
    left: 0;
    padding: 5px 10px;
    position: absolute;
    width: 100%;
}
/* END - caption */

/* pager */
#search-result-handler .bx-wrapper {margin-bottom: 50px;}
#search-result-handler .bx-wrapper .bx-pager,
#search-result-handler .bx-wrapper .bx-controls-auto {
    padding: 0px; 
    z-index: 55;
    bottom: 35px;
    height: 20px;
}
#search-result-handler .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
    width: 100%;
    text-align: center;
}
#search-result-handler .bx-wrapper .bx-pager .bx-pager-item {margin: 1px 1px 0 0;}

#search-result-handler .bx-wrapper .bx-pager.bx-default-pager a:hover,
#search-result-handler .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: url(/bundles/uttindex/bxslider/images/my-controls.png) no-repeat 0px 0px;
}

#search-result-handler .bx-wrapper .bx-pager.bx-default-pager a {
    background: url(/bundles/uttindex/bxslider/images/my-controls.png) no-repeat -16px 0px;
    width: 16px;
    height: 16px;
}
#search-result-handler .set-controls-direction-large .bx-wrapper .bx-controls-direction a
{
    width: 60px;
}
/* END - pager */

#search-holiday-form .ui-slider-range.ui-widget-header {
    background: #871b09; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    //background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzg3MWIwOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiODJkMTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,   0%, #b82d15 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#871b09), color-stop(100%,#b82d15)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #871b09 0%,#b82d15 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #871b09 0%,#b82d15 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #871b09 0%,#b82d15 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #871b09 0%,#b82d15 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#871b09', endColorstr='#b82d15',GradientType=0 ); /* IE6-8 */
}

#search-holiday-form .ui-slider-handle {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: solid 1px #bbbbbb;
    width: 20px;
    height: 20px;
    background: #fdfdfd; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    //background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkZmRmZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkMWQxZDEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #fdfdfd 0%, #d1d1d1 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#d1d1d1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fdfdfd 0%,#d1d1d1 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fdfdfd 0%,#d1d1d1 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fdfdfd 0%,#d1d1d1 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fdfdfd 0%,#d1d1d1 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#d1d1d1',GradientType=0 ); /* IE6-8 */
}

#search-holiday-form .ui-slider-handle.ui-state-active {
    background: #fdfdfd;
}

#search-holiday-form .ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content {
    border-color: #871b09;
    margin-top: 4px;
}

#search-result-details {
    font-size: 17px;
}

#search-estate-name {
    display: inline-block;
    width: 60%;
    margin-left: 5px;
    float: left;
}

#search-category {
    display: inline-block;
    width: 38%;
    margin-left: 5px;
    float: left;
}

@media (max-width: 660px) {
    #search-estate-name, #search-category {
        width: 100%;
        margin-left: 0;
    }
}

.angular-google-map-container { height: 450px; }