#mapCanvasHandler {width: 100%; height: 400px;}

#main-show-estate-slider .bx-wrapper .bx-caption {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 5px;
}

@media (max-width: 499px) {
    #main-show-estate-slider .bx-wrapper .bx-caption {
        display: none;
    }

    #main-show-estate-slider-handler .set-controls-direction-large .bx-wrapper .bx-controls-direction {
        display: none;
    }
}

#main-show-estate-slider .slider
{
    -webkit-padding-start: 0px;
    padding:0;
    margin:0;
}


#main-show-estate-slider .slider li {
    display: none;
}

#main-show-estate-slider .slider li:first-child {
    display: list-item;
    list-style: none;
}

#main-show-estate-slider .slider img {margin:0 auto;}

#main-show-estate-slider .bx-wrapper .bx-viewport {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: solid #fff 0px;
    background: #fff;
}
#main-show-estate-slider .bx-wrapper .bx-pager {bottom: 0px; top: 100%;}

/* pager */
#main-show-estate-slider .bx-wrapper {margin-bottom: 50px;}
#main-show-estate-slider .bx-wrapper .bx-pager, 
#main-show-estate-slider .bx-wrapper .bx-controls-auto {
    padding: 0px; 
    z-index: 55; 
    bottom: 35px;
    height: 20px;
}
#main-show-estate-slider .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
    width: 100%;
    text-align: center;
}
#main-show-estate-slider .bx-wrapper .bx-pager .bx-pager-item {
    height: 23px;
    margin: 1px 1px 0 0;
    width: 28px;
}

#main-show-estate-slider .bx-wrapper .bx-pager.bx-default-pager a:hover, 
#main-show-estate-slider .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: url(/bundles/uttindex/bxslider/images/my-controls.png) no-repeat 0px 0px;
}

#main-show-estate-slider .bx-wrapper .bx-pager.bx-default-pager a {
    background: url(/bundles/uttindex/bxslider/images/my-controls.png) no-repeat -16px 0px;
    width: 16px;
    height: 16px;
}

@media (max-width: 950px) 
{
    #main-show-estate-slider-handler .set-controls-direction-large .bx-wrapper .bx-controls-direction a
    {
        width: 6%;
    }
}
@media (min-width: 951px) 
{
    #main-show-estate-slider-handler .set-controls-direction-large .bx-wrapper .bx-controls-direction a
    {
        width: 50px;
    }
}
/* END - pager */





.estateTitle {padding-top: 20px;}
.estateTitle .name {font-size: 23px; line-height: 26px;}
.estateTitle .name a {color: inherit;}
.estateTitle .address {font-size: 20px; line-height: 20px;}
.estateTitle .buttons {margin-top: 10px; margin-bottom:10px;}
.estateTitle .buttons .shortlist {margin: 7px 12px; color: rgb(107, 97, 62); cursor: pointer;}

.estateFeatures .item {display: inline-block; margin: 1px 1px 0 0;}

.estate-details-part .detail {
    overflow: auto;
}

.estate-details-part .detail-name {
    float: left;
    width: 30%;
    color: rgb(64, 64, 64);
}
.estate-details-part .detail-value {
    float: right;
    width: 70%;
    color: rgb(165, 84, 71);
}

.detail-rate {padding: 2px 0; overflow: auto;}
.detail-rate .name {float: left; width: 90px;}
.detail-rate .value {float: left; overflow: auto;}

.detail-rate .value .checked {
    background: url(/bundles/uttestate/images/logos/rates-hearts.png) no-repeat 0px 0px;
    width: 19px;
    height: 22px;
    float: left;
}
.detail-rate .value .no-checked {
    background: url(/bundles/uttestate/images/logos/rates-hearts.png) no-repeat -19px 0px;
    width: 19px;
    height: 22px;
    float: left;
}

#slider-last-properties .bx-wrapper .bx-viewport
{
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    background: none;    
}
#slider-last-properties .bx-wrapper .bx-pager.bx-default-pager a:hover, 
#slider-last-properties .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: url(/bundles/uttindex/bxslider/images/my-controls.png) no-repeat 0px 0px;
}
#slider-last-properties .bx-wrapper .bx-pager.bx-default-pager a {
    background: url(/bundles/uttindex/bxslider/images/my-controls.png) no-repeat -16px 0px;
    width: 16px;
    height: 16px;
}
#slider-last-properties .conteiner img {
    border: 2px solid rgb(107, 97, 62);
    cursor: pointer;
}
#slider-last-properties {
    margin-bottom: 35px;
    margin-left: 16px;
    margin-right: 16px;
}
#slider-last-properties .bx-wrapper .bx-controls-direction a.bx-prev {
    left: -15px;
}
#slider-last-properties .bx-wrapper .bx-controls-direction a.bx-next {
    right: -15px;
}

/* Pricing calendar */

/*
#estateCalendarAppHandler {
    background: white;
    padding: 5px;
    border-radius: 5px;
}
#estateCalendarAppHandler .btn {
    background: none repeat scroll 0 0 #DCDBCB;
    border-left: 2px solid #FFFFFF;
}
#estateCalendarAppHandler .btn.active {
    background: none repeat scroll 0 0 #666666;
    color: #ffffff;
}
*/
#customerReviews {
    padding: 0;
    max-height: 380px;
    overflow: auto;
}

#customerReviews li {
    list-style-type: none;

    border-left: 5px solid #EEEEEE;
    margin: 0 0 20px;
    padding: 10px 20px;
}

#customerReviews li span {
    display: block;
    color: #777777;
}

.ui-widget-content a {
    color: rgb(165, 84, 71);
}

ul.share-buttons{
    list-style: none;
    padding: 0;
    text-align: center;
}

ul.share-buttons li{
    display: inline;
    padding-left: 20px;
}

ul.share-buttons .sr-only{
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.estate-favourite {
    padding-left: 20px;
    text-decoration: none;
}
.estate-favourite:hover {
    text-decoration: none;
}

.estate-favourite-remove .fa-heart{
    color: #992020;
    font-size: 25px;
}

.estate-favourite-add .fa-heart {
    color: silver;
    font-size: 25px;
}

.estate-title-more {
    display: inline-block;
}