{% extends 'UTTAdminBundle:Admin:standard_layout.html.twig' %}
{% block sonata_admin_content %}
    <div class="panel panel-default" style="overflow: auto;">
        <div class="panel-heading">
            {% if dateString is defined and dateString %}bookings at {{ dateString }}{% endif %}
        </div>

        <table class="table table-hover">
            <thead>
            <tr>
                <th style="width: 60px;">ID</th>
                <th>Accommodation</th>
                <th>Arrival Date</th>
                <th>Departing</th>
                <th>Customer Name</th>
                <th>Total Price</th>
                <th>Payments</th>
                <th>Status</th>
                <th style="text-align: center;">show booking</th>
            </tr>
            </thead>
            {% if reservations is defined and reservations|length > 0 %}
                <tbody>
                {% for reservation in reservations %}
                    <tr>
                        <td>
                            <a href="{{ path('admin_utt_reservation_reservation_show', { 'id': reservation.id }) }}">
                                {{ reservation.id|number_format(0, ' ', ' ') }}
                            </a>
                        </td>
                        <td>{{ reservation.getEstateDataDecoded().name }}</td>
                        <td>{{ reservation.fromDate|date('l d-M-Y') }}</td>
                        <td>{{ reservation.toDate|date('l d-M-Y') }}</td>
                        <td>{{ reservation.getUserDataDecoded().firstName|truncate(20) }} {{ reservation.getUserDataDecoded().lastName|truncate(20) }}</td>
                        <td>{{ reservation.totalPrice }}</td>
                        <td>{{ reservation.paid }}</td>
                        <td>{{ reservation.getStatusName() }}</td>
                        <td style="text-align: center;"><a href="{{ path('admin_utt_reservation_reservation_show', { 'id': reservation.id }) }}" class="btn btn-sm btn-default"><i class="glyphicon glyphicon-zoom-in"></i> show</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            {% endif %}
        </table>
    </div>
{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('sonata_admin_dashboard') }}">Dashboard</a>
    </li>
    <li>
        <a href="{{ path('utt_admin_sales') }}">Sales</a>
    </li>
    <li class="active"><span>Sales by date</span></li>
{% endblock %}