{% extends 'UTTAdminBundle:Admin:standard_layout.html.twig' %}
{% block sonata_admin_content %}
    <style>
        .nobr	{ white-space:nowrap; }
    </style>

{#    <div class="col-sm-4">#}
{#        <div class="panel panel-default">#}
{#            <div class="panel-heading">sales current month vs the same month last year - until <strong>{{ date('now')|date('F d') }}</strong></div>#}

{#            <div style="padding: 10px; text-align: center;" class="monthUntilTodayChartText"></div>#}
{#        </div>#}
{#    </div>#}

    <div class="col-sm-8"></div>
    <div class="col-sm-12">
        <div class="panel panel-default" style="overflow: auto;">
            <div class="panel-heading">sales from last 30 days</div>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>date</th>
                    <th>bookings</th>
                    <th>nights</th>
                    <th><span class="nobr">total value</span></th>
                    <th>
                        <span class="nobr">Booking Fee</span><br />
                        <span class="nobr">Booking Protect (profit)</span><br />
                        Commission
                    </th>
                    <th>
                        <span class="nobr">credit note</span>
                        <span class="nobr">money received</span>
                    </th>
                    <th><span class="nobr">money received</span></th>
                    <th>
                        UTT Income{#<br />
                        <span class="nobr">real income</span>#}
                    </th>
                    <th style="text-align: center;">show bookings</th>
                </tr>
                </thead>
                <tbody>
                {% for salesItem in salesByDay %}
                    <tr>
                        <td>{{ salesItem['day']|date('d-M-Y') }}</td>
                        <td>{{ salesItem['reservationCount'] }}</td>
                        <td>{{ salesItem['nights'] }}</td>
                        <td>{{ salesItem['priceSum']|number_format(2) }}</td>
                        <td>
                            {{ salesItem['adminChargeSum']|number_format(2) }}<br />
                            {{ salesItem['bookingProtectChargeSum']|number_format(2) }} ({{ (salesItem['bookingProtectChargeSum'] * 0.4)|number_format(2) }})<br />
                            {{ salesItem['commissionValueFull']|number_format(2) }}
                        </td>
                        <td>{{ salesItem['refundDueTotal']['paidSum']|number_format(2) }}</td>
                        <td>{{ salesItem['paidSum']|number_format(2) }}</td>
                        <td>
                            <strong>{{ (salesItem['adminChargeSum'] + salesItem['commissionValueFull'] + (salesItem['bookingProtectChargeSum'] * 0.4))|number_format(2) }}</strong>{#<br />
                            <strong>{{ (salesItem['adminChargeSum'] + salesItem['commissionValueSum'])|number_format(2) }}</strong>#}
                        </td>
                        <td style="text-align: center;"><a href="{{ path('utt_admin_sales_by_date', { 'date': salesItem['day'] }) }}" class="btn btn-sm btn-default"><i class="glyphicon glyphicon-zoom-in"></i> show</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="panel panel-default" style="overflow: auto;">
            <div class="panel-heading">charity payments from last 30 days</div>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>date</th>
                    <th>donation</th>
                </tr>
                </thead>
                <tbody>
                {% for charityItem in charityByDay %}
                    <tr>
                        <td>{{ charityItem['day']|date('d-M-Y') }}</td>
                        <td>
                            {% set charityItemValue = 0 %}

                            {% for voucherCharityItem in voucherCharityByDay %}
                                {% if voucherCharityItem['day'] == charityItem['day'] %}
                                    {% set charityItemValue = voucherCharityItem['charityCharge'] %}
                                {% endif %}
                            {% endfor %}

                            {{ charityItemValue + charityItem['charityCharge'] }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="panel panel-default" style="overflow: auto;">
            <div class="panel-heading">charity payments by month</div>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>month</th>
                    <th>donation</th>
                </tr>
                </thead>
                <tbody>
                {% for charityItem in charityByMonth %}
                    <tr>
                        <td>{{ charityItem['month']|date('M-Y') }}</td>
                        <td>
                            {% set charityItemValue = 0 %}

                            {% for voucherCharityItem in voucherCharityByMonth %}
                                {% if voucherCharityItem['month'] == charityItem['month'] %}
                                    {% set charityItemValue = voucherCharityItem['charityCharge'] %}
                                {% endif %}
                            {% endfor %}


                            {{ charityItemValue + charityItem['charityCharge'] }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="panel panel-default" style="overflow: auto;">
            <div class="panel-heading">liability value</div>

            <table class="table table-hover">
                <tbody>
                    <tr>
                        <td>
                            {{ liabilityValue|number_format(2) }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel panel-default" style="overflow: auto;">
            <div class="panel-heading">charity liability</div>

            <table class="table table-hover">
                <tbody>
                    <tr>
                        <td>
                            donated by customers: {{ charityPayments|number_format(2) }}<br />
                            donated by UTT: {{ charityDonations|number_format(2) }}<br /><br />
                            <strong>charity liability: {{ (charityDonations - charityPayments)|number_format(2) }}</strong>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-sm-12">
        <div class="panel panel-default" style="overflow: auto;">
            <div class="panel-heading">sales statistics by booking year - all days in year</div>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>year</th>
                    <th>bookings</th>
                    <th>nights</th>
                    <th><span class="nobr">total value</span></th>
                    <th>
                        <span class="nobr">Booking Fee</span><br />
                        <span class="nobr">Booking Protect (profit)</span><br />
                        Commission
                    </th>
                    <th><span class="nobr">money received</span></th>
                    <th>
                        UTT Income{#<br />
                        <span class="nobr">real income</span>#}
                    </th>
                    <th style="text-align: center;">show bookings</th>
                </tr>
                </thead>
                <tbody>
                {% for salesItem in salesByYear %}
                    <tr>
                        <td>{{ salesItem['year'] }}</td>
                        <td>{{ salesItem['reservationCount'] }}</td>
                        <td>{{ salesItem['nights'] }}</td>
                        <td>{{ salesItem['priceSum']|number_format(2) }}</td>
                        <td>
                            {{ salesItem['adminChargeSum']|number_format(2) }}<br />
                            {{ salesItem['bookingProtectChargeSum']|number_format(2) }} ({{ (salesItem['bookingProtectChargeSum'] * 0.4)|number_format(2) }})<br />
                            {{ salesItem['commissionValueFull']|number_format(2) }}
                        </td>
                        <td>{{ salesItem['paidSum']|number_format(2) }}</td>
                        <td>
                            <strong>{{ (salesItem['adminChargeSum'] + salesItem['commissionValueFull'] + (salesItem['bookingProtectChargeSum'] * 0.4))|number_format(2) }}</strong>{#<br />
                            <strong>{{ (salesItem['adminChargeSum'] + salesItem['commissionValueSum'])|number_format(2) }}</strong>#}
                        </td>
                        <td style="text-align: center;"><a href="{{ path('utt_admin_sales_by_date', { 'date': salesItem['year'] }) }}" class="btn btn-sm btn-default"><i class="glyphicon glyphicon-zoom-in"></i> show</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-sm-12">
    </div>
    <div class="col-sm-6">
        <div class="panel panel-default" style="overflow: auto;">
            <div class="panel-heading">sales statistics by booking year - until <strong>{{ date('now')|date('F d') }}</strong> each month</div>

            <div style="padding: 10px; text-align: center;" class="monthUntilTodayChartText"></div>

            <canvas style="padding: 20px;" id="monthUntilTodayChart" width="500" height="400"></canvas>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-default" style="overflow: auto;">
            <div class="panel-heading">sales statistics by booking year - until <strong>{{ date('now')|date('F d') }}</strong> each year</div>

            <div style="padding: 10px; text-align: center;" id="untilTodayChartText"></div>

            <canvas style="padding: 20px;" id="untilTodayChart" width="500" height="400"></canvas>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-default" style="overflow: auto;">
            <div class="panel-heading">UTT income statistics by booking year - until <strong>{{ date('now')|date('F d') }}</strong> each month</div>

            <div style="padding: 10px; text-align: center;" class="monthUntilTodayChartText_uttIncome"></div>

            <canvas style="padding: 20px;" id="monthUntilTodayChart_uttIncome" width="500" height="400"></canvas>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-default" style="overflow: auto;">
            <div class="panel-heading">UTT income statistics by booking year - until <strong>{{ date('now')|date('F d') }}</strong> each year</div>

            <div style="padding: 10px; text-align: center;" id="untilTodayChartText_uttIncome"></div>

            <canvas style="padding: 20px;" id="untilTodayChart_uttIncome" width="500" height="400"></canvas>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="panel panel-default" style="overflow: auto;">
            <div class="panel-heading">sales statistics by booking month</div>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>month</th>
                    <th>bookings</th>
                    <th>nights</th>
                    <th><span class="nobr">total value</span></th>
                    <th>
                        <span class="nobr">Booking Fee</span><br />
                        <span class="nobr">Booking Protect (profit)</span><br />
                        Commission
                    </th>
                    <th>
                        <span class="nobr">credit note</span>
                        <span class="nobr">money received </span>
                    </th>
                    <th><span class="nobr">money received</span></th>
                    <th>
                        UTT Income{#<br />
                        <span class="nobr">real income</span>#}
                    </th>
                    <th style="text-align: center;">show bookings</th>
                </tr>
                </thead>
                <tbody>
                {% set salesByMonthYear = false %}
                {% for salesItem in salesByMonth %}
                    {% if salesItem['month']|date('Y') != salesByMonthYear %}
                        {% set salesByMonthYear = salesItem['month']|date('Y') %}
                        <tr>
                            <td colspan="8" style="text-align: center; font-weight: bold;">{{ salesByMonthYear }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td>{{ salesItem['month']|date('M-Y') }}</td>
                        <td>{{ salesItem['reservationCount'] }}</td>
                        <td>{{ salesItem['nights'] }}</td>
                        <td>{{ salesItem['priceSum']|number_format(2) }}</td>
                        <td>
                            {{ salesItem['adminChargeSum']|number_format(2) }}<br />
                            {{ salesItem['bookingProtectChargeSum']|number_format(2) }} ({{ (salesItem['bookingProtectChargeSum'] * 0.4)|number_format(2) }})<br />
                            {{ salesItem['commissionValueFull']|number_format(2) }}
                        </td>
                        <td>{{ salesItem['refundDueTotal']['paidSum']|number_format(2) }}</td>
                        <td>{{ salesItem['paidSum']|number_format(2) }}</td>
                        <td>
                            <strong>{{ (salesItem['adminChargeSum'] + salesItem['commissionValueFull'] + (salesItem['bookingProtectChargeSum'] * 0.4))|number_format(2) }}</strong>{#<br />
                            <strong>{{ (salesItem['adminChargeSum'] + salesItem['commissionValueSum'])|number_format(2) }}</strong>#}
                        </td>
                        <td style="text-align: center;"><a href="{{ path('utt_admin_sales_by_date', { 'date': salesItem['month'] }) }}" class="btn btn-sm btn-default"><i class="glyphicon glyphicon-zoom-in"></i> show</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="panel panel-default" style="overflow: auto;">
            <div class="panel-heading">income comparison by booking month</div>

            <canvas style="padding: 20px;" id="priceSumChart"></canvas>
        </div>
        <div class="panel panel-default" style="overflow: auto;">
            <div class="panel-heading">number of bookings by booking month</div>

            <canvas style="padding: 20px;" id="reservationCountChart"></canvas>
        </div>
        <div class="panel panel-default" style="overflow: auto;">
            <div class="panel-heading">nights sold by booking month</div>

            <canvas style="padding: 20px;" id="nightsChart"></canvas>
        </div>
    </div>
    <script src="{{ asset('/bundles/uttadmin/js/salesCharts.js') }}" type="text/javascript"></script>
{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('sonata_admin_dashboard') }}">Dashboard</a>
    </li>
    <li class="active"><span>Sales</span></li>
{% endblock %}
