{% extends 'UTTAdminBundle:Admin:standard_layout.html.twig' %}
{% block sonata_admin_content %}
    {% block notice %}
        {% include 'SonataCoreBundle:FlashMessage:render.html.twig' %}
    {% endblock notice %}

    <div style="padding: 20px; text-align: center;">
        <a href="{{ path('utt_admin_estates_visits', { 'page': 1 }) }}" class="btn btn-success {% if page == 1 %}active{% endif %}">1</a>
        <a href="{{ path('utt_admin_estates_visits', { 'page': 2 }) }}" class="btn btn-success {% if page == 2 %}active{% endif %}">2</a>
        <a href="{{ path('utt_admin_estates_visits', { 'page': 3 }) }}" class="btn btn-success {% if page == 3 %}active{% endif %}">3</a>
        <a href="{{ path('utt_admin_estates_visits', { 'page': 4 }) }}" class="btn btn-success {% if page == 4 %}active{% endif %}">4</a>
        <a href="{{ path('utt_admin_estates_visits', { 'page': 5 }) }}" class="btn btn-success {% if page == 5 %}active{% endif %}">5</a>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">number of visits for each property</div>

        <div style="padding: 20px;">
            <div style="display: inline-block; vertical-align: -2px; width: 15px; height: 15px; background: rgba(220,220,220,0.5); border: solid 2px rgba(220,220,220,0.8);"></div> visits in past month
            <div style="display: inline-block; vertical-align: -2px; width: 15px; height: 15px; background: rgba(136,140,115,0.5); border: solid 2px rgba(136,140,115,0.8);"></div> visits in previous month
            <div style="display: inline-block; vertical-align: -2px; width: 15px; height: 15px; background: rgba(135,27,9,0.5); border: solid 2px rgba(135,27,9,0.8);"></div> visits in current month
        </div>

        <canvas style="padding: 20px;" id="estatesVisitsChart"></canvas>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">number of visits for recent 1, 7 and 30 days</div>

        <div style="padding: 20px;">
            <div style="display: inline-block; vertical-align: -2px; width: 15px; height: 15px; background: rgba(136,140,115,0.5); border: solid 2px rgba(136,140,115,0.8);"></div> visits in recent 30 days
            <div style="display: inline-block; vertical-align: -2px; width: 15px; height: 15px; background: rgba(135,27,9,0.5); border: solid 2px rgba(135,27,9,0.8);"></div> visits in recent 7 days
            <div style="display: inline-block; vertical-align: -2px; width: 15px; height: 15px; background: rgba(135,27,9,0.5); border: solid 2px rgba(135,27,9,0.8);"></div> visits in recent 24 hours
        </div>

        <canvas style="padding: 20px;" id="estatesVisitsForLatestDaysChart"></canvas>
    </div>

    <script>
        $page = '{{ page }}';
    </script>
    <script src="{{ asset('/bundles/uttadmin/js/estatesVisitsChart.js') }}" type="text/javascript"></script>
{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('sonata_admin_dashboard') }}">Dashboard</a>
    </li>
    <li class="active"><span>Property page views</span></li>
{% endblock %}