{% extends 'UTTAdminBundle:Admin:standard_layout.html.twig' %}
{% block sonata_admin_content %}
    {% block notice %}
        {% include 'SonataCoreBundle:FlashMessage:render.html.twig' %}
    {% endblock notice %}

    <select id="statisticsFilterYear" class="form-control">
        {% for year in (2012..2021) %}
            <option value="{{ year }}" {% if year == yearSelected %}selected="selected"{% endif %}>{{ year }}</option>
        {% endfor %}
    </select>

    <div class="panel panel-default">
        <div class="panel-heading">
            list of best/worst properties for current year
        </div>


        <script>
            var $yearSelected = '{{ yearSelected }}';
        </script>
        <div id="adminStatisticsAppHandler" ng-controller="adminStatisticsAppCtrl" ng-cloak>
            <div style="padding: 20px;">
                search by property name
                <input type="text" class="form-control" ng-model="searchQuery" />
            </div>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th width="5%">
                        <b>#</b>
                    </th>
                    <th width="25%">
                        <b>Accommodation</b>
                    </th>
                    <th width="10%">
                        <b>Money In(nights)</b>
                    </th>
                    <th width="10%">
                        <b>Commission</b>
                    </th>
                    <th width="10%">
                        <b>Admin charge</b>
                    </th>
                    <th width="10%">
                        <b>Additional guests</b> (<b>% of sales</b>)
                    </th>
                    <th width="15%">
                        <b>Total income</b>
                    </th>
                    <th width="15%">
                        <b>To Owner</b>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in data | orderBy:sortType:sortReverse | filter:searchQuery">
                    <td> {{ '{{ $index + 1 }}' }}</td>
                    <td> {{ '{{ item.estateName }}' }}</td>
                    <td> {{ '{{ item.paid | number:2 }}' }} ({{ '{{ item.nights }}' }})</td>
                    <td> {{ '{{ item.commissionValue | number:2 }}' }}</td>
                    <td> {{ '{{ item.adminCharge | number:2 }}' }}</td>
                    <td>
                        {{ '{{ item.extras | number:2 }}' }}
                        {#{% if estateTotal %}({{ (estateExtras/estateTotal*100)|number_format(2) }}%){% endif %}#}
                    </td>
                    <td> {{ '{{ (item.commissionValue + item.adminCharge) | number:2 }}' }}</td>
                    <td> {{ '{{ item.toOwnersValue | number:2 }}' }}</td>
                </tr>
                </tbody>
            </table>
        </div>

        {#{% include 'UTTAdminBundle:Statistics:partials/data-table.html.twig' %}#}
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">number of live properties</div>

        <canvas style="padding: 20px;" id="livePropertiesChart"></canvas>
    </div>

    <script src="{{ asset('/bundles/uttadmin/js/statisticsCharts.js') }}" type="text/javascript"></script>

    {% javascripts
        'bundles/uttadmin/js/adminStatisticsApp.js'
    filter='yui_js' %}<script type="text/javascript" src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('sonata_admin_dashboard') }}">Dashboard</a>
    </li>
    <li class="active"><span>Statistics</span></li>
{% endblock %}
