{% extends '::base.html.twig' %}

{% block body %}
<div id="special-offers-list">
    <div class="background-color-lightGray">
        <div class="body text-container">
            <ol class="breadcrumb">
                <li><a title="Homepage" href="{{ path('utt_index_homepage') }}">Homepage</a></li>
                <li class="active">Holiday cottages - special offers</li>
            </ol>

            <div class="padding-top-30">&nbsp</div>

            <div class="background-heart-branch-contain font-tab-main-titles">
                <div>SPECIAL <span class="colorSpecjal">OFFERS!</span></div>
            </div>
            <div class="text-container overflow-auto col-xs-12">
                {% if offers is defined and offers and offers|length > 0 %}
                    {% for offer in offers %}
                        {% include 'UTTEstateBundle:Offer:listItem.html.twig' with { 'offer': offer, 'adminCharge': adminCharge } only %}
                    {% endfor %}
                {% else %}
                    <div class="alert alert-warning">There are no active special offers.</div>
                {% endif %}
            </div>

            <div class="break15">&nbsp</div>

            <div class="background-heart-branch-contain font-tab-main-titles">
                <div>LATE AVAILABILITY <span class="colorSpecjal">OFFERS!</span></div>
            </div>
            <div class="text-container overflow-auto col-xs-12">
                {% if lateAvailabilityOffers is defined and lateAvailabilityOffers and lateAvailabilityOffers|length > 0 %}
                    {% for offer in lateAvailabilityOffers %}
                        {% include 'UTTEstateBundle:Offer:listItem.html.twig' with { 'offer': offer, 'adminCharge': adminCharge } only %}
                    {% endfor %}
                {% else %}
                    <div class="alert alert-warning">There are no active late availability offers.</div>
                {% endif %}
            </div>
        </div>
        <div class="break15">&nbsp</div>
    </div>
</div>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('/bundles/uttestate/css/Offer/list.css') }}">
    <link rel="stylesheet" href="{{ asset('/bundles/uttestate/css/Offer/listItem.css') }}">
{% endblock %}