{% if offer is defined and offer and adminCharge is defined %}
    <div class="single-offer">
        <div class="hand">
            <div class="img-hand">
                {% if offer.type == constant('UTT\\ReservationBundle\\Entity\\Offer::TYPE_SPECIFIC') %}
                    {% if offer.image is defined and offer.image and offer.getUploadDir() is defined and offer.getUploadDir() %}
                        {% set photoPath = '/' ~ offer.getUploadDir() ~ '/' ~ offer.image %}
                        {% set photoPathSrc = photoPath | imagine_filter('offer_list_image_thumb') %}
                    {% else %}
                        {% set photoPath = '/bundles/uttindex/images/specific-offer.png' %}
                        {% set photoPathSrc = photoPath | imagine_filter('offer_list_image_specific_thumb') %}
                    {% endif %}
                {% elseif offer.type == constant('UTT\\ReservationBundle\\Entity\\Offer::TYPE_LATE_AVAILABILITY') or offer.type == constant('UTT\\ReservationBundle\\Entity\\Offer::TYPE_AUTOMATIC_SPECIAL_OFFER') %}
                    {% if offer.estates|length > 0 %}
                        {% set offerEstate = offer.estates[0] %}

                        {% if offerEstate.photoMain is defined and offerEstate.photoMain and offerEstate.photoMain.getUploadDir() is defined and offerEstate.photoMain.getUploadDir() %}
                            {% set photoPath = '/' ~ offerEstate.photoMain.getUploadDir() ~ '/' ~ offerEstate.photoMain.fileName %}
                            {% set photoPathSrc = photoPath | imagine_filter('offer_list_image_thumb') %}
                        {% else %}
                            {% set photoPath = '/bundles/uttindex/images/placeholder.png' %}
                            {% set photoPathSrc = photoPath | imagine_filter('offer_list_image_thumb') %}
                        {% endif %}
                    {% endif %}
                {% else %}
                    {% if offer.image is defined and offer.image and offer.getUploadDir() is defined and offer.getUploadDir() %}
                        {% set photoPath = '/' ~ offer.getUploadDir() ~ '/' ~ offer.image %}
                        {% set photoPathSrc = photoPath | imagine_filter('offer_list_image_thumb') %}
                    {% else %}
                        {% set photoPath = '/bundles/uttindex/images/placeholder.png' %}
                        {% set photoPathSrc = photoPath | imagine_filter('offer_list_image_thumb') %}
                    {% endif %}
                {% endif %}

                {% if photoPathSrc is defined and photoPathSrc %}
                    <a href="{{ path('utt_estate_offer', { 'offerId': offer.id }) }}">
                        <img title="{{ offer.name }}" src="{{ photoPathSrc }}" alt="{{ offer.name }}">
                    </a>

                    {% if offer.estates|length > 0 %}
                        {% set estate = offer.estates[0] %}

                        {% if estate.specialCategory == constant('UTT\\EstateBundle\\Entity\\Estate::SPECIAL_CATEGORY_FINEST') %}
                            <img class="finest-icon" src="/images/finest-icon.gif" alt="Best cottages" />
                        {% elseif estate.specialCategory == constant('UTT\\EstateBundle\\Entity\\Estate::SPECIAL_CATEGORY_BUDGET') %}
                            <img class="budget-icon" src="/images/budget-icon.png" alt="Budget and cheapest cottages" />
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>
            <div class="part border-bottom text-center">
                <a class="place-title" href="{{ path('utt_estate_offer', { 'offerId': offer.id }) }}">{{ offer.name }}</a>
            </div>
            <div class="part border-bottom text-center">
                <div class="place-discount colorSpecjal">New price £{{ offer.value + adminCharge }}</div>
                <div class="place-dates">
                    <strong>from</strong> {{ offer.validFrom|date('l, j F Y') }}<br />
                    <strong>to</strong> {{ offer.validTo|date('l, j F Y') }}
                </div>
            </div>
            <div class="part2">
                {% if offer.descriptionShort %}
                    <div class="hidden-desc">
                        {{ offer.descriptionShort }}
                    </div>
                    <div class="part border-bottom place-info">
                        {{ offer.descriptionShort|slice(0, 30) }} ...
                    </div>
                {% else %}
                    <div style="display: none;"></div>
                    <div class="part border-bottom place-info text-center">
                        witout description
                    </div>
                {% endif %}
            </div>
            
            <div class="part">
                {#<div class="colorSpecjal">Property/s:</div>#}
                <div>
                    {% if offer.estates is defined and offer.estates|length > 0 %}
                        {% for offerEstate in offer.estates %}
                            <a href="{{ path('utt_estate_show_estate', { 'estateShortName': offerEstate.shortName }) }}">{{ offerEstate.name }}</a>
                            {% if loop.index < offer.estates|length %} / {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endif %}