{% extends '::the-project/base.html.twig' %}

{% block title %}Offer not found - Under the Thatch{% endblock %}

{% block body %}
    <div class="breadcrumb-container">
        <div class="container">
            <ol class="breadcrumb">
                <li><i class="fa fa-home pr-10"></i><a href="{{ path('utt_index_homepage') }}">homepage</a></li>
            </ol>
        </div>
    </div>
    <section class="main-container no-padding">
        <div class="container">
            <div class="row">
                <aside class="col-md-3">
                    <div class="sidebar">
                        <div class="block clearfix">
                            {#<div class="separator-2"></div>#}
                            {% render controller('UTTEstateBundle:Estate:renderQuickSearchForm', { 'request': app.request }) %}
                        </div>
                        <div class="block clearfix hidden-xs">
                            {% render controller('UTTEstateBundle:Estate:renderWhyUTTSection') %}
                        </div>
                    </div>
                </aside>
                <div class="main col-md-9">
                    <h2>special offer not found</h2>
                    <div class="separator-2"></div>
                    <div>
                        We are very sorry, but we are not able to find the special offer.<br />
                        Please use our <a href="{{ path('utt_estate_search') }}">search</a>, to find perfect cottage for your holiday.
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
