{% extends '::base.html.twig' %}

{% block body %}
    <div id="reservation-edit">
        <div class="background-color-lightGray">
            <div class="body overflow-auto text-container">
                <ol class="breadcrumb">
                    <li><a title="Homepage" href="{{ path('utt_index_homepage') }}">Homepage</a></li>
                    <li><a title="Holiday cottages - special offers" href="{{ path('utt_estate_offer_list') }}">Holiday cottages - special offers</a></li>
                    <li class="active">{{ offer.name }}</li>
                </ol>

                <div class="padding-top-30">&nbsp</div>

                <div class="col-xs-12">
                    <div class="background-heart-branch-contain font-tab-main-titles">
                        <div>SPECIAL OFFER: <span class="colorSpecjal">{{ offer.name }}</span></div>
                    </div>

                    <div class="overflow-auto col-xs-12 main-img-handler">
                        {% if offer.type == constant('UTT\\ReservationBundle\\Entity\\Offer::TYPE_SPECIFIC') %}
                            {% if offer.image is defined and offer.image and offer.getUploadDir() is defined and offer.getUploadDir() %}
                                {% set photoPath = '/' ~ offer.getUploadDir() ~ '/' ~ offer.image %}
                                {% set photoPathSrc = photoPath | imagine_filter('offer_image_thumb') %}
                            {% else %}
                                {% set photoPath = '/bundles/uttindex/images/specific-offer.png' %}
                                {% set photoPathSrc = photoPath | imagine_filter('offer_image_thumb') %}
                            {% endif %}

                            <img title="{{ offer.name }}" src="{{ photoPathSrc }}" alt="{{ offer.name }}">
                        {% elseif offer.type == constant('UTT\\ReservationBundle\\Entity\\Offer::TYPE_LATE_AVAILABILITY') or offer.type == constant('UTT\\ReservationBundle\\Entity\\Offer::TYPE_AUTOMATIC_SPECIAL_OFFER') %}

                        {% else %}
                            {% if offer.image is defined and offer.image and offer.getUploadDir() is defined and offer.getUploadDir() %}
                                {% set photoPath = '/' ~ offer.getUploadDir() ~ '/' ~ offer.image %}
                                {% set photoPathSrc = photoPath | imagine_filter('offer_image_thumb') %}
                            {% else %}
                                {% set photoPath = '/bundles/uttindex/images/placeholder.png' %}
                                {% set photoPathSrc = photoPath | imagine_filter('offer_image_thumb') %}
                            {% endif %}

                            <img title="{{ offer.name }}" src="{{ photoPathSrc }}" alt="{{ offer.name }}">
                        {% endif %}
                    </div>

                    <div class="col-xs-12 break5">
                        <h2 class="colorSpecjal">New price £{{ offer.value + adminCharge }}</h2>
                        {{ offer.description|raw }}
                    </div>

                    <div class="text-container overflow-auto col-xs-12 break10 text-center">
                        <div class="calendar-card">
                            <div class="colorSpecjal text-center break5">from</div>
                            <div class="card">
                                <div class="date-day">{{ offer.validFrom|date('j') }}</div>
                                <div class="date-month">{{ offer.validFrom|date('F') }}</div>
                                <div class="date-year">{{ offer.validFrom|date('Y') }}</div>
                                <div class="colorSpecjal day-of-week">{{ offer.validFrom|date('l') }}</div>
                            </div>
                        </div>
                        <div class="calendar-card">
                            <div class="colorSpecjal text-center break5">to</div>
                            <div class="card">
                                <div class="date-day">{{ offer.validTo|date('j') }}</div>
                                <div class="date-month">{{ offer.validTo|date('F') }}</div>
                                <div class="date-year">{{ offer.validTo|date('Y') }}</div>
                                <div class="colorSpecjal day-of-week">{{ offer.validTo|date('l') }}</div>
                            </div>
                        </div>
                    </div>

                    <div class="break5">&nbsp</div>

                    <div class="background-heart-branch-contain font-tab-main-titles">
                        <div>PROPERTIES <span class="colorSpecjal">ON OFFER</span></div>
                    </div>

                    <div class="col-xs-12" id="specjal-offers-long-handler">
                        {% if offer.estates is defined and offer.estates|length > 0 %}
                            {% for offerEstate in offer.estates %}
                                <div class="single-offer">
                                    <div class="price">
                                        {% if offer.type != constant('UTT\\ReservationBundle\\Entity\\Offer::TYPE_ADVERTISING') %}
                                            <a class="btn btn-next" href="{{ path('utt_estate_make_reservation', { 'estateShortName': offerEstate.shortName, 'fromDate': offer.validFrom|date('Y-m-d') , 'toDate': offer.validTo|date('Y-m-d') }) }}">see more</a>
                                        {% endif %}
                                    </div>
                                    <div class="img-hand">
                                        {% set estatePhoto = offerEstate.getRandomPhoto() %}

                                        {% if estatePhoto and estatePhoto.fileName is defined and estatePhoto.fileName and estatePhoto.getUploadDir() is defined and estatePhoto.getUploadDir() %}
                                            {% set photoPath = '/' ~ estatePhoto.getUploadDir() ~ '/' ~ estatePhoto.fileName %}
                                            {% set photoPathSrc = photoPath | imagine_filter('offer_estate_image_thumb') %}
                                        {% else %}
                                            {% set photoPath = '/bundles/uttindex/images/placeholder.png' %}
                                            {% set photoPathSrc = photoPath | imagine_filter('offer_estate_image_thumb') %}
                                        {% endif %}
                                        <a href="{{ path('utt_estate_show_estate', { 'estateShortName': offerEstate.shortName }) }}">
                                            <img title="{{ offerEstate.name }}" src="{{ photoPathSrc }}" alt="{{ offerEstate.name }}">
                                        </a>
                                    </div>
                                    <div class="cont">
                                        <div>
                                            <a class="title" href="{{ path('utt_estate_show_estate', { 'estateShortName': offerEstate.shortName }) }}">
                                                {{ offerEstate.name }}
                                            </a>
                                        </div>
                                        <div class="text">{{ offerEstate.locationText }}</div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="break15">&nbsp</div>
            <div class="break5">&nbsp</div>
        </div>
    </div>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('/bundles/uttestate/css/Offer/show.css') }}">
{% endblock %}