<div id="active-filters-handler">
    <div>active filters</div>
    <div>
        <div class="conteiner overflow-auto">
            <div class="clear-all-filters" ng-click="clearAllFilters()">clear all</div>

            <div class="active-filter" ng-repeat="activeFilter in activeFilters">
                <div class="text">{{ '{{activeFilter.value}}' }}</div>
                <div ng-click="clearActiveFilter(activeFilter)" class="close-filter" data-filter-name="{{ '{{activeFilter.name}}' }}">&nbsp</div>
            </div>
        </div>
    </div>
</div>