<form method="get" class="text-container overflow-auto col-xs-12" id="search-holiday-form">
    <div class="background-heart-branch-contain font-tab-main-titles">
        <div>FIND MY <span class="colorSpecjal">HOLIDAY!</span></div>
    </div>
    <div class="filter-border"> </div>
    <div class="overflow-auto filter">
        <div class="filter-title">
            where & when:
        </div>
        <div class="filter-handler">
            <div class="main-filter-1">
                <select name="location" class="form-control search-holiday-form-submit">
                    <option value="">-- anywhere --</option>
                    {% if locations is defined and locations|length > 0 %}
                        {% for location in locations %}
                            <option {% if app.request.query.get("location") is defined and app.request.query.get("location") == location.id %}selected="selected"{% endif %} value="{{ location.id }}">{{ location.name }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>
            <div class="main-filter-1">
                <select name="sleeps" class="form-control search-holiday-form-submit">
                    {% if allSleepsChoices is defined and allSleepsChoices|length > 0 %}
                        {% for sleepsChoice in allSleepsChoices %}
                            <option {% if app.request.query.get("sleeps") is defined and app.request.query.get("sleeps") == sleepsChoice.id %}selected="selected"{% endif %} value="{{ sleepsChoice.id }}">{{ sleepsChoice.name }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>
            <div class="main-filter-1">
                <input name="dateFrom" id="search-from-date" type="text" placeholder="arrive" class="form-control background-calendar-icon dashboard" value="{% if app.request.query.get("dateFrom") is defined %}{{ app.request.query.get("dateFrom") }}{% endif %}">
            </div>
            <div class="main-filter-1">
                <input name="dateTo" id="search-to-date" type="text" placeholder="depart" class="form-control background-calendar-icon dashboard" value="{% if app.request.query.get("dateTo") is defined %}{{ app.request.query.get("dateTo") }}{% endif %}">
            </div>
        </div>
    </div>
    <div class="overflow-auto filter">
        <input style="max-width: 150px; font-size: 23px;" type="submit" class="btn btn-main-page" value="search" />
    </div>
    <div class="overflow-auto filter">
        <div class="filter-title">
            features:
        </div>
        <div class="filter-handler">
            <div class="col-xs-12">
                {% if allEstateFeatures is defined and allEstateFeatures|length > 0 %}
                    {% for estateFeature in allEstateFeatures %}
                        <div class="feature">
                            <input type="checkbox" id="estateFeature-{{ estateFeature.id }}" name="features[]" value="{{ estateFeature.id }}"
                                    {% if app.request.query.get("features") is defined %}
                                        {% for featureId in app.request.query.get("features") %}
                                            {% if estateFeature.id == featureId %}
                                                checked="checked"
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    />&#160;
                            <label for="estateFeature-{{ estateFeature.id }}">
                                <img class="is-active-{{ estateFeature.isActive }}" src="{{ estateFeature.icon }}" title="{{ estateFeature.name }}"/>
                            </label>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="overflow-auto filter filter-border">
        <div class="filter-title">
            budget & finest:
        </div>
        <div class="filter-handler">
            <div class="col-xs-12">
                <div class="float-left" style="padding-top: 7px">
                    <input value="" name="specialCategory" id="paramSpecialCategoryAll" class="additional-select" type="radio" checked />&#160;
                    <label for="paramSpecialCategoryAll">all</label>
                </div>
                <div class="float-left">
                    <input value="{{ constant('UTT\\EstateBundle\\Entity\\Estate::SPECIAL_CATEGORY_BUDGET') }}" name="specialCategory" id="paramSpecialCategoryBudget" class="additional-select" type="radio" {% if app.request.query.get("specialCategory") is defined and app.request.query.get("specialCategory") == constant('UTT\\EstateBundle\\Entity\\Estate::SPECIAL_CATEGORY_BUDGET') %}checked{% endif %} />&#160;
                    <label for="paramSpecialCategoryBudget">
                        <img style="height: 51px;" src="/images/budget-icon.png" alt="Budget and cheapest cottages" /> budget
                    </label>
                </div>
                <div class="float-left">
                    <input value="{{ constant('UTT\\EstateBundle\\Entity\\Estate::SPECIAL_CATEGORY_FINEST') }}" name="specialCategory" id="paramSpecialCategoryFinest" class="additional-select" type="radio" {% if app.request.query.get("specialCategory") is defined and app.request.query.get("specialCategory") == constant('UTT\\EstateBundle\\Entity\\Estate::SPECIAL_CATEGORY_FINEST') %}checked{% endif %} />&#160;
                    <label for="paramSpecialCategoryFinest">
                        <img style="height: 50px;" src="/images/finest-icon.gif" alt="Best cottages" /> finest
                    </label>
                </div>
                <div class="float-left" style="padding-top: 7px">
                    <input value="{{ constant('UTT\\EstateBundle\\Entity\\Estate::SPECIAL_CATEGORY_NONE') }}" name="specialCategory" id="paramSpecialCategoryNone" class="additional-select" type="radio" {% if app.request.query.get("specialCategory") is defined and app.request.query.get("specialCategory") == constant('UTT\\EstateBundle\\Entity\\Estate::SPECIAL_CATEGORY_NONE') %}checked{% endif %} />&#160;
                    <label for="paramSpecialCategoryNone">none</label>
                </div>
            </div>
        </div>
    </div>
    <div class="overflow-auto filter filter-border">
        <div class="filter-title">
            pets & children:
        </div>
        <div class="filter-handler">
            <div class="col-xs-12">
                <div class="float-left"><input name="pets" id="paramPets" class="additional-select" type="checkbox" {% if app.request.query.get("pets") is defined and app.request.query.get("pets") %}checked="checked"{% endif %} />&#160;<label for="paramPets">pets welcome</label></div>
                <div class="float-left"><input name="children" id="paramChildren" class="additional-select" type="checkbox" {% if app.request.query.get("children") is defined and app.request.query.get("children") %}checked="checked"{% endif %} />&#160;<label for="paramChildren">children welcome</label></div>
                <div class="float-left"><input name="infants" id="paramInfants" class="additional-select" type="checkbox" {% if app.request.query.get("infants") is defined and app.request.query.get("infants") %}checked="checked"{% endif %} />&#160;<label for="paramInfants">infants welcome</label></div>
            </div>
        </div>
    </div>
    <div class="overflow-auto filter">
        <div class="filter-title">
            property name:
        </div>
        <div class="filter-handler overflow-auto">
            <input name="estateName" id="search-estate-name" type="text" class="form-control" value="{% if app.request.query.get("estateName") is defined %}{{ app.request.query.get("estateName") }}{% endif %}">
            <select name="category" id="search-category" class="form-control search-holiday-form-submit">
                <option value="">-- anywhere --</option>
                {% if categories is defined and categories|length > 0 %}
                    {% for category in categories %}
                        <option {% if app.request.query.get("category") is defined and app.request.query.get("category") == category.id %}selected="selected"{% endif %} value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                {% endif %}
            </select>
        </div>
    </div>
    <div class="overflow-auto filter">
        <div class="filter-title no-padding">
            holiday price:
        </div>
        <div class="filter-handler price-handler">
            <div class="price-val float-left">
                £<input type="number" min="0" name="priceFrom" id="paramPriceFrom" value="{% if app.request.query.get("priceFrom") is defined %}{{ app.request.query.get("priceFrom") }}{% endif %}" />
            </div>
            <div class="price-val float-right">
                £<input type="number" max="5000" name="priceTo" id="paramPriceTo" value="{% if app.request.query.get("priceTo") is defined %}{{ app.request.query.get("priceTo") }}{% endif %}" />
            </div>
            <div class="price-slider">
                <div id="paramPrice"></div>
            </div>
        </div>
    </div>

    <input style="font-size: 23px;" type="submit" class="btn btn-lg btn-main-page" value="search" />
</form>