<div class="text-container overflow-auto" id="search-result-details">
    <div class="found-count text-right">
        <div>found</div>
        {% if estates is defined and estates|length > 0 %}
            <b>{{ estates|length }}</b>
        {% else %}
            <b>0</b>
        {% endif %}
    </div>
    <div class="found-filters"></div>
</div>

<div id="estateSearchMapAppHandler" ng-controller="estateSearchMapAppCtrl" style="width: 50%; margin-left: 25%; margin-right: 25%; height: 450px;" ng-cloak>
    <ui-gmap-google-map center='map.center' zoom='map.zoom' pan="true">
        <ui-gmap-markers models="mapMarkers" coords="'self'" fit='true' click="'onClicked'" options="'options'">
            <ui-gmap-windows show="'showWindow'" closeClick="'closeClick'">
                <p style="min-width: 250px;" ng-non-bindable>
                    <strong>{{ '{{ options.title }}' }}</strong><br />
                    <i>click again to open property page..</i>
                </p>
            </ui-gmap-windows>
        </ui-gmap-markers>
    </ui-gmap-google-map>
</div>

<div class="text-container overflow-auto" id="search-result-handler">
    {% if estates is defined and estates|length > 0 %}
        {% for estate in estates %}

            {% if app.request.query.get("sleeps") is defined and app.request.query.get("sleeps") %}
                {% set estatePath = path('utt_estate_show_estate', { 'estateShortName': estate.shortName, 'sleeps': app.request.query.get("sleeps") }) %}
            {% else %}
                {% set estatePath = path('utt_estate_show_estate', { 'estateShortName': estate.shortName }) %}
            {% endif %}

            <a href="{{ estatePath }}" title="{{ estate.name }}" class="single-result">
                <div class="result-image">
                    {% if estate.photosSorted is defined and estate.photosSorted|length > 0 %}
                        <img style="cursor: pointer;" alt="{{ estate.name }}" src="{{ estate.photosSorted[0].fileName }}" />
                    {% else %}
                        <img style="cursor: pointer;" alt="{{ estate.name }}" src="{{ noImageThumb }}" />
                    {% endif %}

                    {% if estate.specialCategory == constant('UTT\\EstateBundle\\Entity\\Estate::SPECIAL_CATEGORY_FINEST') %}
                        <img class="finest-icon" src="/images/finest-icon.gif" alt="Best cottages"  />
                    {% elseif estate.specialCategory == constant('UTT\\EstateBundle\\Entity\\Estate::SPECIAL_CATEGORY_BUDGET') %}
                        <img class="budget-icon" src="/images/budget-icon.png" alt="Budget and cheapest cottages" />
                    {% endif %}
                </div>

                <div class="set-controls-direction-large"></div>
                <div class="overflow-auto details">
                    {% if estate.basePriceSpecialPrice is defined and estate.basePriceSpecialPrice %}
                        <div class="details-special-price">
                            Special Offer
                        </div>
                    {% endif %}
                    <div class="details-price text-center">
                        {% if estate.basePrice is defined %}
                            <span class="price">
                                <span class="currency">£</span>{{ estate.basePrice }}
                                {% if estate.basePriceNights is defined and estate.basePriceNights %}
                                    <span class="currency">for {{ estate.basePriceNights }} nights</span>
                                {% endif %}
                            </span>
                        {% else %}
                            <span class="price">
                                <span class="currency">£</span>{{ estate.lowestPrice|number_format(0) }}
                                <span>to</span>&#160;<span class="currency">£</span>{{ estate.highestPrice|number_format(0) }}
                                <div class="currency">for 7 nights</div>
                            </span>
                        {% endif %}
                    </div>
                    <div class="details-address">
                        <strong>{{ estate.name }}</strong><br />
                        {{ estate.locationText }}<br />
                        guests {{ estate.sleeps }}
                    </div>
                </div>
            </a>
        {% endfor %}
    {% else %}
        <div id="search-result-empty-information" class="alert alert-warning">
            No more properties found.
        </div>
    {% endif %}
</div>

<div class="break5">&nbsp</div>